Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

fix: removing unused parameters and endpoints
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientStatusCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing parsing and preventing empty results
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.testcontainers:testcontainers-bom to v1.18.0 (#148)
  api/pom.xml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update maven all non-major dependencies (#147)
  api/pom.xml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update eclipse-temurin:17.0.6_10-jdk-alpine docker digest to a765a97 (#146)
  api/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: acronyms (#143)
  api/Dockerfile
  api/README.md
  api/docs/eclipse-code-style.png
  api/docs/eclipse-java-google-style.xml
  api/docs/eclipse-lombok.png
  api/docs/eclipse-run-config1.png
  api/docs/eclipse-run-config2.png
  api/docs/google_checks.xml
  api/docs/intellij-code-style.png
  api/docs/intellij-java-google-style.xml
  api/docs/intellij-run-config.png
  api/openshift.deploy.yml
  api/postman/FCA_postman_tests_dev.json
  api/src/main/java/ca/bc/gov/api/oracle/legacy/ApplicationConstants.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientDoingBusinessAsEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientPublicViewEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientBaseEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientDoingBusinessAsRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientPublicViewRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceIntegrationTest.java
  api/src/test/resources/db/migration/V1__init.sql
  api/src/test/resources/db/migration/V2__full_client.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: removing tests for removed code
  legacy/src/test/java/ca/bc/gov/app/endpoints/ClientSearchNameBirthHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.5 (#430)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies (#429)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update eclipse-temurin docker tag to v17.0.6_10-jdk-alpine
  common/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update eclipse-temurin:17.0.6_10-jre-alpine docker digest to e39db8b
  backend/Dockerfile
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): pin dependencies
  database/Dockerfile
  docker-compose.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update dependency maven to v3.9.1
  backend/.mvn/wrapper/maven-wrapper.properties
  legacy/.mvn/wrapper/maven-wrapper.properties
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update registry.access.redhat.com/ubi8/ubi docker tag to v8.7-1112
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency org.springframework.cloud:spring-cloud-dependencies to v2022.0.2
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: removing spring cloud dependency
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-739): migrating init repo to openssl
  common/Dockerfile
  common/InstallCert.java
  common/startup.sh
  legacy/openshift.deploy.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(FSADT1-739): certificate volume claim (#149)
  api/Dockerfile
  api/InstallCert.java
  api/openshift.deploy.yml
  api/pom.xml
  api/startup.sh
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(fe): - FSADT1-736
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

fix(be): - Changed wording as per suggested by Paulo
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: adding parameter to initialize
  legacy/openshift.deploy.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: init container (#150)
  api/Dockerfile
  api/startup.sh
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat: validation improvements (#428)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessRequestDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestBodyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestDocumentDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestResponseDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryExceptionMessageDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficerDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryRoleDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientControllerIntegrationTest.java
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Changed the version of the jacobo plugin as the version 0.8.9 was failing locally
  backend/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: normalizing Caddy file
  frontend/Caddyfile
Owners: @paulushcgcj, @mamartinezmejia

chore: updating init
  common/Dockerfile
  common/startup.sh
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: adding register for jackson on native
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): (#432)
  backend/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(fe): - Fixed deprecation warning message indicating that the 'importsNotUsedAsValues' option will be removed in TypeScript 5.5, and we should use the 'verbatimModuleSyntax' instead.
  frontend/tsconfig.vitest.json
Owners: @paulushcgcj, @mamartinezmejia

Bug/retag fail (#151)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-open.yml
  api/.github/workflows/unit-tests.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: fixing legacy deployment with new init
  legacy/openshift.deploy.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: changing frontend image file
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

fix: reverting caddy to 2.4.6
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

chore: dependency updates (#431)
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  common/Dockerfile
  common/InstallCert.java
  common/startup.sh
  database/Dockerfile
  docker-compose.yml
  frontend/Caddyfile
  frontend/Dockerfile
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/openshift.deploy.yml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Partial commit to get changes from Paulo
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  frontend/components.d.ts
  frontend/src/common/LabelComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: adding proxy timeout config to legacy
  legacy/openshift.deploy.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: adding error handler to orgbook
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: updating timeout for legacy
  legacy/openshift.deploy.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency org.jacoco:jacoco-maven-plugin to v0.8.9
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

This code is not longer needed
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts
