Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

fix(be): - Added missing field - Renamed variable - Deleted unneeded fields
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/store/newclientform/FormData.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: adding province load (#343)
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormSelect.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/services/EventBus.ts
  frontend/src/services/FetchService.ts
Owners: @paulushcgcj, @mamartinezmejia

Update pom.xml
  backend/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Update package.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

Feat/be/data model (#348)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/store/newclientform/FormData.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing autocomplete min size
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
Owners: @paulushcgcj, @mamartinezmejia

fix: fixing autocomplete min size (#349)
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
Owners: @paulushcgcj, @mamartinezmejia

feat(fe):
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(fe):
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(fe): Added contact types and recursive function (#350)
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Owners: @paulushcgcj, @mamartinezmejia

feat: adding autocomplete code to model
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/services/FetchService.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: adding autocomplete code to model (#351)
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/services/FetchService.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: persist client information in postgres
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fix imports
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Add test annotation
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fix test route
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Update entities id type
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Dial down Dependabot updates to weekly
  .github/dependabot.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Dial down Dependabot updates to weekly (#361)
  .github/dependabot.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

deps: dependabot batched updates (#363)
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

feat(fe):
  frontend/src/pages/applynewclient/formsectionschemas/BusinessTypeSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
Owners: @paulushcgcj, @mamartinezmejia

Deps/more dependabot (#368)
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

feat(fe): Label text changes (#369)
  frontend/src/pages/applynewclient/formsectionschemas/BusinessTypeSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
Owners: @paulushcgcj, @mamartinezmejia

fix: fixing date format
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing base entity format
  backend/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ProvinceCodeEntity.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing entity and sequences
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: adjusting the API
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: Persist client information in postgres (#352)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ProvinceCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(postman): automate tests using postman (#115)
  api/.github/workflows/pr-open.yml
  api/.github/workflows/unit-tests.yml
  api/pom.xml
  api/postman/FCA.postman_collection.json
  api/postman/FCA_postman_tests.json
  api/postman/FCA_postman_tests_dev.json
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindByNamesHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): add renovate.json
  renovate.json
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): add renovate.json (#371)
  renovate.json
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix(deps): update dependency org.springframework.cloud:spring-cloud-dependencies to v2022.0.1
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.cloud:spring-cloud-dependencies to v2022.0.1 (#378)
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.3
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

no message
  frontend/components.d.ts
  frontend/src/App.vue
  frontend/src/common/CollapseCard.vue
  frontend/src/common/CollapseCardComponent.vue
  frontend/src/common/InputComponent.vue
  frontend/src/common/LabelComponent.vue
  frontend/src/common/NoteComponent.vue
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/services/FetchService.ts
Owners: @paulushcgcj, @mamartinezmejia

feat(fe): - First draft of the FE without JSON schema
  frontend/src/App.vue
  frontend/src/common/CollapseCardComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumber.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
Owners: @paulushcgcj, @mamartinezmejia

chore: removing port from compose
  docker-compose.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update registry.access.redhat.com/ubi8/ubi-micro docker tag to v8.7-6
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

chore: use Dependabot for Java only
  .github/dependabot.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update eclipse-temurin docker tag
  backend/Dockerfile
  legacy/Dockerfile
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts
