Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts

feat(fe/be): - FSADT1-772 - Part #1
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe/be): - FSADT1-772 - Part #1
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @mamartinezmejia

chore: updating files and addinc doc
  backend/README.md
  backend/docs/MAIL_FORMAT.md
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/resources/templates/test.html
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Added minor changes
  frontend/src/App.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

Removed submitter info
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

no message
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(be/fe): - Added headers as per requested
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/resources/application.yml
  frontend/src/App.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(be/fe): - Added headers as per requested - Cleaned up code
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/FetchService.ts
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @mamartinezmejia

feat(db): - Completed missing comments
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-772): updating backend tests
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-772): updating backend code
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactIdEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmitterEntity.java
  backend/src/main/java/ca/bc/gov/app/exception/NoAssociationException.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmitterRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/resources/application.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-772): updating details
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating code
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating code
  backend/src/main/resources/application.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating code to pass headers
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @mamartinezmejia

chore: updating post request on frontend
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @mamartinezmejia

chore: updating frontend
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

chore: updating frontend
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

chore: removing init_pg.sql
  processor/.gitignore
  processor/src/test/resources/init_pg.sql
  processor/src/test/resources/postgres/init.sql
  processor/src/test/resources/postgres/test.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: updating testcontainer
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(BE:FSADT1-773): adding default data and updating backend
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionTypeCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating processor
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionTypeCodeEnum.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/postgres/test.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: fixing conflict
  frontend/.devcontainer/devcontainer.json
  frontend/package-lock.json
Owners: @paulushcgcj, @mamartinezmejia

fix: fixing unit test
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

chore: fixing workflow
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

chore: fixing workflow
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

chore: fixing matrices
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

chore: updating ci
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

fix: updating ci
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

ci: changing sonar for backend
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

ci: fixing workflow by removing matrix
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts

docs: updating mail template documentation
  backend/docs/MAIL_FORMAT.md
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating description for each dto
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating service mail send
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT-753): adding mail for 100% match
  backend/docs/MAIL_FORMAT.md
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientStatusCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientTypeCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/templates/matched.html
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: adding init again
  processor/.gitignore
  processor/src/test/resources/init_pg.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: updating pg init auto-updating
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/resources/init_pg.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: adding ignore paths
  backend/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

ci: updating sonar config
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

ci: updating sonar config
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Owners: @paulushcgcj, @DerekRoberts
