Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

chore: fixing merge issues
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: adding index config
  .github/workflows/pr-open.yml
  index/Dockerfile
  index/openshift.index.yml
Owners: @paulushcgcj, @DerekRoberts, @mamartinezmejia, @brunoMarchiEncora

feat(BE): adding legacy search loading (#439)
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/exception/ClientAlreadyExistException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/resources/application-default.yml
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing docker image
  index/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: reducing the PVC size
  index/openshift.index.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Latest revision of the DB for v1
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update testcontainers-java monorepo to v1.18.0
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency typescript to v5
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

frontend/package-lock.json
  frontend/package-lock.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency @vitejs/plugin-vue to v4
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency vite to v4
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

Validations
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/client/BusinessTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/client/LegalTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update testcontainers-java monorepo to v1.18.0 (#442)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Removed unusend fields
  frontend/src/dto/ApplyClientNumberDto.ts
Owners: @paulushcgcj, @mamartinezmejia

Update data model
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: adding index backup
  index/openshift.index.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: changing elastic to single-node
  index/openshift.index.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: elastic probe and pvc
  common/openshift.init.yml
  index/openshift.index.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: elastic probe and pvc
  index/openshift.index.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Fix tests
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionDetailPredicates.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionPredicates.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Remove unused code and improve coverge
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

no message
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

Feat/be/fsadt1-742 (#444)
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/BusinessTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/client/LegalTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionDetailPredicates.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionPredicates.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

no message (#445)
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

Update validations, ClientSubmissionDto and fix new submission status
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Add extra test
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.6 (#154)
  api/pom.xml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update maven all non-major dependencies (#153)
  api/pom.xml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix(deps): update dependency vite to v4 (#438)
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

chore(deps): update dependency typescript to v5 (#443)
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

Update validations, ClientSubmissionDto and fix new submission status (#446)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fix Unregistered Business validation scenario
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Move test data to TestConstants
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fix Unregistered Business validation scenario (#448)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe/be): - Removed watch that cloned formData and check the model of each element who has validation messages - Removed constraint in a field of the DB
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): lock file maintenance npm all non-major dependencies
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

chore: removing index
  .github/workflows/pr-open.yml
  index/Dockerfile
  index/openshift.index.yml
Owners: @paulushcgcj, @DerekRoberts, @mamartinezmejia, @brunoMarchiEncora

feat/fix(fe): - Removed text addedby mistake - Revomed indicator
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

Frontend Improvements (#449)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fixed typo
  .github/workflows/merge-main.yml
Owners: @paulushcgcj, @DerekRoberts

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts
