Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts

chore(deps): update dependency maven to v3.9.0
  backend/.mvn/wrapper/maven-wrapper.properties
  legacy/.mvn/wrapper/maven-wrapper.properties
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency maven-wrapper to v3.1.1
  backend/.mvn/wrapper/maven-wrapper.properties
  legacy/.mvn/wrapper/maven-wrapper.properties
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update openjdk docker tag to v17.0.2
  backend/Dockerfile
  legacy/Dockerfile
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency org.apache.maven.plugins:maven-enforcer-plugin to v3.2.1
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency org.cyclonedx:cyclonedx-maven-plugin to v2.7.5
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): pin dependencies
  database/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update registry.access.redhat.com/ubi8/ubi docker tag to v8.7-1090
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

chore(deps): pin dependencies
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

chore(deps): making compose same as dockerfile
  docker-compose.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Remove Java and remaining dependabot config
  .github/dependabot.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(fe): - Draft of the FE without JSON schema #2
  frontend/src/App.vue
  frontend/src/common/AutocompleteComponent.vue
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
Owners: @paulushcgcj, @mamartinezmejia

fix: fixing enforcer config
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: replace dependabot with renovate (#395)
  .github/dependabot.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: reverting vitest due to conflict
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

chore: renovate - spring boot (#394)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  backend/pom.xml
  database/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/Dockerfile
  legacy/pom.xml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

feat(fe/be): - Draft of the FE without JSON schema #3 - Changed data model
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/common/AutocompleteComponent.vue
  frontend/src/common/LabelComponent.vue
  frontend/src/common/NoteComponent.vue
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: adding native to backend
  .github/workflows/pr-open.yml
  backend/pom.xml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

fix: fix build
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

chore: updating to native
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/src/main/resources/application.yml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

feat(fe/be): - Draft of the FE without JSON schema #4
  frontend/components.d.ts
  frontend/src/common/AutocompleteComponent.vue
  frontend/src/common/NoteComponent.vue
  frontend/src/core/CommonTypes.ts
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
  frontend/src/services/forestClient.service.ts
Owners: @paulushcgcj, @mamartinezmejia

feat(fe/be): - Draft of the FE without JSON schema #5
  frontend/components.d.ts
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(fe/be): - Draft of the FE without JSON schema #5 - Completed Autocomplete - Renamed some files
  frontend/src/App.vue
  frontend/src/common/MainHeaderComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(FSADT1-662): adding search by acronym (#120)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-close.yml
  api/.github/workflows/pr-open.yml
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientDoingBusinessAsEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/ClientNotFoundException.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/NoSearchParameterFound.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientAcronymHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientDoingBusinessAsRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/routes/ClientRouter.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/handlers/ClientHandlerTest.java
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(fe/be): - Draft of the FE without JSON schema #6
  frontend/components.d.ts
  frontend/src/common/AutocompleteComponent.vue
  frontend/src/common/LabelComponent.vue
  frontend/src/common/MainHeaderComponent.vue
  frontend/src/core/CommonTypes.ts
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/forestClient.service.ts
Owners: @paulushcgcj, @mamartinezmejia

fix(fe/be): - Fixed some issues in the SQL scripts and the unit test
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/tests/unittests/MainHeader.spec.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe/be): - Draft of the FE without JSON schema #7 - Added missing validation components
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

Dropped example
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
Owners: @paulushcgcj, @mamartinezmejia

fix(fe): - Fixed some issues in the unit test
  frontend/src/tests/unittests/MainHeader.spec.ts
Owners: @paulushcgcj, @mamartinezmejia

feat(fe): - Draft of the FE without JSON schema #8 - Improved code and made code reviews
  frontend/src/common/AutocompleteComponent.vue
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/tsconfig.json
Owners: @paulushcgcj, @mamartinezmejia

fix: fixing tests
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  docker-compose.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe): - Cleaned up code - Improved code and made code reviews
  frontend/src/common/CollapseCardComponent.vue
  frontend/src/common/ConfirmModal.vue
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormFieldTemplate.vue
  frontend/src/common/FormFieldTitle.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/InputComponent.vue
  frontend/src/common/buttons/PrimarySquareButton.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumber.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/SubmitFailText.vue
  frontend/src/pages/applynewclient/SubmitSucessText.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/BusinessTypeSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
  frontend/src/services/FetchService.ts
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @mamartinezmejia

feat(fe): - Cleaned up code - Improved code and made code reviews - Changed some names as per naming conventions
  frontend/src/App.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/ForestClientService.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormDisable.ts
  frontend/src/store/newclientform/FormValidation.ts
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCheckboxGroup.spec.ts
  frontend/src/tests/unittests/FormComponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormFieldTitle.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormRadioGroup.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Owners: @paulushcgcj, @mamartinezmejia

no message
  frontend/src/common/AutocompleteComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(be): - Dropped and added some columns
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fixed typo
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat:(FSADT1-664): adding native support (#123)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-close.yml
  api/.github/workflows/pr-open.yml
  api/Dockerfile
  api/InstallCert.java
  api/config/application.yml
  api/openshift.deploy.yml
  api/pom.xml
  api/src/main/java/ca/bc/gov/api/oracle/legacy/configuration/RouteConfiguration.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/GlobalErrorController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientLocationDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/YesNoEnum.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationIdEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/BaseHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientAcronymHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindByNamesHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindByNumberHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/handlers/ClientFindNonIndividualsHandler.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientLocationRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/routes/BaseRouter.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/routes/ClientRouter.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientLocationService.java
  api/src/main/resources/application.yml
  api/src/test/java/ca/bc/gov/api/oracle/legacy/AbstractTestContainerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientLocationControllerIntegrationTest.java
  api/src/test/resources/application.yml
  api/startup.sh
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(fe): - Added missing logic to add the incorporation number
  frontend/components.d.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

fix(be): - Fixed unit tests after recent changes
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: adding missing field to the database
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe): - Aligned id names to dto keys for validations practicity
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia
