Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts

feat(FSADT1-688): adding client location search (#121)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-open.yml
  api/.github/workflows/unit-tests.yml
  api/Dockerfile
  api/openshift.deploy.yml
  api/pom.xml
  api/postman/FCA.postman_collection.json
  api/postman/FCA_postman_tests.json
  api/postman/FCA_postman_tests_dev.json
  api/src/main/java/ca/bc/gov/api/oracle/legacy/Application.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientLocationDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientDoingBusinessAsEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/ClientNotFoundException.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/NoSearchParameterFound.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientDoingBusinessAsRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ClientLocationRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/HandlerUtil.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceIntegrationTest.java
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(fe): - Added the vue mask library
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

ci: fixing smoke test params (#125)
  api/.github/workflows/merge-main.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Switch from Dependabot to Renovate (#126)
  api/.github/dependabot.yml
  api/.github/workflows/pr-open.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(FSADT1-639): adding bcregistry details backend
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/RouteConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryIdentificationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  backend/src/main/java/ca/bc/gov/app/handlers/ches/ChesHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
  backend/src/test/resources/application-default.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): add renovate.json (#129)
  api/renovate.json
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix: deploy and smoke (#128)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-close.yml
  api/.github/workflows/pr-open.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feature(FSADT1-639): adding loading on frontend
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(fe): - Removed unneeded column - Added responsiveness in the table - Beautified code
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feature(FSADT1-639): adding bc registry params for deployment
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

Add IntelliJ files to gitignore
  .gitignore
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Update gitignore
  .gitignore
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore(deps): update registry.access.redhat.com/ubi8/ubi docker tag to v8.7-1090
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

chore(deps): update linters
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency @vitejs/plugin-vue to v4
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency vite to v4
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(fe): - Fixed some issues in the unit test
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(fe): - Fixed some issues in the unit test
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Frontend improvements (#400)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Remove unused email field in database
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Remove commented code
  backend/src/main/java/ca/bc/gov/app/controller/AbstractController.java
  backend/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Fix swagger docs
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailAttachment.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientNameCodeDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: updating form to load addresses
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientValueTextDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  frontend/src/common/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Change backend and legacy to matrix format on github action
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

Change backend and legacy to matrix format on github action (#404)
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

chore(deps): update registry.access.redhat.com/ubi8/ubi docker tag to v8.7-1090
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.4
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency maven-wrapper to v3.2.0
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/mvnw
  legacy/mvnw.cmd
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update vitest monorepo to ^0.29.0
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency vite to v4
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency @vitejs/plugin-vue to v4
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

chore(deps): update dependency org.apache.maven.plugins:maven-failsafe-plugin to v3
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin to v3
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update linters
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

chore(deps): update postgres docker tag to v15
  database/Dockerfile
  docker-compose.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

Frontend improvements (#400)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Frontend improvements (#400)
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

package-lock.json
  frontend/package-lock.json
Owners: @paulushcgcj, @mamartinezmejia

Chore/combine deps (#405)
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia
