Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts

fix(FE): validation message and form submission (#425)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientAddressDataDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/ForestClientService.ts
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: removing unused code
  legacy/src/main/java/ca/bc/gov/app/controller/ForestClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicFilterObjectDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientTypeCodes.java
  legacy/src/main/java/ca/bc/gov/app/dto/FirstNationBandVidationDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/PropertyDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientBandsHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientDoingBusinessHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientUnregisteredHandlerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-700): adding report for business as and all
  legacy/.gitignore
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientNameCodeDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicNameDto.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/MonoUtil.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/resources/application-default.yml
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

no message
  frontend/components.d.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

fix(be): - Fixed as per recommended (WhitespaceAround: '+' is not followed by whitespace.)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(be): - Cleaned and organized imports
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe/be): - Improved code after code reviews
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  frontend/src/common/ValidationMessagesComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat/fix(be): - Fixed unit testting bug - Cleaned imports - Beautified code for better readibility
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Revert "feat(be):"
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Made code reviews
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Fixed code smell issues #1
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Removed extra separation in import group to satisfy SonarCloud
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Fixed code smell issues #2
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Fixed code smell issues #3
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Code reviews: Defined a constant instead of duplicating literal
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Reverted change as I had it before
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Fixed typo
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Changed field to businessName as the incorporation number is hidden in the UI
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(be): - Fixed based on code reviews standard - Fixed code smells. Need to discuss this with the team as this doesn't make sense.
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

Validation fixes (#427)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/common/CommonValidator.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  frontend/components.d.ts
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(fe): - Removed error msgs when value changes
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(BE): updating bc registry to use document requisition
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessRequestDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestBodyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestDocumentDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestResponseDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryExceptionMessageDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficerDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryRoleDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientControllerIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: adding temporary folder
  legacy/openshift.deploy.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: adding native parameter to swagger
  backend/src/main/resources/application.yml
  legacy/src/main/resources/application.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

ci: removing parameter FOREST_API_URL
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

chore: changing bcreg env to prod
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/src/main/resources/application.yml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

docs: adding readme doc resources
  legacy/docs/eclipse-code-style.png
  legacy/docs/eclipse-java-google-style.xml
  legacy/docs/eclipse-lombok.png
  legacy/docs/eclipse-run-config1.png
  legacy/docs/eclipse-run-config2.png
  legacy/docs/google_checks.xml
  legacy/docs/intellij-code-style.png
  legacy/docs/intellij-java-google-style.xml
  legacy/docs/intellij-run-config.png
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.5
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update caddy docker tag to v2.6.4
  frontend/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.5 (#430)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies (#429)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: adding bcregistry params to deploy/config
  legacy/openshift.deploy.yml
  legacy/src/main/resources/application.yml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: setting poi version and removing log4j deps
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: testing removal of log4j
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing missing parameter on deployment
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

chore: reducing the init memory param
  common/Dockerfile
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: updating deps
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: removing unwanted constant
  legacy/src/main/java/ca/bc/gov/app/entity/ClientStatusCodeEntity.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat: changing lib from poi to fastexcel
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia
