Repository bcgov/nr-forest-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora, @DerekRoberts

Feat/be/pipeline (#450)
  .github/workflows/merge-main.yml
Owners: @paulushcgcj, @DerekRoberts

Change address validations so province and posta code are now mandatory
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

[FSADT1-760] Change address validations so province and posta code are now mandatory
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.6
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.6 (#453)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies (#452)
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore(deps): update maven all non-major dependencies (#155)
  api/pom.xml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

[FSADT1-761] Update SubmissionDto userId field is now nested in submitterInformation
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

[FSADT1-761] Update SubmissionDto userId field is now nested in submitterInformation (#454)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

FSADT1-762
  frontend/src/App.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

FSADT1-762 (#455)
  frontend/src/App.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(be): - Requested changes for the matching details in the DB
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(be): - Renamed column - Changed data type
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: removing cron from legacy
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: removing cron from legacy (#457)
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

no message
  frontend/src/App.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

feat(BE:FSADT1-752): updating code to match processor
  processor/.gitignore
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/dto/MatcherResult.java
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/ContactTypeCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/ProvinceCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmitterEntity.java
  processor/src/main/java/ca/bc/gov/app/exception/MatchFoundException.java
  processor/src/main/java/ca/bc/gov/app/integration/SampleIntegration.java
  processor/src/main/java/ca/bc/gov/app/repository/client/ClientTypeCodeRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmitterRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/GoodStandingProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorMatcher.java
  processor/src/main/resources/application.yml
  processor/src/test/resources/init_pg.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

[FSADT1-748] Create general search API (#156)
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientStatusCodeEnum.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientTypeCodeEnum.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientBaseEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

test(BE:FSADT1-752): updating tests to increase coverage
  processor/openshift.deploy.yml
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/IncorporationNumberProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcherTest.java
  processor/src/test/resources/init_pg.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

fix(security): fixing CVE-2022-1471
  backend/pom.xml
  legacy/pom.xml
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(FSADT1-713): adding base cypress code
  .github/workflows/pr-open.yml
  cypress/.gitignore
  cypress/cypress.config.ts
  cypress/cypress/e2e/spec.feature
  cypress/cypress/e2e/spec.ts
  cypress/cypress/support/commands.ts
  cypress/cypress/support/e2e.ts
  cypress/package-lock.json
  cypress/package.json
  cypress/tsconfig.json
Owners: @paulushcgcj, @DerekRoberts, @mamartinezmejia, @brunoMarchiEncora

fix: fixing processor deployment
  processor/openshift.deploy.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

chore: removing report code
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  legacy/src/test/resources/application-default.yml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

DB changes for matching details (#456)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: removing report code (#459)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  legacy/src/test/resources/application-default.yml
Owners: @paulushcgcj, @DerekRoberts, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-752): adding support for matchers
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/converters/SubmissionMatchDetailEntityBeforeConvert.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionMatchDetailRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceTest.java
  processor/src/test/resources/init_pg.sql
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

feat(BE:FSADT1-752): adding support for matchers
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

chore(deps): update eclipse-temurin docker tag
  backend/Dockerfile
  common/Dockerfile
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix(deps): update vitest monorepo to ^0.30.0
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

fix(deps): update vitest monorepo to ^0.30.0 (#460)
  frontend/package-lock.json
  frontend/package.json
Owners: @paulushcgcj, @mamartinezmejia

feat(BE:FSADT1-765): adding new state data
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: updating code to java17
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

feat(BE:FSADT1-765): adding new state data (#461)
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

chore: unifying backend deployment
  .github/workflows/pr-open.yml
Owners: @paulushcgcj, @DerekRoberts

feat: adding html freemarker template consumer
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/registration.html
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Owners: @paulushcgcj, @brunoMarchiEncora, @mamartinezmejia

fix: fixing volume claim
  processor/openshift.deploy.yml
Owners: @paulushcgcj, @mamartinezmejia, @brunoMarchiEncora

no message
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Owners: @paulushcgcj, @mamartinezmejia

no message
  frontend/src/pages/applyclientnumber/AddressComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

no message
  frontend/src/pages/applyclientnumber/AddressComponent.vue
Owners: @paulushcgcj, @mamartinezmejia

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
# unless a later match takes precedence, and will be requested for
# review when someone opens a pull request.
*       @paulushcgcj @mamartinezmejia @brunoMarchiEncora
/backend/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/frontend/       @paulushcgcj @mamartinezmejia
/legacy/       @paulushcgcj @brunoMarchiEncora @mamartinezmejia
/.github/workflows/       @paulushcgcj @DerekRoberts
