Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat: adding canada post api to deployment
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
Labels: backend, java, openshift

chore: fire update:selected-value with undefined
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

test: emits update:selected-value
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

test: emit update:selected-value with new value
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

Update Caddy, swap bulider base
  frontend/Dockerfile
Labels: frontend, javascript

Add security context
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Param for Caddy log level
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Param for Caddy log level
  frontend/Caddyfile
Labels: frontend, javascript

Correction
  frontend/Dockerfile
Labels: frontend, javascript

Improve parameter description
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Fix incredibly stupid mistake
  frontend/Dockerfile
Labels: frontend, javascript

fix: remove duplicated error handler
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

test: fix element finding
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: frontend, javascript

test: fix expected text in the header
  frontend/tests/unittests/MainHeader.spec.ts
Labels: frontend, javascript

feat: update caddy to 2.6.4 (#505)
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

chore: moving composables to its own folder
  frontend/src/App.vue
  frontend/src/components/DataFetcher.vue
  frontend/src/composables/useFetch.ts
  frontend/src/composables/useSvg.ts
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/src/services/GeneralServices.ts
  frontend/src/utils/color.ts
Labels: source, frontend, javascript

chore(deps): update dependency maven to v3.9.3 (#506)
  backend/.mvn/wrapper/maven-wrapper.properties
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
Labels: backend, java

fix: fixing refactor issues
  frontend/src/App.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

chore: fixing backend sonar parameters
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore: fixing backend sonar parameters (#512)
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(deps): update ghcr.io/bcgov/nr-forest-client/backend docker tag to v512
  docker-compose.yml
Labels: none

chore(deps): update ghcr.io/bcgov/nr-forest-client/frontend docker tag to v512
  docker-compose.yml
Labels: none

ci: fixing frontend build
  frontend/Dockerfile
Labels: frontend, javascript

chore(deps): update dependency maven to v3.9.3 (#169)
  api/.mvn/wrapper/maven-wrapper.properties
Labels: none

chore: cleaning imports
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

chore: increasing coverage
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/ches/ChesRequestValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/resources/application-default.yml
Labels: tests, source, backend, java

chore: fixing code smell on backend
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: tests, source, backend, java

chore: fixing code smell on backend
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesRequestDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/SendMailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, configuration, backend, java

chore: fixing sonar bugs
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: removing unused components
  frontend/src/common/LabelComponent.vue
  frontend/src/common/ValidationMessagesComponent.vue
Labels: frontend, javascript

fix(security): mitigating a few frontend security issues
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

chore: updating workspace and extensions
  frontend/.devcontainer/frontend.code-workspace
  frontend/.vscode/extensions.json
Labels: frontend, javascript

fix(codesmell): fixing codesmell
  frontend/src/App.vue
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/routes.ts
Labels: source, frontend, javascript

feat(fe): - FSADT1-811: Added logout fn
  frontend/src/components/wizard/WizardWrapperComponent.vue
Labels: frontend, javascript

chore: updating lint and adding reformatted code
  frontend/.eslintrc.cjs
  frontend/cypress/integration/example.spec.ts
  frontend/package.json
  frontend/tests/unittests/MainHeader.spec.ts
  frontend/tests/unittests/TestConstant.ts
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: tests, configuration, frontend, javascript

ci: adding vite node env as part of deployment
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  frontend/src/core/CoreConstants.ts
Labels: source, frontend, javascript

chore: simplifying keycloak loading and passing
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: source, frontend, javascript

fix(typescript:S905): fixing logout issue
  frontend/src/components/wizard/WizardWrapperComponent.vue
Labels: frontend, javascript

fix: trying to disable sonar rules
  frontend/src/App.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/main.ts
Labels: source, frontend, javascript

test: updating coverage configuration
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
