Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: added default value
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

chore(FSADT1-1524): updating response content (#1212)
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@67d39f56c32404b79058ca25e46c5b0136ba4459 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

feat(be:FSADT1-1519): Create API endpoint for predictive search
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

fix(FSADT1-1537): fixing missing association
  legacy/src/test/resources/db/migration/V9__adding_l_to_l.sql
Labels: none

feat(fe:FSADT1-1524): renamed variable for consistency (similar to clientType)
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
Labels: none

fix(FSADT1-1537): adding more limited partnership associations
  legacy/src/test/resources/db/migration/V9__adding_l_to_l.sql
Labels: none

feat(fe:FSADT1-1524): renamed variable for consistency (similar to clientType) (#1214)
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@bc98c2e5b9ccb0e0cd7359a3ce6eee2125811001 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

feat(be:FSADT1-1519): Create API endpoint for predictive search
  backend/src/main/java/ca/bc/gov/app/exception/MissingRequiredParameterException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: source, backend, java

test(FSADT1-1537): fixing test cases
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

fix(FSADT1-1537): increasing rate limiter (#1213)
  backend/openshift.deploy.yml
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
  legacy/src/test/resources/db/migration/V9__adding_l_to_l.sql
Labels: frontend, backend, java, javascript, openshift

Deploying to gh-pages from @ bcgov/nr-forest-client@5b6b61e997968c3cacccc16d94fe0aa654e702cb 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

fix: use placeholder instead of label
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

test: add search test file
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

chore(ci): renovate matchConfidence
  renovate.json
Labels: none

chore: Added javadocs
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

fix: fixing api route (#248)
  api/.github/gwa/service-prod.yaml
  api/.github/gwa/service-test.yaml
Labels: none

chore: force release (#249)
  api/src/main/java/ca/bc/gov/api/oracle/legacy/ApplicationConstants.java
Labels: none

fix(FSADT1-1524): renamed field in query and renamed other field
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

Removed unused imports
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

feat(be:FSADT1-1519): Create API endpoint for predictive search
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

fix(FSADT1-1524): renamed field in query (#1217)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@83b6f177503450d54bf6d205d92eb48b32eee77a 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

feat(FSADT1-1528): added external pagination info for predictive
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

fix(fe:FSADT1-1503): Put title as it was before
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat(FSADT1-1528): updated predictive endpoint to complex
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

fix(FSADT1-1528): fixing search
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

test: fixing tests
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

feat: navigate to client details
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

test: implement tests
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/package.json
Labels: tests, configuration, frontend, javascript

refactor: move functions to the GlobalValidators
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

fix(FSADT1-1537): adding missing relation to LL
  backend/src/main/java/ca/bc/gov/app/dto/client/LegalTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientValidationUtilsTest.java
Labels: tests, source, backend, java

fix(FSADT1-1537): adding missing relation to LL (#1220)
  backend/src/main/java/ca/bc/gov/app/dto/client/LegalTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientValidationUtilsTest.java
Labels: tests, source, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@59e85710bd0c8c62c532166e7ec0d8eabcb3c1af 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
  schema/nrfc/tables/submission_location.html
Labels: none

fix(fe:FSADT1-1503): Put title as it was before (#1218)
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@c80723adb002e272f2278589e2167ae93c36f76b 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

Made code reviews
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none
