Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: fixing issue with mapper
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
Labels: source, backend, java

test: adding tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientPatchServiceIntegrationTest.java
Labels: tests, backend, java

chore: fixing CI
  .github/workflows/pr-validate.yml
Labels: none

test: fixing test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientPatchServiceIntegrationTest.java
Labels: tests, backend, java

no message
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: frontend, javascript

feat(FSADT1-1818): added acronym support and validation (#1570)
  .github/workflows/pr-validate.yml
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/validators/AcronymPatchValidator.java
  backend/src/main/java/ca/bc/gov/app/service/client/validators/PatchValidator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientPatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/validators/AcronymPatchValidatorIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
Labels: tests, source, backend, java

- Increased coverage - Unify mock up test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
  frontend/tests/components/pages/client-details/LocationView.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, frontend, backend, java, javascript

handle duplicate acronym error
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/mappings/client_details.json
Labels: source, frontend, javascript

fix updatedData in the save event
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: source, frontend, javascript

fix the address information in the accordion's subtitle
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/services/ForestClientService.ts
Labels: tests, source, frontend, javascript

update stubs addresses
  frontend/stub/__files/response-clients-details-C.json
  frontend/stub/__files/response-clients-details-G+contact.json
  frontend/stub/__files/response-clients-details-G+location.json
  frontend/stub/__files/response-clients-details-G-contact.json
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-GSPN.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-S.json
Labels: frontend, javascript

update converter test
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

fix(be): Deleted wrong code in the Oracle DB
  legacy/src/test/resources/db/migration/V1.1.1__client_id_values.sql
Labels: none

fix(be): Deleted wrong code in the Oracle DB (#1572)
  legacy/src/test/resources/db/migration/V1.1.1__client_id_values.sql
Labels: none

fix(fe): fix location subtitle and tests (#1571)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-C.json
  frontend/stub/__files/response-clients-details-G+contact.json
  frontend/stub/__files/response-clients-details-G+location.json
  frontend/stub/__files/response-clients-details-G-contact.json
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-GSPN.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/tests/components/pages/client-details/LocationView.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

feat(FSADT1-1804|FSADT1-1805|FSADT1-1806): Added more code APIs (#1566)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  frontend/stub/__files/response-client-types-legacy.json
  frontend/stub/__files/response-identification-types-legacy.json
  frontend/stub/__files/response-registry-types-A.json
  frontend/stub/__files/response-registry-types-C.json
  frontend/stub/mappings/codes.json
  frontend/tests/unittests/services/ForestClientService.spec.ts
  legacy/src/main/java/ca/bc/gov/app/controller/ClientCodesController.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientIdTypeCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientTypeCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientIdTypeCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientTypeCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/RegistryCompanyTypeCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientCodeService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientCodesControllerIntegrationTest.java
Labels: tests, source, frontend, backend, java, javascript

test: reduce wiremock delays for e2e tests
  frontend/package.json
  frontend/stub-tests.ts
Labels: configuration, frontend, javascript

do not update if value is less than 50
  frontend/stub-tests.ts
Labels: frontend, javascript

add stub-tests to git-ignore
  frontend/.gitignore
Labels: frontend, javascript

test: TextInputComponent
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: frontend, javascript

adjust error response interface
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

test: duplicated acronym
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript

update stub
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

style: clean up the code
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1813,FSADT1-1815): CLIENT_EDITOR/CLIENT_SUSPEND Client Summary Section - Edit Mode - Front-End - amended (#1575)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/mappings/client_details.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: tests, source, frontend, javascript

fix: stub role
  frontend/src/pages/LandingPage.vue
  frontend/stub/mappings/fam.json
Labels: frontend, javascript

fix: prevent repeating values in the authorities field
  frontend/src/helpers/ForestClientUserSession.ts
Labels: source, frontend, javascript

rename stubs
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/stub/__files/response-clients-details-P+contact.json
  frontend/stub/__files/response-clients-details-P+location.json
  frontend/stub/__files/response-clients-details-P-contact.json
  frontend/stub/__files/response-clients-details-P.json
  frontend/stub/__files/response-clients-details-PD.json
  frontend/stub/__files/response-clients-details-PDAC.json
  frontend/stub/__files/response-clients-details-PSPN.json
  frontend/stub/mappings/client_details.json
Labels: tests, frontend, javascript

stub with client type as parameter
  frontend/stub/__files/response-clients-details-Type.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

stub dummy update reasons regardless of client type
  frontend/stub/mappings/codes.json
Labels: frontend, javascript

allow role CLIENT_ADMIN to edit the Client name
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

test: edit client type Government and similar ones
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

chore: adding match value to validator
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/service/client/validators/AcronymPatchValidator.java
Labels: source, dto, backend, java

test(fe): reduce wiremock delays for e2e tests (#1573)
  frontend/.gitignore
  frontend/package.json
  frontend/stub-tests.ts
Labels: configuration, frontend, javascript

edit doingBusinessAs
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

Update AcronymPatchValidator.java
  backend/src/main/java/ca/bc/gov/app/service/client/validators/AcronymPatchValidator.java
Labels: source, backend, java

chore: adding match value to validator
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
Labels: source, dto, backend, java

chore: adding match value to validator (#1576)
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/service/client/validators/AcronymPatchValidator.java
Labels: source, dto, backend, java

ci: fixing version
  .github/workflows/pr-close.yml
  .github/workflows/scheduled.yml
Labels: none

ci: fixing version (#1578)
  .github/workflows/pr-close.yml
  .github/workflows/scheduled.yml
Labels: none
