Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore(deps): update dependency @badeball/cypress-cucumber-preprocessor to v19
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore(deps): update dependency @types/node to v20
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: updating renovate config
  renovate.json
Labels: none

ci: update renovate config
  renovate.json
Labels: none

ci: update renovate config (#609)
  renovate.json
Labels: none

ci: update renovate config (#190)
  api/renovate.json
Labels: none

chore(deps): update dependency @badeball/cypress-cucumber-preprocessor to v19 (#604)
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore(deps): update dependency sass-loader to v13 (#602)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: adjust width of panel My profile
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: deactivate Options link
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: prevent animation issue while closing panel
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: add cds-side-nav-link states
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: set row cursor
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: divide table row width evenly among columns
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

fix: align submission type icon to the center
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: set data-table borders and background colors
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

refactor: add missing css variables
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: set table's header and pagination background
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: set breadcrumb link state colors
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: - Added DOB in the DB and code (FSADT1-983)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormBCSCPage.vue
Labels: tests, source, configuration, frontend, backend, java, javascript

fix: fixing contact type issue
  frontend/package-lock.json
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/stub/mappings/fam.json
Labels: configuration, frontend, javascript

feat: add backdrop to header panel
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: fixing contact type issue (#612)
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/stub/mappings/fam.json
Labels: frontend, javascript

test: assert the backdrop is properly displayed
  frontend/src/components/MainHeaderComponent.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

feat(FSADT1-973): updating processor for company
  processor/src/main/java/ca/bc/gov/app/service/processor/GoodStandingProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/processor/IncorporationNumberProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/processor/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcherTest.java
Labels: none

fix: set My profile panel background
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: close My profile panel on backdrop click
  frontend/src/components/MainHeaderComponent.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

feat(FSADT1-973): add processor for sole proprietor
  processor/src/main/java/ca/bc/gov/app/service/processor/SoleProprietorProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/processor/SoleProprietorProcessorMatcherTest.java
Labels: none

feat(FSADT1-973): updating util
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: none

feat(FSADT1-973): adding individual processor
  processor/src/main/java/ca/bc/gov/app/service/processor/IndividualProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/processor/IndividualProcessorMatcherTest.java
Labels: none

Changed to LocalDate as per requested
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/pages/FormBCSCPage.vue
Labels: tests, source, frontend, backend, java, javascript

Changed to LocalDate as per requested
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

Updated CSV with DOB
  backend/src/test/resources/failValidationTest.csv
Labels: backend, java

Updated query
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
Labels: source, backend, java

feat(FSADT1-973): adding persistence for client types
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ClientDoingBusinessAsEntity.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ClientDoingBusinessAsRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
Labels: none

test: Added logic for registered clients
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
Labels: source, backend, java

fix: adding missing channels and constants
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
Labels: none

fix: fixing test
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
Labels: none

FSADT1-983: Added DOB in the DB and code (#611)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormBCSCPage.vue
Labels: tests, source, configuration, frontend, backend, java, javascript

chore: renaming tests to reflect new class name
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: none
