Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix(fe): fixed webpack vulnerability (#2000)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: fixed issue when searching by acronym (#465)
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
Labels: none

docs: update instructions in the script to dix duplicated contacts
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
Labels: none

Update legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
Labels: none

docs: update instructions in the script to fix duplicated contacts (#2004)
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
Labels: none

docs: update instructions in the script to fix duplicated contacts
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts_readme.txt
Labels: none

Update legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts_readme.txt
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts_readme.txt
Labels: none

docs: update instructions in the script to fix duplicated contacts (#2006)
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts_readme.txt
Labels: none

fix(fe): fixed CVE-2026-26278
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): fixed CVE-2026-26278 (#2007)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-2077): add methods to retrieve and validate client status updates and related locations
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/ClientStatusPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/PatchUtilsTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/ClientStatusPatchValidatorIntegrationTest.java
Labels: tests, source, backend, java

feat(FSADT1-2077): add endpoint to retrieve locations updated with client status
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/LocationUpdateReasonRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: none

Fix formatting in ClientLegacyService URI method
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

Fix formatting of method declaration in ClientLegacyService
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

chore: fixing sonar errors
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
Labels: none

chore: updating text on code
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
Labels: none

feat: making the query lookup more resilient
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

fix(FSADT1-2077): when disabling/enabling client, cascade to locations (#2009)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/ClientStatusPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/PatchUtilsTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/ClientStatusPatchValidatorIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/LocationUpdateReasonRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: tests, source, backend, java

fix: fix table references missing THE. schema prefix in LOCATION_TO_REACTIVATE query (#2010)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

docs: update clientStatus parameter documentation with valid values
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
Labels: none

chore: Add input validation for clientStatus parameter in location endpoint (#2011)
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: none

chore: update endpoint path to avoid routing ambiguity (#2012)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/ClientStatusPatchValidatorIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: tests, source, backend, java

fix(FSADT1-2114): Upgraded Netty to fix HTTP query parsing issue (#468)
  api/pom.xml
Labels: none

fix(ci): grant pages permission for scheduled schema-spy workflow
  .github/workflows/scheduled.yml
Labels: none

ci: fix workflow
  .github/workflows/scheduled.yml
Labels: none

fix(ci): allow pages permission in scheduled SchemaSpy workflow (#2015)
  .github/workflows/scheduled.yml
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@33e7d1d4cdfc0c4efb93845bda9575ce0c57fe41 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/default.nrfc.xml
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

ci: fix workflow (#2016)
  .github/workflows/scheduled.yml
Labels: none

docs: updating readme
  README.md
Labels: none

docs: updating readme (#2017)
  README.md
Labels: none

ci: call scheduled workflow from merge pipeline
  .github/workflows/merge.yml
  .github/workflows/scheduled.yml
Labels: none

Rename scheduled.yml to reporting.yml
  .github/workflows/merge.yml
  .github/workflows/reporting.yml
Labels: none

chore(ci): run reporting workflow from merge (#2018)
  .github/workflows/merge.yml
  .github/workflows/reporting.yml
Labels: none

ci: grant reporting job permissions for reusable workflow
  .github/workflows/merge.yml
Labels: none

Update .github/workflows/merge.yml
  .github/workflows/merge.yml
Labels: none

Drop stale backend ZAP job
  .github/workflows/reporting.yml
Labels: none

ci: allow reporting workflow permissions from merge, remove ZAP backend job (#2019)
  .github/workflows/merge.yml
  .github/workflows/reporting.yml
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@5065771dbd65ca7d7fd5da04eccedbfb640f15a9 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

feat(be): update script to fix duplicated contacts as per DBA feedback
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
Labels: none

Update legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
  legacy/src/test/resources/db/migration/v6.0.1__update_duplicated_contacts.sql
Labels: none
