Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test: add multiple locations fuzzy scenario
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
  frontend/cypress/fixtures/fuzzy/full_address_business_phone_match.json
  frontend/cypress/fixtures/fuzzy/full_address_email_match.json
  frontend/cypress/fixtures/fuzzy/full_address_fax_phone_match.json
  frontend/cypress/fixtures/fuzzy/full_address_secondary_phone_match.json
  frontend/cypress/fixtures/testdata/locationBaseData.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

fix(FSADT1-1435): fixing validation during onnext (#1085)
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/forms/TextareaInputComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/helpers/validators/SubmissionReviewValidations.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: source, frontend, javascript

chore: moving to tools
  .github/workflows/legacy-pr.yml
Labels: none

chore: removing temp token
  database/openshift.legacy.yml
Labels: database, openshift

fix(fe:FSADT1-1390): Changed label as per requested
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: frontend, javascript

chore: fixing image
  .github/workflows/legacy-pr.yml
Labels: none

chore: forcing all files to be 777
  database/Dockerfile.legacy
Labels: database

chore: forcing all files to be 777
  database/Dockerfile.legacy
Labels: database

fix(fe:FSADT1-1390): Changed label as per requested (#1088)
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: frontend, javascript

chore: changing the oracle user id
  database/Dockerfile.legacy
Labels: database

chore: removing files
  legacydb/Dockerfile
  legacydb/openshift.deploy.yml
Labels: openshift

test: fix tests
  frontend/tests/components/pages/staffform/LocationsWizardStep.cy.ts
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

fix(FSADT1-1442): fixed staff submission completion menu
  frontend/src/assets/styles/global.scss
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: updating stubs
  frontend/stub/mappings/fuzzy_matches.json
Labels: frontend, javascript

fix(FSADT1-1442): fixed spacing for external
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/src/pages/FormStaffProcessingPage.vue
Labels: frontend, javascript

fix(FSADT1-1442): fixed staff submission completion menu (#1089)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/src/pages/FormStaffProcessingPage.vue
  frontend/src/routes.ts
  frontend/stub/mappings/fuzzy_matches.json
Labels: source, frontend, javascript

feat(fe:FSADT1-1439): Individual
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: source, frontend, backend, java, javascript

feat(fe:FSADT1-1439): Others
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

feat(fe:FSADT1-1440): Locations - Review Page
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

feat(fe:FSADT1-1441): Contacts - Part#1
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

test: fix tests
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
  frontend/cypress/e2e/FormStaffPageSubmission.cy.ts
Labels: tests, frontend, javascript

fix(FSADT1-1442): updated fuzzy match tests
  frontend/stub/__files/fuzzy/full_individual_doc_match.json
  frontend/stub/mappings/fuzzy_matches.json
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

fix(FSADT1-1442): updated fuzzy display
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
Labels: frontend, javascript

feat(fe:FSADT1-1441): Contacts - Part #2
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

no message
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

chore: changing configuration
  frontend/.devcontainer/frontend.code-workspace
Labels: frontend, javascript

chore: removing log
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
Labels: frontend, javascript

test(FSADT1-1442): updated test messages
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
Labels: tests, frontend, javascript

fix(FSADT1-1444): fixed individual matching
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
Labels: source, backend, java

fix(FSADT1-1444): fixed individual matching
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchIndividualControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
Labels: tests, backend, java

chore: adding another match for secondary addresses
  frontend/stub/__files/fuzzy/full_address_1_match.json
  frontend/stub/mappings/fuzzy_matches.json
Labels: frontend, javascript

fix(FSADT1-1444): fixed some issues with fuzzy
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
Labels: tests, frontend, javascript

feat(fe: FSADT1-1357): Create client for staff - Frontend Fuzzy matching on Locations (#1090)
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
  frontend/cypress/e2e/FormStaffPageSubmission.cy.ts
  frontend/cypress/fixtures/fuzzy/full_address_business_phone_match.json
  frontend/cypress/fixtures/fuzzy/full_address_email_match.json
  frontend/cypress/fixtures/fuzzy/full_address_fax_phone_match.json
  frontend/cypress/fixtures/fuzzy/full_address_match.json
  frontend/cypress/fixtures/fuzzy/full_address_secondary_phone_match.json
  frontend/cypress/fixtures/testdata/locationBaseData.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
  frontend/stub/__files/fuzzy/full_address_1_match.json
  frontend/stub/__files/fuzzy/full_address_match.json
  frontend/stub/mappings/fuzzy_matches.json
  frontend/tests/components/pages/staffform/LocationsWizardStep.cy.ts
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: tests, source, configuration, frontend, javascript

chore: refactoring test class
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
  frontend/cypress/fixtures/fuzzy/no_match.json
Labels: tests, frontend, javascript

chore: removing commented code
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

chore: adding stubs
  frontend/cypress/fixtures/fuzzy/full_address_email_0_and_1_match.json
  frontend/cypress/fixtures/fuzzy/full_address_email_0_match.json
  frontend/cypress/fixtures/fuzzy/full_address_email_1_and_2_match.json
  frontend/cypress/fixtures/fuzzy/full_address_email_1_match.json
  frontend/cypress/fixtures/fuzzy/full_address_email_2_match.json
Labels: tests, frontend, javascript

chore: fixing merge conflicts
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

test: Added tests and stubs
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/fixtures/provinceCodeBC.json
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/stub/__files/response-province-CA-BC.json
  frontend/stub/mappings/codes.json
Labels: tests, frontend, javascript

feat(FSADT1-1439|FSADT1-1441): Review page updates (#1091)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/fixtures/provinceCodeBC.json
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/stub/__files/response-province-CA-BC.json
  frontend/stub/mappings/codes.json
Labels: tests, source, frontend, backend, java, javascript

chore: fixing merge conflicts
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/stub/__files/fuzzy/full_contact_match.json
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
