Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat(FSADT1-1528): updating complex search from predictive (#1219)
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@550c941fa96ce58aececd948e2ebf2da3bdbc8fd 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
  schema/nrfc/tables/submission_location.html
Labels: none

fix(FSADT1-1536): adding safeguards to prevent automated users from taking down
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
Labels: none

fix(FSADT1-1536): adding handling of user created
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(fe:FSADT1-1537): adding missing relation to LL
  frontend/src/helpers/DataConverters.ts
Labels: source, frontend, javascript

fix(fe:FSADT1-1537): adding missing relation to LL (#1221)
  frontend/src/helpers/DataConverters.ts
Labels: source, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@61fb349fa5a272cdbb236ca4805ed77d54bf392b 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

feat: validate autocomplete while typing
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

Refactored code and included full seach
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: source, backend, java

fix(be:FSADT1-1528): fixed column alias
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

fix(be:FSADT1-1528): fixed column alias (#1222)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@77dc814bbd5123f5e1db56b2e41d0e018e33d7c5 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

feat: validate keywords
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

test: validate keywords
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/stub/mappings/client_predictive_search.json
Labels: tests, frontend, javascript

Refactored code to have 1 query only
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

fix(FSADT1-1536): more fixes (#1224)
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(FSADT1-1528): added missing count
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@9ebf9b79e5207ee69bd78754b0d948b6c74e6c80 🚀
  schema/index.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

Renamed variable to x-total-count to keep consistency with other parts of the project
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

fix(FSADT1-1528): added missing count (#1225)
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@2594f531725b10cda6c696cc09e5db34584fa4e5 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/tables/submission_location.html
Labels: none

Added count in the API
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

feat(fe:FSADT1-1541): Display an error message when the BE is down
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1541): Display an error message when the BE is down (#1227)
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

chore(fe): Upgraded vue
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat: prevent selection on AutoComplete
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

feat: open client details in a new tab
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

test: update tests
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript

chore: update endpoint stub
  frontend/stub/mappings/client_predictive_search.json
Labels: frontend, javascript

chore(fe): upgraded aws-amplify
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(fe:FSADT1-1541): Display an error message when the BE is down (#1227)
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

fix: rename event from click to click:option
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/pages/SearchPage.vue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

feat(fe:FSADT1-1521): create the predictive search (#1223)
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/SearchPage.vue
  frontend/stub/mappings/client_predictive_search.json
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: tests, source, configuration, frontend, javascript

chore(fe): Upgraded vue (#1228)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@bcd53d4d508f1c0d875dad1e4d44d58bb178c7c7 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
  schema/nrfc/tables/submission_location.html
Labels: none

chore(fe): upgraded aws-amplify (#1229)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Renamed files
  frontend/stub/__files/response-client-search-keyword-CAR.json
  frontend/stub/__files/response-client-search.json
  frontend/stub/mappings/client_search.json
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@0d4b1c8556244829537cb44c254b8e734681e8fa 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

Added missing key
  frontend/stub/__files/response-client-search-keyword-CAR.json
  frontend/stub/__files/response-client-search.json
Labels: frontend, javascript

test: fix tests
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript
