Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat(fe:autocomplete): adding useFetch function (#331)
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/handlers/ches/ChesHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientCountryCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientProvinceCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/openmaps/OpenMapsHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/orgbook/OrgBookIncorporationHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/orgbook/OrgBookNameHandler.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/endpoints/orgbook/OrgBookHandlerIntegrationTest.java
  backend/src/test/resources/application-default.yml
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/services/forestClient.service.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

chore: fixing swagger
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
Labels: source, backend, java

chore: updating response to be uniform
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

chore: updating schema info
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientNameCodeDto.java
Labels: source, backend, java

feat: list contact type codes (#330)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientNameCodeDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ContactTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/ches/ChesHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ContactTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: tests, source, backend, java

doc: updating legacy readme
  legacy/README.md
Labels: none

Update package.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: fixing endpoint naming to plural
  backend/src/main/java/ca/bc/gov/app/configuration/RouteConfiguration.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
Labels: source, configuration, backend, java

chore: updating codeowners
  .github/CODEOWNERS
Labels: github_actions

fix: fixing tests
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: tests, backend, java

fix: adding filter to remove dupped values
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
Labels: source, backend, java

feat(fe):
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
Labels: source, frontend, javascript

feat(fe): (#338)
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
Labels: source, frontend, javascript

fix: fixing endpoint naming to plural (#337)
  .github/CODEOWNERS
  backend/src/main/java/ca/bc/gov/app/configuration/RouteConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookNameDto.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: github_actions, tests, source, configuration, backend, java

Update package.json
  frontend/package.json
Labels: configuration, frontend, javascript

Update package.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: fixing endpoint naming to plural (#337)
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

fix: fixing endpoint naming to plural (#337) (#339)
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

feat: adding province autocomplete
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormSelect.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/services/EventBus.ts
  frontend/src/services/FetchService.ts
Labels: source, frontend, javascript

chore: fixing autocomplete company info
  frontend/src/services/FetchService.ts
Labels: source, frontend, javascript

chore: smal changes for autocomplete
  frontend/src/common/FormAutocomplete.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

chore: smal changes for autocomplete
  frontend/src/common/FormAutocomplete.vue
  frontend/src/core/FormType.ts
  frontend/src/services/EventBus.ts
Labels: source, frontend, javascript

fix(be): - Added missing field - Renamed variable - Deleted unneeded fields
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/store/newclientform/FormData.ts
Labels: source, configuration, frontend, backend, java, javascript

feat: adding province load (#343)
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormSelect.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/services/EventBus.ts
  frontend/src/services/FetchService.ts
Labels: source, frontend, javascript

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update package.json
  frontend/package.json
Labels: configuration, frontend, javascript

Feat/be/data model (#348)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/store/newclientform/FormData.ts
Labels: source, configuration, frontend, backend, java, javascript

fix: fixing autocomplete min size
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
Labels: source, frontend, javascript

fix: fixing autocomplete min size (#349)
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
Labels: source, frontend, javascript

feat(fe):
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

feat(fe):
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

feat(fe): Added contact types and recursive function (#350)
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

feat: adding autocomplete code to model
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/services/FetchService.ts
Labels: source, frontend, backend, java, javascript

feat: adding autocomplete code to model (#351)
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/services/FetchService.ts
Labels: source, frontend, backend, java, javascript

feat: persist client information in postgres
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: tests, source, backend, java

Fix imports
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: tests, source, backend, java

Add test annotation
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: tests, backend, java

Fix test route
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: tests, backend, java

Update entities id type
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
Labels: source, backend, java

Dial down Dependabot updates to weekly
  .github/dependabot.yml
Labels: github_actions

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
