Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix: fixing address autocomplete info
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

chore: adding config to workspace
  frontend/.devcontainer/frontend.code-workspace
Labels: frontend, javascript

fix(FSADT1-862): adding global notification for errors
  frontend/src/helpers/validators/ExternalFormValidations.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

fix: fixing progress indicator navigation
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix(FSADT1-863): trimming whitespace on address
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

fix(FSADT1-863): fixing address details whitespace
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
Labels: source, backend, java

fix(FSADT1-870): limiting the amount of contact/address
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

fix: fixing contact/address size
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

fix: fixing progress state when error
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore(deps): update dependency com.github.tomakehurst:wiremock-jre8-standalone to v2.35.1 [security]
  backend/pom.xml
  legacy/pom.xml
Labels: backend, java

fix: fixing error notification
  frontend/components.d.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/ExternalFormValidations.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/mappings/backend.json
Labels: source, frontend, javascript

fix: fixing dropdown
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

fix: fixing multi select
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: updating stubs to add more addresses
  frontend/stub/__files/.gitkeep
  frontend/stub/__files/response-address-A3F0B5.json
  frontend/stub/__files/response-address-B4X9S7.json
  frontend/stub/__files/response-address-B5V6L4.json
  frontend/stub/__files/response-address-C2L3W7.json
  frontend/stub/__files/response-address-C5T3I9.json
  frontend/stub/__files/response-address-E2A9U5.json
  frontend/stub/__files/response-address-F2L6B3.json
  frontend/stub/__files/response-address-F8P0K6.json
  frontend/stub/__files/response-address-G3F6J5.json
  frontend/stub/__files/response-address-G4C8E2.json
  frontend/stub/__files/response-address-I1R9Y6.json
  frontend/stub/__files/response-address-M2W5E5.json
  frontend/stub/__files/response-address-P0Y9A3.json
  frontend/stub/__files/response-address-P5Q7S4.json
  frontend/stub/__files/response-address-R0K7W4.json
  frontend/stub/__files/response-address-T7R2X0.json
  frontend/stub/__files/response-address-U2E6Y1.json
  frontend/stub/__files/response-address-U3H8X8.json
  frontend/stub/__files/response-address-U4Y1G4.json
  frontend/stub/__files/response-address-V8V8V8.json
  frontend/stub/__files/response-address-X4I6G7.json
  frontend/stub/__files/response-address-detail.json
  frontend/stub/__files/response-address-search.json
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

fix: fixing dropdown not changing when selection change
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

feat: add formErrors variable
  frontend/src/helpers/validators/ExternalFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
Labels: source, frontend, javascript

chore: redoing css changes - Part #1
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: display address extra errors
  frontend/src/helpers/validators/ExternalFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
Labels: source, frontend, javascript

feat: move extra errors to the error component
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: redoing css changes - Part #2
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

feat: submission list page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ReviewApplicationPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/routes.ts
  frontend/stub/__files/response-submissions-page0.json
  frontend/stub/__files/response-submissions-page1.json
  frontend/stub/__files/response-submissions-page2.json
  frontend/stub/__files/response-submissions-page3.json
  frontend/stub/__files/response-submissions-page4.json
  frontend/stub/__files/response-submissions-page5.json
  frontend/stub/__files/response-submissions-search.json
  frontend/stub/mappings/backend.json
Labels: source, configuration, frontend, javascript

feat(FSADT1-830): changing the table
  frontend/src/pages/SubmissionListPage.vue
  frontend/stub/__files/response-submissions-page0.json
Labels: frontend, javascript

feat: replace formErrors argument with notification approach
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/helpers/validators/ExternalFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
Labels: source, frontend, javascript

feat: scroll to new contact
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

feat: add callback argument to useFocus
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

feat: make the bindings to create and scroll to new contact
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: minor adjusments on useFocus
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

chore: redoing css changes - Part #3
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ErrorPage.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/NotFoundPage.vue
  frontend/src/pages/ReviewApplicationPage.vue
  frontend/src/pages/UserLoadingPage.vue
Labels: frontend, javascript

chore: redoing css changes - Part #4
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: test the validation function and the error component
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
  frontend/tests/unittests/helpers/validators/ExternalFormValidations.spec.ts
Labels: frontend, javascript

fix: update contactType value on select
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

test: ignore already valid location
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

test: remove outdated test
  frontend/tests/unittests/components/forms/MultiselectInputComponent.spec.ts
Labels: frontend, javascript

chore(deps): update dependency com.github.tomakehurst:wiremock-jre8-standalone to v2.35.1 [security] (#575)
  backend/pom.xml
  legacy/pom.xml
Labels: backend, java

feat: add parameter for the shadow directive
  frontend/src/helpers/CustomDirectives.ts
Labels: source, frontend, javascript

feat: display progress indicator vertically
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

FSADT1-868: Allowed special characters. Done olnly in the Frontend as the Backend was already allowing special charactes.
  frontend/src/helpers/validators/ExternalFormValidations.ts
Labels: source, frontend, javascript

test: add getMany command
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

test: add progress indicator tests
  frontend/cypress.config.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
Labels: tests, frontend, javascript

fixed inline notification colors
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript
