Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test: adding new test cases
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: none

test(FSADT1-973): updating tests to reflect new flows
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
Labels: none

chore: refactored a line of code
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
Labels: none

test: adding missing tests
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
Labels: none

feat(FSADT1-973): updating tests and adding bc registry
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessRequestDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessTypeDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestBodyDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestDocumentDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestResponseDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryExceptionMessageDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficerDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryRoleDto.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/exception/InvalidAccessTokenException.java
  processor/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  processor/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/processor/SoleProprietorProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/resources/application-default.yml
Labels: none

feat: - Changes described in FSADT1-995
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: (#614)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

chore(FSADT1-973): updating some tests
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/bcregistry/BcRegistryServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: none

fix: allow the left side nav to be covered by the backdrop
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

fix: remove trailing white-space in link
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

ci(FSADT1-973): adding bc registry info to processor
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  processor/openshift.deploy.yml
Labels: openshift

fix(FSADT1-973): fixing bcregistry config
  processor/src/main/resources/application.yml
Labels: none

fix: removing dependency with conflict
  backend/pom.xml
Labels: backend, java

chore(deps): update maven all non-major dependencies (#601)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix: show side nav drawer above the main content
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: fixing latest update issues
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.vite-config.json
Labels: configuration, frontend, javascript

chore: removing config
  frontend/tsconfig.json
Labels: configuration, frontend, javascript

fix: hide menu button when not idir
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: adjust right margin and height in the header
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

chore(deps): update all non-major dependencies (#603)
  backend/.mvn/wrapper/maven-wrapper.properties
  common/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.vite-config.json
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
Labels: configuration, frontend, backend, java, javascript

chore(deps): update all non-major dependencies (#603)
  backend/.mvn/wrapper/maven-wrapper.properties
  common/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.vite-config.json
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
Labels: configuration, frontend, backend, java, javascript

chore: updating package lock
  frontend/package-lock.json
Labels: configuration, frontend, javascript

chore(deps): update dependency @types/node to v20 (#605)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-973): adding doing business as matcher
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ClientDoingBusinessAsRepository.java
  processor/src/main/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcherTest.java
Labels: none

fix: move page content away from the header
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Made code reviews
  frontend/src/components/MainHeaderComponent.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

[FSADT1-970] Page content at the top is covered by the header (#617)
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

[FSADT1-930] Some UI/UX adjustments that were missing in the first PR (#615)
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

feat: - Changed requested on FSADT1-1000 - Updated Cypress
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/FormBCSCPage.vue
Labels: configuration, frontend, javascript

Fixed style for medium screens
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

FSADT1-1000: Move Add Contact button at the bottom when clicking it (#618)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
Labels: configuration, frontend, javascript

FSADT1-1001
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

FSADT1-1001 (#619)
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat(be): - As decribed in FSADT1-999
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  frontend/src/pages/FormBCeIDPage.vue
Labels: tests, source, frontend, backend, java, javascript

Included Individuals in the validations
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

feat: add condition to show the logout modal
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: source, frontend, javascript

fix: adjust menu icon style
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: fixing DBA test
  processor/src/test/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcherTest.java
Labels: none

feat(FSADT1-999): adding dob processing to Sole Prop
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/service/processor/SoleProprietorProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/processor/SoleProprietorProcessorMatcherTest.java
Labels: none

fix: move the page content after the header
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
