Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Update backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, backend, java

fix(FSADT1-1946): Update backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

fix: differentiate url patterns for github actions
  frontend/stub/mappings/client_details.json
  frontend/stub/mappings/related_client.json
Labels: frontend, javascript

feat(fe:FSADT1-1948): Display the list of locations that contain related clients (#1699)
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/package.json
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/details/related-client-sample.json
  frontend/stub/mappings/client_details.json
  frontend/stub/mappings/related_client.json
  frontend/tests/unittests/pages/ClientDetailsPage.spec.ts
Labels: tests, configuration, frontend, javascript

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update pom.xml
  legacy/pom.xml
Labels: none

Update pom.xml
  processor/pom.xml
Labels: none

feat(FSADT1-1946): adding autocomplete search for related clients (#1702)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  frontend/stub/__files/details/related-client-search-james-JV.json
  frontend/stub/__files/details/related-client-search-james-SH.json
  frontend/stub/__files/details/related-client-search-james.json
  frontend/stub/mappings/related_client.json
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchRelatedClientIntegrationTest.java
Labels: tests, source, frontend, backend, java, javascript

feat(be:FSADT1-1945): Added relationship types - Part #1
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  frontend/components.d.ts
  frontend/src/pages/SearchPage.vue
  legacy/src/main/java/ca/bc/gov/app/controller/ClientCodesController.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientRelationshipCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientRelationshipCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientCodeService.java
Labels: source, frontend, backend, java, javascript

no message
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

chore: Added tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientCodesControllerIntegrationTest.java
Labels: tests, backend, java

chore(fe): Added stubs
  frontend/stub/__files/response-relationship-types-A.json
  frontend/stub/__files/response-relationship-types-C.json
  frontend/stub/__files/response-relationship-types-P.json
  frontend/stub/__files/response-relationship-types-dummy.json
  frontend/stub/mappings/codes.json
Labels: frontend, javascript

feat(FSADT1-1945): List related clients relationship codes (#1704)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  frontend/components.d.ts
  frontend/stub/__files/response-relationship-types-A.json
  frontend/stub/__files/response-relationship-types-C.json
  frontend/stub/__files/response-relationship-types-P.json
  frontend/stub/__files/response-relationship-types-dummy.json
  frontend/stub/mappings/codes.json
  legacy/src/main/java/ca/bc/gov/app/controller/ClientCodesController.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientRelationshipCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientRelationshipCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientCodeService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientCodesControllerIntegrationTest.java
Labels: tests, source, frontend, backend, java, javascript

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update pom.xml
  legacy/pom.xml
Labels: none

Update pom.xml
  processor/pom.xml
Labels: none

chorre(fe): Fixed code scanning alert "Exceptions should not be ignored"
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

chore(be): Fix CVE-2025-48924 vulnerability
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(be): Fix CVE-2025-48924 vulnerability
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@e4b8b03a02daf1eed6c23df7a0ef90ef7cd791cf 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update pom.xml
  legacy/pom.xml
Labels: none

Update pom.xml
  processor/pom.xml
Labels: none

chore(be): Fix CVE-2025-48924 vulnerability (#1707)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(fe): Fixed code scanning alert "Exceptions should not be ignored" (#1706)
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

feat: add related client data structures and update client details page
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  legacy/docs/patch-updates.md
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: source, frontend, javascript

feat: add related clients mapping to ForestClientDetailsDto and update client details retrieval
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

chore: Fixed vulnerability CVE-2025-22227 (#340)
  api/pom.xml
Labels: none

chore: Fixed vulnerability CVE-2025-22227 (#344)
  api/pom.xml
Labels: none

chore: Fixed vulnerability CVE-2025-22227
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore: Fixed vulnerability CVE-2025-22227 (#1712)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): Fix CVE-2025-7783 - Transitive dependency form-data 4.0.1
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): Fix CVE-2025-7783 - Transitive dependency form-data 4.0.1 (#1714)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: Fix CVE-2025-7783 - Transitive dependency form-data 4.0.1 (#1714)
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore: Fix CVE-2025-7783 - Transitive dependency form-data 4.0.1 (#1715)
  cypress/package-lock.json
  cypress/package.json
Labels: none

feat(fe:FSADT1-1960):Default contact type is BILLING
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: source, frontend, javascript
