Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

fix: fixing param name
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

Fixed code smell issues
  backend/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed code smell issues
  backend/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Create unit test
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, source, backend, java

chore: forcing update
  README.md
Labels: none

Changed annotation
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, backend, java

Renamed file as it had a typo
  frontend/tests/unittests/pages/bceidform/RevieWizardStep.spec.ts
Labels: frontend, javascript

chore: apply custom directives to unit tests
  frontend/src/directivesMap.ts
  frontend/src/main.ts
  frontend/vite.config.ts
  frontend/vitest.setup.ts
Labels: source, configuration, frontend, javascript

Fixed some smell issues
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DataFetcher.vue
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: source, configuration, frontend, backend, java, javascript

test: attempt to fix test on github actions
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

Made more code reviews
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: frontend, javascript

Made more code reviews
  frontend/src/components/DataFetcher.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: frontend, javascript

chore: adjust Application submitted breakpoints
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormSubmittedPage.vue
Labels: frontend, javascript

chore: adjust margins on Application submitted
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormSubmittedPage.vue
Labels: frontend, javascript

fix: adjust header buttons breakpoint
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Added more coverage
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: frontend, javascript

Beautified CSS file
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

chore(deps): update dependency @cypress/webpack-preprocessor to v6 (#579)
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore: updating ignore files
  legacy/.gitignore
Labels: none

fix: fixing rebase
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

deps: bump Trivy action (#186)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/unit-tests.yml
Labels: none

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.4 (#184)
  api/pom.xml
Labels: none

fix: remove contact with null as first name
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: frontend, javascript

test: delete contact with null as firstName
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: frontend, javascript

test: improve test readability
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: frontend, javascript

fix(deps): update dependency org.testcontainers:testcontainers-bom to v1.19.1 (#185)
  api/pom.xml
Labels: none

chore(deps): update testcontainers-java monorepo to v1.19.1
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.5
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(deps): update dependency @vue/eslint-config-typescript to v12
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps): update dependency com.github.tomakehurst:wiremock-jre8-standalone to v3
  backend/pom.xml
  legacy/pom.xml
Labels: backend, java

chore(deps): update dependency wiremock to v3
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: fixing merge conflicts
  frontend/package-lock.json
  frontend/src/assets/styles/global.scss
  frontend/src/helpers/DataConversors.ts
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, configuration, frontend, javascript

[FSADT1-931] Deleting contact with null as firstName (#580)
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: frontend, javascript

Fast commit to switch branches
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

fix: make progress step not look like a link
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Made code reviews
  frontend/components.d.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: source, frontend, javascript

chore(deps): update testcontainers-java monorepo to v1.19.1 (#581)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

no message
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

Made more code reviews
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: frontend, javascript

fix: Fixed cypress test
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
