Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

ci: fixing workflow
  .github/workflows/unit-tests.yml
Labels: none

ci: renaming reusable workflows
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/reusable-tests-repo.yml
  .github/workflows/unit-tests.yml
Labels: none

ci: fixing workflow dispatch
  .github/workflows/unit-tests.yml
Labels: none

feat: make date-input labels accessible
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

ci: testing artifact passing
  .github/workflows/reusable-tests-be.yml
  .github/workflows/unit-tests.yml
Labels: none

ci: fixing workflow
  .github/workflows/unit-tests.yml
Labels: none

ci: adding continue on error
  .github/workflows/unit-tests.yml
Labels: none

ci: adding fe coverage
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: forcing changes on folder
  backend/README.md
  frontend/README.md
Labels: frontend, backend, java, javascript

ci: testing file lookup
  .github/workflows/reusable-tests-be.yml
Labels: none

ci: testing
  .github/workflows/reusable-tests-be.yml
Labels: none

ci: test
  .github/workflows/reusable-tests-be.yml
Labels: none

ci: test
  .github/workflows/reusable-tests-be.yml
Labels: none

ci: test
  .github/workflows/reusable-tests-be.yml
Labels: none

chore: test and forcing edit
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
Labels: source, backend, java

chore: testing
  .github/workflows/reusable-tests-be.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: fixing reusable
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/unit-tests.yml
Labels: none

ci: adding it to merge main
  .github/workflows/merge-main.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/unit-tests.yml
Labels: none

fix(fe:FSADT1-1207): Link is not working properly (per client number)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

fix(fe:FSADT1-1207): Link is not working properly (per client number) (#813)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

ci: making test files reusable (#812)
  .github/workflows/merge-main.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/reusable-tests-repo.yml
  .github/workflows/unit-tests.yml
  backend/README.md
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  frontend/README.md
Labels: source, frontend, backend, java, javascript

feat: make multiselect-input labels accessible
  frontend/src/components/forms/MultiselectInputComponent.vue
Labels: frontend, javascript

chore: remove console log
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
Labels: frontend, javascript

feat: style multiselect-input labels
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: use Carbon aria-label
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

feat(fe:FSADT1-1215): Changes in the accept/reject buttons
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1213): Change uppercase text to mixed case
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/fixtures/test-case-review-all.json
  frontend/cypress/fixtures/test-case-review-auto-approved.json
  frontend/cypress/fixtures/test-case-review-contact.json
  frontend/cypress/fixtures/test-case-review-goodstanding.json
  frontend/cypress/fixtures/test-case-review-incorporationName.json
  frontend/cypress/fixtures/test-case-review-registrationNumber.json
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/stub/__files/response-submissions-details-approved.json
  frontend/stub/__files/response-submissions-details-dupped.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

Fixed test file
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
Labels: tests, frontend, javascript

feat(fe:FSADT1-1215): Changes in the accept/reject buttons (#815)
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

fix: add missing required attribute to fields
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: set aria-label without the required word
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

feat: indicate mullti-select as required
  frontend/src/components/forms/MultiselectInputComponent.vue
Labels: frontend, javascript

feat: add aria-label to Clear buttons
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

fix(FSADT1-1212|FSADT1-1206): adding cognito lib to FE
  frontend/package-lock.json
  frontend/package.json
  frontend/src/CoreConstants.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/main.ts
  frontend/src/pages/LandingPage.vue
  frontend/src/routes.ts
Labels: source, configuration, frontend, javascript

fix: add required attribute
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

Fixed issue related to FSADT1-1189
  frontend/src/helpers/DataConversors.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

Made another fix related to FSADT1-1189
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

fix: prevent test failures due to missing shadowRoot
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

test: update tests to work with Carbon 2.3
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: tests, frontend, javascript

Removed duplicated code and use only 1 function
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
