Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

ci(deps): updating deployer and workflows
  .github/workflows/analysis.yml
  .github/workflows/issue-gherkin.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/reusable-doc-gen.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/reusable-tests-repo.yml
  .github/workflows/scheduled.yml
Labels: none

ci(deps): updating deployer and workflows (#1185)
  .github/workflows/analysis.yml
  .github/workflows/issue-gherkin.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/reusable-doc-gen.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/reusable-tests-repo.yml
  .github/workflows/scheduled.yml
Labels: none

chore(ci): handle gh runner oc removal
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: none

fix: fix date validation for pasted/autocompleted values
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

fix: validate date of birth on revalidate event
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

test: remove .only
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

fix: reset validation when the selected Client name changes
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, frontend, javascript

fix: fix cypress commands declaration
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

fix(fe: FSADT1-1488): revalidate the date value properly (#1188)
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

chore: upgraded vue
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgraded types/node
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgrade vue (#1193)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: update support/client2 with main (#1192)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(fe:FSADT1-1508): reset validation when the selected Client name changes (#1191)
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/cypress/support/cypress.d.ts
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, frontend, javascript

fix(fe: FSADT1-1421): fix date validation for pasted/autocompleted values (#1187)
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

chore: upgrade types node (#1194)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgraded sass
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: updgraded carbon pictograms
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: stop validation when any parts have errors
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

fix(fe): stop date validation when part of it has an error (#1197)
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

chore: upgraded sass (#1195)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgraded carbon styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/SearchPage.vue
Labels: configuration, frontend, javascript

Delete frontend/src/pages/SearchPage.vue
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

chore: upgrade carbon pictograms (#1196)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgrade carbon styles (#1198)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgraded carbon web components
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgrade vue and cypress coverage
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgrade vue and cypress coverage (#1200)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(FSADT1-1514): fixed doing business as processing (#1177)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@8b3563383c41643a2a7b5c80f7660c2bbcaff857 🚀
  index.html
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

no message
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

no message
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

no message
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

no message
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListDto.java
  frontend/src/pages/SearchPage.vue
Labels: source, frontend, backend, java, javascript

fix: prevent error on Date of birth before using it
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

fix(fe:FSADT1-1508): prevent error on Date of birth before using it (#1204)
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@ce75def9301653be252b05fde193a31d40404084 🚀
  schema/index.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

Renamed variable
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  frontend/src/pages/SearchPage.vue
Labels: source, frontend, backend, java, javascript

chore: small code cleanup
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientCodeService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientCountryProvinceService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientDistrictService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientCodeServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientCountryProvinceServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientDistrictServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, source, backend, java
