Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: js-yaml has prototype pollution in merge (#1866)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(ci): add ca certs to backend Dockerfile
  backend/Dockerfile
Labels: backend, java

fix: update CA certificates in Dockerfile and configure PostgreSQL SSL
  backend/Dockerfile
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

fix: restructure Dockerfile certificate update for security scanner compliance
  backend/Dockerfile
Labels: backend, java

refactor: simplify Dockerfile to use microdnf only
  backend/Dockerfile
Labels: backend, java

chore: temporarily disable checkstyle build failure for urgent certificate fix
  backend/pom.xml
Labels: backend, java

fix: handle empty JSON strings in converters and change Flyway SSL mode to prefer
  backend/src/main/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvert.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

revert: restore checkstyle failsOnError to true
  backend/pom.xml
Labels: backend, java

revert: restore converter classes to original state
  backend/src/main/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvert.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
Labels: source, backend, java

fix: improve certificate bundling for GraalVM native image
  backend/Dockerfile
Labels: backend, java

fix: improve certificate import process with better logging
  backend/Dockerfile
Labels: backend, java

fix: improve certificate import error handling and filename safety
  backend/Dockerfile
Labels: backend, java

fix: add SSL configuration to R2DBC connection URL
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

feat: add debugging for Sectigo and Entrust certificate detection
  backend/Dockerfile
Labels: backend, java

fix: add cert during build
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java, openshift

fix: Update .github/workflows/.deploy.yml
  .github/workflows/.deploy.yml
Labels: none

Refactor Canada Post cert injection in deployment workflow
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat: download and import Sectigo root CA certificate for Canada Post
  backend/Dockerfile
Labels: backend, java

fix: Pass Canada Post PEM via workflow inputs
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: none

fix: secret
  .github/workflows/.deploy.yml
Labels: none

fix: use official crt.sh URL to download Sectigo root CA certificate
  backend/Dockerfile
Labels: backend, java

refactor: simplify Dockerfile certificate handling
  backend/Dockerfile
Labels: backend, java

feat(ssl): import Sectigo R46 root via build arg secret (no committed PEM)
  backend/Dockerfile
Labels: backend, java

ci: pass SECTIGO_R46_PEM as build-arg to backend build (use secret, no PEM in repo)
  .github/workflows/.tools-deploy.yml
  .github/workflows/pr-open.yml
Labels: none

fix: indent
  .github/workflows/.tools-deploy.yml
  backend/Dockerfile
Labels: backend, java

fix: improve Dockerfile certificate handling reliability
  backend/Dockerfile
Labels: backend, java

fix/Update backend/Dockerfile
  backend/Dockerfile
Labels: backend, java

fix: Update backend/Dockerfile
  backend/Dockerfile
Labels: backend, java

fix: Update backend/Dockerfile
  backend/Dockerfile
Labels: backend, java

Revert "fix: Update backend/Dockerfile"
  backend/Dockerfile
Labels: backend, java

fix: canada post pem (#1872)
  .github/workflows/.tools-deploy.yml
  .github/workflows/pr-open.yml
  backend/Dockerfile
Labels: backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@bb8e9ffe158005b2272d21d0b1ea89a0e770c76d 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

fix: enhance health indicators to include detailed state and error information
  backend/src/main/java/ca/bc/gov/app/health/BcRegistryApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/CanadaPostApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/ChesHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/HealthExchangeFilterFunction.java
  backend/src/main/java/ca/bc/gov/app/health/LegacyApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/ProcessorApiHealthIndicator.java
Labels: source, backend, java

Downgrade versions in pom.xml dependencies
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.17.0 to 11.11.1
  legacy/pom.xml
Labels: none

Downgrade reactor-netty-http and netty-bom versions
  legacy/pom.xml
Labels: none

Downgrade versions for Flyway and Reactor Netty
  processor/pom.xml
Labels: none

fix(FSADT1-2005): Fixed code when the client is an individual
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

Removed unused import
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
