Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Removed wrong style
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: update contactType value on select
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

feat: scroll to new contact
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

Added property needed
  frontend/src/App.vue
Labels: frontend, javascript

feat: make the bindings to create and scroll to new contact
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

FSADT1-868: Allowed special characters. Done olnly in the Frontend as the Backend was already allowing special charactes.
  frontend/src/helpers/validators/ExternalFormValidations.ts
Labels: source, frontend, javascript

feat: display progress indicator vertically
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

test: test the validation function and the error component
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
  frontend/tests/unittests/helpers/validators/ExternalFormValidations.spec.ts
Labels: frontend, javascript

chore: minor adjusments on useFocus
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

feat: add callback argument to useFocus
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

feat: add parameter for the shadow directive
  frontend/src/helpers/CustomDirectives.ts
Labels: source, frontend, javascript

fixed inline notification colors
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: add getMany command
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

test: ignore already valid location
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

test: add progress indicator tests
  frontend/cypress.config.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
Labels: tests, frontend, javascript

test: remove outdated test
  frontend/tests/unittests/components/forms/MultiselectInputComponent.spec.ts
Labels: frontend, javascript

Renamed some files before refactoring code
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tsconfig.app.json
Labels: source, configuration, frontend, javascript

fix: do not always block response from older request
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

refactor: unify code for the logout button in different sizes
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Fixed mask issue with the postal code
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

feat: show logout modal
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Removed unneeded setting
  frontend/src/App.vue
Labels: frontend, javascript

Fixed file
  frontend/package-lock.json
Labels: configuration, frontend, javascript

chore: remove console.log
  frontend/src/helpers/CustomDirectives.ts
Labels: source, frontend, javascript

Revert "Removed class that was causing issues with the logout button"
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: prevent an older request from overwriting the results
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

Removed class that was causing issues with the logout button
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: show help modal
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Made requiered changes
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Fixed logout button
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Made code reviews
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

feat: adjust header logo and buttons
  frontend/public/img/BCID_H_rgb_rev.svg
  frontend/public/img/logo-vertical 1.svg
  frontend/public/img/logo1.svg
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

chore: use simple counter to generate requestId
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

Added javadoc comment as per requested by SonarCloud
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

feat: adjust header spaces and breakpoints
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: use media query instead of outerWidth to determine screen size
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: init fetching
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

no message
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: frontend, javascript

Removed repeatead code
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: adjust header buttons
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
