Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

doc/frontend: added setup documentation
  README.md
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/public/docs/vscode-extension-prettier.png
  frontend/public/docs/vscode-extension-volar.png
  frontend/public/img/bc_for_logo.png
  frontend/public/img/favicon.ico
  frontend/src/assets/global.css
  frontend/src/common/MainHeader.vue
Labels: configuration, frontend, javascript

fix/frontend: added type for common components
  frontend/src/common/ConfirmModal.vue
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/FormUpload.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExamples.vue
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
Labels: source, frontend, javascript

fix: fixing deploy to main
  .github/workflows/merge-main.yml
Labels: none

Update deployer action to v1.0.0
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

ci: updating merge to mai deploy
  .github/workflows/merge-main.yml
Labels: none

Update deployer action params
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

fix: fixing deploy to main (#233)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

fix/frontend: added type for page components
  frontend/package.json
  frontend/src/App.vue
  frontend/src/core/AppType.ts
  frontend/src/pages/HomePage.vue
  frontend/src/pages/MyApplicationPage.vue
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: source, configuration, frontend, javascript

fix/frontend: add type to unit tests
  frontend/src/common/FormSelect.vue
  frontend/src/core/AppType.ts
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCheckboxGroup.spec.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormRadioGroup.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: tests, source, frontend, javascript

test/frontend: add test for formcomponentoptions
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormTable.vue
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: tests, source, frontend, javascript

fix/pipeline: ignore frontend pages folder in unit test for now, cause the ux design is compeletely different
  .github/workflows/unit-tests.yml
Labels: none

Sonar params
  .github/workflows/unit-tests.yml
Labels: none

Fix/Doc/Frontend: add documentation for frontend, add missing types (#235)
  .github/workflows/unit-tests.yml
  README.md
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/docs/vscode-extension-prettier.png
  frontend/public/docs/vscode-extension-volar.png
  frontend/public/img/bc_for_logo.png
  frontend/public/img/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/global.css
  frontend/src/common/ConfirmModal.vue
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/FormUpload.vue
  frontend/src/common/MainHeader.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExamples.vue
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/pages/HomePage.vue
  frontend/src/pages/MyApplicationPage.vue
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCheckboxGroup.spec.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormRadioGroup.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: tests, source, configuration, frontend, javascript

feat/frontend: added placeholder, example for hardcode validation error
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: source, frontend, javascript

refactor/frontend: rename column id to subfield id for repeatable form sections
  frontend/README.md
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/core/AppType.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
Labels: tests, source, frontend, javascript

cleanup/frontend: remove unused import
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: frontend, javascript

Feat/frontend/validation placeholder (#244)
  frontend/README.md
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
Labels: tests, source, frontend, javascript

refactor/frontend: renamed variable
  frontend/README.md
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
Labels: tests, source, frontend, javascript

fix/frontend: Deleted line as per requested
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
Labels: frontend, javascript

refactor/frontend: renamed variable (#245)
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
Labels: frontend, javascript

package-lock.json
  frontend/package-lock.json
Labels: configuration, frontend, javascript

Merge #59: feat: Upgrade Spring Boot to version 3.0.0 (#65)
  api/.gitignore
  api/pom.xml
  api/src/main/java/ca/bc/gov/api/core/configuration/OraclePersistenceConfiguration.java
  api/src/main/java/ca/bc/gov/api/core/configuration/SwaggerConfiguration.java
  api/src/main/java/ca/bc/gov/api/core/repository/CoreRepository.java
  api/src/main/java/ca/bc/gov/api/core/util/impl/CoreUtilImpl.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/controller/LegacyClientController.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/dao/ClientPublicViewDao.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/dao/impl/ClientPublicViewDaoImpl.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/entity/ClientPublicViewEntity.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/entity/ClientStatusCodeEntity.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/entity/ClientTypeCodeEntity.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/repository/ClientPublicViewRepository.java
  api/src/main/java/ca/bc/gov/api/m/oracle/legacyclient/service/impl/LegacyClientServiceImpl.java
  api/src/test/java/ca/bc/gov/api/m/oracle/legacyclient/controller/LegacyClientControllerTest.java
  api/src/test/java/ca/bc/gov/api/m/oracle/legacyclient/service/impl/LegacyClientServiceImplTest.java
Labels: none

PR open and close cancel each other
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: none

PR open and close cancel each other (#250)
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: none

feat(be:FSADT1-500): creating legacy forest client
  legacy/.gitignore
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/Dockerfile
  legacy/mvnw
  legacy/mvnw.cmd
  legacy/openshift.deploy.yml
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/RouteConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicFilterObjectDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientTypeCodes.java
  legacy/src/main/java/ca/bc/gov/app/dto/FirstNationBandVidationDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/PropertyDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientDoingBusinessAsEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientPublicViewEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/exception/MissingRequiredParameterException.java
  legacy/src/main/java/ca/bc/gov/app/handlers/BaseHandler.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ClientSearchIncorporationHandler.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ClientSearchNameBirthHandler.java
  legacy/src/main/java/ca/bc/gov/app/handlers/GlobalErrorHandler.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/routes/BaseRouter.java
  legacy/src/main/java/ca/bc/gov/app/routes/ClientSearchRouter.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/util/HandlerUtil.java
  legacy/src/main/resources/application.properties
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/LegacyApplicationTests.java
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/resources/application-default.yml
  legacy/src/test/resources/logback-test.xml
Labels: openshift

feat(be:FSADT1-500): adding some other apis
  legacy/config/application.yml
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookNameDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookResultListResponse.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientStatusCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientBandsHandler.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientBusinessHandler.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/routes/ForestClientRouter.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
Labels: none

feat(be:FSADT1-500): adding last endpoint
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookResultListResponse.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientUnregisteredHandler.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
Labels: none

fix(fe:FSADT1-539): - refactor form section schemas, form initial data, functions into different folders refs: #89
  frontend/src/helpers/formvalidation/MissingFieldCheck.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formdata/NewClientData.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/AuthorizedSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/BeginSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/ContactSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidation/RequiredFields.ts
Labels: source, frontend, javascript

refactor(fe:FSADT1-539): - refactor the form data and update form value functions to be global states, refs: #255
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/helpers/FormState.ts
  frontend/src/helpers/formvalidation/AddErrorToSchema.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formdata/NewClientData.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: source, frontend, javascript

Frontend: Renamed some names and files
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: frontend, javascript

ci: updating workflows (#67)
  api/.github/dependabot.yml
  api/.github/labeler.yml
  api/.github/workflows/merge-dev.yml
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-close.yml
  api/.github/workflows/pr-open.yml
  api/.github/workflows/unit-tests.yml
  api/pom.xml
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/ClientNotFoundException.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/InvalidClientNumberException.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/exception/NoSearchParameterFound.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
Labels: none

refactor(fe:FSADT1-539): - refactor some validation function - update the validation result type refs: #255
  frontend/package-lock.json
  frontend/package.json
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/helpers/FormState.ts
  frontend/src/helpers/formvalidation/AddErrorToSchema.ts
  frontend/src/helpers/formvalidation/MissingFieldCheck.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
Labels: source, configuration, frontend, javascript

Frontend: Renamed some names and files (#256)
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: frontend, javascript

feat/refactor(fe:FSADT1-539): - design global state management - rename type files - add hardcode validation error display as example - add hardcode validation error cleanup as example refs: #255
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormFieldTemplate.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExamples.vue
  frontend/src/core/FormType.ts
  frontend/src/helpers/FormState.ts
  frontend/src/helpers/formvalidation/AddErrorToSchema.ts
  frontend/src/helpers/formvalidation/MissingFieldCheck.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/AuthorizedSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/BeginSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/ContactSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCheckboxGroup.spec.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormRadioGroup.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: tests, source, frontend, javascript

refactor(fe:FSADT1-539): - improve structure of global state management refs: #255
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormValidation.ts
Labels: source, frontend, javascript

fix(fe): - fix form example to open next session
  frontend/src/common/CollapseCard.vue
  frontend/src/store/newclientform/FormValidation.ts
Labels: source, frontend, javascript

feat(fe:FSADT1-539): - add method to update form data when object depth increase, put as comment for now refs: #255
  frontend/src/store/newclientform/FormData.ts
Labels: source, frontend, javascript

feat(fe:FSADT1-539): - added in depth repeatable sections - support in depth form value update for in depth repeatble sections - fix test refs: #255
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsectionschemas/ContactSectionSchema.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: tests, source, frontend, javascript

fix(fe:FSADT1-539): - remove package installed by accident refs: #255
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(fe:FSADT1-539): - support display error message for in-depth form field refs: #255
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormTable.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsectionschemas/ContactSectionSchema.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormValidation.ts
Labels: source, frontend, javascript
