Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: moving packages
  processor/src/main/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/IndividualProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/ProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyLoadingService.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
Labels: none

fix(FSADT1-1039): adding contact matcher
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/ContactMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
Labels: none

fix(FSADT1-1039): adding contact matcher
  processor/src/main/java/ca/bc/gov/app/matchers/ContactMatcher.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
Labels: none

fix: prevent issue when using multiple timed actions
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
Labels: frontend, javascript

test: update tests
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

temp: from heading-05 to heading-new-03
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

temp: from heading-03 to heading-new-05
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

temp: from heading-02 to heading-new-06
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

temp: from heading-01 to heading-new-07
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

refactor: replace heading-0n styles with hn tags
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

refactor: replace .fluid-heading-05 with h4.fluid
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormSubmittedPage.vue
Labels: tests, frontend, javascript

fix(FSADT1-1039): adding contact search test
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V4__manual_data.sql
Labels: none

fix(FSADT1-1042): fixing tests
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
Labels: none

fix(FSADT1-1039): fixing contact test
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
Labels: none

chore: reverting testcontainer due to junit conflict
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

- Upgraded Cypress - Added Cypress test
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: source, configuration, frontend, javascript

fix(FSADT1-1039): updating page to reflect new matchers
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, javascript

chore: updating workspace
  frontend/.devcontainer/frontend.code-workspace
Labels: frontend, javascript

test: Updated test accordingly
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: frontend, javascript

[FSADT1-1040] Apply HTML heading tags to heading styles for Accessibility (#709)
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: tests, frontend, javascript

fix(FSADT1-1059): off-ramping unsupported client types
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientTypeCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/exception/UnsuportedClientTypeException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

[FSADT1-1079] Contacts page title is initially not visible (#708)
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: Updated test accordingly
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: frontend, javascript

feat: replace landing image
  frontend/src/assets/images/pexels-james-wheeler-1544935.jpg
  frontend/src/assets/styles/global.scss
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

feat: adjust landing page layout
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

[FSADT1-885] Client log-in page image (#710)
  frontend/src/assets/images/pexels-james-wheeler-1544935.jpg
  frontend/src/assets/styles/global.scss
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

chore: adding a clean and run coverage command
  frontend/package.json
Labels: configuration, frontend, javascript

Fixed package-lock.json
  frontend/package-lock.json
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: configuration, frontend, javascript

fix: fix confirmation message
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

Downgraded vite as it is not fully supported by Cypress
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Downgraded vite as it is not fully supported by Cypress
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat: align review sections to their text titles
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

fix: fix confirmation message (#714)
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

Rebuilt package-lock.json
  frontend/package-lock.json
Labels: configuration, frontend, javascript

chore: reverting cypress version due to conflict
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: updating deps
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

refactor: use a more expressive class name
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

[FSADT1-1091] Update content alignment in step 4 (#715)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

- Upgraded Cypress version - Removed unneeded code
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: configuration, frontend, javascript

test: updating tests
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/cypress/fixtures/test-case-review-all.json
  frontend/cypress/fixtures/test-case-review-auto-approved.json
  frontend/cypress/fixtures/test-case-review-contact.json
  frontend/cypress/fixtures/test-case-review-goodstanding.json
  frontend/cypress/fixtures/test-case-review-incorporationName.json
  frontend/cypress/fixtures/test-case-review-incorporationNumber.json
  frontend/cypress/fixtures/test-cases-review-submissions.json
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
