Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

fix(FSADT1-1233): fixing address for bcsc
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

fix(FSADT1-1233): fixing address issue (#826)
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix: skip progress steps from tab navigation
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

refactor: use local variable
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix(fe:FSADT1-1006): skip progress steps from tab navigation (#827)
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix: disabling csrf for now
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ForestCsrfCustomizer.java
Labels: source, configuration, backend, java

fix: disabling csrf for now (#828)
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ForestCsrfCustomizer.java
Labels: source, configuration, backend, java

ci: adding zap on the CI for verification
  .github/workflows/pr-open.yml
Labels: none

fix(zap:fe): fixing Content Security Policy (CSP) Header Not Set
  frontend/Caddyfile
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix: updating caddy
  frontend/Caddyfile
Labels: frontend, javascript

fix(FSADT1-1234): adding nonce value
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/entrypoint.sh
  frontend/index.html
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix(FSADT1-1234): fixing index file permission
  frontend/Dockerfile
Labels: frontend, javascript

chore: fixing nonce
  frontend/Dockerfile
  frontend/entrypoint.sh
Labels: frontend, javascript

fix: fixing nonce hash
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/index.html
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix: fixing sha
  frontend/Caddyfile
Labels: frontend, javascript

fix(FSADT1-1234): adding Permission Policy header
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix(FSADT1-1234): adding Strict-Transport-Security header
  frontend/Caddyfile
Labels: frontend, javascript

fix(FSADT1-1234): adding cache contrl and strict transport
  frontend/Caddyfile
  frontend/index.html
Labels: frontend, javascript

feat: read application submitted message
  frontend/src/App.vue
Labels: frontend, javascript

fix(FSADT1-1234): adding some missing headers
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/robots.txt
Labels: frontend, javascript

feat(fe:FSADT1-1006): read application submitted message (#834)
  frontend/src/App.vue
Labels: frontend, javascript

chore: removing some actions
  .github/workflows/pr-open.yml
Labels: none

fix(FSADT1-1234): adding header customizer
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/BaseController.java
  backend/src/main/java/ca/bc/gov/app/security/ForestExchangeCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/ForestHeadersCustomizer.java
Labels: source, controller, configuration, backend, java

chore: adding self url
  backend/openshift.deploy.yml
  backend/src/main/resources/application.yml
Labels: configuration, backend, java, openshift

ci: adding mozilla observatory
  .github/workflows/pr-open.yml
Labels: none

fix(FSADT1-1234): updating headers
  backend/src/main/java/ca/bc/gov/app/controller/BaseController.java
  backend/src/main/java/ca/bc/gov/app/security/ForestExchangeCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/ForestHeadersCustomizer.java
Labels: source, controller, backend, java

ci: fixing ci
  .github/workflows/pr-open.yml
Labels: none

chore: fixing a few bits
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/security/ForestHeadersCustomizer.java
  frontend/Caddyfile
Labels: source, frontend, backend, java, javascript

fix(FSADT1-1234): fixing allowlist
  frontend/Caddyfile
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix(FSADT1-1234): fixing BE headers
  backend/src/main/java/ca/bc/gov/app/security/ForestHeadersCustomizer.java
Labels: source, backend, java

fix(FSADT1-1234): updating headers
  frontend/Caddyfile
  frontend/index.html
Labels: frontend, javascript

feat(fe:FSADT1-1232): Fixed distance between buttons
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

ci: fixing fe
  .github/workflows/pr-open.yml
  frontend/index.html
Labels: frontend, javascript

ci: replacing sha for nonce
  frontend/Caddyfile
  frontend/index.html
Labels: frontend, javascript

feat(fe:FSADT1-1232): Fixed distance between buttons (#835)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

ci: fixing index
  frontend/index.html
Labels: frontend, javascript

ci: fixing caddy
  frontend/Caddyfile
Labels: frontend, javascript

Add to CSP
  frontend/Caddyfile
Labels: frontend, javascript

Remove backend route
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat: follow the expected heading order
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
