Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test additional delivery information
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
Labels: frontend, javascript

initialize validation
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

remove restriction for unique address
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: frontend, javascript

make scrollToElementFn optional
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix delivery information error when returned to the step
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
Labels: frontend, javascript

test delivery information
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
Labels: frontend, javascript

fix province Quebec on stubs
  frontend/stub/__files/response-address-B5V6L4.json
  frontend/stub/__files/response-address-C5T3I9.json
  frontend/stub/__files/response-address-F2L6B3.json
  frontend/stub/__files/response-address-G4C8E2.json
  frontend/stub/__files/response-address-U4Y1G4.json
Labels: frontend, javascript

validate locations on next
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: source, frontend, javascript

remove unnecessary validation
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
Labels: frontend, javascript

style: lint fix code
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
Labels: frontend, javascript

test validation
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

test same name and same address validations
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
Labels: frontend, javascript

chore(deps:Snyk): Upgrade @carbon/icons-vue from 10.90.0 to 10.92.0 (#1022)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

turn autocomplete attribute off on address fields
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
Labels: frontend, javascript

add new address fields
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
Labels: source, frontend, javascript

fix test
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
Labels: frontend, javascript

fix email validation
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

update test
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
Labels: frontend, javascript

fix tests
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
Labels: frontend, javascript

chore: adding github repo to the list
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore: adding github as server
  .github/workflows/reusable-tests-repo.yml
Labels: none

feat: converting processor to native
  processor/Dockerfile
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: none

chore: updating healthchek
  backend/Dockerfile
  legacy/Dockerfile
Labels: backend, java

feat(FSADT1-1342): Display why and who rejected a submission
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

Put label in lower case
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

test: mock responses
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

feat(FSADT1-1342): Display why and who rejected a submission (#1027)
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

feat(FSADT1-1364): added contact search for staff
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ContactSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

feat(FSADT1-1364): added contact match on backend
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ContactSearchDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/ContactStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchLocationControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
Labels: tests, source, backend, java

chore: updating match due to extra phone numbers
  legacy/src/main/java/ca/bc/gov/app/dto/ContactSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

add accordion to additional locations
  frontend/src/assets/styles/global.scss
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: frontend, javascript

limit amount of locations to 25
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: frontend, javascript

no message
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

Gave format to the code
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
Labels: tests, backend, java

chore: updating exception
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/ContactStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/LocationStepMatcher.java
Labels: source, backend, java

chore: updating exception
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
Labels: tests, backend, java

feat(FSADT1-1364): backend fuzzy match for contacts (#1028)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ContactSearchDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/ContactStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchLocationControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ContactSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: tests, source, backend, java

update accordion title
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

focus new location
  frontend/src/pages/staffform/LocationsWizardStep.vue
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
Labels: frontend, javascript

test max locations
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
