Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore(FSADT1-1344): updating test migrations
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: none

chore: removing log
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: renaming variables
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

chore: removing v-shadow
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

chore: renaming variables
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat(FSADT1-1346): add create client button to staff dashboard (#984)
  frontend/.devcontainer/devcontainer.json
  frontend/.vscode/extensions.json
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/package.json
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/routes.ts
Labels: tests, source, configuration, frontend, javascript

fix(FSADT1-1333): fixing client name on mail
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/stub/mappings/fam.json
Labels: source, frontend, backend, java, javascript

feat(FSADT1-1363): adding new endpoint and cleaning old code
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

chore(FSADT1-1363): changing testcontainer for oracle
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/CustomOracleContainer.java
Labels: none

chore(FSADT1-1363): updating test data
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: none

add new business fields
  frontend/src/dto/ApplyClientNumberDto.ts
Labels: source, frontend, javascript

add the individual client component
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

use the individual page component
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

update client type codes
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(FSADT1-1333): idir name extraction
  frontend/src/helpers/ForestClientUserSession.ts
Labels: source, frontend, javascript

add Date of birth tooltip
  frontend/src/assets/styles/global.scss
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1333): fixing client name on mail (#995)
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/stub/mappings/fam.json
Labels: source, frontend, backend, java, javascript

feat(FSADT1-1363): fuzzy match for individuals
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientMatchController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/MatchResult.java
  backend/src/main/java/ca/bc/gov/app/exception/DataMatchException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  frontend/src/pages/FormStaffPage.vue
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: source, controller, frontend, backend, java, javascript

chore(FSADT1-1363): adding temporary api auth
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

add the person id fields
  frontend/src/assets/styles/global.scss
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

fix input fields width
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(deps): fixing wrapper
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/mvnw
  legacy/mvnw.cmd
  processor/.mvn/wrapper/maven-wrapper.properties
  processor/mvnw
  processor/mvnw.cmd
Labels: backend, java

fix(deps): fixing wrapper issue
  backend/Dockerfile
  legacy/Dockerfile
  processor/Dockerfile
Labels: backend, java

fix(deps): fixing wrapper
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/mvnw
  legacy/mvnw.cmd
  processor/.mvn/wrapper/maven-wrapper.properties
  processor/mvnw
  processor/mvnw.cmd
Labels: backend, java

fix(deps): fixing wrapper issue
  backend/Dockerfile
  legacy/Dockerfile
  processor/Dockerfile
Labels: backend, java

prevent horizontal scroll
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

make province names visible when options are expanded
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

set default issuing province to BC
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

copy validations from BCeID
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
Labels: source, frontend, javascript

fix validators for empty string
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

add validations
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

feat(FSADT1-1363): updated api auth to matches
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

chore(FSADT1-1363): refactoring matcher code
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientMatchController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/StepMatchEnum.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/StepMatcher.java
Labels: source, backend, java

test(FSADT1-1363): adding tests
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientSubmissionAggregator.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, backend, java

chore: code cleanup
  backend/src/test/java/ca/bc/gov/app/configuration/TestConfiguration.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
Labels: tests, backend, java

feat(FSADT1-1363): setting flag to allow match endpoint to work
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/test/resources/application-default.yml
Labels: source, backend, java

feat(FSADT1-1363): add fe stub
  frontend/stub/mappings/matches.json
Labels: frontend, javascript

validate id number
  frontend/src/helpers/CustomDirectives.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

fix ID type codes
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

add type checking to ID type
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
