Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Deploying to gh-pages from @ bcgov/nr-forest-client@b656df7d7273fabcb2b1f056dbc351e67f54eeb3 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

feat: clear old search results when a new search starts
  frontend/src/components/DataFetcher.vue
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

feat: discard the response from old request
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

Changed to v-dompurify-html as using v-html can expose the application to XSS (cross-site scripting) attacks
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

Changed to v-dompurify-html as using v-html can expose the application to XSS (cross-site scripting) attacks
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Changed to v-dompurify-html as using v-html can expose the application to XSS (cross-site scripting) attacks
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat(fe): Highlight text on Auto Complete options
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/pages/SearchPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

no message
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

feat(fe:FSADT1-1566): Clear predictive search results whenever input changes (#1284)
  frontend/src/components/DataFetcher.vue
  frontend/src/pages/SearchPage.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@277c4f946c96240b9abd3c8a9de3de6103c0ca62 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

chore: add vue-dompurify-html plugin to Cypress
  frontend/cypress/support/component.ts
Labels: tests, frontend, javascript

Safely escaped special characters
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

feat(fe:FSADT1-1565): Highlight text on Auto Complete options (#1286)
  frontend/cypress/support/component.ts
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/src/services/ForestClientService.ts
Labels: tests, source, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@82759fa6b2faa5ece369a5de72650bc67d71cd3c 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

chore(FSADT1-751): updated repo to use dtos from lib
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/AddressSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientDoingBusinessAsDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientNameCodeDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ContactSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientLocationDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientDoingBusinessAsControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientLocationMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchCompanyServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchIndividualServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

feat(FSADT1-751): updating dockerfiles
  .github/workflows/pr-open.yml
  backend/Dockerfile
  legacy/Dockerfile
  processor/Dockerfile
Labels: backend, java

docs: updating readme for backend apps
  backend/README.md
  legacy/README.md
  processor/README.md
Labels: backend, java

chore: adding settings template
  .github/settings.xml.template
Labels: github_actions

chore: fixing file path on dockerfile
  backend/Dockerfile
  legacy/Dockerfile
  processor/Dockerfile
Labels: backend, java

ci: updating ci for build
  .github/workflows/pr-open.yml
Labels: none

chore: fixing dockerfile
  backend/Dockerfile
  legacy/Dockerfile
  processor/Dockerfile
Labels: backend, java

chore: dupping the settings file
  .github/workflows/pr-open.yml
  backend/settings.xml.template
  legacy/settings.xml.template
  processor/settings.xml.template
Labels: backend, java

chore: removed version
  backend/Dockerfile
  legacy/Dockerfile
  processor/Dockerfile
Labels: backend, java

chore: switching from mvnw to maven
  .github/workflows/reusable-tests-repo.yml
Labels: none

fix: fix columns' width
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

refator: create css class padding-column
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

fix(fe): fix data-table columns' width (#1289)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6c948d8f3b54078edc0ea9908aac69cdeaebbc67 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/tables/submission_location.html
Labels: none

chore(fe): Made code reviews
  frontend/components.d.ts
  frontend/src/components/forms/ComboBoxInputComponent.vue
  frontend/src/helpers/ForestClientUserSession.ts
Labels: source, frontend, javascript

chore(fe): Made code reviews
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

no message
  frontend/components.d.ts
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

chore(fe): Made code reviews
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: frontend, javascript

chore(fe): code reviews (#1292)
  frontend/components.d.ts
  frontend/src/components/forms/ComboBoxInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: source, frontend, javascript

chore(ci): Simplify app version format in pr-open.yml workflow (#263)
  api/.github/workflows/pr-open.yml
  api/src/main/resources/application.properties
Labels: none

fix: trim search keywords
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/SearchPage.vue
Labels: tests, frontend, javascript

chore: update stub
  frontend/stub/mappings/client_search.json
Labels: frontend, javascript

fix(fe:FSADT1-1569): trim search keywords (#1294)
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/SearchPage.vue
  frontend/stub/mappings/client_search.json
Labels: tests, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@626a165e6df4ddb55814a228dac17eb686fd187e 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/tables/submission_location.html
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@626a165e6df4ddb55814a228dac17eb686fd187e 🚀
  schema/index.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/tables/submission_location.html
Labels: none

no message
  frontend/package-lock.json
Labels: configuration, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
