Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix max validator
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

test: use all input fields in the test
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

test(FSADT1-1362): fixing test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

docs: remove misplaced comment
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

feat(be:FSADT1-1344): Creating DTOs
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: tests, source, backend, java

feat(FSADT1-1362): staff created entries (#1007)
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionTypeCodeEnum.java
  backend/src/main/resources/db/migration/V7__staff_submitted_data.sql
  backend/src/main/resources/db/migration/V8__fcms_v2_changes.sql
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/resources/db/migration/R__Test_Data.sql
Labels: tests, source, configuration, backend, java

fix(FSADT1-1344): fixing tests
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/resources/failValidationTest.csv
Labels: tests, backend, java

fix(FSADT1-1344): fixing missing parameters
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix(FSADT1-1344): protecting possible null data
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
Labels: source, backend, java

feat(fe:FSADT1-1344): Creating classes required to support new version of the FCMS (#1006)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: tests, source, backend, java

fix(FSADT1-1363): mergind and rebasing
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

switch to new DTO structure
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

use firstName and lastName in businessInformation
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

load external validations to be used as default
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

fix(FSADT1-1363): fixed branch due to dto changes
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
Labels: tests, source, backend, java

rename input fields and variables
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: tests, source, frontend, javascript

test(FSADT1-1363): updating test
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: none

test: validate firstName and lastName
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: frontend, javascript

test the step
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

fix: clear dropdown programmatically
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: frontend, javascript

test: fix test
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
Labels: frontend, javascript

test: add tests
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
Labels: frontend, javascript

feat(FSADT1-1363): backend fuzzy match for individuals (#996)
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientMatchController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/MatchResult.java
  backend/src/main/java/ca/bc/gov/app/dto/client/StepMatchEnum.java
  backend/src/main/java/ca/bc/gov/app/exception/DataMatchException.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/StepMatcher.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/app/configuration/TestConfiguration.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientSubmissionAggregator.java
  backend/src/test/resources/application-default.yml
  frontend/src/pages/FormStaffPage.vue
  frontend/stub/mappings/matches.json
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/CustomOracleContainer.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: tests, source, controller, frontend, backend, java, javascript

fix(deps:Snyk): Upgrade @typescript-eslint/eslint-plugin from 7.10.0 to 7.11.0 (#1009)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(deps:Snyk): Upgrade @typescript-eslint/parser from 7.10.0 to 7.11.0 (#1010)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

[Snyk] Upgrade aws-amplify from 6.2.0 to 6.3.3 (#999)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: Refactored code
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientValidationUtilsTest.java
  backend/src/test/java/ca/bc/gov/app/utils/JwtPrincipalUtilTest.java
  backend/src/test/java/ca/bc/gov/app/utils/PkceUtilTest.java
Labels: tests, backend, java

Refactored code
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

fix(be): Refactored code (#1014)
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientValidationUtilsTest.java
  backend/src/test/java/ca/bc/gov/app/utils/JwtPrincipalUtilTest.java
  backend/src/test/java/ca/bc/gov/app/utils/PkceUtilTest.java
Labels: tests, backend, java

feat(FSADT1-1349): Create client for staff Step 1 - Individuals (#1008)
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/CustomDirectives.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: tests, source, frontend, javascript

Fixed package-lock.json
  frontend/package-lock.json
Labels: configuration, frontend, javascript

chore(FSADT1-1365): adding temporary code
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

chore(FSADT1-1365): update on oracle sql files
  legacy/src/test/resources/db/migration/V5__manual_data.sql
  legacy/src/test/resources/db/migration/V7__client_id_values.sql
  legacy/src/test/resources/db/migration/V8__test_case_data.sql
Labels: none

cleanup: deleted unneeded code
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

fix: deleted unneeded code (#1015)
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

fix: Made column renaming idempotent
  backend/src/main/resources/db/migration/V8__fcms_v2_changes.sql
Labels: configuration, backend, java

fix(FSADT1-1379): fixing country name resolution (#1005)
  backend/src/main/resources/db/migration/V8__fcms_v2_changes.sql
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientMailingCountryEntity.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: configuration, backend, java

fix: upgrade @typescript-eslint/eslint-plugin from 7.11.0 to 7.12.0
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: upgrade @typescript-eslint/parser from 7.11.0 to 7.12.0
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: upgrade @types/node from 20.12.11 to 20.14.1
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript
