Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: disable optimizeDeps to fix component tests
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

Revert "chore: disable optimizeDeps to fix component tests"
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix(FSADT1-1150): fixing logout mechanism
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
Labels: source, backend, java

chore: tweek optimizeDeps during tests
  frontend/package.json
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix: fix var name
  frontend/package.json
Labels: configuration, frontend, javascript

Try single quotes
  .github/workflows/pr-open.yml
Labels: none

fix(FSADT1-1155): fixing trust location
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

[FSADT1-1127] The wrong address gets deleted (#753)
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/package.json
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/vite.config.ts
Labels: tests, configuration, frontend, javascript

chore: adjust FOM mod 50 vars
  .github/workflows/pr-open.yml
Labels: none

chore: adjust FOM mod 50 vars (#755)
  .github/workflows/pr-open.yml
Labels: none

feat(FSADT1-992): adding observability (#751)
  .github/workflows/pr-open.yml
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/service/cognito/CognitoService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  frontend/Caddyfile
  frontend/openshift.deploy.yml
  legacy/Dockerfile
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/main/resources/application.yml
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: source, configuration, frontend, backend, java, javascript, openshift

chore: setting hdbs value as empty string
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
Labels: none

test: adding test to verify userid
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

WhitespaceAfter: ',' is not followed by whitespace
  legacy/src/main/java/ca/bc/gov/app/configuration/ForestClientMetricConfiguration.java
Labels: none

WhitespaceAround: '=' is not preceded with whitespace
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
Labels: none

WhitespaceAround: '{' is not preceded with whitespace.
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
Labels: none

Made code reviews
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
  legacy/src/main/java/ca/bc/gov/app/exception/NoValueFoundException.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
Labels: none

Fixed test
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientLocationMapperTest.java
Labels: none

fix: small fixes (#756)
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/configuration/ForestClientMetricConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
  legacy/src/main/java/ca/bc/gov/app/exception/NoValueFoundException.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientLocationMapperTest.java
Labels: tests, backend, java

fix: validate contact's role and location onblur
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

fix: fixing processor block code
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/LocationMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: none

chore: adding logging info
  processor/Dockerfile
  processor/src/main/resources/application.yml
Labels: none

fix: fixing processor blocking code (#758)
  processor/Dockerfile
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/LocationMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/resources/application.yml
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: none

fix: validate contact's role and location onblur (#757)
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

Fixed bug and improved code
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Fixed bug and improved code (#759)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

add temp file
  frontend/temp.md
Labels: frontend, javascript

fix: clear errors when type of business changes
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: frontend, javascript

fix: clear errors when business name gets cleared
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: frontend, javascript

[FSADT1-1158] The error message does not get removed when you switch radio selection (#761)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: frontend, javascript

Fixed hotsotp issues and improved code
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

ci: disabling pentest (#203)
  api/.github/workflows/merge-main.yml
  api/src/main/resources/static/robots.txt
Labels: none

no message
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

no message
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Vue built-in sanitization
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, configuration, frontend, javascript

fix: prevent multiple clicks on the approve/reject buttons
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

FSADT1-1163
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
Labels: none

fix: Hotspot fixes (#762)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, configuration, frontend, javascript

FSADT1-1163 (#764)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
Labels: none

test: fix test
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
Labels: tests, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
