Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

ci: fixing version (#309)
  api/.github/workflows/pr-close.yml
Labels: none

remove unneeded url replacement
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

feat(fe:[FSADT1-1812]): Edit Client types "Government" and similar ones (#1577)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-P+contact.json
  frontend/stub/__files/response-clients-details-P+location.json
  frontend/stub/__files/response-clients-details-P-contact.json
  frontend/stub/__files/response-clients-details-P.json
  frontend/stub/__files/response-clients-details-PD.json
  frontend/stub/__files/response-clients-details-PDAC.json
  frontend/stub/__files/response-clients-details-PSPN.json
  frontend/stub/__files/response-clients-details-Type.json
  frontend/stub/mappings/client_details.json
  frontend/stub/mappings/codes.json
  frontend/stub/mappings/fam.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: tests, source, frontend, javascript

no message
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/HistoryView.vue
Labels: tests, source, frontend, javascript

fix(be:FSADT1-1775): Fixed Client History sorting after merging data
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

fix(be:FSADT1-1775): Fixed Client History sorting after merging data (#1579)
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

bind the class attribute into the combobox component
  frontend/src/components/forms/ComboBoxInputComponent.vue
Labels: frontend, javascript

fix(be:FSADT1-1775): Set "client create" as last item in the list regardless of the timestamp
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update pom.xml
  legacy/pom.xml
Labels: none

Update pom.xml
  processor/pom.xml
Labels: none

fix(be:FSADT1-1775): Ensure "Client created" record appears last (#1583)
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

no message
  frontend/src/pages/client-details/HistoryView.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix(be:FSADT1-1775): Concatenated some fields as per requested
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

Fixing test - This is totally unrelated to my changes
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Reverted change
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  frontend/src/pages/client-details/HistoryView.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

Preserved the insertion order of the queries
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

define Registration number validations
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

stub client with no registry type
  frontend/stub/__files/response-clients-details-missing-registry-type.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

fix(be:FSADT1-1775): Concatenated some fields in the history as per requested (#1584)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

add Registration number component
  frontend/src/assets/styles/global.scss
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

use the Registration number component
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

remove required symbol and change layout
  frontend/src/assets/styles/global.scss
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

no message
  frontend/src/assets/styles/global.scss
  frontend/src/pages/client-details/HistoryView.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix(be:FSADT1-1775): Changes to the History API - Reverted concatenation for city and provice - Added format to phone numbers - Fix contact query
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

fix(be:FSADT1-1775): Changes to the History API (#1587)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

update error messages
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

update error handling
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

test: summary company-like client types
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

test: registration number component
  frontend/cypress/fixtures/registryTypes.json
  frontend/tests/components/pages/client-details/RegistrationNumber.cy.ts
Labels: tests, frontend, javascript

feat(fe:FSADT1-1808): Edit Client type Corporation and similar ones (#1588)
  frontend/cypress/fixtures/registryTypes.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/ComboBoxInputComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/client-details/RegistrationNumber.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-missing-registry-type.json
  frontend/stub/mappings/client_details.json
  frontend/tests/components/pages/client-details/RegistrationNumber.cy.ts
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: tests, source, frontend, javascript

fix(be:FSADT1-1775-5): Fixed bug with location status and made formatting fixes
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

fix(be:FSADT1-1775-5): Fixed bug with location status and made formatting fixes (#1589)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

fix: prevent invalid autocomplete value
  frontend/src/components/forms/TextareaInputComponent.vue
Labels: frontend, javascript

add name parts input fields
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

docs: fix typo
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript
