Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix: prevent multiple clicks on the approve/reject buttons (#763)
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

feat: display error when submission was already reviewed
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

test: display error when submission was already reviewed
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
Labels: tests, frontend, javascript

fix: removing unused parameters
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/resources/application.yml
  legacy/src/test/resources/application-default.yml
Labels: openshift

fix(CVE-2023-6378|CVE-2024-22233): fixing security issues
  legacy/pom.xml
Labels: none

FSADT1-1167
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/application.yml
  frontend/src/pages/SubmissionListPage.vue
Labels: source, configuration, frontend, backend, java, javascript

Beautified some JSON files
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/mappings/backend.json
  frontend/stub/mappings/fam.json
Labels: frontend, javascript

Removed unused import
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

Removed unused constant
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

fix: fixing registry count
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

fix: fixing registry count
  backend/openshift.deploy.yml
Labels: backend, java, openshift

chore: removing route from legacy
  legacy/openshift.deploy.yml
Labels: openshift

Aligned code for better readibility
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

fix: removing route for processor
  processor/openshift.deploy.yml
Labels: openshift

fix(CVE-2023-6378|CVE-2024-22233): fixing security issues
  backend/pom.xml
  processor/pom.xml
Labels: backend, java

doc: updating PR text
  .github/workflows/pr-open.yml
Labels: none

feat(FSADT1-1162): adding backend conflict for approve / reject
  backend/src/main/java/ca/bc/gov/app/exception/RequestAlreadyProcessedException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

fix(FSADT1-985): fixing security issues (#767)
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/pom.xml
  legacy/openshift.deploy.yml
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/resources/application.yml
  legacy/src/test/resources/application-default.yml
  processor/openshift.deploy.yml
  processor/pom.xml
Labels: backend, java, openshift

feat(ci): schedule job for ZAP
  .github/workflows/merge-main.yml
  .github/workflows/scheduled.yml
Labels: none

Test
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
Labels: none

Allow tests to be interrupted by draft status
  .github/workflows/unit-tests.yml
Labels: none

Remove unit tests ignore from triggers
  .github/workflows/unit-tests.yml
Labels: none

- Made code reviews
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

Restore workflows
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
Labels: none

feat(ci): move ZAP pen testing to scheduled jobs (#769)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/scheduled.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: enabling debug on test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

fix: fixing pagination test
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

[FSADT1-1162] Prevent approving/rejecting a submission which is already approved/rejected (#766)
  backend/src/main/java/ca/bc/gov/app/exception/RequestAlreadyProcessedException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, source, frontend, backend, java, javascript

feat(ci): zap (#204)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-open.yml
  api/.github/workflows/scheduled.yml
  api/.github/workflows/unit-tests.yml
  api/openshift.deploy.yml
Labels: openshift

chore(ci): clean up old init job in pr-close.yml (#206)
  api/.github/workflows/pr-close.yml
Labels: none

chore(ci): clean up commented line (#207)
  api/.github/workflows/pr-close.yml
Labels: none

fix(FSADT1-1167): Fixed issue with pagination (#768)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/src/pages/SubmissionListPage.vue
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/mappings/backend.json
  frontend/stub/mappings/fam.json
Labels: tests, source, configuration, frontend, backend, java, javascript

fix(ci): init cleanup and job consolidation (#209)
  api/.github/workflows/analysis.yml
  api/.github/workflows/merge.yml
  api/.github/workflows/pr-open.yml
  api/.gitignore
Labels: none

fix: fixing pagination
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

fix: fixing pagination
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

fix: fixing pagination (#773)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

This is for testing purposes in OpenShift
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Second attempt
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Attempt #3
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java
