Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore(fe): Vitest allows Remote Code Execution when accessing a malic… (#1416)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(cypress): fixed Use of Insufficiently Random Values in undici
  cypress/package-lock.json
Labels: none

rename client status id
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

chore(fe): Fix incomplete string escaping or encoding
  frontend/src/pages/FormStaffPage.vue
  frontend/tsconfig.json
Labels: configuration, frontend, javascript

chore(cypress): fixed Use of Insufficiently Random Values in undici (#1417)
  cypress/package-lock.json
Labels: none

Fixed Sonar issues
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

test summary save
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

chore(fe): Fixed incomplete string escaping or encoding (#1418)
  frontend/src/pages/FormStaffPage.vue
  frontend/tsconfig.json
Labels: configuration, frontend, javascript

lock client status field according to the role and the current client status
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-GDAC.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@1197f0487cb36f8deed624e3e10f629c20c6efc1 🚀
  index.html
  users/index.html
  users/info-html.txt
Labels: none

handle user roles in a non-hierarchical way
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

deactivate some admin features
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

handle user roles in a non-hierarchical way
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

lock client status field according to the role and the current client status
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-GDAC.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

deactivate some admin features
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

test: update tests
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

test: lock client status field
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

test: load client statuses
  frontend/cypress/fixtures/clientStatuses.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: tests, frontend, javascript

no message
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

chore(be:FSADT1-1707): Made changes in API that retrieves client statuses
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, source, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

chore(be:FSADT1-1707): Updates in API that retrieves client statuses (#1420)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, source, backend, java

test: fix tests
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

move to new DTO format
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-GDAC.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/__files/response-clients-details-null.json
Labels: source, frontend, javascript

test: useJsonPatch
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

feat(fe:FSADT1-1598): CLIENT_EDITOR Client Summary Section - Edit Mode - Front-End (#1419)
  frontend/components.d.ts
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/fixtures/clientStatuses.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/composables/useFetch.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-client-statuses-default.json
  frontend/stub/__files/response-client-types.json
  frontend/stub/__files/response-client_statuses.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-GDAC.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/__files/response-clients-details-null.json
  frontend/stub/mappings/client_details.json
  frontend/stub/mappings/codes.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
  frontend/tests/unittests/composables/useFetch.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, configuration, frontend, javascript

fix condition to edit Client status
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

fix(fe): do not allow CLIENT_EDITOR to edit Client status when it's DECEASED (#1423)
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

test: update tests
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

add the Edit location button
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

reuse staff location group component on the Client edit page
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/client-details/LocationView.vue
Labels: source, frontend, javascript

no message
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

no message
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@8213fdb32d51b7ac8df556a7ab5a6e9ae45fe65d 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

feat(fe:FSADT1-1639): Reason codes modal
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

emit "save" location patch data
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-GDAC.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
Labels: tests, source, frontend, javascript

move conversion functions to the application Service module
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

call the PATCH client API
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

fix json-patch path for addresses
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript
