Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

no message
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

no message
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

no message
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

chore(ci): use free SSL for TEST frontend (#2033)
  .github/workflows/merge.yml
  .github/workflows/reporting.yml
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@7bff7ae956cd6a0dd780bc51f7f2ddce572b339e 🚀
  index.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

no message
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript

no message
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript

feat(fe:FSADT1-2119): Set 100 as default size of the page (#2042)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/SearchPage.vue
Labels: tests, source, frontend, backend, java, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@389a4a8ae1e26e6689b6069de32b4aa9ce6f0962 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

Update dependency versions in pom.xml
  backend/pom.xml
Labels: backend, java

Update pom.xml
  legacy/pom.xml
Labels: none

Update pom.xml
  legacy/pom.xml
Labels: none

Downgrade dependencies in pom.xml
  processor/pom.xml
Labels: none

chore(fe): Upgraded vue-dompurify-html
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): Upgraded vue-dompurify-html (#2046)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): fixed CVE-2026-29063 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): fixed CVE-2026-29063 vulnerability (#2047)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@3fc75287cbd6fc17ef4b573b3764e7982d07f233 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@8971878f594271407f5e686aa2369c97b3b97e85 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

Update pom.xml
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.20.3 to 11.13.0
  legacy/pom.xml
Labels: none

Downgrade Flyway version from 11.20.3 to 11.13.0
  processor/pom.xml
Labels: none

Downgrade logback version from 1.5.32 to 1.5.26
  backend/pom.xml
Labels: backend, java

Downgrade logback version from 1.5.32 to 1.5.26
  legacy/pom.xml
Labels: none

Downgrade logback version from 1.5.32 to 1.5.26
  processor/pom.xml
Labels: none

fix: Fixed Minimatch ReDoS Vulnerability in Cypress
  cypress/package-lock.json
  cypress/package.json
Labels: none

fix(fe): fixed serialize-javascript vulnerability
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Downgrade Flyway version from 11.13.0 to 11.11.0
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.13.0 to 11.11.0
  legacy/pom.xml
Labels: none

Downgrade Flyway version from 11.13.0 to 11.11.0
  processor/pom.xml
Labels: none

fix(fe): fixed serialize-javascript vulnerability (#2051)
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@c7699b5ae1cc54557a9fed460cf7b708803ccad6 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): fixed serialize-javascript vulnerability in Cypress
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/package-lock.json
Labels: none

fix(fe): fixed serialize-javascript vulnerability in Cypress (#2056)
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore: replaced deprecated code
  backend/src/main/java/ca/bc/gov/app/service/client/matches/ContactStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/LocationStepMatcher.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
  processor/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
Labels: source, backend, java

Update processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  processor/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
Labels: none

Update processor/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
  processor/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
Labels: none
