Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix test
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

fix submission validation key
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

fix: fix unique validation issue
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/response-clients-details-RUT-move-related-01-0-to-00.json
  frontend/stub/__files/response-clients-details-RUT.json
  frontend/stub/mappings/client_details.json
Labels: tests, frontend, javascript

fix: show toast notification on network error
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, frontend, javascript

stub network errors
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6d9f93259394eaa01a77531af5d97dad859923e6 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

delete related client
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

test service
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

test form
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
Labels: frontend, javascript

test row component
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
Labels: frontend, javascript

test Client details page
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

rename "handleDelete" to "delete"
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
Labels: frontend, javascript

rename test function
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6d9f93259394eaa01a77531af5d97dad859923e6 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

add tip/helper-text slot
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

upgrade dropdown to emit object errors
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

test dropdown
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: frontend, javascript

test the tip slot
  frontend/src/dto/CommonTypesDto.ts
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: source, frontend, javascript

go to the locations tab
  frontend/src/assets/styles/global.scss
  frontend/src/composables/useFocus.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/shared.ts
  frontend/src/routes.ts
Labels: source, frontend, javascript

cancel changes when confirmed
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: frontend, javascript

test form
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
Labels: frontend, javascript

test client details page
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

redirect to the Create client page
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
Labels: frontend, javascript

test autocomplete
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

test form
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
Labels: frontend, javascript

rename validation key
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

allow users to update an empty date of birth
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-I-no-birthdate.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6d9f93259394eaa01a77531af5d97dad859923e6 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

test empty Date of birth
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

allow users to update client's ID in some situations
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-I-id-other.json
  frontend/stub/__files/response-clients-details-I-id-unknown.json
  frontend/stub/mappings/client_details.json
Labels: source, frontend, javascript

test edit ID fields
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

fix: update location name on contacts associated with location
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: frontend, javascript

set contact's default type and location
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/cypress/fixtures/clients/bcreg_FM123123.json
  frontend/cypress/fixtures/roles.json
  frontend/cypress/support/commands.ts
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/src/pages/staffform/ContactsWizardStep.vue
  frontend/tests/components/pages/staffform/ContactsWizardStep.cy.ts
Labels: tests, source, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6d9f93259394eaa01a77531af5d97dad859923e6 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

feat(fe:FSADT1-1993): DOB optional in the creation of an individual client type - frontend (#1794)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
  frontend/tests/components/pages/staffform/IndividualClientInformationWizardStep.cy.ts
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: tests, source, frontend, javascript

allow to open search results in a new tab
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SearchPage.vue
Labels: tests, frontend, javascript

feat(fe:FSADT1-1967): Create related client delete flow (#1797)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

fix contacts test
  frontend/tests/components/pages/staffform/ContactsWizardStep.cy.ts
Labels: frontend, javascript

fix(fe:FSADT1-2019): Related clients timeout: missing failure toast message (#1796)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/mappings/client_details.json
Labels: tests, frontend, javascript

feat(fe:FSADT1-2024): Related client: create a new client (#1799)
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript
