Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat(fe:#2215): Change 'Headquarters' to 'Mailing Address' (#2216)
  frontend/src/components/grouping/StaffDetailsLocationGroupComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@83d3e21f7ff2216c7d1ff3e5b91b1b60c90e0cd7 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@83d3e21f7ff2216c7d1ff3e5b91b1b60c90e0cd7 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

chore(fe): fix CVE-2026-46625
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): fix CVE-2026-46625 (#2230)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@1bf565ff765aa74ba89e1bc135db40151595d5b5 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

fix(ci): catch results false positive
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

fix(ci): apply results job-level always condition and log corrections
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

fix(ci): harden results job spec and diagnostic context
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

Downgrade Flyway version from 11.20.3 to 11.11.0
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.20.3 to 11.11.0
  legacy/pom.xml
Labels: none

Downgrade Flyway version from 11.20.3 to 11.11.0
  processor/pom.xml
Labels: none

fix(ci): catch results false positive (#2234)
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@73928cd55cb7ff008a2b771092141a7e418c3aca 🚀
  index.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

fix/CVE-2026-44705
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: CVE-2026-44705 vulnerability (#2237)
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@1b90b7b9e3f56d85abd3a79202eaddff34ec2839 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@df525ab7a802387b805791a057e300831de3c861 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

fix(fe): fix security vulnerability in vitest (CVE-2026-47429)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: update package-lock.json for Vite 5.4.10 dependencies
  frontend/package-lock.json
Labels: configuration, frontend, javascript

chore: upgrade vitest to 2.x and @vitest/coverage-istanbul to 2.x for Vite 5.4.10 compatibility
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: properly close profile panel when backdrop is clicked
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update Flyway version from 11.20.3 to 11.13.3
  legacy/pom.xml
Labels: none

Update Flyway version from 11.20.3 to 11.13.3
  processor/pom.xml
Labels: none

no message
  frontend/src/App.vue
Labels: frontend, javascript

Update Flyway version from 11.13.3 to 11.11.3
  backend/pom.xml
Labels: backend, java

Downgrade flyway.version from 11.13.3 to 11.11.3
  legacy/pom.xml
Labels: none

Update pom.xml
  processor/pom.xml
Labels: none

no message
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MainHeaderComponent.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: configuration, frontend, javascript

Downgrade Flyway version from 11.11.3 to 11.11.0
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.11.3 to 11.11.0
  legacy/pom.xml
Labels: none

no message
  frontend/eslint.config.mjs
  frontend/package.json
Labels: configuration, frontend, javascript

feat: Added Permanent Residence Card ID
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidator.java
  frontend/cypress/fixtures/identificationTypes.json
  frontend/cypress/fixtures/legacyIdentificationTypes.json
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
  processor/src/main/java/ca/bc/gov/app/entity/IdentificationTypeEnum.java
Labels: tests, source, frontend, backend, java, javascript

no message
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidatorTest.java
Labels: tests, backend, java

no message
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: frontend, javascript

Potential fix for pull request finding
  frontend/cypress/fixtures/identificationTypes.json
Labels: tests, frontend, javascript

no message
  frontend/cypress/fixtures/identificationTypes.json
Labels: tests, frontend, javascript
