Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: removing tags from multiselect
  frontend/src/components/forms/MultiselectInputComponent.vue
Labels: frontend, javascript

fix: fixing text input
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix: fixing header and button type
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: fixing notification
  frontend/src/assets/styles/global.scss
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: fixing buttons
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: frontend, javascript

feat: updating progress indicator
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

fix: fixing masking issue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/helpers/CustomDirectives.ts
  frontend/src/main.ts
Labels: source, frontend, javascript

fix: fixing style
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.3 (#570)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: removing unused code
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/tests/components/components/visuals/DisplayBlockComponent.cy.ts
  frontend/tests/components/components/wizard/WizardProgressIndicatorComponent.cy.ts
  frontend/tests/unittests/components/wizard/WizardProgressIndicatorComponent.spec.ts
Labels: frontend, javascript

feat: updating global error notification
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

fix: fixing notifications to be low contrast
  frontend/src/assets/styles/global.scss
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

chore: adding a new directive
  frontend/src/helpers/CustomDirectives.ts
  frontend/src/main.ts
Labels: source, frontend, javascript

fix: fixing data conversor test case
  frontend/tests/unittests/helpers/DataConversors.spec.ts
Labels: frontend, javascript

fix: fixing main header tests
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

fix: fixing auto complete tests and blur event
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

fix: fixing text input lazy loading
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix: fixing dropdown tests
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: frontend, javascript

fix: fixing autocomplete for address
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

fix: fixing radio test
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: frontend, javascript

test: fixing tests
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/tests/unittests/components/forms/MultiselectInputComponent.spec.ts
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: frontend, javascript

text: fixing component tests
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: fixing e2e tests
  frontend/cypress/e2e/FormGeneral.cy.ts
Labels: tests, frontend, javascript

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities (#573)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: fixing package lock
  frontend/package-lock.json
Labels: configuration, frontend, javascript

fix: fixing landing page
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

fix: fixing versioning
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps): update dependency @cypress/webpack-preprocessor to v6
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Created BCSC card rout
  frontend/src/pages/ApplyClientNumberWithBcscPage.vue
  frontend/src/routes.ts
  frontend/stub/mappings/fam.json
Labels: source, frontend, javascript

chore: fixing some route configs
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: fixing logout url
  .github/workflows/pr-open.yml
Labels: none

fix: Fixed cookie for BCSC
  frontend/stub/mappings/fam.json
Labels: frontend, javascript

chore: updating stubs to have better info
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
Labels: frontend, javascript

fix: fixing landing page style
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/pages/LandingPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: renaming some files
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: changing project configuration
  frontend/.devcontainer/frontend.code-workspace
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/tsconfig.json
Labels: configuration, frontend, javascript

fix: fixing address autocomplete whitespaces
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
Labels: source, backend, java

fix(FSADT1-869): fixing spacing on message
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

chore(FSADT1-871): removing tooltip from next
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript
