Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Fixed frontend tests
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
  frontend/cypress/e2e/pages/FormStaffPageFuzzy.cy.ts
  frontend/cypress/e2e/pages/FormStaffPageSubmission.cy.ts
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/cypress/fixtures/response-registry-types.json
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, frontend, javascript

no message
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, frontend, javascript

fix(#2360): Add BC Registry Cooperative as client type association
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientValidationUtilsTest.java
  frontend/src/helpers/DataConverters.ts
Labels: tests, source, frontend, backend, java, javascript

Fixed pre-existing bug
  cypress/cypress/support/step_definitions/autocomplete_steps.ts
Labels: none

fix(#2360): Add BC Registry Cooperative as client type association (#2373)
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientValidationUtilsTest.java
  cypress/cypress/support/step_definitions/autocomplete_steps.ts
  frontend/src/helpers/DataConverters.ts
Labels: tests, source, frontend, backend, java, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@7f18ebb96e316b809c60be5b003e35761417f708 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/default.nrfc.xml
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
  nrfc/tables/submission_location.html
Labels: none

Mapped BC registry legal type mapping with Oracle mapping
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

no message
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientStaffSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, frontend, backend, java, javascript

no message
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, frontend, javascript

no message
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

Revert "no message"
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientStaffSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

no message
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

Reverted code
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationClientTypeCompanyXrefValidator.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientStaffSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationClientTypeCompanyXrefValidatorTest.java
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
  frontend/cypress/e2e/pages/FormStaffPageFuzzy.cy.ts
  frontend/cypress/e2e/pages/FormStaffPageSubmission.cy.ts
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/cypress/fixtures/clients/bcreg_LL999888.json
  frontend/cypress/fixtures/clients/bcreg_ac_list5.json
  frontend/cypress/fixtures/response-registry-types.json
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: tests, source, frontend, backend, java, javascript

Reverted code
  legacy/src/main/java/ca/bc/gov/app/repository/RegistryCompanyTypeCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

no message
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

fix(#2374): Add a validation in both BE and FE when there is no association between the legal type and client type (#2364)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: frontend, javascript

Revert "fix(#2374): Add a validation in both BE and FE when there is no assoc…"
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: frontend, javascript

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: none

fix(#2374): Add a validation in both BE and FE when there is no association between the legal type and client type (#2379)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6a51c4840bef9eed70cd1cc65598880766ea6b5f 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

feat(be): Add a validation to prevent the user to create a client when there is no association between the legal type and client type
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidator.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidatorTest.java
Labels: tests, source, backend, java

Update BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

Update BcRegisteredClientInformationWizardStep.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

no message
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

no message
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

no message
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidator.java
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

no message
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidatorTest.java
Labels: tests, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@6e601c764ac9d71a364e49c111043ab9bfa4e946 🚀
  index.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

feat(be): Add a validation to prevent the user to create a client when there is no association between the legal type and client type (#2380)
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidator.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidatorTest.java
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: tests, source, frontend, backend, java, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@a28a42bd49cc1c4f487001e49c11335390e04161 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

fix(deps): restore native Flyway compatibility
  backend/pom.xml
Labels: backend, java

chore: git ignore updated
  .gitignore
Labels: none

chore: gitignore
  .gitignore
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@fc1e068b615632d04f3008e54788568a087c2ffe 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

fix(#2385): fixing security findings in frontend
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(#2387): fixing security findings in cypress
  cypress/package-lock.json
  cypress/package.json
Labels: none

fix(#2385): fixing security findings in frontend (#2386)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(#2387): fixing security findings in cypress (#2388)
  cypress/package-lock.json
  cypress/package.json
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@693ee5d5896c8b4f8991b426fc8c51f56d1e4a6c 🚀
  index.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

fix(#2361): fix dangling logback and micrometer-tracing version references (#2361)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/health/BcRegistryApiHealthIndicator.java
Labels: source, backend, java
