Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test: add business name selection cases
  cypress/cypress/e2e/business-information-business-name-selection.feature
  cypress/cypress/e2e/business-information-business-name-selection.ts
  cypress/cypress/e2e/business-information.feature
Labels: none

fix: redirect to the proper route based on the login type
  frontend/src/routes.ts
Labels: source, frontend, javascript

test: organize step code in a reusable way
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/business-information-business-name-selection.ts
  cypress/cypress/e2e/business-information.feature
  cypress/cypress/e2e/business-information.ts
  cypress/cypress/e2e/common.ts
Labels: none

Made changes requested
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
Labels: source, dto, backend, java

test: houseclean tests code
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/business-information.feature
  cypress/cypress/e2e/business-information.ts
  cypress/cypress/e2e/common.ts
Labels: none

chore(deps): update vitest monorepo to ^0.34.0 (#555)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

test: add abort application feature
  cypress/cypress/e2e/business-information-bc-registered-business-abort-application.feature
  cypress/cypress/e2e/business-information-bc-registered-business-abort-application.ts
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/common.ts
Labels: none

Removed serial numbers.
  backend/src/main/java/ca/bc/gov/app/exception/AddressLookupException.java
  backend/src/main/java/ca/bc/gov/app/exception/BadRequestException.java
  backend/src/main/java/ca/bc/gov/app/exception/CannotExtractTokenException.java
  backend/src/main/java/ca/bc/gov/app/exception/ClientAlreadyExistException.java
  backend/src/main/java/ca/bc/gov/app/exception/InvalidAccessTokenException.java
  backend/src/main/java/ca/bc/gov/app/exception/InvalidRequestObjectException.java
  backend/src/main/java/ca/bc/gov/app/exception/InvalidRoleException.java
  backend/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  backend/src/main/java/ca/bc/gov/app/exception/NoFirstNationException.java
  backend/src/main/java/ca/bc/gov/app/exception/UnableToProcessRequestException.java
  backend/src/main/java/ca/bc/gov/app/exception/UnexpectedErrorException.java
  backend/src/main/java/ca/bc/gov/app/exception/ValidationException.java
Labels: source, backend, java

Fixed code smell issues
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

Fixed code smell issues
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, dto, backend, java

FSADT1-845: New email templates (#554)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/SendMailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/exception/AddressLookupException.java
  backend/src/main/java/ca/bc/gov/app/exception/BadRequestException.java
  backend/src/main/java/ca/bc/gov/app/exception/CannotExtractTokenException.java
  backend/src/main/java/ca/bc/gov/app/exception/ClientAlreadyExistException.java
  backend/src/main/java/ca/bc/gov/app/exception/InvalidAccessTokenException.java
  backend/src/main/java/ca/bc/gov/app/exception/InvalidRequestObjectException.java
  backend/src/main/java/ca/bc/gov/app/exception/InvalidRoleException.java
  backend/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  backend/src/main/java/ca/bc/gov/app/exception/NoFirstNationException.java
  backend/src/main/java/ca/bc/gov/app/exception/UnableToProcessRequestException.java
  backend/src/main/java/ca/bc/gov/app/exception/UnexpectedErrorException.java
  backend/src/main/java/ca/bc/gov/app/exception/ValidationException.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/service/cognito/CognitoService.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/rejection.html
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/cognito/CognitoServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, source, dto, configuration, backend, java

fix(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

deps: v1.0.0 for bcgov-nr/action-test-and-analyse
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

fix: fixing route not found
  frontend/src/pages/NotFoundPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: removing unused page
  frontend/src/pages/HomePage.vue
  frontend/tests/components/pages/HomePage.cy.ts
Labels: frontend, javascript

chore: adding class to some of the generic pages
  frontend/src/pages/ErrorPage.vue
  frontend/src/pages/NotFoundPage.vue
  frontend/src/pages/ReviewApplicationPage.vue
Labels: frontend, javascript

chore: updating routes to remove header from error page
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix: fixing route not found (#559)
  frontend/src/pages/ErrorPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/NotFoundPage.vue
  frontend/src/pages/ReviewApplicationPage.vue
  frontend/src/routes.ts
  frontend/tests/components/pages/HomePage.cy.ts
Labels: source, frontend, javascript

chore: simplifying route guard code
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: simplifying route guard
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix: fixing route guard
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix(deps): update dependency org.springdoc:springdoc-openapi-starter-webflux-ui to v2.2.0 (#183)
  api/pom.xml
Labels: none

fix: not found routes (#560)
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix(deps): update maven all non-major dependencies (#557)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix: get the domain to be set in the cookie dynamically
  cypress/cypress/support/commands.ts
Labels: none

fix: stub requests to the backend
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/common.ts
  cypress/cypress/fixtures/response-autocomplete.json
  cypress/cypress/fixtures/response-details-XX9016140.json
  cypress/cypress/fixtures/response-details-YY5199142.json
Labels: none

chore: replace baseUrl on local tests to localhost
  cypress/package.json
Labels: none

test: allow some time to follow two redirections
  cypress/cypress/e2e/common.ts
Labels: none

deps: v1.0.0 for bcgov-nr/action-test-and-analyse (#558)
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

test: increase time for the logout
  cypress/cypress/e2e/common.ts
Labels: none

chore(deps): update caddy docker tag to v2.7.3
  frontend/Dockerfile
Labels: frontend, javascript

fix: fixing style for form
  frontend/src/assets/styles/global.scss
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

fix: fixing progress indicator style
  frontend/src/assets/styles/global.scss
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
Labels: frontend, javascript

fix: fixing step 1 page
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

test: intercept and assert the logout route
  cypress/cypress/e2e/business-information-bc-registered-business-abort-application.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/common.ts
Labels: none

fix: fixing address style
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: fixing idp name for bcsc
  frontend/src/helpers/ForestClientUserSession.ts
Labels: source, frontend, javascript

fix: fixing styles for address and modal
  frontend/src/assets/styles/global.scss
  frontend/src/components/NoteComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

fix: fixing validator state
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: fixing toast style
  frontend/src/assets/styles/global.scss
  frontend/src/components/wizard/WizardWrapperComponent.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
