Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat: turn the dollar signal required
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

style: add the dollar signal to all conditions
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: source, frontend, javascript

style: add semi-colon as requested after review
  frontend/src/components/forms/AutoCompleteInputComponent.vue
Labels: frontend, javascript

Made code reviews
  frontend/src/components/forms/AutoCompleteInputComponent.vue
Labels: frontend, javascript

Made more code reviews
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

chore: updating template
  backend/src/main/resources/templates/rejection.html
Labels: configuration, backend, java

feat(FSADT1-832): updating matching table
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

chore: updating legacy db triggers
  legacy/src/test/resources/db/migration/V1__init.sql
Labels: none

chore: updating processor tests
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
Labels: none

feat(FSADT1-754): updating configurations
  processor/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  processor/src/main/resources/application.yml
Labels: none

feat(FSADT1-754): adding new channels and post processing
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
Labels: none

feat(FSADT1-754): updating dtos and entities
  processor/src/main/java/ca/bc/gov/app/dto/EmailRequestDto.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactIdEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/converters/SubmissionMatchDetailEntityBeforeConvert.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientLocationEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientLocationEntityKey.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionContactRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionMatchDetailRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientContactRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientLocationRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
Labels: none

feat(FSADT1-754): updating constants, add utils
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/util/LastItemReleaseStrategy.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
Labels: none

feat(FSADT1-754): split legacy between load and save
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
Labels: none

feat(FSADT1-754): updating client routes and services
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
Labels: none

chore: removing sql files
  processor/src/test/resources/db/migration/R__Test_Data.sql
  processor/src/test/resources/db/migration/V1__init.sql
  processor/src/test/resources/init_pg.sql
Labels: none

Made this to prevent perisisting information mutliple times
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: updating sql files
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/resources/postgres/test.sql
Labels: none

fix: update error status on Address step text fields
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

test: emit empty true when contents is empty
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

test: wait for the option's inner element to become visible
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

fix: emit error always for text-input
  frontend/src/components/forms/TextInputComponent.vue
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: frontend, javascript

fix: update Street address empty status properly
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

docs: refer specific Jira issue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

fix: fixing db init for test
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
Labels: none

fix: - Renamed variable and added an new property to make it more generic - Beautified code
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix: - Renamed variable and added an new property in test file
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

test: updating tests
  processor/pom.xml
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
Labels: none

fix: Made code reviews and removed unneeded prop I added
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

test: updating tests
  processor/src/main/java/ca/bc/gov/app/util/LastItemReleaseStrategy.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/util/LastItemReleaseStrategyTest.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: none

chore: updating test classes
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: none

test: adding tests for legacy persistence
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyPersistenceServiceIntegrationTest.java
Labels: none

test: adding tests for legacy persistence
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyPersistenceServiceIntegrationTest.java
Labels: none

chore: updating legacy test scripts
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
Labels: none

chore: package lock updated
  frontend/package-lock.json
Labels: configuration, frontend, javascript

fix: fixing pom and tests
  processor/pom.xml
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyPersistenceServiceIntegrationTest.java
Labels: none

fix: fixing pom and tests
  processor/pom.xml
Labels: none

test: emit valid events properly
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

fix: update error status on Contacts step text fields
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

test: adding more tests
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyPersistenceServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyPersistenceServiceTest.java
Labels: none
