Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: removed test param
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
Labels: source, backend, java

feat(be:FSADT1-1277): - Included regex for business name
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
Labels: source, backend, java

fix: mail sent and mail status (#917)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/health/BcRegistryApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/CanadaPostApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/ChesHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
Labels: source, backend, java

fix(FSADT1-1290): increasing rate limiter
  backend/openshift.deploy.yml
Labels: backend, java, openshift

Improved validation
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
Labels: source, backend, java

fix(FSADT1-1290): increasing rate limiter (#919)
  backend/openshift.deploy.yml
Labels: backend, java, openshift

Preventing JSON parse issues for the DOB
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
Labels: source, backend, java

fix: display error messages on step validation
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: source, frontend, javascript

Improved validation to be safe
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

Reverted change
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

- Added extra validations for the DOB - Included global error when there is a bad request error
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/composables/useFetch.ts
Labels: source, frontend, backend, java, javascript

fix: update personal names validation
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: add ascii validations
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: fix ascii validator
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

docs: improve comments
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: source, frontend, javascript

- Included validations for City and Strret Address
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
Labels: source, backend, java

Cleaned code
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Labels: source, backend, java

Added missing annotations
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
Labels: none

Adjusted company name size to the Oracle DB
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

Adjusted registration number name size to the Oracle DB
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

Adjusted registration number and address name size to the Oracle DB
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

Adjusted city size to the Oracle DB
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

Adjusted location name name size to the Oracle DB
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

Adjusted phone number size
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

- Validated size of registration number size - Validated that district code exists in the DB
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
Labels: source, backend, java

Added more size validations
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
Labels: source, backend, java

Changed title for consistency. Approved by Marina.
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: update max length
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: validate individual
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: frontend, javascript

fix(fe:FSADT1-1278): validate text fields (#920)
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

fix(fe:FSADT1-1292): validate individual (#922)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: frontend, javascript

feat(fe): Changed btn title for consistency (#921)
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: skip fetch default error handling
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/composables/useFetch.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

fix: set to invalid when response is any error except 404
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

chore: add script preview:app
  frontend/package.json
Labels: configuration, frontend, javascript

test: enable/disable default error handling
  frontend/src/composables/useFetch.ts
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: source, frontend, javascript

docs: rename variable
  frontend/src/composables/useFetch.ts
Labels: source, frontend, javascript

fix: validate autocomplete's selected value immediately
  frontend/src/components/forms/AutoCompleteInputComponent.vue
Labels: frontend, javascript

chore: add stub data for manual testing
  frontend/stub/__files/response-address-G1V2W5.json
  frontend/stub/__files/response-address-search-CA.json
Labels: frontend, javascript

fix(fe): validate autocomplete's selected value immediately (#924)
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/stub/__files/response-address-G1V2W5.json
  frontend/stub/__files/response-address-search-CA.json
Labels: frontend, javascript
