Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore(ci): update js tester action
  .github/workflows/reusable-tests-fe.yml
Labels: none

chore(ci): update js tester action (#925)
  .github/workflows/reusable-tests-fe.yml
Labels: none

fix(fe): fetch default error handling (#923)
  frontend/package.json
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/composables/useFetch.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: source, configuration, frontend, javascript

Added missing validation
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
Labels: source, backend, java

Added missing validation
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Labels: source, backend, java

feat(be:FSADT1-1277): BE validations (#926)
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Labels: source, backend, java

fix: hide the login button when user is external
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

Renamed to a more meaningful name and according to our conventions (booleans with Ind suffix)
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

- Fixed grammar - Improved logout page
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/LogoutPage.vue
Labels: frontend, javascript

fix(fe:FSADT1-1271): hide the login button when user is external (#927)
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

feat(fe): Small improvements (#928)
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/LogoutPage.vue
Labels: frontend, javascript

feat: add validations to reject submission fields
  frontend/src/helpers/validators/SubmissionReviewValidations.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, javascript

fix: put back prop removed by mistake
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat(fe): add validations to reject submission fields (#929)
  frontend/src/helpers/validators/SubmissionReviewValidations.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, javascript

no message
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, source, backend, java

feat: Update GitHub Actions workflow to use read-write account for the oracle DB in Prod
  .github/workflows/merge.yml
Labels: none

feat: Update workflow to use read-write account for the oracle DB in Prod (#930)
  .github/workflows/merge.yml
Labels: none

fix: disable data-fetcher when url is not complete
  frontend/src/components/DataFetcher.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

test: enable/disable data-fetcher
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

fix: revert unintended change
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

fix: fixing cron
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
Labels: source, backend, java

fix: fixing cron (#933)
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/controller/AbstractController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ReactiveValidator.java
  frontend/src/pages/FormBCSCPage.vue
Labels: source, controller, frontend, backend, java, javascript

chore: cleaning things
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

fix(FSADT1-1312): making fuzzy works for all types
  processor/src/main/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcher.java
Labels: none

fix(FSADT1-1312): making fuzzy works for all types (#934)
  processor/src/main/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcher.java
Labels: none

no message
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, source, backend, java

fix: upgrade org.apache.commons:commons-text from 1.10.0 to 1.11.0
  backend/pom.xml
Labels: backend, java

fix: upgrade org.dhatim:fastexcel from 0.16.4 to 0.17.0
  legacy/pom.xml
Labels: none

feat(FSADT1-1307): adding search by ids (#218)
  api/.github/workflows/analysis.yml
  api/.github/workflows/pr-open.yml
  api/.github/workflows/reusable-tests-be.yml
  api/.github/workflows/reusable-tests-repo.yml
  api/.gitignore
  api/.mvn/wrapper/maven-wrapper.properties
  api/Dockerfile
  api/mvnw
  api/mvnw.cmd
  api/src/main/java/ca/bc/gov/api/oracle/legacy/ApplicationConstants.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ClientLocationIdEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientBaseEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientLocationService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientSearchService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/AbstractTestContainerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchControllerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientSearchServiceIntegrationTest.java
Labels: none

feat: announce dialogs properly
  frontend/src/App.vue
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

fix: upgrade @carbon/web-components from 2.3.0 to 2.6.0
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: upgrade typescript from 5.3.3 to 5.4.4
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: upgrade aws-amplify from 6.0.17 to 6.0.27
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1285): adding business name xtraction
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/app/util/JwtPrincipalUtilTest.java
Labels: tests, source, backend, java

chore(FSADT1-1285): controller pass the principal
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

feat(FSADT1-1285): passing info to matcher
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

test(FSADT1-1285): fixing test
  backend/src/test/java/ca/bc/gov/app/util/JwtPrincipalUtilTest.java
Labels: tests, backend, java

chore(deps:Snyk): Upgrade org.apache.commons:commons-text from 1.10.0 to 1.11.0 (#935)
  backend/pom.xml
Labels: backend, java

Added missing code
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  frontend/src/pages/FormBCSCPage.vue
Labels: source, frontend, backend, java, javascript
