Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix(be:FSADT1-1194): Fix sorting issue (#894)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/pages/SubmissionListPage.vue
Labels: source, frontend, backend, java, javascript

feat(fe:FSADT1-1006): add progress status message (#893)
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: source, frontend, javascript

feat: Update GitHub Actions workflow to use read only account for the oracle DB. This is a temporarly solution.
  .github/workflows/merge.yml
Labels: none

feat: Update GitHub Actions workflow to use read only account for the… (#895)
  .github/workflows/merge.yml
Labels: none

feat: Update GitHub Actions workflow to use read only account for the oracle DB. This is a temporarly solution.
  .github/workflows/merge.yml
Labels: none

feat: Update GitHub Actions workflow to use read only account for the oracle DB. (#896)
  .github/workflows/merge.yml
Labels: none

fix: Removed wrong parameters
  .github/workflows/merge.yml
Labels: none

fix: Removed wrong parameters (#897)
  .github/workflows/merge.yml
Labels: none

fix: fixing prod deployment config
  .github/workflows/merge.yml
Labels: none

fix: fixing prod deployment config (#898)
  .github/workflows/merge.yml
Labels: none

docs(FSADT1-1274): updating the authorization doc
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

docs: updating pr template
  .github/pull_request_template.md
Labels: github_actions

doc(FSADT1-1274): updating the authorization doc (#900)
  .github/pull_request_template.md
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: github_actions, source, backend, java

fix(FSADT1-1275): filtering access by http method
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

Formatted code for better readibility
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

fix(FSADT1-1275): filtering access by http method (#901)
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

fix(FSADT1-1276): token refresh time is 90% of exp
  frontend/src/helpers/ForestClientUserSession.ts
Labels: source, frontend, javascript

fix(FSADT1-1276): token refresh time is 90% of exp (#902)
  frontend/src/helpers/ForestClientUserSession.ts
Labels: source, frontend, javascript

feat(FSADT1-1280): rate-limit for backend
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat(FSADT1-1280): updating haproxy annotations
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat(FSADT1-1280): updating haproxy annotations
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat(FSADT1-1280): reducing haproxy annotations
  backend/openshift.deploy.yml
Labels: backend, java, openshift

chore: changing ches url call
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: tests, source, backend, java

chore: reducing the rate-limiter values
  backend/openshift.deploy.yml
Labels: backend, java, openshift

chore: adjusting the rate-limiter values
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat(FSADT1-1280): rate-limit for backend (#903)
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: tests, source, backend, java, openshift

feat: announce error message for dropdown
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

fix: apply some forgotten tweaks
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

feat: announce inline error on multiselect-input field
  frontend/src/components/forms/MultiselectInputComponent.vue
Labels: frontend, javascript

feat: announce inline error for text-input field
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

feat: announce inline error on radio-input field
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

feat: switch role to allow repeating the error message in case it persists
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

feat: announce inline error for auto-complete fields
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

fix: use role generic
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

fix: fix error message casing
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

docs: fix comment
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

feat(fe:FSADT1-1006): announce input field inline error messages (#904)
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Labels: configuration, frontend, javascript

fix: remember current status of individual validation
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: frontend, javascript

fix: make sure to revalidate with user's last name
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript
