Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore(deps): update dependency typescript to v5
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps): update dependency vite-plugin-istanbul to v5
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps): update linters
  frontend/package.json
Labels: configuration, frontend, javascript

fix: fixing landing page style
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/LandingPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

docs: updating documentations
  .github/pull_request_template.md
  frontend/.devcontainer/frontend.code-workspace
Labels: github_actions, frontend, javascript

test: add commands towards a complete flow test
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/common.ts
Labels: none

test: move utility code to a new function
  cypress/cypress/e2e/common.ts
Labels: none

fix: capitalizing bc registry names
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
Labels: source, backend, java

fix: fixing step 1 styles
  frontend/src/assets/styles/global.scss
  frontend/src/helpers/DataConversors.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

Small fixed
  frontend/src/App.vue
Labels: frontend, javascript

fix: fixing step 2 style
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/DataConversors.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/stub/__files/response-details-JJ.json
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

fix: fixing modal
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: fixing toast notification
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

chore: fixing stub content
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/example.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, frontend, javascript

fix: fixing step 3 style
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

fix: fixing step 3 style
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

fix: fixing confirmation style
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix: fixing user flow sample
  cypress/cypress/e2e/sample.ts
Labels: none

Made some content changes
  frontend/src/App.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: source, frontend, javascript

no message
  frontend/src/App.vue
Labels: frontend, javascript

Made content changes
  frontend/src/App.vue
Labels: frontend, javascript

Moved CSS classes to keep it DRY
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Change request for small screens
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: complete contacts step
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
Labels: none

Changed hover color for tertiary buttons
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: frontend, javascript

Revert "Changed hover color for tertiary buttons"
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: frontend, javascript

Added hover colors for buttons and beautified code
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Aligned color for the buttons according to the FSA theme
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: check information in the review step
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/common.ts
Labels: none

test: submit and intercept
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
Labels: none

test: check information sent to the backend
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
Labels: none

chore: fixing eslint config for vscode
  frontend/.eslintrc.cjs
  frontend/.eslintrc.js
Labels: frontend, javascript

fix: fixing validators and component format
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/DataFetcher.vue
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/helpers/validators/ExternalFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: source, frontend, javascript

chore: fixing package lock
  frontend/package-lock.json
Labels: configuration, frontend, javascript

fix: fixing progress bar
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

fix: fixing focus and scroll to view
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: source, frontend, javascript

chore(deps): update linters (major) (#569)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: fixing package lock
  frontend/package-lock.json
Labels: configuration, frontend, javascript

ci: updating ci order
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

chore(deps): update dependency vite-plugin-istanbul to v5 (#567)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript
