Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Made code reviews
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
Labels: none

FSADT1-1139: Adding location matcher
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/matchers/LocationMatcher.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
Labels: source, frontend, javascript

Merge branch 'main' into feat/FSADT1-1139-1
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionLocationDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/ProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
Labels: none

Rollbacked change
  processor/src/main/java/ca/bc/gov/app/matchers/ProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
Labels: none

no message
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionLocationDto.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: none

no message
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: none

Improved code
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

no message
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

no message
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

FSADT1-1139: Adding location matcher (#750)
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionMatchDetailEntity.java
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/LocationMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: tests, source, frontend, backend, java, javascript

chore: updating dockerfile
  backend/Dockerfile
Labels: backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

chore: updating dependencies
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
Labels: source, backend, java

chore: updating dependencies
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
Labels: source, backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

chore: updating dependencies
  backend/pom.xml
Labels: backend, java

feat(FSADT1-992): adding observability
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
Labels: source, configuration, backend, java

feat(FSADT1-992): adding observability
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
Labels: source, backend, java

feat(FSADT1-992): adding observability
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

feat(FSADT1-992): adding observability
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/service/cognito/CognitoService.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

feat(FSADT1-992): adding metrics to frontend
  frontend/Caddyfile
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

feat(FSADT1-992): adding observability
  backend/pom.xml
  legacy/Dockerfile
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/main/resources/application.yml
Labels: backend, java

fix: delete address
  frontend/src/pages/bceidform/AddressWizardStep.vue
Labels: frontend, javascript

chore: fixing yml
  legacy/src/main/resources/application.yml
Labels: none

test: delete address
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: frontend, javascript

fix(FSADT1-1052): enabling missing config
  backend/src/main/resources/db/migration/V2__data_initialization.sql
Labels: configuration, backend, java

fix(FSADT1-1052): enabling missing config
  backend/src/main/resources/db/migration/V2__data_initialization.sql
Labels: configuration, backend, java

test: add scenario with other addresses in props
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: frontend, javascript

test: remove wrong exclusiveness of test case
  frontend/cypress/e2e/FormBCSCPage.cy.ts
Labels: tests, frontend, javascript

refactor: tests for the address step
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: frontend, javascript

FSADT1-1150
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  frontend/cypress/support/commands.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

1150
  .github/workflows/merge-main.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
Labels: source, configuration, backend, java

FSADT1-1150: Logout URL (#754)
  .github/workflows/merge-main.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  frontend/cypress/support/commands.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

fix: fixing native build on legacy
  legacy/pom.xml
Labels: none

test: remove file to check the workflow
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: frontend, javascript

Revert "test: remove file to check the workflow"
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
