Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: rearranging resources for openshift
  backend/openshift.deploy.yml
  legacy/openshift.deploy.yml
Labels: backend, java, openshift

chore: rearranging resources for openshift
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

ci: grouping deploy workflows for test and prod
  .github/workflows/merge-main.yml
Labels: none

chore: rearranging resources for openshift (#421)
  .github/workflows/merge-main.yml
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  legacy/openshift.deploy.yml
Labels: frontend, backend, java, javascript, openshift

feat(BE:FSADT1-726): Adding search capability to legacy
  legacy/src/main/java/ca/bc/gov/app/controller/ForestClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientLocationDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookNameDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookResultListResponse.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientContactEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientDoingBusinessAsEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientPublicViewEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientStatusCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientBandsHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientDoingBusinessHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientUnregisteredHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientServiceIntegrationTest.java
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
Labels: none

chore: removing TODOs
  legacy/src/test/java/ca/bc/gov/app/service/ClientServiceIntegrationTest.java
Labels: none

fix: fixing reactive swagger
  backend/src/main/resources/application.yml
  legacy/src/main/resources/application.yml
Labels: configuration, backend, java

chore: fixing typo
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

feat(BE:SFADT1-726): adding legacy api to backend
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

fix: promotion and memory (#141)
  api/.github/workflows/merge-main.yml
  api/openshift.deploy.yml
Labels: openshift

[FSADT1-712] feat: add client submit validation
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/AbstractController.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientCountryDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientProvinceDto.java
  backend/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  backend/src/main/java/ca/bc/gov/app/exception/ValidationException.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: tests, source, controller, dto, backend, java

resolve conflict
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
Labels: source, backend, java

Fix docs
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/openmaps/OpenMapsService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, controller, backend, java

Fixes
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientCountryDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientProvinceDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeDto.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, source, backend, java

Fixes
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, backend, java

[FSADT1-712] feat: add client submit validation (#423)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/AbstractController.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeDto.java
  backend/src/main/java/ca/bc/gov/app/exception/ValidationException.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/openmaps/OpenMapsService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: tests, source, controller, dto, backend, java

fix: fixing workflow issue (#142)
  api/.github/workflows/merge-main.yml
Labels: none

Add resource allocations for initContainers (#144)
  api/openshift.deploy.yml
Labels: openshift

Bump frontend Caddy to 2.6.4
  frontend/Dockerfile
Labels: frontend, javascript

fix: fixing validation on the backend
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientAddressDataDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: tests, source, configuration, backend, java

fix(FE): validation message parsing
  frontend/src/common/ValidationMessagesComponent.vue
Labels: frontend, javascript

feat(FE): adding form submission and validation
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix(FE): validation message and form submission (#425)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientAddressDataDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/ForestClientService.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

chore: removing unused code
  legacy/src/main/java/ca/bc/gov/app/controller/ForestClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicFilterObjectDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientTypeCodes.java
  legacy/src/main/java/ca/bc/gov/app/dto/FirstNationBandVidationDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/PropertyDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientBandsHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientDoingBusinessHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientUnregisteredHandlerIntegrationTest.java
Labels: none

feat(BE:FSADT1-700): adding report for business as and all
  legacy/.gitignore
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientNameCodeDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicNameDto.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/MonoUtil.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/resources/application-default.yml
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
Labels: none

no message
  frontend/components.d.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: frontend, javascript

fix(be): - Fixed as per recommended (WhitespaceAround: '+' is not followed by whitespace.)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Labels: source, backend, java

feat(be): - Cleaned and organized imports
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Labels: source, backend, java

feat(fe/be): - Improved code after code reviews
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  frontend/src/common/ValidationMessagesComponent.vue
Labels: source, frontend, backend, java, javascript

feat/fix(be): - Fixed unit testting bug - Cleaned imports - Beautified code for better readibility
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Revert "feat(be):"
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Labels: source, backend, java

fix(be): - Made code reviews
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

fix(be): - Fixed code smell issues #1
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Labels: source, backend, java

fix(be): - Removed extra separation in import group to satisfy SonarCloud
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Labels: source, backend, java

fix(be): - Fixed code smell issues #2
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Labels: source, backend, java

fix(be): - Fixed code smell issues #3
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
Labels: source, backend, java

fix(be): - Code reviews: Defined a constant instead of duplicating literal
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Labels: source, backend, java

fix(be): - Reverted change as I had it before
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

fix(be): - Fixed typo
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
Labels: source, backend, java

fix(be): - Changed field to businessName as the incorporation number is hidden in the UI
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
Labels: source, backend, java
