Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Fixed test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Fixed import order
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
Labels: none

fix(be): Adjusted shouldSearchEmpty integration test to expect empty result list and zero total count
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
Labels: none

fix: stop showing skeletons after getting an error
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, frontend, javascript

remove commented code
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

fix: show Save icon on the Reason dialog
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

chore: force rebuild
  legacy/README.md
Labels: none

fix(be): Adjusted shouldSearchEmpty integration test to expect empty result list and zero total count (#1551)
  legacy/README.md
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

feat(fe:FSADT1-1765): Skeleton state while data is being loaded (#1552)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, frontend, javascript

fix: show button to Add contact when there are no contacts yet
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

Revert "fix: show button to Add contact when there are no contacts yet"
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

fix: show button to Add contact when there are no contacts yet
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

- Optimized Client Summary Oracle SQL query - Removed tabs
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: source, backend, java

fix(fe:FSADT1-1803): CLIENT_EDITOR - Missing Add Contact Button (#1553)
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

Fixed format
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
Labels: source, backend, java

Added test
  backend/src/test/java/ca/bc/gov/app/controller/client/HistoryLogControllerTest.java
Labels: tests, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/controller/client/HistoryLogControllerTest.java
Labels: tests, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@24e075a84676175c86dddf01faad8e46c289e638 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

chore: added location expiration code
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

chore(ci): workflow permissions
  .github/workflows/.automated-tests.yml
  .github/workflows/.tools-cleanup.yml
  .github/workflows/.tools-deploy.yml
  .github/workflows/analysis.yml
  .github/workflows/issue-gherkin.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/scheduled.yml
Labels: none

- Optimized Client Location Oracle SQL query - Renamed column name
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

chore: added location expiration code
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

chore(ci): workflow permissions II
  .github/workflows/analysis.yml
Labels: none

chore(ci): workflow permissions
  .github/workflows/pr-open.yml
Labels: none

chore(ci): workflow permissions
  .github/workflows/.automated-tests.yml
Labels: none

chore: remove scripts
  legacy/src/test/resources/db/migration/V11__update_reason_code.sql
  legacy/src/test/resources/db/migration/V12__test_data_with_triggers.sql
Labels: none

test: fixing test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

chore(ci): workflow permissions (#1555)
  .github/workflows/.automated-tests.yml
  .github/workflows/.tools-cleanup.yml
  .github/workflows/.tools-deploy.yml
  .github/workflows/analysis.yml
  .github/workflows/issue-gherkin.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/scheduled.yml
Labels: none

test: fixing test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

chore(ci): workflow permissions II
  .github/workflows/pr-validate.yml
Labels: none

Update .github/workflows/pr-validate.yml
  .github/workflows/pr-validate.yml
Labels: none

Test check
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

chore(ci): workflow permissions II (#1556)
  .github/workflows/pr-validate.yml
Labels: none

test: fixing test
  legacy/src/main/java/ca/bc/gov/app/entity/ClientUpdateReasonEntity.java
Labels: none

no message
  frontend/package-lock.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
