Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Removed wrong style
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Added property needed
  frontend/src/App.vue
Labels: frontend, javascript

feat: show logout modal
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

refactor: unify code for the logout button in different sizes
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: show help modal
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: use media query instead of outerWidth to determine screen size
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Removed class that was causing issues with the logout button
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Revert "Removed class that was causing issues with the logout button"
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Fixed logout button
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

chore: adjusting CSS
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
Labels: frontend, javascript

feat: adding readonly component
  frontend/components.d.ts
  frontend/src/components/forms/ReadOnlyComponent.vue
  frontend/tests/unittests/components/forms/ReadOnlyComponent.spec.ts
Labels: frontend, javascript

chore: updating stubs and dtos
  frontend/src/dto/CommonTypesDto.ts
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-submissions-details-approved.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/mappings/backend.json
  frontend/stub/mappings/fam.json
Labels: source, frontend, javascript

feat: adjust header buttons
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Fixed mask issue with the postal code
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

feat(FSADT1-830): adding submission list
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

feat(FSADT1-817): adding route and skelleton for details
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

feat(FSADT1-817): updating review page
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Renamed some files before refactoring code
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tsconfig.app.json
Labels: source, configuration, frontend, javascript

chore(deps): update dependency @cypress/webpack-preprocessor to v6 (#574)
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: updating the stubs
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

chore: updating submission name
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

no message
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: frontend, javascript

Made code reviews
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

chore: remove console.log
  frontend/src/helpers/CustomDirectives.ts
Labels: source, frontend, javascript

fix: prevent an older request from overwriting the results
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

Made requiered changes
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Removed repeatead code
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Removed unneeded setting
  frontend/src/App.vue
Labels: frontend, javascript

fix: do not always block response from older request
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

chore: use simple counter to generate requestId
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

fix: init fetching
  frontend/src/components/DataFetcher.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

test: fix test
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

chore: fixing dependency issues
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore(deps): update dependency cypress to v13 (#572)
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
Labels: configuration, frontend, javascript

Fixed file
  frontend/package-lock.json
Labels: configuration, frontend, javascript

Added javadoc comment as per requested by SonarCloud
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

feat(FSADT1-817): adding backend apis
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetSearchResultEntryDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionApproveRejectDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionMatchDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/predicates/QueryPredicates.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionPredicates.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionMatchDetailRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/resources/templates/match.html
Labels: tests, source, configuration, backend, java

chore(deps): update dependency @cypress/webpack-preprocessor to v6
  cypress/package-lock.json
  cypress/package.json
Labels: none

docs: improve comment
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

feat: adjust header logo and buttons
  frontend/public/img/BCID_H_rgb_rev.svg
  frontend/public/img/logo-vertical 1.svg
  frontend/public/img/logo1.svg
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript
