Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix: make complexity of regex linear
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

refactor: move date part validations to props
  frontend/src/components/forms/DateInputComponent/common.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

[FSADT1-999] Add birth date to frontend (#643)
  frontend/components.d.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/common.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: tests, source, frontend, javascript

chore: adding new id types to legacy sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
Labels: none

feat(FSADT1-997): updating client notes to include submitter name
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
Labels: none

chore: updating bcsc page to reflect order of component
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat(FSADT1-998): updating RSP client id code
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
Labels: none

feat(FSADT1-998): updating individuals client id code
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

chore: updating user data to be userid
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

fix: replace 'birth date' with 'birthdate'
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: fix broken regex
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

fix: use factory functions on array props defaults
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

feat: display birthdate in the review step
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

[FSADT1-1019] Display birthdate in the review step (#648)
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

feat: improve validation messages
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

test: unit test the Date input component
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

FSADT1-961
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailLogDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/EmailLogEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/repository/client/EmailLogRepository.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: source, configuration, backend, java

Changed to resend every hour
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
Labels: source, backend, java

fix: fixing scheduler inconsistency
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvert.java
  backend/src/main/java/ca/bc/gov/app/entity/client/EmailLogEntity.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/test/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvertTest.java
Labels: tests, source, backend, java

feat: improve validation messages on the Date input component (#649)
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

FSADT1-961: Email Logs (#650)
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvert.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailLogDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/EmailLogEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/repository/client/EmailLogRepository.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvertTest.java
Labels: tests, source, configuration, backend, java

fix: prevent full date validation when day is invalid
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: fix confirmation message
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: frontend, javascript

fix: fixing tests
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  processor/src/test/resources/db/migration/V1__init.sql
  processor/src/test/resources/db/migration/V2__full_client.sql
  processor/src/test/resources/db/migration/V3__pre_packages.sql
  processor/src/test/resources/db/migration/V4__manual_data.sql
Labels: tests, backend, java

test: fixing test
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/resources/init_pg.sql
Labels: none

test: fixing test
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
Labels: none

fix: fix many non-read-only input field labels' color
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: replace applied class from body-02 to body-01
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

[FSADT1-971] Confirmation message for deleting a contact (#652)
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: source, frontend, javascript

chore(fe): adding stubs and fixtures
  frontend/cypress/fixtures/countryCodeCA.json
  frontend/stub/__files/response-getCountryByCode-CA.json
  frontend/stub/__files/response-getCountryByCode-US.json
  frontend/stub/mappings/backend.json
Labels: tests, frontend, javascript

test: updating cypress commands
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

test(fe): adding new e2e tests
  frontend/cypress/e2e/FormBCSCPage.cy.ts
Labels: tests, frontend, javascript

test: updating test
  frontend/cypress/e2e/FormBCSCPage.cy.ts
Labels: tests, frontend, javascript

[FSADT1-1013] Some field labels are not using the primary color (#653)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: fixing typos
  frontend/stub/mappings/backend.json
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
Labels: frontend, javascript

chore: random change to allow deploying a PR
  frontend/todo
Labels: frontend, javascript

feat(FSADT1-998): adding new individual document types and client notes (#644)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/fixtures/countryCodeCA.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/stub/__files/response-getCountryByCode-CA.json
  frontend/stub/__files/response-getCountryByCode-US.json
  frontend/stub/mappings/backend.json
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/resources/db/migration/V1__init.sql
  processor/src/test/resources/db/migration/V2__full_client.sql
  processor/src/test/resources/db/migration/V3__pre_packages.sql
  processor/src/test/resources/db/migration/V4__manual_data.sql
  processor/src/test/resources/init_pg.sql
Labels: tests, source, frontend, backend, java, javascript

fix: skip birthdate validation when not found
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: skip birthdate validation when not found (#658)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1042): filtering parties when not a person
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficerDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: tests, source, backend, java
