Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat(fe:FSADT1-1605): CLIENT_VIEWER Related Client Section - Front-End (#1372)
  frontend/README.md
  frontend/cypress.env.json
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, configuration, frontend, javascript

add the Under Construction UI to the Activity log tab
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, frontend, javascript

no message
  frontend/src/pages/ActivityLogPage.vue
  frontend/src/routes.ts
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: source, frontend, javascript

fix: fixing multiple location association
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Labels: source, backend, java

feat(fe:FSADT1-1606): CLIENT_VIEWER Activity Log Section - Front-End (#1374)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, frontend, javascript

fix: updating dto for details association
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: source, backend, java

fix: changing location code association
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

chore: updating stubs
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-S.json
Labels: frontend, javascript

chore: code reviews
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
Labels: none

test: fixing tests on legacy
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
Labels: none

chore: fixing sonar issue
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Labels: source, backend, java

chore: sonar changes
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

fix: multi-location association (#1375)
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-S.json
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
Labels: source, frontend, backend, java, javascript

fix style for accordion's title
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

adjust contact data
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/tests/components/pages/client-details/ContactView.cy.ts
Labels: tests, source, frontend, javascript

test: fix description
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

feat: remove dash from location's title when there is no name
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/response-clients-details-SE.json
Labels: tests, frontend, javascript

feat(fe:FSADT1-1682): CLIENT_VIEWER Client Location/Contact accordion title style (#1376)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/tests/components/pages/client-details/ContactView.cy.ts
Labels: tests, source, frontend, javascript

no message
  frontend/src/pages/ActivityLogPage.vue
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: frontend, javascript

fix: prevent error when variable is undefined
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

test: fix data for test
  frontend/stub/__files/response-clients-details-SE.json
Labels: frontend, javascript

feat(fe): remove dash from location's title when it has no name (#1377)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/mappings/client_details.json
Labels: tests, frontend, javascript

fix: fix style on summary title
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

fix(fe): fix style on summary title (#1378)
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

fix: display year of birth
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

feat: format phone numbers
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/pages/client-details/ContactView.cy.ts
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: source, frontend, javascript

fix(fe): display year of birth when birthdate is masked (#1380)
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/pages/client-details/ContactView.cy.ts
  frontend/tests/components/pages/client-details/LocationView.cy.ts
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: source, frontend, javascript

no message
  frontend/src/pages/ActivityLogPage.vue
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: frontend, javascript

test: format phone number
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@1ccfdf1c25054e5a8c900d1b5c5ff96b9fa22687 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

fix(FSADT1-1595): fixing missing contact code desc
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientCodeService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix(FSADT1-1595): fixing missing contact code desc
  frontend/src/pages/client-details/ContactView.vue
Labels: frontend, javascript

chore(FSADT1-1595): changing the order of loading
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix(FSADT1-1595): fixing incorrect country and province display
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

fix(FSADT1-1595): fixing window opener
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

no message
  backend/src/main/java/ca/bc/gov/app/dto/legacy/AuditLogDto.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ActivityLogPage.vue
  legacy/src/main/java/ca/bc/gov/app/dto/AuditLogDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: source, frontend, backend, java, javascript

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

chore: made code reviews
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/src/pages/SearchPage.vue
Labels: source, frontend, backend, java, javascript

chore: fixing tests
  frontend/tests/components/pages/client-details/ContactView.cy.ts
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
