Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat(be): Updated emails for DCR
  backend/src/main/resources/db/migration/V10__district_email_update.sql
Labels: configuration, backend, java

chore: updating deploy param
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix(CVE-2025-26791): fixing dompurify issue
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(be:FSADT1-1721): Updated emails for DCR (#1440)
  backend/src/main/resources/db/migration/V10__district_email_update.sql
Labels: configuration, backend, java

Put back all those annoying URL vars
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

update location name on accordion header
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

Routing
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

cancel name change on accordion header
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

Troubleshoot deployment number
  .github/workflows/pr-open.yml
Labels: none

Fix default URL back to param
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

chore: fixing change on obfuscator
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientDetailsSerializerModifier.java
Labels: source, backend, java

chore(fe): upgraded vue, vite and other critical dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1598): legacy dto updates
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientInformationDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

Rollback vite upgrade
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore(fe): upgraded bcgov and other dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(ci): route update (#1434)
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
Labels: frontend, backend, java, javascript, openshift

Remove dompurify dep, leave subdep
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1641): added the legacy base patch code
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchService.java
Labels: none

Removed @bcgov-nr/nr-fsa-theme
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps): update action-deployer-openshift to v4
  .github/workflows/.tools-deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

Drop deprecated commands
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

chore(deps): update action-deployer-openshift to v4 (#1445)
  .github/workflows/.tools-deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

chore(fe): upgraded bcgov and other dependencies (#1444)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded critical dependency - cypress
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: fixing search for bc registry data
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix: select reason for address change
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

remove console logs
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

fix reasons patch format
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

select reason code for address change
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

simplify code to manage change reasons
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

test: select reason for Address change
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

Upgraded @cypress/code-coverage to 3.13.12
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1641): added client summary patch
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotApplyPatchException.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/util/PatchUtilsTest.java
Labels: none

Bumping defaultCommandTimeout
  frontend/cypress.config.ts
Labels: frontend, javascript

fix: fixing version convergence issue
  legacy/pom.xml
Labels: none

fix: fixing version convergence issue
  legacy/pom.xml
Labels: none

fix: fixing version convergence issue
  backend/pom.xml
Labels: backend, java

fix: reinstating backend route
  backend/openshift.deploy.yml
Labels: backend, java, openshift
