Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

fix(fe): display the mandatory indicator on the Registration number (#1652)
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

chore(fe): added stub for good standing API
  frontend/stub/mappings/client_good_standing_indicator.json
Labels: frontend, javascript

chore(be): Fixed code security alert CVE-2025-49146 (#1654)
  processor/pom.xml
Labels: none

feat(fe:FSADT1-1907): Changed wording as per requested (#1656)
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

chore(fe): added stub for good standing API (#1657)
  frontend/stub/mappings/client_good_standing_indicator.json
Labels: frontend, javascript

chore(be): fixed CVE-2025-41234 - Reflected download attack in Spring Framework
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(be): fixed CVE-2025-41234 - Reflected download attack in Spring Framework
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(be): fixed CVE-2025-41234 - Reflected download attack in Spring (#1658)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

feat(fe:FSADT1-1692): Add tooltip to icons of "BC Registries standings"
  frontend/src/assets/styles/global.scss
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

chore(fe): upgraded cypress to 14.4.1
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(fe:FSADT1-1692): Add tooltip to icons of "BC Registries standings" (#1659)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

Upgraded related library ( cypress/code-coverage": "3.14.4")
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded wiremock to 3.13.1
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded types/node to 24.0.3
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): Upgraded vite libs - vite 6.3.5 - vite-plugin-istanbul 7.0.0
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded cypress to 14.4.1 (#1660)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: upgraded libs for the cypress repo
  cypress/package-lock.json
  cypress/package.json
Labels: none

Upgraded artifact in the backend
  backend/pom.xml
  processor/pom.xml
Labels: backend, java

Reverted commit
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore(fe): upgraded wiremock to 3.13.1 (#1661)
  backend/pom.xml
  frontend/package-lock.json
  frontend/package.json
  processor/pom.xml
Labels: configuration, frontend, backend, java, javascript

chore(fe): upgraded types/node to 24.0.3 (#1662)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(FSADT1-1868): reorder address fields in getAddressValue method
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
Labels: none

fix(be:FSADT1-1910): Fixed wrong latest user who updated or inserted a note
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

feat(fe:FSADT1-1715): Adjusted label as per requested
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

fix(be:FSADT1-1910): Fixed wrong latest user who updated or inserted … (#1667)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

chore: Update frontend/src/CoreConstants.ts
  frontend/src/CoreConstants.ts
Labels: source, frontend, javascript

fix(FSADT1-1868): reorder address fields in getAddressValue method (#1666)
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
Labels: none

feat(fe:FSADT1-1715): Adjusted label as per requested (#1668)
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

ci: updating build args to reduce build time
  backend/Dockerfile
  legacy/Dockerfile
Labels: backend, java

chore: fixing issue with build on backend
  backend/Dockerfile
Labels: backend, java

chore: updating pom
  backend/pom.xml
Labels: backend, java

chore: making configuration same across BE
  backend/Dockerfile
  legacy/Dockerfile
  legacy/pom.xml
Labels: backend, java

ci: adding missing permission
  .github/workflows/pr-open.yml
Labels: none

ci: adding attestation permission
  .github/workflows/pr-open.yml
Labels: none

ci: updating build args to reduce build time (#1669)
  .github/workflows/pr-open.yml
  backend/Dockerfile
  backend/pom.xml
  legacy/Dockerfile
  legacy/pom.xml
Labels: backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@e5d050ab6dc46b05bff22b4e68d750b97658c1ad 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

preserve unchanged data
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/pages/client-details/LocationView.cy.ts
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

fix: remove .only from test
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

fix(fe:FSADT1-1911): prevent replacing null data with empty string (#1671)
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/pages/client-details/LocationView.cy.ts
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

Update pom.xml
  backend/pom.xml
Labels: backend, java

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
