Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat(fe:FSADT1-1382): Added code for the dashboard empty state (#1032)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionListPage.vue
Labels: configuration, frontend, javascript

feat(be:FSADT1-1324): Changes in email templates (#1026)
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
Labels: configuration, backend, java

fix(fe:FSADT1-1406): Changed the logic when the good standing indicat… (#1030)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

feat(FSADT1-1364): backend fuzzy match for contacts (#1028)
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ContactSearchDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/ContactStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchLocationControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ContactSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: tests, source, backend, java

chore(deps:Snyk): Upgrade @carbon/icons-vue from 10.90.0 to 10.92.0 (#1022)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps:Snyk): Upgrade cypress from 13.8.1 to 13.11.0 (#1023)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps:Snyk): Upgrade sass from 1.77.1 to 1.77.4 (#1024)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(fe:FSADT1-1385): Create the "Client created" page for staff (#1045)
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/CoreConstants.ts
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/routes.ts
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: tests, source, frontend, javascript

fix(FSADT1-1382): limited empty state to loaded (#1037)
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

feat(FSADT1-1404): first nations api (#1035)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/opendata/OpenDataController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/Crs.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/CrsProperties.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/Feature.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/FeatureProperties.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/Geometry.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/OpenData.java
  backend/src/main/java/ca/bc/gov/app/dto/openmaps/FeatureDto.java
  backend/src/main/java/ca/bc/gov/app/dto/openmaps/OpenMapsResponseDto.java
  backend/src/main/java/ca/bc/gov/app/dto/openmaps/PropertyDto.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/AbstractOpenDataService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/BcMapsService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/SacService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/opendata/OpenDataControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/resources/application-default.yml
  frontend/public/data/params.js
  frontend/stub/__files/response-opendata-autocomplete.json
  frontend/stub/mappings/backend.json
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: tests, source, configuration, frontend, backend, java, javascript

feat: added user identification to logs (#1036)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/filters/UserIdWebFilter.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

feat(fe:FSADT1-1350): Create client for staff Step 4 - Review (#1044)
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/tests/pages/staff/ContactWizardStep.cy.ts
Labels: tests, source, configuration, frontend, javascript

feat(FSADT1-1347): create client for staff Step 3 - Contacts (#1043)
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
Labels: source, frontend, javascript

feat(FSADT1-1401): Create Textarea input component (#1034)
  frontend/components.d.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextareaInputComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/unittests/components/forms/TextareaInputComponent.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

feat(FSADT1-1347): create client for staff Step 3 - Contacts (#1040)
  frontend/.devcontainer/frontend.code-workspace
  frontend/components.d.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/fixtures/roles.json
  frontend/package-lock.json
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/ContactsWizardStep.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/pages/staff/ContactWizardStep.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.base.json
  frontend/tsconfig.cypress.json
  frontend/tsconfig.json
  frontend/tsconfig.vite-config.json
  frontend/tsconfig.vitest.json
Labels: tests, source, configuration, frontend, javascript

feat(FSADT1-1347): create client for staff Step 3 - Contacts (#1041)
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/pages/staffform/ContactsWizardStep.vue
  frontend/tests/pages/staff/ContactWizardStep.cy.ts
Labels: tests, frontend, javascript

feat(fe:FSADT1-1382): Added code for the dashboard empty state (#1033)
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1389): Create client for staff - no selection (#1046)
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: source, frontend, javascript

fix(fe): Aligned FE validation with BE validation as per agreement (#1042)
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: source, frontend, javascript

fix(fe:FSADT1-1423): Hide left menu when the user is at the confirmat… (#1057)
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix: staff contact validation (#1055)
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(fe:FSADT1-1414): Left menu active status (#1053)
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

feat: add fuzzy matching notification (#1060)
  frontend/components.d.ts
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/stub/mappings/fuzzy_matches.json
Labels: tests, source, frontend, javascript

fix(be:FSADT1-1419): Client ID is not being saved (#1054)
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

fix(be): Removed logic from Legacy and placed it in the Processor (#1052)
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(FSADT1-1425): fixed mapping issues for external (#1059)
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Labels: source, backend, java

feat(fe:FSADT1-1402): Create client for staff Step 1 - Individuals - capturing other ID (#1049)
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: source, frontend, javascript

fix: small adjustments (#1051)
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormStaffProcessingPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/routes.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/unittests/pages/FormStaffProcessingPage.spec.ts
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/resources/application.yml
Labels: tests, source, configuration, frontend, backend, java, javascript

fix(FSADT1-1422): added the missing middle name (#1058)
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

feat(FSADT1-1390): First Nation, Government, Ministry of Forests, and Unregistered Business client types (#1070)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/FeatureProperties.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/AbstractOpenDataService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/SacFirstNationService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/SacFirstNationTribeService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/opendata/OpenDataControllerIntegrationTest.java
  backend/src/test/resources/application-default.yml
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/e2e/FormStaffPageSubmission.cy.ts
  frontend/cypress/fixtures/firstNations.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/CombinedClientInformationWizardStep.vue
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

feat(FSADT1-1399): Backend Fuzzy matching for Business Information for Other types (#1071)
  backend/src/main/java/ca/bc/gov/app/dto/client/StepMatchEnum.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/FirstNationsStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/OthersStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationAcronymValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationDoingBusinessValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationWorkSafeValidator.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/FirstNationsStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/OthersStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationAcronymValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationDoingBusinessValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationWorkSafeValidatorTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V8__test_case_data.sql
  processor/Dockerfile
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
Labels: tests, source, backend, java

fix: removing fuzzy match (#1063)
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(FSADT1-1428): fixed email not beint sent (#1064)
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
Labels: none

fix: fixing feature flag (#1069)
  backend/openshift.configmap.prod.yml
  backend/openshift.configmap.test.yml
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
Labels: source, backend, java, openshift

fix(FSADT1-1426): fixed multi-address issue (#1061)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

fix(FSADT1-1363): added missing headers for cors (#1068)
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

fix(be:FSADT1-1430): Fix submission list filter (#1072)
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

feat(FSADT1-1397): Backend Fuzzy matching on Business Information for BC Registered Business (#1065)
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcher.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/support/commands.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XP.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

fix: fixing missing dto for native reflection (#1074)
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/application.yml
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

chore: removing validation (#1067)
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
