Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix(fe:FSADT1-2008): Client search - Number of pages incorrect at first (#1776)
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

allow the Date component to be used as optional
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: tests, source, frontend, javascript

feat(fe): allow the Date component to be used as optional (#1777)
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: tests, source, frontend, javascript

fix(sec:CVE-2025-58057): Netty's BrotliDecoder is vulnerable to DoS via zip bomb style attack
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(sec:CVE-2025-58057): Netty's BrotliDecoder is vulnerable to DoS v… (#1779)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(sec:CVE-2025-58057): Netty's BrotliDecoder is vulnerable to DoS (#371)
  api/pom.xml
Labels: none

feat(FSADT1-2005): System should not approve submissions on same ID
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

display the Edit form
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/LocationRelationshipsView.vue
  frontend/src/pages/client-details/shared.ts
Labels: source, frontend, javascript

feat(FSADT1-2005): System should not approve submissions on same ID
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

Fixed spelling mistake
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

wire relationship form with the Patch API
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/LocationRelationshipsView.vue
  frontend/src/pages/client-details/shared.ts
Labels: source, frontend, javascript

load the related client text description
  frontend/src/pages/client-details/ClientRelationshipForm.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@b9e91d16722092c252936f3ae151366ecae05f2a 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/default.nrfc.xml
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
  nrfc/tables/submission_location.html
Labels: none

feat(waste-plus-127): updating search by numbers (#374)
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientCountEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/QueryConstants.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientSearchService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchControllerIntegrationTest.java
Labels: none

pass component exposed-like reference when saving
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/LocationRelationshipsView.vue
  frontend/src/pages/client-details/shared.ts
Labels: source, frontend, javascript

add CodeNameValue to dropdown
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

fix "hasAnyChange" detection
  frontend/src/pages/client-details/ClientRelationshipForm.vue
Labels: frontend, javascript

css comment
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: edit relationship
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/LocationRelationshipsView.vue
  frontend/src/pages/client-details/shared.ts
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/mappings/client_details.json
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
  frontend/tests/components/pages/client-details/LocationRelationshipsView.cy.ts
Labels: tests, source, frontend, javascript

add validation to Edit relationship
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/LocationRelationshipsView.vue
Labels: frontend, javascript

fix tests
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
  frontend/tests/components/pages/client-details/LocationRelationshipsView.cy.ts
Labels: frontend, javascript

feat(fe:FSADT1-1966): Create related client edit screen (#1787)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/src/pages/client-details/LocationRelationshipsView.vue
  frontend/src/pages/client-details/shared.ts
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/mappings/client_details.json
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
  frontend/tests/components/pages/client-details/LocationRelationshipsView.cy.ts
Labels: tests, source, frontend, javascript

test: remove unneeded code
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
Labels: frontend, javascript

fix(be:FSADT1-2016): Related Clients Patch API: hasSigningAuthority conversion
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@8d0cd81f4f7a9dd8fd749d54fdd8384629001976 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

fix Date input field issue
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

fix(be:FSADT1-2016): Related Clients Patch API: hasSigningAuthority (#1788)
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: none

emit possibly value true when not required and value is empty
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

make birthdate optional
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

send percentageOwnership as a number
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
Labels: frontend, javascript

test: percentageOwnership
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
Labels: frontend, javascript

restore changes: moved test to the form
  frontend/tests/components/pages/client-details/ClientRelationshipRow.cy.ts
Labels: frontend, javascript

fix(fe:FSADT1-2017): send percentageOwnership as a number (#1790)
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/tests/components/pages/client-details/ClientRelationshipForm.cy.ts
Labels: frontend, javascript

fix: setting new node version
  .github/workflows/reusable-tests-fe.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: updating some of the dependencies for node
  .github/workflows/reusable-tests-fe.yml
  frontend/Dockerfile
  frontend/package.json
Labels: configuration, frontend, javascript

test DateInputComponent
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

move id attribute to the root (for enabled input date)
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

test Date of birth
  frontend/tests/components/pages/staffform/IndividualClientInformationWizardStep.cy.ts
Labels: frontend, javascript

fix wait focus time on test
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@6d9f93259394eaa01a77531af5d97dad859923e6 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none
