Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

fix(FSADT1-2032): Fixing Legacy optional DOB (#1846)
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchIndividualControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchIndividualServiceIntegrationTest.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@0eb1db9c76ca166d3a23c44aa258b44f23cdf16f 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

Downgraded netty
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

Downgrade flyway
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

remove feature flag RELATED_CLIENTS
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/package.json
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, configuration, frontend, javascript

no message
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

Update Flyway version from 11.17.0 to 11.11.1
  legacy/pom.xml
Labels: none

Downgrade Flyway version from 11.17.0 to 11.11.1
  processor/pom.xml
Labels: none

chore: remove feature flag RELATED_CLIENTS (#1856)
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/package.json
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, configuration, frontend, javascript

fix(fe): fixed CVE-2025-64756 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Removed duplicated key
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(be:FSADT1-1730): Implement scheduled job to send pending submission reminder emails
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDistrictListDto.java
  backend/src/main/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJob.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/pendingSubmission.html
Labels: source, configuration, backend, java

Reorganized imports
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

chore: added test
  backend/src/main/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJob.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, source, backend, java

chore: fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

chore(ci): update renovate config version
  renovate.json
Labels: none

chore(ci): update renovate config version (#1859)
  renovate.json
Labels: none

chore(ci): likely final postgres 13 update
  .github/workflows/.deploy.yml
  database/Dockerfile
Labels: database

no message
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

chore: fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, source, backend, java

chore: fixed test
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, source, backend, java

chore: fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

chore: fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJobTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
Labels: tests, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJobTest.java
Labels: tests, backend, java

chore: fixed test
  backend/src/test/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJobTest.java
Labels: tests, backend, java

Added missing line
  backend/src/test/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJobTest.java
Labels: tests, backend, java

Removed unused imports
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientObfuscate.java
Labels: source, backend, java

feat(be:FSADT1-1730): Implement scheduled job to send pending submission reminder emails (#1858)
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientObfuscate.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDistrictListDto.java
  backend/src/main/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJob.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/pendingSubmission.html
  backend/src/test/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJobTest.java
Labels: tests, source, configuration, backend, java

fix(cypress): fixed CVE-2025-64756 vulnerability
  cypress/package-lock.json
  cypress/package.json
Labels: none

fix(cypress): fixed CVE-2025-64756 vulnerability (#1864)
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/package-lock.json
Labels: none

fix: js-yaml has prototype pollution in merge
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
Labels: configuration, frontend, javascript

Updated authors
  frontend/package.json
Labels: configuration, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
