Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat(FSADT1-1388): added bc reg validations
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

fix(FSADT1-1425): fixed mapping issues for external
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Labels: source, backend, java

fix(FSADT1-1425): fixed mapping issues for external (#1059)
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Labels: source, backend, java

test(FSADT1-1388): updated tests and cypress files
  frontend/cypress/fixtures/clients/bcreg_C1231231.json
  frontend/cypress/fixtures/clients/bcreg_C1234567.json
  frontend/cypress/fixtures/clients/bcreg_C4443332.json
  frontend/cypress/fixtures/clients/bcreg_C4566541.json
  frontend/cypress/fixtures/clients/bcreg_C7745745.txt
  frontend/cypress/fixtures/clients/bcreg_C7775745.txt
  frontend/cypress/fixtures/clients/bcreg_FM123123.json
  frontend/cypress/fixtures/clients/bcreg_FM7715744.txt
  frontend/cypress/fixtures/clients/bcreg_LL123123.txt
  frontend/cypress/fixtures/clients/bcreg_ac_list1.json
  frontend/cypress/fixtures/clients/bcreg_ac_list2.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

chore: added IDs to error notification
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
Labels: frontend, javascript

chore: small update on submission validator
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

feat(FSADT1-1388): added match notification
  frontend/components.d.ts
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: source, frontend, javascript

feat: add fuzzy matching notification
  frontend/components.d.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/stub/mappings/fuzzy_matches.json
Labels: source, frontend, javascript

test: fix tests to wait the fuzzy matching delays
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

feat: add fuzzy matching notification (#1060)
  frontend/components.d.ts
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/stub/mappings/fuzzy_matches.json
Labels: tests, source, frontend, javascript

no message
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: source, frontend, javascript

feat(FSADT1-1388): added bc registered handling for all types
  frontend/cypress/fixtures/clients/bcreg_C7775745.json
  frontend/cypress/fixtures/clients/bcreg_FM7715744.json
  frontend/cypress/fixtures/clients/bcreg_FM7715744.txt
  frontend/cypress/fixtures/clients/bcreg_LL123123.json
  frontend/cypress/fixtures/clients/bcreg_LL123123.txt
  frontend/cypress/fixtures/clients/bcreg_ac_list2.json
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

feat(FSADT1-1388): allowing idir to receive responses
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, source, backend, java

chore: updated staff validation config
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

test: updated cypress fixtures and commands
  frontend/cypress/fixtures/clients/bcreg_FM123456.json
  frontend/cypress/fixtures/clients/bcreg_ac_list3.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

test(FSADT1-1388): added more tests
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: frontend, javascript

test(FSADT1-1388): added test case for 404
  frontend/cypress/fixtures/clients/bcreg_C9999999.txt
  frontend/cypress/fixtures/clients/bcreg_ac_list2.json
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

feat(FSADT1-1388): added work safe bc to legacy
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientMapperTest.java
Labels: none

auto-fill data manual test
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(FSADT1-1388): added workSafeBCNumber to dto
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
Labels: none

fix(FSADT1-1388): fixed fuzzy notification
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

feat(FSADT1-1388): added registered SP staff variation
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
Labels: none

feat(FSADT1-1388): broaden the doing business as code
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

chore(FSADT1-1388): added test case name to test
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

fix(FSADT1-1426): fixed multi-address issue
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

chore: disabling content of another feature
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  frontend/src/pages/FormStaffPage.vue
Labels: source, frontend, backend, java, javascript

chore: returned value
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
Labels: source, backend, java

feat: highlight the fields with error
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

fix(fe:FSADT1-1427): Fixed issue with autocomplete emitting value twice
  frontend/src/components/forms/AutoCompleteInputComponent.vue
Labels: frontend, javascript

feat: validate fields as a group
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

feat: highlight fields with warning style
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

fix: removing fuzzy match
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix: removing fuzzy match (#1063)
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix: validate the businessName
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1428): fixed district load on processor
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
Labels: none

chore(FSADT1-1828): added retry on client number loading
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

fix(FSADT1-1428): fixed email not beint sent (#1064)
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
Labels: none

feat(FSADT1-1397): renamed cases for registered
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
Labels: tests, source, backend, java

no message
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: source, frontend, javascript

Commeting this for now until the API in done
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
