Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test: update tests
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: tests, frontend, javascript

feat(fe:FSADT1-1006): follow the expected heading order (#838)
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: tests, frontend, javascript

fix: fixing deploy config
  .github/workflows/merge-main.yml
Labels: none

ci: fixing possible deployment issues
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

fix: fixing deploy config (#839)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

ci: fixing merge main
  .github/workflows/merge-main.yml
Labels: none

ci: fixing logout url
  .github/workflows/merge-main.yml
Labels: none

ci: fixing logout url (#841)
  .github/workflows/merge-main.yml
Labels: none

chore: adding route to backend back
  backend/openshift.deploy.yml
Labels: backend, java, openshift

fix(FSADT1-1234): adding sha loading for scripts
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/setenv.sh
Labels: frontend, javascript

fix: fixing caddy admin port
  frontend/Caddyfile
Labels: frontend, javascript

fix: fix provinces mock api
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

fix(FSADT1-1234): removing eval
  frontend/Caddyfile
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: source, frontend, javascript

fix: replace input type tel with input mode numeric on Date input
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
Labels: frontend, javascript

fix: add prop `numeric` on Text input component
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

docs: add information about the numeric prop
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

style: add line break
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix: fix reactivity on a11y attributes
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

docs: improve variable names
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix(fe:FSADT1-1006): Display numeric keyboard without classifying the field as a telephone (#843)
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

fix: fix reactivity on a11y attributes (#845)
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

doc: adding idempotent script
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V5__new_client_id_type_code.sql
Labels: none

refactor: Rename class
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, configuration, backend, java

chore: changing order
  legacy/src/test/resources/db/migration/V4__new_client_id_type_code.sql
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: none

fix(FSADT1-1234): adding fam domain to connect-src
  frontend/Caddyfile
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

doc: adding idempotent script (#847)
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V4__new_client_id_type_code.sql
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: none

refactor: Renamed other classes
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/CorsCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/Oauth2Customizer.java
Labels: source, configuration, backend, java

fix: fixing caddy
  frontend/Caddyfile
Labels: frontend, javascript

refactor: Rename class (#848)
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/CorsCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/Oauth2Customizer.java
Labels: source, configuration, backend, java

test: fixing tests
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: source, frontend, javascript

feat: skip the anchor tag on the header
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: fixing missing comma
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
Labels: source, configuration, backend, java

fix: make focus indicator visible for the Help button
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

ci: exclude district code table
  database/openshift.backup.yml
Labels: database, openshift

ci: exclude district code table (#852)
  database/openshift.backup.yml
Labels: database, openshift

chore(ci): start providing full URLs to deployments
  .github/workflows/pr-open.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix: fixing notfound not returning 404
  frontend/Caddyfile
  frontend/src/routes.ts
Labels: source, frontend, javascript

Formatting and simplification
  .github/workflows/pr-open.yml
Labels: none

Add URL vars to merge workflow
  .github/workflows/merge-main.yml
Labels: none

Remove excess params
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  legacy/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: frontend, backend, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
