Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: updated files
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

test: adding delay before check
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
Labels: tests, frontend, javascript

chore: ignoring report path for vite
  frontend/package.json
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix: added missing cors header
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

fix: fixed text
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/FormStaffProcessingPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/routes.ts
  frontend/tests/unittests/pages/FormStaffProcessingPage.spec.ts
Labels: tests, source, frontend, javascript

fix: fixed metrics endpoint for processor
  processor/src/main/resources/application.yml
Labels: none

fix: fixed location name case
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

feat(be:FSADT1-1420): Email generated from staff creation of client number
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
Labels: configuration, backend, java

Sanittized phone numbers before persisting data
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
Labels: none

fix: fixed some of the error handling and test
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: source, frontend, javascript

test: adding contactGroupComponent test back
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: fixed test cases
  frontend/cypress/e2e/FormBCSCPage.cy.ts
Labels: tests, frontend, javascript

test: adding test back
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
Labels: frontend, javascript

fix: small adjustments (#1051)
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormStaffProcessingPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/routes.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/unittests/pages/FormStaffProcessingPage.spec.ts
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/resources/application.yml
Labels: tests, source, configuration, frontend, backend, java, javascript

Removed logic from Legacy and placed it in the Processor
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(be): Removed logic from Legacy and placed it in the Processor (#1052)
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(fe:FSADT1-1414): Left menu active status
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix(be:FSADT1-1419): Client ID is not being saved
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
Labels: none

test: fixed test cases
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

test: fixed test cases
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(fe:FSADT1-1414): Left menu active status (#1053)
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Took into account BCSC logic
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
Labels: none

chore: updating config
  frontend/tsconfig.cypress.json
  frontend/tsconfig.vite-config.json
  frontend/tsconfig.vitest.json
Labels: configuration, frontend, javascript

feat(FSADT1-1388): updated readonly component
  frontend/src/components/forms/ReadOnlyComponent.vue
  frontend/tests/unittests/components/forms/ReadOnlyComponent.spec.ts
Labels: frontend, javascript

feat(FSADT1-1388): added bc registered staff loading
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix validations
  frontend/src/components/grouping/StaffContactGroupComponent.vue
Labels: frontend, javascript

update message
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

Fixed case for BCSC
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
Labels: none

fix(be:FSADT1-1419): Client ID is not being saved (#1054)
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

docs: updated stubs
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/__files/response-bcregistry-A4427266.json
  frontend/stub/__files/response-bcregistry-C4001790.json
  frontend/stub/__files/response-bcregistry-EPR5711179.json
  frontend/stub/__files/response-bcregistry-FM1234567.json
  frontend/stub/__files/response-bcregistry-FM4152816.json
  frontend/stub/__files/response-bcregistry-FOR1225451.json
  frontend/stub/__files/response-bcregistry-FOR7272044.json
  frontend/stub/__files/response-bcregistry-JJ3478189.json
  frontend/stub/__files/response-bcregistry-LP3983048.json
  frontend/stub/__files/response-bcregistry-UU2648185.json
  frontend/stub/__files/response-bcregistry-XP2083996.json
  frontend/stub/__files/response-bcregistry-XX7944564.json
  frontend/stub/__files/response-bcregistry-XX9016140.json
  frontend/stub/__files/response-bcregistry-XX9753423.json
  frontend/stub/__files/response-bcregistry-YY5199142.json
  frontend/stub/__files/response-contact-types.json
  frontend/stub/__files/response-details-XP.json
  frontend/stub/mappings/bcregistry_autocomplete.json
  frontend/stub/mappings/codes.json
Labels: frontend, javascript

chore: added validation to isNotEmpty to check if string
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

feat(FSADT1-1388): initial version of bc registered
  frontend/src/assets/styles/global.scss
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

fix(fe:FSADT1-1423): Hide left menu when the user is at the confirmation page
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Made a better approach
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix: staff contact validation (#1055)
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(fe:FSADT1-1423): Hide left menu when the user is at the confirmat… (#1057)
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix(FSADT1-1422): added the missing middle name
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

fix(FSADT1-1422): added the missing middle name (#1058)
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

chore: added new stub
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/stub/mappings/bcregistry_autocomplete.json
Labels: source, frontend, javascript

feat(FSADT1-1388): added validations to bcreg
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
