Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

fix(FSADT1-1641): fixing native build issue with patch (#1466)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/resources/META-INF/native-image/reflect-config.json
  database/openshift.backup.yml
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  legacy/src/test/java/ca/bc/gov/app/util/PatchUtilsTest.java
Labels: source, configuration, backend, database, java, openshift

Test
  .github/workflows/.deploy.yml
Labels: none

chore(ci): common deployer workflow
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: none

Frontend params
  .github/workflows/.deploy.yml
Labels: none

Fix oc deployer ver
  .github/workflows/.deploy.yml
Labels: none

Envars
  .github/workflows/.deploy.yml
Labels: none

Start using matrix
  .github/workflows/.deploy.yml
Labels: none

Template params
  common/openshift.init.yml
Labels: openshift

Comment out steps while testing
  .github/workflows/pr-open.yml
Labels: none

Move frontend cm into init, add frontend to matrix
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Adjust merge.yml for template changes
  .github/workflows/merge.yml
Labels: none

Add legacy and processor to matrix
  .github/workflows/.deploy.yml
Labels: none

Envars
  .github/workflows/.deploy.yml
Labels: none

Test
  .github/workflows/.deploy.yml
Labels: none

Add backend, backend-cm, database-dev and frontend-cm to matrix
  .github/workflows/.deploy.yml
Labels: none

Template params
  common/openshift.init.yml
Labels: openshift

Matrix mangling
  .github/workflows/.deploy.yml
Labels: none

Test
  .github/workflows/merge.yml
Labels: none

Restore envar params
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Restore envar params
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Domain env param
  common/openshift.init.yml
Labels: openshift

Clean up workflows
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

render pre-selected options on multi-select input
  frontend/src/components/forms/MultiselectInputComponent.vue
Labels: frontend, javascript

edit and delete Contacts
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-C.json
  frontend/stub/__files/response-clients-details-G+location.json
  frontend/stub/__files/response-clients-details-G-contact.json
  frontend/stub/__files/response-clients-details-GDAC.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/mappings/client_details.json
Labels: source, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@3603cec894a32e9de27b3c8307833f8c091c24dd 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

fix: delete contact
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: source, frontend, javascript

add comment
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

update input fields order
  frontend/src/components/grouping/StaffContactGroupComponent.vue
Labels: frontend, javascript

display single input for contact name on the Client Details page
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

update contact name on tab header
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

chore(ci): common deployer workflow (#1467)
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

fix contact name duplicate validation
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

test: client details page: contacts
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

test: wait loading the list before spying
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

test: fix tests
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

remove old contacts from the unique names record
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

test: component full name
  frontend/tests/components/components/grouping/StaffContactGroupComponent.cy.ts
Labels: frontend, javascript

ci: forcing build
  frontend/src/App.vue
Labels: frontend, javascript

test: wait loading the list before spying (#1472)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/App.vue
Labels: tests, frontend, javascript

Fix template path
  .github/workflows/.deploy.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
