Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

refactor: reuse function goodStanding
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

extract summary component and other changes
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-S.json
Labels: source, frontend, javascript

test: goodStanding
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

test: add summary tests
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

Updated query
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

Added missing dto
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
Labels: none

Removed unneeded field
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: source, backend, java

Added new field as per requested
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDoingBusinessAsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
Labels: source, backend, java

add doingBusinessAs to the model
  frontend/src/dto/CommonTypesDto.ts
Labels: source, frontend, javascript

feat(be:FSADT1-1575): Changes done after code review
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

test: full client name and errors
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-S.json
Labels: tests, frontend, javascript

Added javadoc
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
Labels: none

Added test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Improved test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@6469ebc4e024948b511ed079fb39931c124c1211 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

feat(be:FSADT1-1575): Added more tests
  backend/src/test/java/ca/bc/gov/app/utils/JwtPrincipalUtilTest.java
Labels: tests, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/utils/JwtPrincipalUtilTest.java
Labels: tests, backend, java

fix(FSADT1-1650): fixing order of query (#273)
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientSearchController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/SearchNumberScoreProjection.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientSearchService.java
Labels: none

update client details url
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/SearchPage.vue
  frontend/src/routes.ts
Labels: tests, source, frontend, javascript

add Doing business as
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-GA.json
  frontend/stub/mappings/client_details.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

set label color to black
  frontend/src/components/forms/ReadOnlyComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

feat(be:FSADT1-1575): Added more tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, backend, java

chore: changing backup db
  database/openshift.backup.yml
Labels: database, openshift

feat(FSADT1-1281): changing backup images
  database/openshift.backup.yml
Labels: database, openshift

Revert "set label color to black"
  frontend/src/components/forms/ReadOnlyComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

update the general style for labels
  frontend/src/components/forms/ReadOnlyComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

Added javadoc
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

feat(FSADT1-1281): enabling pgcrypto on database
  database/Dockerfile
Labels: database

chore: renaming test migration file
  backend/src/test/resources/db/migration/R__Test_Data.sql
  backend/src/test/resources/db/migration/V9.1__Test_Data.sql
Labels: backend, java

feat(FSADT1-1281): adding database encryption to the migration
  backend/src/main/resources/db/migration/V10__data_encryption.sql
Labels: configuration, backend, java

feat(FSADT1-1281): encrypting the data on the database
  backend/src/main/resources/db/migration/V10__data_encryption.sql
  backend/src/test/resources/db/migration/V9.1__Test_Data.sql
Labels: configuration, backend, java

Made code reviews
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
Labels: source, backend, java

feat(FSADT1-1281): added connection params for encryption
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

feat(FSADT1-1281): added encryption utils
  backend/src/main/java/ca/bc/gov/app/util/DatabaseCryptoUtil.java
Labels: source, backend, java

feat(FSADT1-1281): added submission details encryption
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionDetailEntityConverter.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
Labels: source, backend, java

feat(FSADT1-1281): added submission contact encryption
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionContactEntityConverter.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
Labels: source, backend, java

feat(FSADT1-1281): added submission location encryption
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionLocationEntityConverter.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
Labels: source, backend, java

Added more javadocs
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

Made more code reviews
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
Labels: source, backend, java

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
