Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix(FSADT1-2020): adding related client id (#1817)
  backend/src/main/java/ca/bc/gov/app/dto/client/RelatedClientEntryDto.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipRow.vue
  frontend/stub/__files/response-clients-details-P.json
  frontend/stub/__files/response-clients-details-PD.json
  frontend/stub/__files/response-clients-details-RUT-move-related-01-0-to-00.json
  frontend/stub/__files/response-clients-details-RUT.json
  frontend/stub/__files/response-clients-details-SE+related-00.json
  frontend/stub/__files/response-clients-details-SE+related-02.json
  frontend/stub/__files/response-clients-details-SE.json
  legacy/src/main/java/ca/bc/gov/app/entity/ClientRelatedProjection.java
  legacy/src/main/java/ca/bc/gov/app/entity/RelatedClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/RelatedClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: tests, source, frontend, backend, java, javascript

Increased fe coverage
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/cypress/fixtures/test-case-review-duplicated.json
  frontend/stub/__files/response-client-details-FM1234567.json
  frontend/stub/__files/response-client-details-GP12345678.json
  frontend/stub/__files/response-client-details-GP38372186.json
  frontend/stub/__files/response-client-details-GP70789360.json
  frontend/stub/__files/response-client-details-review.json
  frontend/stub/mappings/client_details_by_id.json
Labels: tests, frontend, javascript

feat(FSADT1-2005): System should not approve submissions on same ID (#1782)
  .github/workflows/reusable-tests-fe.yml
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/validator/SubmissionValidatorService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  cypress/cypress/e2e/bceid.feature
  frontend/Dockerfile
  frontend/cypress/e2e/pages/FormBCSCPage.cy.ts
  frontend/cypress/e2e/pages/FormBCeIDPage.cy.ts
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/cypress/fixtures/submissionDuplicationCheckRegisteredValid.json
  frontend/cypress/fixtures/submissionDuplicationCheckUnregisteredValid.json
  frontend/cypress/fixtures/test-case-review-duplicated.json
  frontend/package.json
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/stub/__files/response-client-details-FM1234567.json
  frontend/stub/__files/response-client-details-GP12345678.json
  frontend/stub/__files/response-client-details-GP38372186.json
  frontend/stub/__files/response-client-details-GP70789360.json
  frontend/stub/__files/response-client-details-review.json
  frontend/stub/mappings/client_details_by_id.json
  frontend/stub/mappings/submission_duplicate_check_registered.json
  frontend/stub/mappings/submission_duplicate_check_unregistered.json
Labels: tests, source, configuration, frontend, backend, java, javascript

Downgrade Netty version in pom.xml
  backend/pom.xml
Labels: backend, java

Downgrade Netty BOM version to 4.1.125.Final
  legacy/pom.xml
Labels: none

Downgrade netty-bom version from 4.2.7 to 4.1.125
  processor/pom.xml
Labels: none

Downgrade Flyway version from 11.15.0 to 11.11.1
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.15.0 to 11.11.1
  legacy/pom.xml
Labels: none

Downgrade Flyway version from 11.15.0 to 11.11.1
  processor/pom.xml
Labels: none

fix: remove the relationship type from the duplicate validation
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/services/ForestClientService.ts
Labels: tests, source, frontend, javascript

test: update test for buildRelatedClientCombination
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

fix(fe): remove the relationship type from the duplicate validation (#1823)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ClientRelationshipForm.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

chore: updating configuration for FAM
  .github/workflows/.deploy.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

chore: updating default value
  common/openshift.init.yml
Labels: openshift

chore!: updating configuration for FAM (#1826)
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Deploying to gh-pages from @ bcgov/nr-forest-client@dfda7ba62fd8c2df0ec71ae4ece30f745ec154df 🚀
  index.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

Update pom.xml
  backend/pom.xml
Labels: backend, java

Downgrade Flyway and Netty versions in pom.xml
  legacy/pom.xml
Labels: none

Downgrade Flyway and Netty versions
  processor/pom.xml
Labels: none

feat(fe:FSADT1-2042): Remove notification for duplicated-client submissions once approved or rejected
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

chore: updating package lock
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(fe:FSADT1-2042): Remove notification for duplicated-client submissions once approved or rejected (#1835)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Downgrade TypeScript version to 5.8.3
  frontend/package.json
Labels: configuration, frontend, javascript

fix(FSADT1-2018): fixing null citi value
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchRelatedClientIntegrationTest.java
Labels: none

no message
  frontend/package-lock.json
Labels: configuration, frontend, javascript

fix(FSADT1-2018): fixing null city value (#1840)
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchRelatedClientIntegrationTest.java
Labels: none

fix(FSADT1-2043): Updating matcher for step 1
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchIndividualControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
Labels: tests, source, backend, java

docs(FSADT1-2043): updating javadoc
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcher.java
Labels: source, backend, java

fix(FSADT1-2043): Updating matcher for step 1 (#1841)
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchIndividualControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
Labels: tests, source, backend, java

chore: updating pom on backend
  backend/pom.xml
Labels: backend, java

chore: updating pom on backend
  backend/pom.xml
Labels: backend, java

chore: adding native build hints
  backend/src/main/resources/META-INF/native-image/reflect-config.json
Labels: configuration, backend, java

chore: reverting flyway version
  backend/pom.xml
Labels: backend, java

chore: removing some fixed versions
  backend/pom.xml
Labels: backend, java

chore: updating flyway
  backend/pom.xml
Labels: backend, java

fix(FSADT1-2040): fixing editor cannot save new birthdate
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/ClientIdentificationPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientPatchControllerIntegrationTest.java
Labels: tests, source, backend, java

fix(FSADT1-2040): fixing editor cannot save new birthdate (#1845)
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/ClientIdentificationPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientPatchControllerIntegrationTest.java
Labels: tests, source, backend, java

fix(FSADT1-2032): Fixing Legacy optional DOB
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchIndividualControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchIndividualServiceIntegrationTest.java
Labels: none

fix(FSADT1-2032): Fixing Legacy optional DOB
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

Format if statement for better readability
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none
