Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: adding restore cronjob
  database/openshift.backup.yml
Labels: database, openshift

Added validation
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
Labels: tests, source, frontend, backend, java, javascript

chore: updating compose file
  docker-compose.yml
Labels: none

ci: removing restore for now
  .github/workflows/pr-open.yml
Labels: none

ci: adding backup on other envs
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

fix: fix default location name casing
  frontend/README.md
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/fixtures/test-case-review-all.json
  frontend/cypress/fixtures/test-case-review-auto-approved.json
  frontend/cypress/fixtures/test-case-review-contact.json
  frontend/cypress/fixtures/test-case-review-goodstanding.json
  frontend/cypress/fixtures/test-case-review-incorporationName.json
  frontend/cypress/fixtures/test-case-review-incorporationNumber.json
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/stub/__files/response-submissions-details-approved.json
  frontend/stub/__files/response-submissions-details-dupped.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

chore: avoid mv error when running coverage script
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-679): disabling openshift routes (#210)
  api/.github/openshift.dev.yml
  api/.github/workflows/api-check.yml
  api/.github/workflows/pr-open.yml
  api/openshift.deploy.yml
Labels: openshift

FSADT1-1190
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/DistrictCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, source, frontend, backend, java, javascript

feat(FSADT1-823): adding database backup config (#782)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  database/openshift.backup.yml
  database/openshift.deploy.yml
  docker-compose.yml
Labels: database, openshift

chore: fixing endpoint name and dto
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/DistrictDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, source, backend, java

feat(FSADT1-1173): Changes related to the Natural Resource Districts (#779)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/DistrictDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/DistrictCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/db/migration/V5__district_code.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, source, configuration, frontend, backend, java, javascript

[FSADT1-1189] Can't pass Contacts step due to different casing in default location name (#783)
  frontend/README.md
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/fixtures/test-case-review-all.json
  frontend/cypress/fixtures/test-case-review-auto-approved.json
  frontend/cypress/fixtures/test-case-review-contact.json
  frontend/cypress/fixtures/test-case-review-goodstanding.json
  frontend/cypress/fixtures/test-case-review-incorporationName.json
  frontend/cypress/fixtures/test-case-review-incorporationNumber.json
  frontend/package.json
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/stub/__files/response-submissions-details-approved.json
  frontend/stub/__files/response-submissions-details-dupped.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, configuration, frontend, javascript

chore: fixing endpoint names
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: tests, source, frontend, backend, java, javascript

chore: updating stubs #1
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-page0.json
  frontend/stub/__files/response-submissions-page1.json
  frontend/stub/__files/response-submissions-page2.json
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

chore: fixing endpoint names
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, backend, java

chore: fixing endpoint names
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

fix!: changing backend API naming
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/CountryController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/DistrictController.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCountryControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientDistrictControllerIntegrationTest.java
Labels: tests, source, backend, java

fix!: changing frontend API consumption
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/stub/mappings/backend.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

chore: adding district stub file
  frontend/stub/__files/response-districts.json
Labels: frontend, javascript

Removed deletetion of table
  backend/src/main/resources/db/migration/V5__district_code.sql
Labels: configuration, backend, java

feat: Renamed REST API names (#784)
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/CountryController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/DistrictController.java
  backend/src/main/resources/db/migration/V5__district_code.sql
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCountryControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientDistrictControllerIntegrationTest.java
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/stub/__files/response-districts.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-page0.json
  frontend/stub/__files/response-submissions-page1.json
  frontend/stub/__files/response-submissions-page2.json
  frontend/stub/mappings/backend.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

fix: fixing and aligning database scripts to be idempotent
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/main/resources/db/migration/V3__email_log_size.sql
  backend/src/main/resources/db/migration/V4__submission_matching_detail_size.sql
  backend/src/main/resources/db/migration/V5__district_code.sql
Labels: configuration, backend, java

fix: fixing URL
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/resources/junit-platform.properties
Labels: none

chore: adding baseline on migrate
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

Added missing comment and gave formatted
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

feat(FSADT1-1177): adding district email to processor (#778)
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/main/resources/db/migration/V3__email_log_size.sql
  backend/src/main/resources/db/migration/V4__submission_matching_detail_size.sql
  backend/src/main/resources/db/migration/V5__district_code.sql
  processor/src/main/java/ca/bc/gov/app/dto/DistrictDto.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/resources/junit-platform.properties
Labels: configuration, backend, java

fix: field validation
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

feat: move the field
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat: reduce gap slightly
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

feat: add the district field to BCSC
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: update table skeleton
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

fix: update district endpoints
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

feat: add the district field
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/__files/response-districts.json
  frontend/stub/mappings/backend.json
Labels: source, frontend, javascript

fix: fix backend stubs after updates
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

ci: fixing merge main CI
  .github/workflows/merge-main.yml
Labels: none

ci: fixing merge main CI (#786)
  .github/workflows/merge-main.yml
Labels: none

refactor: move district property into businessInformation
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

feat: format displayed district options
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix: add default empty district
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
