Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix: scroll to the top-notification in BCSC form
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: improve hook code
  frontend/src/composables/useElementVisibility.ts
Labels: source, frontend, javascript

test: useElementVisibility
  frontend/tests/unittests/composables/useElementVisibility.spec.ts
Labels: frontend, javascript

style: fix linting issues
  frontend/src/composables/useElementVisibility.ts
Labels: source, frontend, javascript

Fix/mobile screen issues (#687)
  frontend/index.html
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/composables/useElementVisibility.ts
  frontend/src/composables/useFocus.ts
  frontend/src/composables/useScreenSize.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/composables/useElementVisibility.spec.ts
Labels: source, frontend, javascript

test: try to fix CI issue
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: remove the fix
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

just trigger new CI run
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: add command to help debug
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: try to fix CI issue (#695)
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: add some debugging harness
  frontend/cypress.config.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

Fix/ci test issue (#696)
  frontend/cypress.config.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: try to fix issue on Main Merge Workflow
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

test: try to fix issue on Main Merge Workflow (#697)
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

test: try to fix issue on Main Merge Workflow
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

Fix/unit test issue main merge (#698)
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

fix: restrict form steps max-width
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: restrict form steps max-width (#699)
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: prevent issue on CI
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

test: debug on CI
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

docs: comment fix
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

fix: prevent issue on CI
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

feat: set phone number input type as tel
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/types.ts
Labels: source, frontend, javascript

feat: improve code readability
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

Fix/ci unit test issue (#700)
  frontend/src/composables/useFocus.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: source, frontend, javascript

chore: upload cypress screenshots on ci
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: upload cypress screenshots on ci (#702)
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

test: fix test on CI
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: fix unit test on CI
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

test: fix test on CI (#703)
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: frontend, javascript

Feat/input type tel (#701)
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/types.ts
Labels: source, frontend, javascript

fix: prevent duplicated selected item on initialization
  frontend/src/components/forms/MultiselectInputComponent.vue
Labels: frontend, javascript

feat: update text by removing a word
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: remove hyperlink
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

feat: update text by removing a word (#705)
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: reduce white space in the first step
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: remove hyperlink (#706)
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

feat: reduce white space in the first step (#707)
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix(FSADT1-1052): hiding unwanted user type
  backend/src/main/resources/db/migration/V2__data_initialization.sql
Labels: configuration, backend, java

fix(FSADT1-1029): adding validation to prevent single word
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java
