Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test: reduced the wait time on cypress
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
  frontend/cypress/e2e/FormStaffPageSubmission.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
Labels: tests, frontend, javascript

chore: added missing intercept
  frontend/cypress/e2e/FormGeneral.cy.ts
Labels: tests, frontend, javascript

chore: added missing stubs
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

feat(FSADT1-1429): Unregistered business client type is only viewed b… (#1080)
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessNameValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessNameValidatorTest.java
  frontend/src/pages/FormStaffPage.vue
  frontend/tests/unittests/pages/FormStaffPage.spec.ts
Labels: tests, source, frontend, backend, java, javascript

fix(be:FSADT1-1446): Wrong main address being persisted in Oracle
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
Labels: none

no message
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
Labels: none

fix(be:FSADT1-1446): Wrong main address being persisted in Oracle (#1082)
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
Labels: none

fix(FSADT1-1396): fixed identification fuzzy
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
Labels: frontend, javascript

chore: updating fuzzy match
  frontend/stub/__files/fuzzy/document_individual_match.json
  frontend/stub/__files/fuzzy/full_acronym_match.json
  frontend/stub/__files/fuzzy/full_address_business_phone_match.json
  frontend/stub/__files/fuzzy/full_address_email_match.json
  frontend/stub/__files/fuzzy/full_address_fax_phone_match.json
  frontend/stub/__files/fuzzy/full_address_secondary_phone_match.json
  frontend/stub/__files/fuzzy/full_business_name_match.json
  frontend/stub/__files/fuzzy/full_contact_business_phone_match.json
  frontend/stub/__files/fuzzy/full_contact_email_match.json
  frontend/stub/__files/fuzzy/full_contact_fax_phone_match.json
  frontend/stub/__files/fuzzy/full_contact_secondary_phone_match.json
  frontend/stub/__files/fuzzy/full_dba_match.json
  frontend/stub/__files/fuzzy/full_fn_federal_id_match.json
  frontend/stub/__files/fuzzy/full_individual_match.json
  frontend/stub/__files/fuzzy/full_registered_number_match.json
  frontend/stub/__files/fuzzy/partial_business_name_match.json
  frontend/stub/__files/fuzzy/partial_dba_match.json
  frontend/stub/__files/fuzzy/partial_individual_match.json
  frontend/stub/mappings/fuzzy_matches.json
Labels: frontend, javascript

chore(FSADT1-1398): removing pending match for other individual
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
Labels: source, backend, java

fix: fixed fuzzy match field association
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

chore: added missing intercept
  frontend/cypress/e2e/FormGeneral.cy.ts
Labels: tests, frontend, javascript

test: fixing wrong check on test
  frontend/cypress/e2e/FormStaffPageFuzzy.cy.ts
Labels: tests, frontend, javascript

Added missing masks and made code review
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/src/pages/staffform/CombinedClientInformationWizardStep.vue
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: frontend, javascript

fix(fe): Added missing masks (#1083)
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/src/pages/staffform/CombinedClientInformationWizardStep.vue
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: frontend, javascript

feat: auto collapse/expand accordion items
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1396): fixing field name on grouping
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
Labels: frontend, javascript

test: fixing test params
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

chore: removing console log
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

Beautified code
  frontend/src/assets/styles/global.scss
  frontend/tests/unittests/components/grouping/FuzzyMatchNotificationGroupingComponent.spec.ts
Labels: frontend, javascript

fix(be:FSADT1-1449): Fixed order of business search by name
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix(be:FSADT1-1449): Fixed order of business search by name (#1084)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix(FSADT1-1435): fixing validation during onnext
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/forms/TextareaInputComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: source, frontend, javascript

chore: removing debug
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

Beautified code
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/forms/TextareaInputComponent.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

fix: fix index for location names
  frontend/src/pages/staffform/LocationsWizardStep.vue
Labels: frontend, javascript

fix: path to fuzzy stub files
  frontend/stub/mappings/fuzzy_matches.json
Labels: frontend, javascript

fix: replace fuzzy with partialMatch where it concerns the error's label
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
Labels: source, frontend, javascript

chore: readding due to test
  frontend/src/helpers/validators/StaffFormValidations.ts
Labels: source, frontend, javascript

fix(FSADT1-1435): updated staff to not rely on field ids
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(FSADT1-1345): added revalidate call to the submit
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix(FSADT1-1345): removed a valid emit value
  frontend/src/pages/staffform/ReviewWizardStep.vue
Labels: frontend, javascript

chore: removing parameter to emit with undefined
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

chore(deps:Snyk): Upgrade aws-amplify from 6.3.3 to 6.3.5 (#1020)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1365): backend fuzzy match for locations (#1013)
  .github/workflows/pr-validate.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/AddressSearchDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/LocationStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchIndividualControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchLocationControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvertTest.java
  backend/src/test/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvertTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/AddressSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchCompanyControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchIndividualControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchCompanyServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchIndividualServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
  legacy/src/test/resources/db/migration/V7__client_id_values.sql
  legacy/src/test/resources/db/migration/V8__test_case_data.sql
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: tests, source, controller, configuration, backend, java

feat(FSADT1-1342): Display why and who rejected a submission (#1027)
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

chore(deps:Snyk): Upgrade @carbon/styles from 1.57.0 to 1.59.0 (#1021)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(be:FSADT1-1324): Changes in email templates (#1025)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
  backend/src/test/resources/db/migration/R__Test_Data.sql
  frontend/components.d.ts
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: source, configuration, frontend, backend, java, javascript

feat(FSADT1-1405): added feature flag config on deployment (#1031)
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/reusable-doc-gen.yml
  .github/workflows/reusable-tests-repo.yml
  .github/workflows/scheduled.yml
  README.md
  backend/openshift.configmap.dev.yml
  backend/openshift.configmap.prod.yml
  backend/openshift.configmap.test.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
  frontend/index.html
  frontend/openshift.configmap.dev.yml
  frontend/openshift.configmap.prod.yml
  frontend/openshift.configmap.test.yml
  frontend/openshift.deploy.yml
Labels: source, frontend, backend, java, javascript, openshift

feat(FSADT1-1356): Create client for staff Step 2 - Locations (#1029)
  frontend/components.d.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-address-B5V6L4.json
  frontend/stub/__files/response-address-C5T3I9.json
  frontend/stub/__files/response-address-F2L6B3.json
  frontend/stub/__files/response-address-G4C8E2.json
  frontend/stub/__files/response-address-U4Y1G4.json
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/pages/FormStaffPage.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
