Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: updated deployment order
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

chore: updated controller error
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
Labels: source, controller, backend, java

feat(FSADT1-1366): added retry trigger for staff submission
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
Labels: none

feat(FSADT1-1366): added stub for staff submission for individual
  frontend/stub/__files/response-submission-fault-pass.json
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

fix(FSADT1-1366): fixing test and conversions
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientMapperTest.java
Labels: none

Gave format to the code
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/FeatureProperties.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidator.java
Labels: source, controller, backend, java

chore: setting test order
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientStaffSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

test: fixing test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

test: fixing test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

test: fixing tests
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: none

test: fixing tests
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

fix: removing clientNumber from submitted
  frontend/src/dto/CommonTypesDto.ts
Labels: source, frontend, javascript

chore: reworked the app startup to consider route init
  frontend/src/main.ts
Labels: source, frontend, javascript

chore: refactored stubs
  frontend/stub/mappings/backend.json
  frontend/stub/mappings/bcregistry_autocomplete.json
  frontend/stub/mappings/canadapost_autocomplete.json
  frontend/stub/mappings/codes.json
  frontend/stub/mappings/external_individual_match.json
  frontend/stub/mappings/external_submission.json
  frontend/stub/mappings/first_nations_api.json
  frontend/stub/mappings/fuzzy_matches.json
  frontend/stub/mappings/staff_dashboard.json
  frontend/stub/mappings/staff_submission.json
Labels: frontend, javascript

chore: removed unsuded param from wiremock
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1384): simplified confirmation data
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: removing unnecessary constants
  frontend/src/CoreConstants.ts
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
Labels: source, frontend, javascript

feat(FSADT1-1384): added processing info on review page
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/stub/__files/response-submissions-details-staff.json
  frontend/stub/mappings/staff_dashboard.json
Labels: frontend, javascript

chore: updating stubs
  frontend/stub/mappings/external_submission.json
  frontend/stub/mappings/staff_submission.json
Labels: frontend, javascript

fix(FSADT1-1384): update be to send submission id
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/exception/SubmissionNotCompletedException.java
  frontend/src/pages/FormStaffProcessingPage.vue
Labels: source, controller, frontend, backend, java, javascript

feat(FSADT1-1384): added staff processing route
  frontend/src/routes.ts
Labels: source, frontend, javascript

feat(fe:FSADT1-1402): Create client for staff Step 1 - Individuals - capturing other ID
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, javascript

feat(FSADT1-1384): added loading overlay
  frontend/components.d.ts
  frontend/src/App.vue
  frontend/src/components/LoadingOverlayComponent.vue
Labels: frontend, javascript

feat(FSADT1-1384): updating processing page
  frontend/src/pages/FormStaffProcessingPage.vue
Labels: frontend, javascript

test: fixex test due to constant removed
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: frontend, javascript

test(FSADT1-1384): tests added to new components and pages
  frontend/tests/unittests/components/LoadingOverlayComponent.spec.ts
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
  frontend/tests/unittests/pages/FormStaffProcessingPage.spec.ts
Labels: frontend, javascript

feat(FSADT1-1384): updated form staff for submission
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

Update SubmissionReviewPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Updated unit tests
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: source, frontend, javascript

Updated unit tests
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: frontend, javascript

feat(fe:FSADT1-1402): Create client for staff Step 1 - Individuals - capturing other ID (#1049)
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: source, frontend, javascript

test(FSADT1-1384): test review page with refresh for staff
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/cypress/fixtures/test-case-review-staff-completed.json
  frontend/cypress/fixtures/test-case-review-staff-pending.json
Labels: tests, frontend, javascript

test(FSADT1-1384): added tests to staff submission
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

chore: set label class for readonly input text
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix: fixed other id layout
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

test: updated tests
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

test: fixing data
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

text: fixing test
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/fixtures/clientTypeIndividual.json
  frontend/cypress/fixtures/submissions.json
  frontend/cypress/support/commands.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/stub/__files/response-address-V8T5J9.json
  frontend/stub/__files/response-address-search-CA.json
Labels: tests, source, frontend, javascript

test: updating cypress tests for frontend
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/fixtures/staffSubmit/success-message.json
  frontend/cypress/fixtures/staffSubmit/timeout-message.json
  frontend/cypress/fixtures/staffSubmit/validation-error-message.json
  frontend/cypress/fixtures/testdata/contactBaseData.json
  frontend/cypress/fixtures/testdata/individualBaseData.json
  frontend/cypress/fixtures/testdata/locationBaseData.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

chore: removing tests for now
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/pages/FormStaffPage.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
  frontend/tests/pages/bceid/ContactWizardStep.cy.ts
  frontend/tests/pages/staff/ContactWizardStep.cy.ts
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
  frontend/tests/pages/staff/LocationsWizardStep.cy.ts
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
