Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat(FSADT1-499): adding vault support to workflow (#78)
  api/.github/workflows/merge-main.yml
  api/.github/workflows/pr-open.yml
Labels: none

fix: workflow merge-main (#80)
  api/.github/workflows/merge-main.yml
Labels: none

feat(fe:FSADT1-539): - support customized checking for required fields refs: #255
  frontend/src/core/FormType.ts
  frontend/src/helpers/formvalidation/MissingFieldCheck.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsectionschemas/ContactSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
Labels: source, frontend, javascript

no message
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

feat(fe:FSADT1-539): - switch to use string path for form object - add example to disable a field refs: #255
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormDisable.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: tests, source, frontend, javascript

test(fe:FSADT1-539): - add test for new disable and error display feature for form component option file rfs: #255
  frontend/src/store/newclientform/FormData.ts
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/TestConstant.ts
Labels: tests, source, frontend, javascript

clean(pl): - remove unused env vars refs: #255
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
Labels: backend, java, openshift

feat(fe:FSADT1-539): - update form content to the latest refs: #255
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/AuthorizedSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/ContactSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormDisable.ts
  frontend/src/store/newclientform/FormValidation.ts
Labels: source, frontend, javascript

fix(pl): - add env to read secrets for pr open refs: #255
  .github/workflows/pr-open.yml
Labels: none

clean(fe:FSADT1-539): - remove unused file refs: #255
  frontend/src/App.vue
  frontend/src/pages/MyApplicationPage.vue
Labels: frontend, javascript

chore: updating some dtos
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/FirstNationBandVidationDto.java
Labels: none

chore: updating entities
  legacy/src/main/java/ca/bc/gov/app/entity/ClientDoingBusinessAsEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientPublicViewEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientStatusCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
Labels: none

chore: updating search and adding tests
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ClientSearchIncorporationHandler.java
  legacy/src/main/java/ca/bc/gov/app/routes/ClientSearchRouter.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ClientSearchIncorporationHandlerIntegrationTest.java
Labels: none

test: updating testcontainer and adding flyway
  legacy/pom.xml
  legacy/src/test/java/ca/bc/gov/app/LegacyApplicationTests.java
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/resources/application-default.yml
  legacy/src/test/resources/db/migration/V1__init.sql
Labels: none

test: refactored entities to pass schema
  legacy/src/main/java/ca/bc/gov/app/util/MonoUtil.java
  legacy/src/main/resources/application.yml
  legacy/src/test/resources/application-default.yml
Labels: none

feat(fe:FSADT1-531): - Draft of the ER model (not complete yet)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

test: refactored entities to pass schema
  legacy/src/main/java/ca/bc/gov/app/entity/ClientDoingBusinessAsEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientPublicViewEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientStatusCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/resources/db/migration/V1__init.sql
Labels: none

test: adding tests for search by name and birth
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ClientSearchNameBirthHandler.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/routes/ForestClientRouter.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ClientSearchIncorporationHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ClientSearchNameBirthHandlerIntegrationTest.java
Labels: none

feat(fe:FSADT1-531): - Draft of the ER model (not complete yet)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

ci: updating ci and compose
  backend/openshift.deploy.yml
  docker-compose.yml
  legacy/README.md
Labels: backend, java, openshift

chore: adding configuration classes
  legacy/src/main/java/ca/bc/gov/app/configuration/ForestConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: none

chore: adding handlers and service
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientBandsHandler.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientBusinessHandler.java
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientUnregisteredHandler.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
Labels: none

fix(fe): - Fix for the 46aafef commit
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: frontend, javascript

fix(fe): (#269)
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: frontend, javascript

fix(be): Fixed typo
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

fix: Improved tests and fixed issue with querydsl (#83)
  api/.github/CODEOWNERS
  api/.github/workflows/pr-open.yml
  api/Dockerfile
  api/pom.xml
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/AbstractTestContainerIntegrationTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerTest.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceTest.java
  api/src/test/resources/application.yml
  api/src/test/resources/db/migration/R__Test_Data.sql
  api/src/test/resources/logback-test.xml
  api/startup.sh
Labels: none

chore: adding code owners
  .github/CODEOWNERS
Labels: github_actions

test: adding test and reworking some old code
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/handlers/ForestClientBusinessHandler.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ForestClientService.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientBandsHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientDoingBusinessHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientUnregisteredHandlerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  legacy/src/test/resources/db/migration/V1__init.sql
Labels: none

ci: updating workflows to add legacy
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
Labels: none

fix(fe): (#269)
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: frontend, javascript

ci: updating docker
  backend/Dockerfile
  legacy/Dockerfile
  legacy/InstallCert.java
  legacy/pom.xml
  legacy/startup.sh
Labels: backend, java

ci: fixing dockerfile
  legacy/Dockerfile
Labels: none

ci: adding missing parameters
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
Labels: openshift

ci: fixing legacy parameters
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: none

ci: fixing legacy openshift file
  legacy/openshift.deploy.yml
Labels: openshift

ci: changing deployment
  backend/src/main/resources/application.yml
  legacy/openshift.deploy.yml
Labels: configuration, backend, java, openshift

fix: fixing oracle connection string
  legacy/config/application.yml
  legacy/src/main/resources/application.yml
Labels: none

fix: updating url
  legacy/src/main/resources/application.yml
Labels: none

fix: fixing r2dbc connection
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
  legacy/src/main/resources/application.yml
Labels: openshift

fix: fixing service name on r2dbc
  legacy/src/main/resources/application.yml
Labels: none
