Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Removed unused imports
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactAssociationService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
Labels: none

fix: fixed CVE-2024-47535 vulnerability
  cypress/package-lock.json
  cypress/package.json
Labels: none

fix: fixed CVE-2024-47535 vulnerability (#1877)
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore: added javadoc
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

fix(FSADT1-2005): Added missing code to handle individuals (#1876)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  frontend/src/pages/SubmissionReviewPage.vue
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactAssociationService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
Labels: source, frontend, backend, java, javascript

chore: update glob to a non-vulnerable version
  cypress/package-lock.json
  cypress/package.json
Labels: none

chore: update glob to a non-vulnerable version (#1880)
  cypress/package-lock.json
  cypress/package.json
Labels: none

Downgrade versions in pom.xml dependencies
  backend/pom.xml
Labels: backend, java

Downgrade versions of Flyway and Reactor Netty
  legacy/pom.xml
Labels: none

Downgrade versions of Flyway, Reactor Netty, and Netty
  processor/pom.xml
Labels: none

chore: cleaned up code
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/RelatedClientEntryDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientCodeService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/PatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBirthdayValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/ClientIdentificationPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/FirstNationsStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/OthersStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
Labels: tests, source, controller, dto, backend, java

Update backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed wrong lexicographical order for 'java.util.Objects' import. Should be before 'java.util.Optional'.
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed wrong lexicographical order for 'java.util.Objects' import. Should be before 'java.util.Optional'.
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBirthdayValidator.java
Labels: source, backend, java

Fixed wrong lexicographical order for 'java.util.Objects' import. Should be before 'java.util.Optional'.
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed wrong lexicographical order for 'java.util.Objects' import. Should be before 'java.util.Optional'.
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

no message
  backend/pom.xml
Labels: backend, java

chore(be): cleaned up code (#1886)
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/dto/ValidationError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/RelatedClientEntryDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientCodeService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/PatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationBirthdayValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/ClientIdentificationPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/FirstNationsStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/OthersStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
Labels: tests, source, controller, dto, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@717bcd47b0d0c004af0793414cf130b678e8cae4 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

set a static title on og:title meta tag
  frontend/index.html
Labels: frontend, javascript

update page title on the details page
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

Update pom.xml
  backend/pom.xml
Labels: backend, java

Downgrade Flyway version from 11.17.2 to 11.11.1
  legacy/pom.xml
Labels: none

Downgrade Flyway version from 11.17.2 to 11.11.1
  processor/pom.xml
Labels: none

Revert "set a static title on og:title meta tag"
  frontend/index.html
Labels: frontend, javascript

remove reference to the removed meta tag
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

test the details page title
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

chore(ci): likely final postgres 13 update (#1861)
  .github/workflows/.deploy.yml
  database/Dockerfile
Labels: database

fix(fe): Added missing label
  frontend/components.d.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix(fe): Added missing label (#1893)
  frontend/components.d.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix(fe): Added missing label
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix(fe): add hdbs company code label (#1896)
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

chore(be): updated pom file to avoid exception
  backend/pom.xml
Labels: backend, java

no message
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDistrictListDto.java
Labels: source, backend, java

test
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDistrictListDto.java
  backend/src/main/java/ca/bc/gov/app/job/client/ClientPendingSubmissionsReminderJob.java
Labels: source, backend, java

feat(be:FSADT1-2049-59): Fix null handling for hasSigningAuthority: preserve null instead of converting to "N"
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: source, backend, java

Update legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: none

Update legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: none

Improved code
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

Fixed SonarCloud issues
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationsRelatedClientService.java
Labels: none
