Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Revert "feat: validate fields as a group"
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

fix(fe): Commenting this for now until the API for fuzzy match is done (#1066)
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

chore: removing validation
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

chore: removing validation (#1067)
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

feat: clear fuzzy errors on fields
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/FormStaffPage.vue
Labels: source, frontend, javascript

fix(FSADT1-1363): added missing headers for cors
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

fix(FSADT1-1363): added missing headers for cors (#1068)
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

fix(FSADT1-1397): added missing cors header
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

test(FSADT1-1397): added more test util
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
Labels: tests, backend, java

test(FSADT1-1397): refactored test and added name
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
Labels: tests, backend, java

feat(FSADT1-1397): added registered business match
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
Labels: tests, source, backend, java

test(FSADT1-1397): added missing test cases
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

test(FSADT1-1397): refactored test and added name
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
Labels: tests, backend, java

fix: fixing feature flag
  backend/openshift.configmap.prod.yml
  backend/openshift.configmap.test.yml
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
Labels: source, backend, java, openshift

fix(FSADT1-1426): fixed multi-address issue (#1061)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

test: fixing tests
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientMapperTest.java
Labels: none

fix: fixing tests
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
Labels: none

fix: fixing feature flag (#1069)
  backend/openshift.configmap.prod.yml
  backend/openshift.configmap.test.yml
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
Labels: source, backend, java, openshift

test: fixing test
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/support/cypress.d.ts
  frontend/stub/mappings/external_individual_match.json
Labels: tests, frontend, javascript

test: fixing test
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

test: fixing tests
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
Labels: tests, frontend, javascript

test: fixing test
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
Labels: none

feat(FSADT1-1390): First nartions - Part #1
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
  frontend/stub/__files/response-opendata-autocomplete.json
Labels: source, frontend, backend, java, javascript

feat(FSADT1-1390): First nartions - Part #2
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

fix: remove emit from function
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

feat: add a simple checkbox component
  frontend/components.d.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/SimpleCheckboxInputComponent.vue
Labels: frontend, javascript

feat: add the review statement checkbox
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

chore: re-enabling match
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/src/pages/FormStaffPage.vue
Labels: tests, frontend, javascript

test: updating tests
  frontend/cypress/e2e/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

chore: updating code
  frontend/cypress/support/commands.ts
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: tests, frontend, javascript

chore: updating stubs
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XP.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
Labels: frontend, javascript

chore: updating validation and test
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: source, frontend, javascript

chore: fixing typo
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: frontend, javascript

fix: Fixed the following issue: "Legacy key/value format with whitespace separator should not be used"
  backend/Dockerfile
Labels: backend, java

feat(FSADT1-1397): Backend Fuzzy matching on Business Information for BC Registered Business (#1065)
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcher.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/RegisteredStepMatcherTest.java
  frontend/cypress/e2e/FormStaffPage.Submission.cy.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/cypress/support/commands.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XP.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/tests/components/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

Cleaning up code
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
Labels: frontend, javascript

feat: skip the fuzzy matching when the errors were already reviewed by the user
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

fix: provide a default value for the payload
  frontend/src/helpers/validators/SubmissionValidators.ts
Labels: source, frontend, javascript

fix: skip notification for client name
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
Labels: frontend, javascript

fix: remove unused property
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
Labels: frontend, javascript
