Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Made changes after Paulo's code review
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V11__send_to_client_indicator.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationAcronymValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBirthdayValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessClientTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessNameValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessRegisteredNumberValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationClientTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationDistrictValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationDoingBusinessValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationIndividualNameValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationNotesValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationWorkSafeValidatorTest.java
  backend/src/test/resources/failValidationTest.csv
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/staffform/ReviewWizardStep.vue
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: tests, source, configuration, frontend, backend, java, javascript

Fixed SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  processor/src/main/java/ca/bc/gov/app/dto/EmailRequestDto.java
Labels: source, backend, java

Fixed SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

style: format test file
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
Labels: frontend, javascript

open client details on this very application
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
Labels: frontend, javascript

test: fix test
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
Labels: frontend, javascript

feat(fe:FSADT1-1743): As a user with no role on client I want to be given an message to inform me (#1526)
  frontend/cypress/e2e/unauthorizedAccess.cy.ts
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/pages/UnauthorizedErrorPage.vue
  frontend/src/routes.ts
  frontend/stub/mappings/fam-client_viewer.txt
  frontend/stub/mappings/fam-no-role.txt
  frontend/tests/components/pages/UnauthorizedErrorPage.cy.ts
Labels: tests, source, frontend, javascript

feat(fe:FSADT1-1762): Link is going to green interface. Should be blue interface (#1528)
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
Labels: frontend, javascript

Fixed SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

Fixed test
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: none

Fixed test
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
Labels: none

Fixed high Sonar issues (i.e.Define a constant instead of duplicating this literal "userName" 3 times.)
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@40d84e8283d61eca850590bdeca59b40926fc3b4 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

Completed frontend part
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/FormStaffProcessingPage.vue
  frontend/src/routes.ts
Labels: tests, source, frontend, javascript

Fixed tests
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
Labels: frontend, javascript

Fixed tests
  frontend/tests/unittests/pages/FormStaffProcessingPage.spec.ts
Labels: frontend, javascript

chore: select stub role to log in as
  frontend/src/pages/LandingPage.vue
  frontend/stub/mappings/fam.json
Labels: frontend, javascript

rename stub file to match client type
  frontend/stub/__files/response-client-statuses-P.json
  frontend/stub/mappings/codes.json
Labels: frontend, javascript

add suspended sample client
  frontend/stub/__files/response-clients-details-GSPN.json
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

no message
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

Fixed test
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
Labels: tests, frontend, javascript

feat(FSADT1-1542): Client notification indicator (#1524)
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V11__send_to_client_indicator.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
  frontend/src/components/forms/SimpleCheckboxInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/FormStaffConfirmationPage.vue
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/FormStaffProcessingPage.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/src/routes.ts
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/pages/FormStaffConfirmationPage.spec.ts
  frontend/tests/unittests/pages/FormStaffProcessingPage.spec.ts
  processor/src/main/java/ca/bc/gov/app/dto/EmailRequestDto.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: tests, source, configuration, frontend, backend, java, javascript

restrict client status values which CLIENT_SUSPEND can change from
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

test CLIENT_SUSPEND client statuses
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

docs: rename variables to clarify their purpose
  frontend/src/pages/LandingPage.vue
Labels: frontend, javascript

feat: allow CLIENT_SUSPEND to create client
  frontend/cypress/e2e/pages/FormStaffPage.cy.ts
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
Labels: tests, source, frontend, javascript

test: fix tests
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

no message
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(be): Upgraded ojdbc11 oracle driver (#300)
  api/pom.xml
  api/src/main/resources/application.yml
Labels: none

test: hide dev buttons in the landing page
  frontend/cypress/e2e/pages/LandingPage.cy.ts
Labels: tests, frontend, javascript

test: fix feature flag setup on Search test
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript

chore: fixing location trigger
  legacy/src/test/resources/db/migration/V12__client_location_trigger.sql
Labels: none

chore: fixing location trigger (#1532)
  legacy/src/test/resources/db/migration/V12__client_location_trigger.sql
Labels: none

feat(fe:FSADT1-1622): CLIENT_SUSPEND Client Summary Section - Edit Mode - Front-End (#1530)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/LandingPage.cy.ts
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-client-statuses-P.json
  frontend/stub/__files/response-clients-details-GSPN.json
  frontend/stub/mappings/client_details.json
  frontend/stub/mappings/codes.json
  frontend/stub/mappings/fam.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: tests, frontend, javascript

chore: cleaning location update
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

chore: adding replace patch utils
  legacy/src/main/java/ca/bc/gov/app/util/ReplacePatchUtils.java
Labels: none

chore: updating location service to use same code as contact
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

feat(FSADT1-1737): added contact edit patch service
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactEditService.java
Labels: none
