Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Deploying to gh-pages from @ bcgov/nr-forest-client@9d4c3d712af00997a6cd50d571f91bcf97b3e100 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

Upgraded Axios
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@0032b7e53f7e4f673a7402486f6247fc390613c6 🚀
  index.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

chore(fe): fix CWE-79 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): fix CVE-2025-64718 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Potential fix for pull request finding
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): fix CWE-79 vulnerability (#2275)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Potential fix for pull request finding
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  cypress/package-lock.json
  cypress/package.json
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@95c3598363e671c12249479515d40407ab61f2a4 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

no message
  cypress/cypress.config.ts
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/package-lock.json
  cypress/package.json
Labels: none

no message
  cypress/cypress.config.ts
Labels: none

no message
  cypress/cypress.config.ts
  cypress/cypress/support/e2e.ts
Labels: none

chore(fe): fix CVE-2025-64718 vulnerability (#2276)
  cypress/cypress.config.ts
  cypress/cypress/support/e2e.ts
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@e1f913c0a306a9159141f37fbbd0240cb3704b44 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/default.nrfc.xml
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
  nrfc/tables/submission_location.html
Labels: none

fix(fe): Security mitigation for CVE-2024-45811
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

no message
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix(fe): Security mitigation for CVE-2024-45811 (#2279)
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix(fe): fix CWE-494 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@0352573e4b315730fa7ddc15c456c43ead425d97 🚀
  index.html
  nrfc/columns.html
  nrfc/constraints.html
  nrfc/diagrams/summary/relationships.implied.compact.dot
  nrfc/diagrams/summary/relationships.implied.large.dot
  nrfc/diagrams/summary/relationships.real.compact.dot
  nrfc/diagrams/summary/relationships.real.large.dot
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/relationships.html
Labels: none

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): fix CWE-494 vulnerability (#2280)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@1925639b085bff1dc56500ad1ac44ee404cdce45 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

fix(fe): fixed CVE-2026-53632 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): fix CVE-2026-49356 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): fix CVE-2026-49356 vulnerability (#2283)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@113074d9ceee23f799ab2eeb458627b13680b137 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@573f130320dfdf3ae7b434be00d52f367ae29178 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

feat(#2265): Add BCID as acceptable ID Type
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidator.java
  backend/src/main/resources/db/migration/V15__add_identification_type_code.sql
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidatorTest.java
  frontend/cypress/fixtures/identificationTypes.json
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/stub/__files/response-identification-types.json
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

no message
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: frontend, javascript

Fixed tests
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
Labels: tests, backend, java

Potential fix for pull request finding
  frontend/src/dto/CommonTypesDto.ts
Labels: source, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
