Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: removing init_pg.sql
  processor/.gitignore
  processor/src/test/resources/init_pg.sql
  processor/src/test/resources/postgres/init.sql
  processor/src/test/resources/postgres/test.sql
Labels: none

chore: updating testcontainer
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
Labels: none

feat(BE:FSADT1-773): adding default data and updating backend
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionTypeCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, configuration, backend, java

chore: updating processor
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionTypeCodeEnum.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/postgres/test.sql
Labels: none

chore: fixing conflict
  frontend/.devcontainer/devcontainer.json
  frontend/package-lock.json
Labels: configuration, frontend, javascript

fix: fixing unit test
  .github/workflows/unit-tests.yml
Labels: none

chore: fixing workflow
  .github/workflows/unit-tests.yml
Labels: none

chore: fixing workflow
  .github/workflows/unit-tests.yml
Labels: none

chore: fixing matrices
  .github/workflows/unit-tests.yml
Labels: none

chore: updating ci
  .github/workflows/unit-tests.yml
Labels: none

fix: updating ci
  .github/workflows/unit-tests.yml
Labels: none

ci: changing sonar for backend
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

ci: fixing workflow by removing matrix
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

docs: updating mail template documentation
  backend/docs/MAIL_FORMAT.md
Labels: backend, documentation, java

chore: updating description for each dto
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
Labels: source, backend, java

chore: updating service mail send
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

feat(BE:FSADT-753): adding mail for 100% match
  backend/docs/MAIL_FORMAT.md
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientStatusCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientTypeCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/templates/matched.html
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, source, configuration, backend, documentation, java

chore: adding init again
  processor/.gitignore
  processor/src/test/resources/init_pg.sql
Labels: none

chore: updating pg init auto-updating
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/resources/init_pg.sql
Labels: none

chore: adding ignore paths
  backend/pom.xml
Labels: backend, java

ci: updating sonar config
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

ci: updating sonar config
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

chore: fixing mockito issue
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
Labels: none

chore: updating request status and test
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: tests, source, backend, java

fix: fixing tests
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, source, backend, java

fix: fixing tests
  backend/src/main/java/ca/bc/gov/app/exception/NoAssociationException.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
Labels: source, backend, java

feat(BE:FSADT1-753): adding html freemarker template consumer (#465)
  backend/README.md
  backend/docs/MAIL_FORMAT.md
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientStatusCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ClientTypeCodeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/exception/NoAssociationException.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/templates/matched.html
  backend/src/main/resources/templates/registration.html
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/resources/templates/test.html
Labels: tests, source, configuration, backend, documentation, java

chore(deps): update gvenzl/oracle-xe:21.3.0-slim-faststart docker digest to d0ed1ce
  docker-compose.yml
Labels: none

chore(deps): update eclipse-temurin docker tag
  backend/Dockerfile
  common/Dockerfile
Labels: backend, java

chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(deps): update dependency maven to v3.9.2
  backend/.mvn/wrapper/maven-wrapper.properties
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
Labels: backend, java

chore(deps): update testcontainers-java monorepo to v1.18.1
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(deps): update dependency org.testcontainers:testcontainers-bom to v1.18.1 (#159)
  api/pom.xml
Labels: none

chore(deps): update dependency maven-wrapper to v3.2.0
  processor/.mvn/wrapper/maven-wrapper.properties
  processor/mvnw
  processor/mvnw.cmd
Labels: none

fix(deps): update vitest monorepo to ^0.31.0
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(deps): update vitest monorepo to ^0.31.0 (#473)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(deps): update eclipse-temurin docker tag to v17.0.7_7-jdk-alpine (#157)
  api/Dockerfile
Labels: none

doc: updating documentation
  .github/workflows/pr-open.yml
  README.md
  cypress/.gitignore
  cypress/README.md
  cypress/cypress/e2e/sample.feature
  cypress/cypress/e2e/sample.ts
  cypress/cypress/e2e/spec.feature
  cypress/package.json
Labels: none

chore(deps): update maven all non-major dependencies (#471)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore: fixing tests
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: none
