Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore(ci): common deployer for PROD
  .github/workflows/merge.yml
Labels: none

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(ci): common deployer for PROD (#1479)
  .github/workflows/merge.yml
Labels: none

Different oracledb ports for PR and test/prod
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: none

Oracledb servicename
  .github/workflows/merge.yml
Labels: none

chore(ci): remaining deployment vars (#1480)
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

test: fix focus assertion
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

fix: changing deployment params
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
  legacy/openshift.deploy.yml
Labels: openshift

fix(FSADT1-1734): Generated separate anchors for multiple email addresses
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
Labels: source, configuration, backend, java

ci: fixing ci
  .github/workflows/.deploy.yml
  .github/workflows/.tools-deploy.yml
  .github/workflows/pr-open.yml
Labels: none

chore: fixing pr deployment
  .github/workflows/pr-open.yml
Labels: none

fix: changing deployment params (#1483)
  .github/workflows/.deploy.yml
  .github/workflows/.tools-deploy.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
  legacy/openshift.deploy.yml
Labels: openshift

chore: fixing tools pwd for migration
  legacydb/openshift.deploy.yml
Labels: openshift

fix(FSADT1-1734): Generated separate anchors for multiple email addresses
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
Labels: source, configuration, backend, java

fix(FSADT1-1734): Generate separate anchors for multiple email addresses (#1484)
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
  legacydb/openshift.deploy.yml
Labels: configuration, backend, java, openshift

Update package.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): Fixed security issue with babel-runtime (#1477)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded axios to 1.8.4 (#1487)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded vue and vite dependecies
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1735): added reason code update for summary
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/FieldReasonDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientUpdateReasonEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientUpdateReasonRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationStatusService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  legacy/src/test/resources/db/migration/V10__forest_client_trigger.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
Labels: source, backend, java

test(FSADT1-1735): fixing tests for existing patch
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

test(FSADT1-1735): adding tests to status change
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/util/PatchUtilsTest.java
  legacy/src/test/resources/db/migration/V11__update_reason_code.sql
  legacy/src/test/resources/db/migration/V12__test_data_with_triggers.sql
Labels: none

chore: removing unwanted dependencies
  backend/pom.xml
Labels: backend, java

chore: removing unwanted dependencies
  legacy/pom.xml
Labels: none

chore: removing unwanted dependencies
  processor/pom.xml
Labels: none

feat: create contact
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/services/ForestClientService.ts
Labels: tests, source, frontend, javascript

chore: adjusting reflection classes
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: none

chore(ci): deprecate openshift resource limits
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  legacy/openshift.deploy.yml
  legacydb/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: frontend, backend, java, javascript, openshift

fix: value for createMode
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

chore(ci): deprecate openshift resource limits (#1491)
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  legacy/openshift.deploy.yml
  legacydb/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: frontend, backend, java, javascript, openshift

Fix param
  .github/workflows/.deploy.yml
Labels: none

Vars
  .github/workflows/.deploy.yml
  common/openshift.init.yml
Labels: openshift

fix: fixing flyway password param
  legacydb/openshift.deploy.yml
Labels: openshift

chore: updating bc registry API URL
  backend/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: backend, java, openshift

Fix configmap
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Move database-dev into conditional
  .github/workflows/.deploy.yml
Labels: none

Remove backend configmap set
  backend/openshift.configmap.dev.yml
  backend/openshift.configmap.prod.yml
  backend/openshift.configmap.test.yml
Labels: backend, java, openshift

Verification path
  .github/workflows/.deploy.yml
Labels: none

Backend verification path
  .github/workflows/.deploy.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
