Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Rename jobs for visibility
  .github/workflows/analysis.yml
Labels: none

Drop vars PG_DATABASE, PG_DATABASE, VITE_KEYCLOAK_CLIENT_ID
  common/openshift.init.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Analysis results prereqs/needs
  .github/workflows/analysis.yml
Labels: none

Move KNPs from init to database
  common/openshift.init.yml
  database/openshift.deploy.yml
Labels: database, openshift

Move PVCs from init to database
  .github/workflows/pr-open.yml
  common/openshift.init.yml
  database/openshift.deploy.yml
Labels: database, openshift

Move Trivy and Code QL into analysis.yml
  .github/workflows/analysis.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

Move secret from init to database
  database/openshift.deploy.yml
Labels: database, openshift

More params in pr-open
  .github/workflows/pr-open.yml
Labels: none

Fix db deploy vars
  .github/workflows/pr-open.yml
Labels: none

Remove init from main merge
  .github/workflows/merge.yml
Labels: none

Analysis conditionals
  .github/workflows/analysis.yml
Labels: none

Common workflow .github/workflows/.deploy.yml
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/pr-open.yml
Labels: none

Common workflow .github/workflows/.deploy.yml
  .github/workflows/.deploy.yml
Labels: none

Common workflow .github/workflows/.deploy.yml
  .github/workflows/.deploy.yml
Labels: none

Common workflow .github/workflows/.deploy.yml
  .github/workflows/.deploy.yml
Labels: none

Use .deploy.yml for TEST
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  database/openshift.deploy.yml
Labels: database, openshift

Use .deploy.yml for TEST
  .github/workflows/pr-open.yml
Labels: none

Use .deploy.yml for TEST
  .github/workflows/.deploy.yml
Labels: none

Use .deploy.yml for TEST
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: none

Work on deployer
  .github/workflows/.deploy.yml
Labels: none

Param quotes
  .github/workflows/.deploy.yml
  .github/workflows/pr-validate.yml
Labels: none

Param quotes
  .github/workflows/.deploy.yml
Labels: none

Params for .deploy.yml
  .github/workflows/pr-open.yml
Labels: none

Drop param COGNITO_REGION
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/merge.yml
  backend/openshift.deploy.yml
Labels: backend, java, openshift

Drop param COGNITO_COOKIE_DOMAIN
  .github/workflows/merge.yml
Labels: none

Params
  .github/workflows/.deploy.yml
Labels: none

Use github.event.number as PR db_password
  .github/workflows/.deploy.yml
Labels: none

Frontend default for COGNITO_REGION
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Drop param COGNITO_COOKIE_DOMAIN
  backend/openshift.deploy.yml
Labels: backend, java, openshift

rm common/openshift.init.yml
  common/openshift.init.yml
Labels: openshift

Remove url_zone
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: none

chore(ci): consolidate unit tests into .tests.yml
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/reusable-tests-fe.yml
Labels: none

Consolidate reusable-tests-repo into analysis.yml
  .github/workflows/analysis.yml
  .github/workflows/reusable-tests-repo.yml
Labels: none

+.github/workflows/.deploy.yml
  .github/workflows/.deploy.yml
Labels: none

Load .deploy.yml into pr-open
  .github/workflows/pr-open.yml
Labels: none

deleted: common/openshift.init.yml
  common/openshift.init.yml
Labels: openshift

Update templates
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
Labels: frontend, backend, database, java, javascript, openshift

Clip url_zone vars
  .github/workflows/.deploy.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Param adjustments
  .github/workflows/.deploy.yml
Labels: none

Drop URL param from legacy and processor
  .github/workflows/.deploy.yml
Labels: none
