Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Added filter as a parameter
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/HistorySourceEnum.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

Improved code
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

Refactored code after code reviews
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: source, backend, java

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

Added identifier label text
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

Fixed som SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/HistoryLogDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/HistoryLogReasonsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

Added a test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

Fixed spelling mistake
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
Labels: source, backend, java

Added exception when client number is invalid
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

Added test in BE
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: tests, source, backend, java

chore: adding migration readme
  legacy/src/test/resources/db/migration/V1.0.0__migration_01.txt
Labels: none

chore: adding migration readme (#1548)
  legacy/src/test/resources/db/migration/V1.0.0__migration_01.txt
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@36f01f2f8637ea4536e5d2af291cf0c0cd246390 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

Added location query
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

Added missing code
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/dto/HistorySourceEnum.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
Labels: source, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Attempt to fix failing test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Attempt to fix failing test
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
Labels: none

Adjusted shouldSearchEmpty integration test to expect empty result list and zero total count
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Fix shouldSearchEmpty test to expect zero results in response body
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Fixed SonarCloud issues
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

Included the count in the test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: tests, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

fix(be): Adjusted shouldSearchEmpty integration test to expect empty result list and zero total count
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

feat: show skeleton while loading
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Merged fix
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

feat: show skeletons while loading
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
Labels: tests, frontend, javascript

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
