Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat(FSADT1-1735): added reason code update for summary (#1489)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  frontend/components.d.ts
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/FieldReasonDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientUpdateReasonEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientUpdateReasonRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationStatusService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: source, frontend, backend, java, javascript

feat(be:FSADT1-1795): Update Client Details API to return Doing Business As as a single value
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
  backend/src/test/java/ca/bc/gov/app/converters/ForestClientObfuscateTest.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: tests, source, backend, java

Fixed SonarCloud issues not related to my changes
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

test: fixing test
  legacy/src/test/resources/db/migration/V4.0.3__more_test_data_with_triggers.sql
Labels: none

feat(be:FSADT1-1795): Update Client Details API to return Doing Business As as a single value (#1559)
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
  backend/src/test/java/ca/bc/gov/app/converters/ForestClientObfuscateTest.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: tests, source, backend, java

Fixed security issue
  frontend/Dockerfile
Labels: frontend, javascript

Added contacts query
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

Update Dockerfile
  frontend/Dockerfile
Labels: frontend, javascript

Fixed order in contacts query
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

Update Dockerfile
  frontend/Dockerfile
Labels: frontend, javascript

Added DBA query
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

chore: updating reflection
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

test: fixing test
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: none

fix(FSADT1-1737): fixing replace contact association query
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactAssociationService.java
Labels: none

test(FSADT1-1737): fixing test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

test(FSADT1-1737): fixing test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
Labels: none

feat(FSADT1-1737): added associate contact patch service and tests (#1538)
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/dto/ContactAssociationDto.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactAddService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactAssociationService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactEditService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactRemoveService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V4.0.2__test_data_with_triggers.sql
  legacy/src/test/resources/db/migration/V4.0.3__more_test_data_with_triggers.sql
Labels: source, configuration, backend, java

update data structure of doingBusinessAs
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-C.json
  frontend/stub/__files/response-clients-details-G+location.json
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
Labels: source, frontend, javascript

update tests
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

undo address change on stub
  frontend/stub/__files/response-clients-details-NL.json
Labels: frontend, javascript

feat(fe:FSADT1-1728): Display only one Doing Business As (front-end) (#1561)
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/client-details/SummaryView.vue
  frontend/stub/__files/response-clients-details-C.json
  frontend/stub/__files/response-clients-details-G+location.json
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: source, frontend, javascript

fix: fixing possible status processing when location updated
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationStatusService.java
Labels: none

enable editing the Acronym
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

chore: added repo and entity for location reason
  legacy/src/main/java/ca/bc/gov/app/entity/LocationUpdateReasonEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/LocationUpdateReasonRepository.java
Labels: none

feat(FSADT1-1801): added update to location address
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationAddressService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

update Summary tests
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

test(FSADT1-1801): added test to update location address
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

Refactor entity: Updated all @Column annotation values to uppercase to match database column names and improve consistency
  legacy/src/main/java/ca/bc/gov/app/entity/LocationUpdateReasonEntity.java
Labels: none

Refactor entity: Updated all @Column annotation values to uppercase to match database column names and improve consistency
  legacy/src/main/java/ca/bc/gov/app/entity/ClientUpdateReasonEntity.java
Labels: none

Added Related Client query
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

feat(FSADT1-1801|FSADT1-1802|FSADT1-1807): added location address update (#1562)
  legacy/src/main/java/ca/bc/gov/app/entity/ClientUpdateReasonEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/LocationUpdateReasonEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/LocationUpdateReasonRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationAddressService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationStatusService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

Fixed test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

Increased coverage
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

Rollback change
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: none

feat(be:FSADT1-1775): Client History API (#1547)
  backend/src/main/java/ca/bc/gov/app/controller/client/HistoryLogController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/HistoryLogDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/HistoryLogDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/HistoryLogReasonsDto.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/HistoryLogControllerTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/dto/HistoryLogDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/HistoryLogDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/HistoryLogReasonsDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/HistorySourceEnum.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientHistoryControllerIntegrationTest.java
Labels: tests, source, backend, java
