Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore(deps): update testcontainers-java monorepo to v1.18.1 (#472)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: backend, java

chore: removing unwanted Dockerfile
  backend/Dockerfile
Labels: backend, java

doc: updating README file
  processor/README.md
Labels: none

feat(FSADT1-713): adding base cypress code (#458)
  .github/workflows/pr-open.yml
  README.md
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  common/Dockerfile
  cypress/.gitignore
  cypress/README.md
  cypress/cypress.config.ts
  cypress/cypress/e2e/sample.feature
  cypress/cypress/e2e/sample.ts
  cypress/cypress/support/commands.ts
  cypress/cypress/support/e2e.ts
  cypress/package-lock.json
  cypress/package.json
  cypress/tsconfig.json
  docker-compose.yml
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
  processor/README.md
  processor/mvnw
  processor/mvnw.cmd
Labels: backend, java

chore(deps): update caddy docker tag to v2.6.4
  frontend/Dockerfile
Labels: frontend, javascript

chore(deps): update registry.access.redhat.com/ubi8/ubi docker tag to v8.8-854
  frontend/Dockerfile
Labels: frontend, javascript

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.0
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.0 (#477)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

Update Trivy and rename parameter
  .github/workflows/unit-tests.yml
Labels: none

Update Trivy and rename parameter (#479)
  .github/workflows/unit-tests.yml
Labels: none

feat(FE:FSADT1-772): adding stub server
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/stub/__files/.gitkeep
  frontend/stub/mappings/backend.json
Labels: configuration, frontend, javascript

feat(FE:FSADT1-772): updating radio to use new component
  frontend/components.d.ts
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/core/CommonTypes.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: tests, source, frontend, javascript

SonarCloud Frontend config
  .github/workflows/unit-tests.yml
Labels: none

feat(FE:FSADT1-772): adding text input component
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: tests, source, frontend, javascript

chore: reordering folders
  frontend/package.json
  frontend/src/tests/README.md
  frontend/tests/unittests/MainHeader.spec.ts
  frontend/tests/unittests/TestConstant.ts
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: configuration, frontend, javascript

ci: updating frontend sonar config
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

ci: fixing test command
  .github/workflows/unit-tests.yml
Labels: none

SonarCloud adjustments
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/package-lock.json
Labels: configuration, frontend, javascript

Implement address look-up API
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteFindDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteFindListDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteRetrieveDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteRetrieveListDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientCodeTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/exception/AddressLookupException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/AddressTestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
  backend/src/test/resources/application-default.yml
Labels: tests, source, configuration, backend, java

Add log messages
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
Labels: source, backend, java

chore: fixing test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
Labels: tests, backend, java

feat(FSADT1-777): Implement address look-up API (#481)
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteFindDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteFindListDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteRetrieveDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteRetrieveListDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientCodeTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/exception/AddressLookupException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/AddressTestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
  backend/src/test/resources/application-default.yml
Labels: tests, source, configuration, backend, java

chore: updating files
  frontend/components.d.ts
  frontend/src/core/CommonTypes.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: source, frontend, javascript

feat(FE:FSADT1-772): adding new autocomplete component
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
Labels: frontend, javascript

ci: updating coverage details
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  .gitignore
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore: updating report config
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore(deps): update maven all non-major dependencies (#475)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(FE): changing sonar report to clover
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix(FE): fixing coverage report
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore(deps): update eclipse-temurin:17.0.7_7-jdk-alpine docker digest to 58b8b3e
  common/Dockerfile
Labels: none

chore(FE): changing radio button response
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: frontend, javascript

FSADT1-749
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: source, frontend, backend, java, javascript

fix(be): - SonarCloud improvements. - Related to FSADT1-749
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Labels: source, backend, java

chore: fixing bootstrap component events
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/core/CommonTypes.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/tests/unittests/components/forms/AutoCompleteInputComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: source, frontend, javascript

fix(be): - SonarCloud improvements. - Related to FSADT1-749
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Labels: source, backend, java

chore: clip digests
  common/Dockerfile
  database/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nr-forest-client-report.json
  frontend/nr-forest-client-report.xml
  frontend/sonar-report.xml
Labels: configuration, frontend, database, javascript

PR description add only for opened or reopened PRs
  .github/workflows/pr-open.yml
Labels: none

fix(be): - SonarCloud improvements. - Related to FSADT1-749
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Labels: source, backend, java

PR description add only for opened or reopened PRs (#485)
  .github/workflows/pr-open.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
