Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: trying to allow micrometer to build
  legacy/pom.xml
Labels: none

chore: trying to allow micrometer to build
  backend/pom.xml
  legacy/pom.xml
Labels: backend, java

chore: renaming script v4 (#730)
  backend/src/main/resources/db/migration/V4__submission_matching_detail_size.sql
Labels: configuration, backend, java

fix: fixing client type reading issue
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
Labels: none

fix: fixing client type reading issue (#731)
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
Labels: none

fix(FSADT1-1121): adding error handling and message for country load
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
Labels: none

fix(FSADT1-1121): fixing persistence and loading
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
Labels: none

FSADT1-1087
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

chore: limiting the size of the userid
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
Labels: none

fix(FSADT1-1121): forcing user to be automated one
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(FSADT1-1121): making CHES return string instead of void
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
Labels: source, backend, java

fix(FSADT1-1121): making CHES return string instead of void
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
Labels: tests, backend, java

fix(FSADT1-1121): making CHES return string instead of void
  processor/openshift.deploy.yml
Labels: openshift

FSADT1-1087 (#733)
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

test: fixing test
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
Labels: none

fix(FSADT1-1121): fixing some NPE
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
Labels: none

fix(FSADT1-1131|FSADT1-1132): fixing mail content
  backend/src/main/resources/templates/revision.html
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: configuration, backend, java

fix(FSADT1-1121): fixing typeid
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: none

fix(FSADT1-1121): fixing persistence (#732)
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/templates/revision.html
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  processor/openshift.deploy.yml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: tests, source, configuration, backend, java, openshift

FSADT1-1140
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

fix(FSADT1-1037): fixing case
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

FSADT1-1140: Rejection email fix (#734)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

fix(FSADT1-1142): fixing contact not being created
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: none

fix(FSADT1-1037): fixing case (#735)
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix: fixing test case
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientControllerIntegrationTest.java
Labels: none

FSADT1-1138
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

Made code reviews
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

Gave format
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
Labels: none

fix: remove contact
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1142): fixing contact not being created (#736)
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientControllerIntegrationTest.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: none

fix(FSADT1-1145): updating bc registry for standing
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetSearchResultEntryDto.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Gave format
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
Labels: source, backend, java

FSADT1-1138: Adjust "auto approved" notification message for Individuals and Unregistered Sole proprietorship (#737)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  frontend/src/pages/SubmissionReviewPage.vue
Labels: source, frontend, backend, java, javascript

fix: fixing duplicated method
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
Labels: none

fix(FSADT1:1145): updating bc registry loading (#738)
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetSearchResultEntryDto.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
Labels: source, backend, java

feat(FSADT1-1096): adding count header (#198)
  api/.github/pull_request_template.md
  api/.gitignore
  api/config/application-local.yml
  api/config/application.yml
  api/postman/FCA.postman_collection.json
  api/src/main/java/ca/bc/gov/api/oracle/legacy/ApplicationConstants.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/service/ClientServiceIntegrationTest.java
Labels: none

test: remove contact
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: frontend, javascript

FSADT1-1120
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
Labels: source, frontend, backend, java, javascript

FSADT1-1120 (#740)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
Labels: source, frontend, backend, java, javascript

fix(FSADT1-1144): updating 100% match
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none
