Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Fix passing frontend configmap
  .github/workflows/.deploy.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Fix DB dev runner
  .github/workflows/.deploy.yml
Labels: none

Restore workflows
  .github/workflows/pr-open.yml
Labels: none

Remove database-bk from .deploy.yml
  .github/workflows/.deploy.yml
Labels: none

Stop using Dev GH environment
  .github/workflows/.deploy.yml
Labels: none

Roll backend configmap into deployer
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  frontend/openshift.configmap.dev.yml
  frontend/openshift.configmap.prod.yml
  frontend/openshift.configmap.test.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Move TAG to common params
  .github/workflows/.deploy.yml
Labels: none

Roll backend configmap into deployer
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  backend/openshift.deploy.yml
Labels: backend, java, openshift

Fix template creds
  .github/workflows/.tools-deploy.yml
  legacydb/openshift.deploy.yml
Labels: openshift

Simplify already hard coded values
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: backend, java, openshift

Fix template creds
  legacydb/openshift.deploy.yml
Labels: openshift

Temporarily dial down deployer
  .github/workflows/.deploy.yml
  .github/workflows/.tools-deploy.yml
Labels: none

Config maps
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
Labels: frontend, backend, java, javascript, openshift

Remove _W vars
  .github/workflows/.deploy.yml
  .github/workflows/.tools-deploy.yml
  common/openshift.init.yml
  legacydb/openshift.deploy.yml
Labels: openshift

Fix frontend template
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

Fix namespace goof
  .github/workflows/.tools-deploy.yml
Labels: none

Combine db and db-bk deployers
  database/openshift.backup.yml
  database/openshift.deploy.yml
Labels: database, openshift

Keep revising namespace vars
  .github/workflows/.tools-deploy.yml
Labels: none

Let TOOLS use default secrets
  .github/workflows/.tools-deploy.yml
Labels: none

chore(ci): configmap vars
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  backend/openshift.configmap.dev.yml
Labels: backend, java, openshift

Stop using Dev GH environment
  .github/workflows/.tools-deploy.yml
Labels: none

Oracle creds
  .github/workflows/.deploy.yml
  common/openshift.init.yml
Labels: openshift

Let TOOLS use default secrets
  .github/workflows/.tools-deploy.yml
  legacydb/openshift.deploy.yml
Labels: openshift

Fix template creds
  legacydb/openshift.deploy.yml
Labels: openshift

Keep revising namespace vars
  .github/workflows/.tools-deploy.yml
Labels: none

Duplicate secret
  common/openshift.init.yml
Labels: openshift

Comment out builds temporarily
  .github/workflows/pr-open.yml
Labels: none

Comment out workflows while testing
  .github/workflows/pr-open.yml
Labels: none

fix: display location with null name
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

Restore workflows
  .github/workflows/pr-open.yml
Labels: none

fix: keep new location open
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

chore(ci): simplify, reduce templates, fix cleanup (#1481)
  .github/workflows/.deploy.yml
  .github/workflows/.tools-deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  backend/openshift.configmap.dev.yml
  backend/openshift.configmap.prod.yml
  backend/openshift.configmap.test.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  database/openshift.backup.yml
  database/openshift.deploy.yml
  frontend/openshift.configmap.dev.yml
  frontend/openshift.configmap.prod.yml
  frontend/openshift.configmap.test.yml
  frontend/openshift.deploy.yml
  legacydb/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: frontend, backend, database, java, javascript, openshift

ci: updating deployer
  .github/workflows/.deploy.yml
Labels: none

ci: adding startup probe to frontend
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

chore(ci): fix pr-open prereq
  .github/workflows/pr-open.yml
Labels: none

chore(ci): fix pr-open prereq
  .github/workflows/pr-open.yml
Labels: none

feat(be:FSADT1-1703): Changed predictive query to use like instead
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

Fixed SonarCloud issue
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

feat(fe:FSADT1-1576): Remove modal and use hyperlink instead
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

ci: updating deployer (#1493)
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  frontend/openshift.deploy.yml
Labels: frontend, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
