Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix(FSADT1-1037): adding client contact creation
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientContactEntity.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
Labels: none

fix(FSADT1-1037): adding client dba creation
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientDoingBusinessAsDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientDoingBusinessAsEntity.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapper.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientDoingBusinessAsControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapperTest.java
  legacy/src/test/resources/db/migration/V4__manual_data.sql
Labels: none

fix(FSADT1-1083): Missing or insecure HTTP Strict-Transport-Security Header
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix(FSADT1-1083): Missing or insecure HTTP Strict-Transport-Security Header (#689)
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix(FSADT1-1084): Unnecessary Http Response Headers found in the Application
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix(FSADT1-1037): adding client creation
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientControllerIntegrationTest.java
  legacy/src/test/resources/application-default.yml
  legacy/src/test/resources/db/migration/V4__manual_data.sql
Labels: none

fix(FSADT1-1084): Unnecessary Http Response Headers found in the Application (#690)
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix(FSADT1-1037): adding client doing business as creation
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/exception/NoValueFoundException.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientDoingBusinessAsControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V4__manual_data.sql
Labels: none

fix(FSADT1-1041): removing oracle entity data
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ClientDoingBusinessAsEntity.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ClientDoingBusinessAsRepository.java
Labels: none

fix(FSADT1-1041): adding legacy service and dtos
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ClientDoingBusinessAsDto.java
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(FSADT1-1041): switching repositories for the legacy
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: none

fix(FSADT1-1044): updating doing business as matcher
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcherTest.java
Labels: none

fix(FSADT1-1086): Email Address Pattern Found
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

chore: removed unused code
  processor/src/main/java/ca/bc/gov/app/configuration/ClientDataConfiguration.java
  processor/src/main/java/ca/bc/gov/app/configuration/LegacyDataConfiguration.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ClientTypeCompanyXrefEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ClientTypeCompanyXrefEntityKey.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ClientTypeCompanyXrefRepository.java
  processor/src/main/java/ca/bc/gov/app/util/LastItemReleaseStrategy.java
Labels: none

chore: moved packages
  processor/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
  processor/src/main/java/ca/bc/gov/app/entity/BaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/CountryCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/ExpirableBaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationContactIdEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionStatusEnum.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionTypeCodeEnum.java
  processor/src/main/java/ca/bc/gov/app/repository/CountryCodeRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionContactRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionDetailRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionLocationContactRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionLocationRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionMatchDetailRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
Labels: none

chore: fixing packages and test
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/resources/application.yml
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/util/LastItemReleaseStrategyTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/db/migration/R__test._data.sql
  processor/src/test/resources/db/migration/V1__init.sql
  processor/src/test/resources/db/migration/V2__full_client.sql
  processor/src/test/resources/db/migration/V3__pre_packages.sql
  processor/src/test/resources/db/migration/V4__manual_data.sql
  processor/src/test/resources/init_pg.sql
  processor/src/test/resources/postgres/init.sql
Labels: none

ci: updating openshift configuration
  processor/openshift.deploy.yml
Labels: openshift

fix: fixing local login issues
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
Labels: source, backend, java

chore: removing oracle config from file
  processor/config/application-local.yml
Labels: none

fix: fixing dba data
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
Labels: none

fix: fixing dba data
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix: fixing post submissions
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: none

fix(FSADT1-1037): fixing db dependencies
  legacy/openshift.deploy.yml
Labels: openshift

fix(FSADT1-1086): Email Address Pattern Found - Obfuscated email
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

Added comments
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1086): Email Address Pattern Found - Obfuscated email #2
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

no message
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

no message
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

no message
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

Fixing Security Hotspots
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1086): Email Address Pattern Found - Obfuscated email #3
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

feat: add isTouchScreen
  frontend/src/composables/useScreenSize.ts
Labels: source, frontend, javascript

feat: add hook
  frontend/src/composables/useElementVisibility.ts
Labels: source, frontend, javascript

feat: remove tooltip on touch screens
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

feat: scroll to step's title on Next/Back
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

feat: skip scroll if not suitable
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: source, frontend, javascript

feat: add method to "safely" focus a component
  frontend/src/composables/useFocus.ts
Labels: source, frontend, javascript

fix: stretch Submit button in BCSC form
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: stretch components on small screen
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: scroll to the top-notification on error
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript
