Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Formatted code to have 100 characters per line
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

fix(fe): fixed CVE-2021-23337 vulnerability
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Update frontend/package.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Update cypress/package.json
  cypress/package.json
Labels: none

no message
  frontend/package.json
Labels: configuration, frontend, javascript

feat(be:FSADT1-2124): Advance search - Tests
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientAdvancedSearchControllerIntegrationTest.java
Labels: none

no message
  cypress/package-lock.json
Labels: none

no message
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe): fixed CVE-2021-23337 vulnerability (#2110)
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@f1ed97eec5db6599b93275e1976773191bb8e3cd 🚀
  index.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

no message
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

Added missing backslashes
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Made changes after Paulo's feedback
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
Labels: source, configuration, backend, java

feat(be:FSADT1-2134): BC Registry Information tab (#2083)
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAlternateNameDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficerDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/BcRegistryTestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/bcregistry/BcRegistryServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessRegisteredNumberValidatorTest.java
Labels: tests, source, configuration, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@25ed93ef38bc2bfdcfbc7fc192dbdac9c53b0ec9 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

feat(fe): upgraded vite
  frontend/cypress.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/components/DataFetcher.spec.ts
  frontend/tests/unittests/composables/useFetch.spec.ts
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

Fixed total count header
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
Labels: none

Made changes as per SonaCloud feecback
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
Labels: source, backend, java

Made SonaCloud changes
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, source, backend, java

Added more tests
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
Labels: tests, source, backend, java

Fixed test
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, backend, java

Formatted code
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

Added more JavaDocs
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientAdvancedSearchCriteriaDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/PredictiveSearchResultDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientAdvancedSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientAdvancedSearchControllerIntegrationTest.java
Labels: none

feat(fe): vite upgrade
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.mts
Labels: configuration, frontend, javascript

Reverted change
  legacy/src/test/java/ca/bc/gov/app/controller/ClientAdvancedSearchControllerIntegrationTest.java
Labels: none

no message
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

Added more javadocs
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
Labels: source, backend, java

no message
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

no message
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript
