Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

FSADT1-1038
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionContactDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

fix: fixing client types
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

FSADT1-1038 (#723)
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionContactDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

fix: fixing client types (#724)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

FSADT1-1119: Related to FSADT1-1038
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

FSADT1-1119: Related to FSADT1-1038 (#725)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: source, backend, java

feat(FSADT1-992): adding observability
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/service/cognito/CognitoService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/application.yml
  legacy/Dockerfile
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/main/resources/application.yml
Labels: source, controller, configuration, backend, java

fix(FSADT1-1101): updating mail configuration on test
  .github/workflows/merge-main.yml
Labels: none

fix(FSADT1-1059): adding corporation to list
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
Labels: source, backend, java

FSADT1-1116
  backend/src/main/resources/templates/approval.html
Labels: configuration, backend, java

fix(FSADT1-1106): moving copy emails to bcc
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
Labels: source, backend, java

fix(FSADT1-1106): fixing ches copy mail list
  backend/openshift.deploy.yml
  common/openshift.init.yml
Labels: backend, java, openshift

FSADT1-1116 (#727)
  backend/src/main/resources/templates/approval.html
Labels: configuration, backend, java

feat: handle 406 error
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

feat: update Unknown sole proprietor error message
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

FSADT1-1116: Right client name in template
  backend/src/main/resources/templates/rejection.html
Labels: configuration, backend, java

FSADT1-1116: Right client name in template
  backend/src/main/resources/templates/rejection.html
Labels: configuration, backend, java

chore: adding logs to track down mail message
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: none

Rolled change back
  backend/src/main/resources/templates/approval.html
Labels: configuration, backend, java

feat(FSADT1-1101): changing birthdate to be localdatetime
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
Labels: none

feat(FSADT1-1101): fixing birthdate
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: none

test: add component tests
  frontend/cypress/fixtures/business.json
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

[FSADT1-1108] [FSADT1-1109] Display Business error messages (#728)
  frontend/cypress/fixtures/business.json
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/mappings/backend.json
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

FSADT1-1116 and FSADT1-1124
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V4_submission_matching_detail_size.sql
  backend/src/main/resources/templates/rejection.html
Labels: source, configuration, backend, java

FSADT1-1116: Right client name in template (#729)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V4_submission_matching_detail_size.sql
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/rejection.html
Labels: source, configuration, backend, java

feat: add missing client types to our stubs
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

fix(FSADT1-1101|FSADT1-1103|FSADT1-1113|FSADT1-118FSADT1-1106): fixing email for processing
  backend/src/main/resources/templates/rejection.html
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/ProcessorApplication.java
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: configuration, backend, java

fix(FSADT1-1101|FSADT1-1103|FSADT1-1113|FSADT1-118FSADT1-1106): fixing email for processing
  processor/pom.xml
Labels: none

fix: fixing log conversion issues
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
Labels: source, backend, java

fix(FSADT1-1101|FSADT1-1103|FSADT1-1113|FSADT1-118FSADT1-1106): fixing email for processing
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
Labels: none

fix(FSADT1-1101|FSADT1-1103|FSADT1-1113|FSADT1-118FSADT1-1106): fixing email for processing
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: none

fix(FSADT1-1113): fixing staff email
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/resources/templates/revision.html
Labels: source, configuration, backend, java

test: fixing test
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/test/resources/application-default.yml
Labels: source, backend, java

chore: fixing dependency issues
  backend/pom.xml
Labels: backend, java

chore: updating dependency due to CVE
  processor/pom.xml
Labels: none

chore: updating dependency to fix cve
  legacy/pom.xml
Labels: none

chore: fixing dependency issues
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore: trying to allow micrometer to build
  backend/pom.xml
Labels: backend, java

chore: renaming script v4
  backend/src/main/resources/db/migration/V4__submission_matching_detail_size.sql
Labels: configuration, backend, java

chore: trying to allow micrometer to build
  legacy/pom.xml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
