Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

fix(fe:FSADT1-1894): Links does not load location. (#1642)
  frontend/src/components/grouping/FuzzyMatchNotificationGroupingComponent.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

fix(Dockerfile): update Maven version to 3.9.10 in Dockerfile
  backend/Dockerfile
  legacy/Dockerfile
Labels: backend, java

fix(Dockerfile): add gzip to Maven installation dependencies
  backend/Dockerfile
  legacy/Dockerfile
Labels: backend, java

fix(FSADT1-1896): add clientTypeCode to patch operation and update integration test
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientTypeService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

fix(FSADT1-1896): add patch operation for client type code (#1643)
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  legacy/Dockerfile
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationReasonService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: source, backend, java

Update frontend/src/pages/client-details/SummaryView.vue
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

feat(fe): Add "Note by" in the client summary (#1639)
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/HistoryView.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-C.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-NL.json
  frontend/stub/__files/response-clients-details-P+contact.json
  frontend/stub/__files/response-clients-details-P+location.json
  frontend/stub/__files/response-clients-details-P-contact.json
  frontend/stub/__files/response-clients-details-P.json
  frontend/stub/__files/response-clients-details-PD.json
  frontend/stub/__files/response-clients-details-PDAC.json
  frontend/stub/__files/response-clients-details-PSPN.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/__files/response-clients-details-Type.json
  frontend/stub/__files/response-clients-details-missing-registry-type.json
  frontend/stub/__files/response-clients-details-null.json
Labels: source, frontend, javascript

fix: fixing issue with validators
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
Labels: source, backend, java

fix: prevent from removing the Registration number value
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

update stubs
  frontend/stub/__files/response-clients-details-P+contact.json
  frontend/stub/__files/response-clients-details-P+location.json
  frontend/stub/__files/response-clients-details-P-contact.json
  frontend/stub/__files/response-clients-details-PD.json
  frontend/stub/__files/response-clients-details-PDAC.json
  frontend/stub/__files/response-clients-details-PSPN.json
Labels: frontend, javascript

update tests
  frontend/tests/components/pages/client-details/RegistrationNumber.cy.ts
Labels: frontend, javascript

fix: update AdminRolePatchValidator to validate path and enhance test constants for role claims
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientPatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidatorIntegrationTest.java
Labels: tests, source, backend, java

fix(FSADT1-1889): fixing issue with validators (#1644)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientPatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidatorIntegrationTest.java
Labels: tests, source, backend, java

feat: added two separate calls for the client details
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/src/pages/client-details/SummaryView.vue
Labels: source, frontend, backend, java, javascript

fix(fe:FSADT1-1897,FSADT1-1898): CLIENT_ADMIN - Mandatory fields (#1645)
  frontend/src/pages/client-details/RegistrationNumber.vue
  frontend/stub/__files/response-clients-details-P+contact.json
  frontend/stub/__files/response-clients-details-P+location.json
  frontend/stub/__files/response-clients-details-P-contact.json
  frontend/stub/__files/response-clients-details-PD.json
  frontend/stub/__files/response-clients-details-PDAC.json
  frontend/stub/__files/response-clients-details-PSPN.json
  frontend/tests/components/pages/client-details/RegistrationNumber.cy.ts
Labels: frontend, javascript

Updated tests accordingly
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, source, backend, java

chore: fixed tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, backend, java

Added tests for new code
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, backend, java

Added loading skeleton
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

feat(FSADT1-1872): add search functionality by corporation values
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchCompanyControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V4.0.0__unreliable_data.sql
Labels: none

chore(FSADT1-1872): enhance globalValidator to accept clientNumber parameter
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/validator/PatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidatorIntegrationTest.java
Labels: tests, source, backend, java

feat(FSADT1-1872): implement RegistrationNumberPatchValidator with global validation logic
  backend/src/main/java/ca/bc/gov/app/validator/patch/RegistrationNumberPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/RegistrationNumberPatchValidatorIntegrationTest.java
Labels: tests, source, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@90dc9d56c0168de5e81494a88d3f05ac37563ad4 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

feat: added two separate calls for the client details (#1646)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  frontend/src/pages/client-details/SummaryView.vue
Labels: tests, source, frontend, backend, java, javascript

Update RegistrationNumberPatchValidatorIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/RegistrationNumberPatchValidatorIntegrationTest.java
Labels: tests, backend, java

feat(FSADT1-1872): implement RegistrationNumberPatchValidator with global validation logic and API (#1647)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  backend/src/main/java/ca/bc/gov/app/validator/PatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/patch/RegistrationNumberPatchValidator.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/AdminRolePatchValidatorIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/validator/patch/RegistrationNumberPatchValidatorIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchCompanyControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V4.0.0__unreliable_data.sql
Labels: tests, source, backend, java

feat(fe:FSADT1-1794): Updated label as per requested
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1794): Updated label as per requested (#1649)
  frontend/src/pages/SearchPage.vue
Labels: frontend, javascript

display the updated full name in the notification
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
Labels: frontend, javascript

update tests
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

chore(be): Fixed code security alert. CVE-2025-49146 pgjdbc insecure authentication in channel binding
  backend/pom.xml
Labels: backend, java

improve tests
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

fix(fe:FSADT1-1906): Outdated client name displayed in the notification (#1650)
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
Labels: frontend, javascript

display the mandatory indicator
  frontend/src/pages/client-details/RegistrationNumber.vue
Labels: frontend, javascript

chore(be): Fixed code security alert (#1651)
  backend/pom.xml
Labels: backend, java

Update pom.xml
  backend/pom.xml
Labels: backend, java

Update pom.xml
  legacy/pom.xml
Labels: none

Update pom.xml
  processor/pom.xml
Labels: none

chore(be): Fixed CVE-2025-49146
  processor/pom.xml
Labels: none

Changed wording as per requested
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript
