Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat(fe:FSADT1-1172): display district name in the Review step (#798)
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: frontend, javascript

feat(fe:FSADT1-1202): UI changes to review client screen
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1202): UI changes to review client screen (#802)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1191): Change output label to "Mailing address" in BCSC form
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1191): Change output label to "Mailing address" in BCSC form (#803)
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: move "Submitted on" output field
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat: apply heading-compact-01 to accordion titles by default
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: change style of items' title
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
Labels: frontend, javascript

feat: update heading-compact-01
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/UserProfileComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
Labels: frontend, javascript

refactor: group related selectors
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat(be:FSADT1-1197): Change to district name instead of Client Admin - Made changes - Fixed bug related to the size of the subject
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/templates/revision.html
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: configuration, backend, java

feat(be:FSADT1-1197): Change to district name instead of Client Admin (#806)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/templates/revision.html
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: configuration, backend, java

feat(fe:FSADT1-1193): fix heading styles and color (#805)
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/UserProfileComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
Labels: frontend, javascript

feat: move "Submitted on" output field (#804)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

fix(FSADT1-1199): fixing email for district
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: source, backend, java

fix(FSADT1-1199): fixing email for district (#807)
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: source, backend, java

fix: fix contrast issues on the header
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

chore: upgrade @carbon/web-components
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat: make text-input labels accessible
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

feat: make dropdown labels accessible
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

docs: comment on nextTick usage
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix: show the required label only when requested
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: make auto-complete labels accessible
  frontend/src/components/forms/AutoCompleteInputComponent.vue
Labels: frontend, javascript

feat(be:FSADT1-1198): Change in the email content
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: source, backend, java

feat(be:FSADT1-1198): Change in the email content (#808)
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: source, backend, java

feat: make radio-input labels accessible
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

feat(fe:FSADT1-1169): Adjust notification message
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat(fe:FSADT1-1169): Adjust notification message (#809)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

fix(FSADT1-1165): fixing user redirect
  frontend/src/routes.ts
Labels: source, frontend, javascript

Gave format to the code
  frontend/src/routes.ts
Labels: source, frontend, javascript

Removed unused parameter
  frontend/src/routes.ts
Labels: source, frontend, javascript

test: changing test to pass env var correct
  frontend/package.json
Labels: configuration, frontend, javascript

fix(fe:FSADT1-1169): Fix to deal with grammar when plural records
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

fix(fe:FSADT1-1169): Fix to deal with grammar when plural records (#811)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

chore: removing changes from package
  frontend/package.json
Labels: configuration, frontend, javascript

chore: moving storage out of the function
  frontend/src/routes.ts
Labels: source, frontend, javascript

ci: changing FE env
  .github/workflows/unit-tests.yml
Labels: none

Update routes.ts
  frontend/src/routes.ts
Labels: source, frontend, javascript

fix(FSADT1-1165): fixing user redirect (#810)
  .github/workflows/unit-tests.yml
  frontend/src/routes.ts
Labels: source, frontend, javascript

ci: making test files reusable
  .github/workflows/reusable-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
