Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

[FSADT1-748] Create general search API (#156)
  api/src/main/java/ca/bc/gov/api/oracle/legacy/controller/ClientController.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientPublicViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientStatusCodeEnum.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientTypeCodeEnum.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/dto/ClientViewDto.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientBaseEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/entity/ForestClientEntity.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/repository/ForestClientRepository.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/service/ClientService.java
  api/src/main/java/ca/bc/gov/api/oracle/legacy/util/ClientMapper.java
  api/src/test/java/ca/bc/gov/api/oracle/legacy/controller/ClientControllerIntegrationTest.java
Labels: none

test(BE:FSADT1-752): updating tests to increase coverage
  processor/openshift.deploy.yml
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/repository/legacy/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/IncorporationNumberProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcherTest.java
  processor/src/test/resources/init_pg.sql
Labels: openshift

fix(security): fixing CVE-2022-1471
  backend/pom.xml
  legacy/pom.xml
Labels: backend, java

feat(FSADT1-713): adding base cypress code
  .github/workflows/pr-open.yml
  cypress/.gitignore
  cypress/cypress.config.ts
  cypress/cypress/e2e/spec.feature
  cypress/cypress/e2e/spec.ts
  cypress/cypress/support/commands.ts
  cypress/cypress/support/e2e.ts
  cypress/package-lock.json
  cypress/package.json
  cypress/tsconfig.json
Labels: none

fix: fixing processor deployment
  processor/openshift.deploy.yml
Labels: openshift

chore: removing report code
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  legacy/src/test/resources/application-default.yml
Labels: openshift

DB changes for matching details (#456)
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

chore: removing report code (#459)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  legacy/src/test/resources/application-default.yml
Labels: openshift

feat(BE:FSADT1-752): adding support for matchers
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/converters/SubmissionMatchDetailEntityBeforeConvert.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionMatchDetailRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceTest.java
  processor/src/test/resources/init_pg.sql
Labels: none

feat(BE:FSADT1-752): adding support for matchers
  .github/workflows/pr-open.yml
Labels: none

chore(deps): update eclipse-temurin docker tag
  backend/Dockerfile
  common/Dockerfile
Labels: backend, java

fix(deps): update vitest monorepo to ^0.30.0
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(deps): update vitest monorepo to ^0.30.0 (#460)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(BE:FSADT1-765): adding new state data
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
Labels: configuration, backend, java

chore: updating code to java17
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
Labels: tests, source, backend, java

feat(BE:FSADT1-765): adding new state data (#461)
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
Labels: tests, source, configuration, backend, java

chore: unifying backend deployment
  .github/workflows/pr-open.yml
Labels: none

feat: adding html freemarker template consumer
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/registration.html
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: tests, source, configuration, backend, java

fix: fixing volume claim
  processor/openshift.deploy.yml
Labels: openshift

no message
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: frontend, javascript

no message
  frontend/src/pages/applyclientnumber/AddressComponent.vue
Labels: frontend, javascript

no message
  frontend/src/pages/applyclientnumber/AddressComponent.vue
Labels: frontend, javascript

feat(fe/be): - FSADT1-772 - Part #1
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/services/ForestClientService.ts
Labels: source, configuration, frontend, backend, java, javascript

feat(fe/be): - FSADT1-772 - Part #1
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

chore: updating files and addinc doc
  backend/README.md
  backend/docs/MAIL_FORMAT.md
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/resources/templates/test.html
Labels: tests, source, backend, documentation, java

Added minor changes
  frontend/src/App.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: source, frontend, javascript

Removed submitter info
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: source, frontend, javascript

no message
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: frontend, javascript

feat(be/fe): - Added headers as per requested
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/resources/application.yml
  frontend/src/App.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, configuration, frontend, backend, java, javascript

feat(be/fe): - Added headers as per requested - Cleaned up code
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/FetchService.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

feat(db): - Completed missing comments
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: configuration, backend, java

feat(BE:FSADT1-772): updating backend tests
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: tests, backend, java

feat(BE:FSADT1-772): updating backend code
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactIdEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmitterEntity.java
  backend/src/main/java/ca/bc/gov/app/exception/NoAssociationException.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmitterRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

feat(BE:FSADT1-772): updating details
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

chore: updating code
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
Labels: tests, source, backend, java

chore: updating code
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

chore: updating code to pass headers
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

chore: updating post request on frontend
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

chore: updating frontend
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: frontend, javascript

chore: updating frontend
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
