Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: passing username from backend to legacy
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
Labels: source, backend, java

chore: migrating objects to JsonNode
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
Labels: none

chore: added username to process patch data
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

chore: added JsonNode for reflection
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: none

Refactored the applyPatch method to combine field updates in a single map
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
Labels: none

fix(fe:FSADT1-1758): Edit Location - wrong duplicate name detection (#1517)
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: source, frontend, javascript

chore: Update frontend/src/services/ForestClientService.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

chore: small patch changes (#1518)
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientPatchController.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: source, configuration, backend, java

chore: adding user who updated location
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

use array filter to select the non-empty parts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

Update PatchOperationLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

Update PatchUtils.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
Labels: none

feat(fe:FSADT1-1761): Contacts - on Edit associated locations is missing (#1515)
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/components/grouping/StaffContactGroupComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/components/grouping/StaffContactGroupComponent.cy.ts
  frontend/tests/components/pages/client-details/ContactView.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, frontend, javascript

feat(FSADT1-1736): adding location patch operation (#1516)
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientCodesControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/util/PatchUtilsTest.java
  legacy/src/test/resources/application-default.yml
Labels: none

chore: merge conflict fix
  frontend/components.d.ts
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationStatusService.java
Labels: frontend, javascript

chore: refactored update patch database code
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchUpdateOperation.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
Labels: none

feat(FSADT1-1737): added client contact patch
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactService.java
Labels: none

Update PatchOperationContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactService.java
Labels: none

chore: adding new scripts to legacy
  legacy/src/test/resources/db/migration/V10__triggers.sql
  legacy/src/test/resources/db/migration/V11__update_reason_code.sql
  legacy/src/test/resources/db/migration/V12__test_data_with_triggers.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
Labels: none

chore: updating scripts
  docker-compose.yml
  legacy/src/test/java/ca/bc/gov/app/extensions/CustomOracleContainer.java
  legacy/src/test/resources/db/migration/V10__triggers.sql
  legacy/src/test/resources/db/migration/V11__update_reason_code.sql
  legacy/src/test/resources/db/migration/V12__test_data_with_triggers.sql
Labels: none

chore: fixing broken code
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

chore: fixing broken code
  legacy/src/test/resources/db/migration/V10__forest_client_trigger.sql
  legacy/src/test/resources/db/migration/V11__client_contact_trigger.sql
  legacy/src/test/resources/db/migration/V12__client_location_trigger.sql
  legacy/src/test/resources/db/migration/V13__client_doing_business_as_trigger.sql
  legacy/src/test/resources/db/migration/V14__update_reason_code.sql
  legacy/src/test/resources/db/migration/V15__test_data_with_triggers.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
Labels: none

chore: adding new scripts to legacy (#1522)
  docker-compose.yml
  legacy/src/test/java/ca/bc/gov/app/extensions/CustomOracleContainer.java
  legacy/src/test/resources/db/migration/V10__forest_client_trigger.sql
  legacy/src/test/resources/db/migration/V11__client_contact_trigger.sql
  legacy/src/test/resources/db/migration/V12__client_location_trigger.sql
  legacy/src/test/resources/db/migration/V13__client_doing_business_as_trigger.sql
  legacy/src/test/resources/db/migration/V14__update_reason_code.sql
  legacy/src/test/resources/db/migration/V15__test_data_with_triggers.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
Labels: none

fix(FSADT1-1737): fixing possible issue with replace patch
  legacy/src/main/java/ca/bc/gov/app/service/patch/ClientPatchUpdateOperation.java
Labels: none

chore: adding log
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationLocationService.java
Labels: none

fix(FSADT1-1737): fixing contact edit issue
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactService.java
Labels: none

chore: fixing contact details dto
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDetailsDto.java
Labels: none

chore: adding some support patch methods
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
Labels: none

feat(FSADT1-1737): updating contact patch code
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/service/patch/PatchOperationContactService.java
  legacy/src/main/java/ca/bc/gov/app/util/PatchUtils.java
Labels: none

chore: fixing location trigger
  legacy/src/test/resources/db/migration/V12__client_location_trigger.sql
Labels: none

feat(FSADT1-1542): Notification to client #1
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V11__send_to_client_indicator.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationAcronymValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBirthdayValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessClientTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessLegalTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessNameValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessRegisteredNumberValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationClientTypeValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationDistrictValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationDoingBusinessValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationIndividualNameValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationNotesValidatorTest.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationWorkSafeValidatorTest.java
  backend/src/test/resources/failValidationTest.csv
  frontend/src/components/forms/SimpleCheckboxInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/src/services/ForestClientService.ts
Labels: tests, source, configuration, frontend, backend, java, javascript

add unauthorized page
  frontend/src/assets/styles/global.scss
  frontend/src/pages/UnauthorizedErrorPage.vue
Labels: frontend, javascript

redirect unauthorized idir user
  frontend/src/routes.ts
  frontend/stub/mappings/fam.json
Labels: source, frontend, javascript

feat(FSADT1-1542): Notification to client #2
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailRequestDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  processor/src/main/java/ca/bc/gov/app/dto/EmailRequestDto.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
Labels: source, backend, java

chore(be): upgraded cypress to 14.2.1
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

keep client user in the same route
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/pages/UnauthorizedErrorPage.vue
  frontend/src/routes.ts
  frontend/stub/mappings/fam-client_viewer.txt
  frontend/stub/mappings/fam-no-role.txt
Labels: source, frontend, javascript

no message
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: none

test: hit unauthorized route
  frontend/cypress/e2e/unauthorizedAccess.cy.ts
  frontend/src/App.vue
  frontend/tests/components/pages/UnauthorizedErrorPage.cy.ts
Labels: tests, frontend, javascript

chore: restore JWT stub
  frontend/stub/mappings/fam.json
Labels: frontend, javascript

chore(be): upgraded cypress to 14.2.1 (#1525)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
