Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

Beautified POM file
  processor/pom.xml
Labels: none

Removed unused imports
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcherTest.java
Labels: none

chore: updating sql files
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
Labels: none

fix: disable the next button properly
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

chore: updating sql files
  legacy/src/test/resources/db/migration/V4__client_forest_client_package.sql
  legacy/src/test/resources/db/migration/V4__manual_data.sql
  legacy/src/test/resources/db/migration/V5__client_002_package.sql
  legacy/src/test/resources/db/migration/V6__client_003_package.sql
  legacy/src/test/resources/db/migration/V7__client_011_package.sql
Labels: none

chore: Updated Cypress
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: Updated Cypress (#635)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: setting oracle db version
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/resources/db/migration/V1__init_oracle.sql
  processor/src/test/resources/init_pg.sql
Labels: none

Changed code to accomedate changes
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

chore: changing way legacy db is loaded on processor
  legacy/src/test/resources/db/migration/V2__full_client.sql
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/db/migration/V1__init_oracle.sql
Labels: none

fix: adjust validations and events
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

test: increasing coverage
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
Labels: none

feat(FSADT1-1012): updating DoB and data insertion (#626)
  backend/pom.xml
  legacy/pom.xml
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
  legacy/src/test/resources/db/migration/V4__manual_data.sql
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcherTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/db/migration/V1__init_oracle.sql
  processor/src/test/resources/init_pg.sql
Labels: backend, java

Made changes to accomodate updates
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix: issue after returning to the step containing the date
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

chore: adding dependency back
  backend/pom.xml
Labels: backend, java

Reverted changes as Paulo brought back the dependency
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Fixed code smell issues
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix: fixing address naming
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: tests, source, backend, java

fix: Changed min age as per decided by Andrea and Ziad
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

fix: Changed min age as per decided by Andrea and Ziad (#636)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

chore: updating oracle version
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
Labels: none

chore: updating oracle version with flyway
  legacy/pom.xml
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  processor/pom.xml
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
Labels: none

feat: add business validations
  frontend/src/components/forms/DateInputComponent/common.ts
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

fix: fixing test issues
  frontend/components.d.ts
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

ci: adding report to cypress
  .github/workflows/unit-tests.yml
Labels: none

chore: updating coverage report for frontend
  .github/workflows/unit-tests.yml
Labels: none

feat: apply text mask
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

ci: updating ci configuration
  .github/workflows/unit-tests.yml
Labels: none

chore: removing code comment
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

chore(deps): updating action version
  .github/workflows/pr-open.yml
Labels: none

chore: updating merge main
  .github/workflows/merge-main.yml
Labels: none

chore: updating coverage report for frontend (#637)
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

feat: auto-move to next date part
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

feat: perform conditional validation
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: revalidate everything on revalidate-bus
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

test: fill the birthdate field
  frontend/cypress/e2e/FormGeneral.cy.ts
Labels: tests, frontend, javascript

feat: replace some messages
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

fix: prevent highlighting all parts on error
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

docs: improve code comment
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
