Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

feat(FSADT1-1404): updating after rebase
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
Labels: tests, source, backend, java

feat(FSADT1-1404): updating address for first nation
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  backend/src/test/java/ca/bc/gov/app/controller/opendata/OpenDataControllerIntegrationTest.java
Labels: tests, source, backend, java

chore: updating webclients
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: none

update location test
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
Labels: frontend, javascript

add notes validation
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
Labels: source, frontend, javascript

allow line breaks in the Notes field
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

feat(FSADT1-1404): adding stub for first nation
  frontend/public/data/params.js
  frontend/stub/__files/response-opendata-autocomplete.json
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

feat(FSADT1-1401): Create Textarea input component (#1034)
  frontend/components.d.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/TextareaInputComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/unittests/components/forms/TextareaInputComponent.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: source, frontend, javascript

Renamed api names as CamelCase is generally discouraged in REST API endpoint naming
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/stub/mappings/backend.json
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: source, frontend, backend, java, javascript

Renamed api names as CamelCase is generally discouraged in REST API endpoint naming
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
Labels: source, backend, java

feat: added user identification to logs
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/filters/UserIdWebFilter.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

feat: added user identification to logs (#1036)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/filters/UserIdWebFilter.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

feat(FSADT1-1404): first nations api (#1035)
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/opendata/OpenDataController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/Crs.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/CrsProperties.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/Feature.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/FeatureProperties.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/Geometry.java
  backend/src/main/java/ca/bc/gov/app/dto/opendata/OpenData.java
  backend/src/main/java/ca/bc/gov/app/dto/openmaps/FeatureDto.java
  backend/src/main/java/ca/bc/gov/app/dto/openmaps/OpenMapsResponseDto.java
  backend/src/main/java/ca/bc/gov/app/dto/openmaps/PropertyDto.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/AbstractOpenDataService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/BcMapsService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/SacService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/opendata/OpenDataControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/resources/application-default.yml
  frontend/public/data/params.js
  frontend/stub/__files/response-opendata-autocomplete.json
  frontend/stub/mappings/backend.json
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: tests, source, configuration, frontend, backend, java, javascript

fix(FSADT1-1382): limited empty state to loaded
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

fix(FSADT1-1382): limited empty state to loaded (#1037)
  frontend/src/pages/SubmissionListPage.vue
Labels: frontend, javascript

feat(FSADT1-1383): Load ID types from the backend API
  backend/src/main/java/ca/bc/gov/app/controller/client/CountryController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/IdentificationTypesController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/DistrictDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/IdentificationTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/IdentificationTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

feat(FSADT1-1383): Load ID types from the backend API
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeDto.java
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

Renamed api names as CamelCase is generally discouraged in REST API endpoint naming
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
Labels: tests, backend, java

Renamed api names as CamelCase is generally discouraged in REST API endpoint naming
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
Labels: tests, backend, java

Upgraded Cypress
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Added stubs
  frontend/cypress/fixtures/identificationTypes.json
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/stub/__files/response-identification-types.json
  frontend/stub/mappings/backend.json
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
Labels: tests, frontend, javascript

Fixed test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Fixed test. Issue: Value was set as Canadian Passport therefore, there is no need to interact with the province
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Fixed test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

no message
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

no message
  frontend/cypress.config.ts
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Revert "no message"
  frontend/cypress.config.ts
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

no message
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Attempt to fix cypress test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Debugging test...
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Attempt to fix cypress test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Attempt to fix cypress test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Attempt to fix cypress test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

chore: updating tsconfig
  frontend/.devcontainer/frontend.code-workspace
  frontend/tsconfig.app.json
  frontend/tsconfig.base.json
  frontend/tsconfig.cypress.json
  frontend/tsconfig.json
  frontend/tsconfig.vite-config.json
  frontend/tsconfig.vitest.json
Labels: configuration, frontend, javascript

Reverted latest change
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Attempt to fix cypress test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

no message
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

fix: fixing component test
  frontend/tests/pages/FormStaffPage.cy.ts
Labels: frontend, javascript

Moved enpoints to the codes controller
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/CountryController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/DistrictController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/IdentificationTypesController.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/src/pages/staffform/LocationsWizardStep.vue
  frontend/stub/mappings/backend.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/StaffLocationGroupComponent.cy.ts
  frontend/tests/pages/FormStaffPage.cy.ts
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
Labels: tests, source, frontend, backend, java, javascript

Added IDIR roles in addresses API authorization
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java
