Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

chore: removing useless util
  legacy/src/main/java/ca/bc/gov/app/util/MonoUtil.java
Labels: none

chore: temporary persisting processor code changes
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientLocationDto.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
Labels: none

feat: adding mapper code for dto to entity conversion
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/dto/Dummy.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientLocationMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientMapperTest.java
Labels: none

feat: moving processing of legacy data from processor
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

chore: bringing constants
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
Labels: none

feat: moving data from processor
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientLocationDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntityKey.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientLocationEntity.java
Labels: none

fix: fixing test case
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
Labels: none

feat: place birthdate label above its value
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

test: restore a previously removed test
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

test: remove console.log
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

fix: address security issue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

feat: disable submit button when invalid
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

feat: add instruction message
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

[FSADT1-1050] Adjust "Submit application" button (#679)
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

FSADT1-1054: Deleted word as per requested in a new comment
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: frontend, javascript

FSADT1-1054: Deleted word as per requested in a new comment (#680)
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
Labels: frontend, javascript

feat: add more text to modal
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

[FSADT1-1020] Addressing issues pointed in the review (#678)
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: frontend, javascript

feat: add more text to modal (#681)
  frontend/src/pages/FormBCSCPage.vue
Labels: frontend, javascript

fix: changing submission list limit
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/application.yml
Labels: source, configuration, backend, java

chore: removing swagger from legacy
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookNameDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookResultListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicNameDto.java
  legacy/src/main/resources/application.yml
Labels: none

fix(FSADT1-1080): Cookie with Insecure or Improper or Missing SameSite attribute
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
Labels: source, backend, java

fix(FSADT1-936): fixing non-dev ches issues
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/resources/templates/approval.html
Labels: source, configuration, backend, java

chore: removing swagger
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientValueTextDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
Labels: source, backend, java

fix(FSADT1-936): fixing ches params
  .github/workflows/merge-main.yml
Labels: none

fix(FSADT1-1080): Cookie with Insecure or Improper or Missing SameSite attribute (#682)
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
Labels: source, backend, java

fix(FSADT1-639): fixing email mechanism that is not triggered
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
Labels: none

fix: move toast message below the header (small breakpoint)
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat: increase z-index for toast message
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: [FSADT1-1058] BCSC form breakpoints (#684)
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix(FSADT1-936): fixing CHES on non-dev env (#683)
  .github/workflows/merge-main.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientValueTextDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/approval.html
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookNameDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookResultListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicNameDto.java
  legacy/src/main/resources/application.yml
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
Labels: source, configuration, backend, java

fix(FSADT1-936): fixing CHES on non-dev env (#683)
  .github/workflows/merge-main.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientValueTextDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/approval.html
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/resources/application.yml
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
Labels: source, configuration, backend, java

fix(FSADT1-1081): Missing "Content-Security-Policy" header
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix(FSADT1-1081): Missing "Content-Security-Policy" header (#685)
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix: add line-break between paragraphs in confirmation message
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

fix: prevent horizontal scroll on small screens
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: prevent automatic zoom on mobile devices
  frontend/index.html
Labels: frontend, javascript

fix(FSADT1-1082): Missing or insecure "X-Content-Type-Options" header
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java

fix: add line-break between paragraphs in confirmation message (#686)
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: frontend, javascript

fix(FSADT1-1082): Missing or insecure "X-Content-Type-Options" header (#688)
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: source, backend, java
