Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Attempt #4
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Attempt #5
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Attempt #6
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Attempt #7
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Last attempt
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Fix/fix notification border (#776)
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-1143)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

fix(FSADT1-1143) (#777)
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: source, backend, java

feat(FSADT1-1177): adding district email to processor
  processor/src/main/java/ca/bc/gov/app/dto/DistrictDto.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: none

no message
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: none

Changes in the database
  backend/src/main/resources/db/migration/V5__district_code.sql
Labels: configuration, backend, java

fix(FSADT1-1179): fixing off ramp cases
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

fix(FSADT1-1179): fixing off ramp cases (#780)
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

style: fix identation in a specific portion of code
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat: hide Associated location in the Submission review page
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

feat: turn on/off multiple addresses
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: frontend, javascript

test: update tests
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/bceid/ContactWizardStep.cy.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: tests, frontend, javascript

docs: inform about BCEID_MULTI_ADDRESS
  frontend/README.md
Labels: frontend, javascript

feat(FSADT1-1171): adding feature flag for backend
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java, openshift

FSADT1-1173
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/DistrictCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

[FSADT1-1171] Remove additional addresses (#781)
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  frontend/README.md
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/bceid/ContactWizardStep.cy.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: tests, source, frontend, backend, java, javascript, openshift

feat(FSADT1-823): adding databae backup config
  database/openshift.backup.yml
Labels: database, openshift

feat(FSADT1-823): adding cronjob creation
  .github/workflows/pr-open.yml
Labels: none

feat(FSADT1-823): adding backup before update
  .github/workflows/pr-open.yml
Labels: none

ci: fixing ci
  .github/workflows/pr-open.yml
Labels: none

ci: fixing ci
  .github/workflows/pr-open.yml
Labels: none

fix(FSADT1-823): fixing secred address
  database/openshift.backup.yml
Labels: database, openshift

fix(FSADT1-823): fixing cron command
  database/openshift.backup.yml
  database/openshift.deploy.yml
Labels: database, openshift

ci: fixing ci
  .github/workflows/pr-open.yml
Labels: none

FSADT1-1173
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, source, backend, java

feat(FSADT1-823): adding limit of X backups
  database/openshift.backup.yml
Labels: database, openshift

Added API by code
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
Labels: source, backend, java

chore: temporary code
  .github/workflows/pr-open.yml
Labels: none

chore: fixing endpoint name
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
Labels: source, backend, java

FSADT1-1175
  backend/src/main/java/ca/bc/gov/app/repository/client/DistrictCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Removed constructor
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
Labels: source, backend, java

FSADT1-1175
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

chore: Fixed missing filter by only active countries
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

Improved filter
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: source, backend, java

chore: updating cronjob command
  database/openshift.backup.yml
Labels: database, openshift
