Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Revert "no message"
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: none

no message
  frontend/cypress.config.ts
Labels: frontend, javascript

no message
  frontend/cypress.config.ts
Labels: frontend, javascript

no message
  frontend/cypress.config.ts
Labels: frontend, javascript

no message
  frontend/cypress.config.ts
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@85b11062e291a5ac5ba7491021534f12aa313155 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

add advanced search
  frontend/src/assets/styles/global.scss
  frontend/src/composables/useFetch.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/SearchPage copy.vue
  frontend/src/pages/search/AdvancedSearch.vue
  frontend/stub/__files/response-idir-autocomplete.json
  frontend/stub/mappings/client_advanced_search.json
  frontend/stub/mappings/idir_autocomplete.json
Labels: source, frontend, javascript

test date validators
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: frontend, javascript

feat(be:FSADT1-2124): Advance search
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientAdvancedSearchCriteriaDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientAdvancedSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientAdvancedSearchControllerIntegrationTest.java
Labels: tests, source, backend, java

Update legacy/src/main/java/ca/bc/gov/app/service/ClientAdvancedSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientAdvancedSearchService.java
Labels: none

Improved code
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
Labels: source, backend, java

Added missing fields in the advanced search
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientAdvancedSearchCriteriaDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientAdvancedSearchService.java
Labels: source, backend, java

no message
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: source, backend, java

no message
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

no message
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientAdvancedSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchRelatedClientIntegrationTest.java
Labels: none

test config as a ref
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

delete unused file
  frontend/src/pages/SearchPage copy.vue
Labels: frontend, javascript

Fixed a pre-existing bug on main. It was introduced in commit 4d95b8fbf
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchRelatedClientIntegrationTest.java
Labels: none

feat(be:FSADT1-2124): Advance search (#2124)
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientAdvancedSearchController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientAdvancedSearchCriteriaDto.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientQueries.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientAdvancedSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientAdvancedSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchRelatedClientIntegrationTest.java
Labels: tests, source, backend, java

fix(fe): fixed CVE-2026-40175 vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@2d1361999ba8d5d8be807c3880532e8857f3ee7f 🚀
  index.html
  nrfc/columns.html
  nrfc/index.html
  nrfc/info-html.txt
Labels: none

Update pom.xml
  backend/pom.xml
Labels: backend, java

Downgrade dependencies in pom.xml
  legacy/pom.xml
Labels: none

Downgrade dependencies in pom.xml
  processor/pom.xml
Labels: none

fix(fe): fixed CVE-2026-40175 vulnerability (#2125)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@95d7638b5fa1d15ba9c789bb697e94ed2dd47fcc 🚀
  index.html
  nrfc/columns.html
  nrfc/default.nrfc.xml
  nrfc/index.html
  nrfc/info-html.txt
  nrfc/tables/submission_location.html
Labels: none

Downgrade versions in pom.xml dependencies
  legacy/pom.xml
Labels: none

Downgrade versions in pom.xml
  processor/pom.xml
Labels: none

Downgrade dependencies in pom.xml
  backend/pom.xml
Labels: backend, java

chore(be): upgraded dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

Replaced deprecated constant https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/http/HttpStatus.html
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
Labels: none

fix: update HttpHeaders usage for Spring 6 compatibility
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

no message
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  legacy/pom.xml
  processor/pom.xml
Labels: source, backend, java

no message
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
Labels: none

test component
  frontend/cypress/fixtures/clientUsers-autocomplete.json
  frontend/src/assets/styles/global.scss
  frontend/src/pages/search/AdvancedSearch.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
  frontend/tests/components/pages/search/AdvancedSearch.cy.ts
Labels: tests, frontend, javascript

chore: WAVA fixes
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/CsrfCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/HeadersCustomizer.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  frontend/src/helpers/ForestClientUserSession.ts
  legacy/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: tests, source, configuration, frontend, backend, java, javascript, openshift

no message
  processor/src/main/resources/application.yml
Labels: none

test the advanced search
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/SearchPage.vue
Labels: tests, frontend, javascript

remove double encoding on basic search
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/SearchPage.vue
Labels: tests, frontend, javascript
