Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

docs: improve comment
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

test: fix test
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: frontend, javascript

fix: fix header small screen
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

fix: attempt to fix side effect in the workflow
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

fix(FSADT1-884): fixing steps being enable
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: submitting small changes
  frontend/package-lock.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/stub/mappings/fam.json
Labels: configuration, frontend, javascript

refactor: requested changes from review
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

Refactored code - Part #2
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCeIDPage.vue
Labels: source, frontend, javascript

Made code reviews
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

chore: use date milliseconds as id
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

fix: fix build issue
  frontend/public/img/logo-vertical1.svg
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

Refactored code - Part #1
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: source, frontend, javascript

chore: fix code linter
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix: attempt to fix tests in the workflow
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

Refactored code - Part #2.1
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: frontend, javascript

fix: remove package from optimizeDeps
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

fix: Fixed sonarcloud security hotspot issue
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: Fixed security hotspot
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

Formatted and beautified code
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: frontend, javascript

style: small changes to code style
  frontend/src/components/DataFetcher.vue
Labels: frontend, javascript

Refactored code - Part #1.1
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: frontend, javascript

fix: prevent error in the workflow
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: frontend, javascript

fix(FSADT1-891): fixing modal spacing
  frontend/src/App.vue
Labels: frontend, javascript

fix(FSADT1-888): fixing spacing between radio buttons
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/RadioInputComponent.vue
Labels: frontend, javascript

fix(FSADT1-894): fixing field spacing and width
  frontend/src/assets/styles/global.scss
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: frontend, javascript

Trying a different approach to solve the security hotspot issue
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: Fixed security hotspot
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix(FSADT1-892): fixing submission page
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormSubmittedPage.vue
Labels: frontend, javascript

Trying a different approach to solve the security hotspot issue #2
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix: Fixed security hotspot
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix(FSADT1-887): fixing typo on step 4
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

chore: sorting import
  frontend/src/pages/FormBCeIDPage.vue
Labels: frontend, javascript

fix(FSADT1-889): fixing font style
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix: Fixed security hotspot and improved wording
  frontend/src/helpers/validators/GlobalValidators.ts
Labels: source, frontend, javascript

fix(FSADT1-889): fixing notification body content
  frontend/src/assets/styles/global.scss
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix(FSADT1-890): fixing component alignment
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

FSADT1-899: Removed unneeded validation
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: source, frontend, backend, java, javascript

feat: replace margin with padding
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

ci: updating trivy to fix issues
  .github/workflows/unit-tests.yml
Labels: none

Made code reviews
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
Labels: frontend, javascript
