Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

feat(fe): - Switching to FSA theme - Part #1
  frontend/src/assets/design-tokens/colors.scss
  frontend/src/assets/design-tokens/variables.scss
  frontend/src/assets/global.css
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/assets/theme/dark-buttons.scss
  frontend/src/assets/theme/dark-notifications.scss
  frontend/src/assets/theme/dark-tags.scss
  frontend/src/assets/theme/dark-theme.scss
  frontend/src/assets/theme/light-buttons.scss
  frontend/src/assets/theme/light-notifications.scss
  frontend/src/assets/theme/light-tags.scss
  frontend/src/assets/theme/light-theme.scss
  frontend/src/assets/theme/type-family.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/main.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: source, frontend, javascript

fix: - Changed from px to rem - Added new overrides
  frontend/src/assets/theme/components-overrides.scss
Labels: frontend, javascript

test: adding some tests
  frontend/tests/unittests/helpers/DataConversors.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
  frontend/tests/unittests/helpers/validators/SubmissionValidators.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
  frontend/tests/unittests/services/GeneralServices.spec.ts
Labels: frontend, javascript

chore: adding lint dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

test: updating coverage configuration
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore: updating validators and function signature
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/services/ForestClientService.ts
Labels: source, frontend, javascript

fix: - Added changes from the FSA theme repo temporarly
  frontend/src/assets/theme/components-overrides.scss
Labels: frontend, javascript

fix: fixing code smells
  frontend/src/main.ts
  frontend/src/pages/HomePage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: source, frontend, javascript

test: ignoring more files
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore: fixing code smell and adding new ignores
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/src/App.vue
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/core/CommonTypesDto.ts
  frontend/src/core/FormType.ts
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/helpers/validators/SubmissionValidators.spec.ts
  frontend/vite.config.ts
Labels: source, configuration, frontend, javascript

chore(deps): update ghcr.io/bcgov/nr-forest-client/backend docker tag to v515
  docker-compose.yml
Labels: none

chore(deps): update ghcr.io/bcgov/nr-forest-client/frontend docker tag to v515
  docker-compose.yml
Labels: none

chore: refactoring files
  frontend/src/App.vue
  frontend/src/CoreConstants.ts
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/composables/useFetch.ts
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/main.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/helpers/validators/SubmissionValidators.spec.ts
Labels: source, frontend, javascript

test: ignoring files
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore: removing unused components
  frontend/src/common/AutocompleteComponent.vue
  frontend/src/common/CollapseCardComponent.vue
Labels: frontend, javascript

chore: refactoring component location
  frontend/src/components/NoteComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

chore: removing default header
  frontend/src/composables/useFetch.ts
Labels: source, frontend, javascript

test: removing test
  frontend/tests/unittests/MainHeader.spec.ts
Labels: frontend, javascript

test: fixing existing tests warn messages
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
Labels: frontend, javascript

test: adding test
  frontend/tests/unittests/composables/useSvg.spec.ts
Labels: frontend, javascript

test: adding useFetch test
  frontend/src/composables/useFetch.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: source, frontend, javascript

chore: updating components
  frontend/components.d.ts
Labels: frontend, javascript

feat(fe): - Switching to FSA theme - Part #2
  frontend/components.d.ts
  frontend/src/assets/global.css
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

chore: updating App test to mock header
  frontend/tests/unittests/App.spec.ts
Labels: frontend, javascript

chore: updating useFetch test
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

test: testing App.vue
  frontend/src/routes.ts
  frontend/tests/unittests/App.spec.ts
Labels: source, frontend, javascript

chore: refactoring NoteComponent
  frontend/src/components/NoteComponent.vue
Labels: frontend, javascript

test: adding few more tests
  frontend/tests/unittests/components/DataFetcher.spec.ts
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
  frontend/tests/unittests/components/NoteComponent.spec.ts
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
Labels: frontend, javascript

fix: fixing dropdown initial value
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: frontend, javascript

test: adding multi select test
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/tests/unittests/components/forms/MultiselectInputComponent.spec.ts
Labels: frontend, javascript

chore: removing main from coverage
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

ci: adding env configuration
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: none

feat(fe): - Switching to FSA theme - Part #3
  frontend/src/assets/global.css
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/FormSubmittedPage.vue
Labels: frontend, javascript

chore: updating gitignore
  .gitignore
  frontend/.gitignore
Labels: frontend, javascript

test: adding/updating test dependencies
  frontend/nyc.config.json
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: fixing code smell
  frontend/src/components/NoteComponent.vue
Labels: frontend, javascript

chore: updating vite configuration
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

test: adding HomePage component test
  frontend/tests/components/HomePage.cy.ts
Labels: frontend, javascript

chore: updating/removing old cypress files
  frontend/cypress/integration/example.spec.ts
  frontend/cypress/plugins/index.ts
  frontend/cypress/plugins/tsconfig.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/cypress/support/index.ts
  frontend/cypress/tsconfig.json
Labels: tests, frontend, javascript

docs: updating gitignore
  .gitignore
  frontend/.gitignore
Labels: frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
