Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Added style when input text is disabled
  frontend/src/components/forms/TextInputComponent.vue
Labels: frontend, javascript

fix: fixing style and behavior
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/stub/__files/response-address-detail.json
Labels: source, frontend, javascript

Beautified code
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

Beautified code
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: fixing style for step 3 of the form
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: frontend, javascript

chore(deps): update caddy docker tag to v2.7.3 (#562)
  frontend/Dockerfile
Labels: frontend, javascript

fix: fixing layout as a whole
  frontend/public/img/logo1.svg
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
Labels: frontend, javascript

chore: allowing idir to all on dev
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: adding modal and toast
  frontend/src/App.vue
Labels: frontend, javascript

Updated URL
  .gitignore
  legacy/src/main/resources/application.yml
Labels: none

chore: adding missing dtos for reflection
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

chore: adding missing dtos for reflection
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

chore: adding missing dtos for reflection
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
Labels: source, configuration, backend, java

Update .gitignore
  .gitignore
Labels: none

no message
  .gitignore
Labels: none

Applied modal changes for small screens
  .gitignore
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix: adding submission validation
  frontend/src/assets/styles/global.scss
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/mappings/backend.json
Labels: frontend, javascript

test: fixing unit tests
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: frontend, javascript

test: fixing component tests
  frontend/tests/components/components/visuals/DisplayBlockComponent.cy.ts
Labels: frontend, javascript

chore: adding breakpoint to contact
  frontend/src/pages/ApplyClientNumberPage.vue
Labels: frontend, javascript

feat: adding focus
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
Labels: source, frontend, javascript

test: use data from the real backend
  cypress/cypress/e2e/business-information-bc-registered-business-abort-application.feature
  cypress/cypress/e2e/business-information-bc-registered-business.feature
  cypress/cypress/e2e/business-information-bc-registered-business.ts
  cypress/cypress/e2e/common.ts
  cypress/cypress/fixtures/response-details-BC0680951.json
  cypress/cypress/fixtures/response-details-BC1317640.json
Labels: none

docs: updating gitignore
  .gitignore
Labels: none

fix(be): Updated backend port (#563)
  .gitignore
  legacy/src/main/resources/application.yml
Labels: none

Set encoding
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: configuration, backend, java

Pushed temporary change
  frontend/src/routes.ts
Labels: source, frontend, javascript

Pushed temporary change
  frontend/src/routes.ts
Labels: source, frontend, javascript

Pushed temporary change
  frontend/src/routes.ts
Labels: source, frontend, javascript

Pushed temporary change
  frontend/src/routes.ts
Labels: source, frontend, javascript

Putting file back as it was
  frontend/src/routes.ts
Labels: source, frontend, javascript

- Set more configs - Improved comments
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/resources/templates/emailHead.html
Labels: source, configuration, backend, java

test: updating tests
  frontend/.eslintrc.js
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/contact.json
  frontend/cypress/fixtures/countries.json
  frontend/cypress/fixtures/provinces.json
  frontend/cypress/fixtures/roles.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tsconfig.cypress.json
  frontend/tsconfig.json
Labels: tests, source, configuration, frontend, javascript

fix: fixing fe build
  frontend/tsconfig.cypress.json
Labels: configuration, frontend, javascript

test: adding more tests
  frontend/cypress/fixtures/states.json
  frontend/src/components/NoteComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/unittests/components/NoteComponent.spec.ts
Labels: tests, frontend, javascript

fix(be): encoding (#564)
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/emailHead.html
Labels: source, configuration, backend, java

fix: fixing coverage
  frontend/cypress/fixtures/progress.1.json
  frontend/cypress/fixtures/progress.2.json
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/components/components/wizard/WizardProgressIndicatorComponent.cy.ts
Labels: tests, configuration, frontend, javascript

Test
  frontend/src/routes.ts
Labels: source, frontend, javascript

chore: updating automation
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  frontend/vite.config.ts
Labels: configuration, frontend, javascript

chore: updating cypress config and ignore files
  .gitignore
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/sonar-report.xml
Labels: frontend, javascript

chore: preventing optimizeDeps to kick in
  frontend/vite.config.ts
Labels: configuration, frontend, javascript
