Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

chore: fixing tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, backend, java

chore: fixing tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, backend, java

chore: fixing tests
  frontend/cypress/e2e/pages/SearchPage.cy.ts
Labels: tests, frontend, javascript

fix(FSADT1-1595): fixing missing contact code desc (#1383)
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientCodeService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/client-details/ContactView.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/tests/components/pages/client-details/ContactView.cy.ts
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: tests, source, frontend, backend, java, javascript

test(fe): format phone number (#1382)
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: frontend, javascript

fix(FSADT1-1593): fixing doing business as loading
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

fix(FSADT1-1694): change obfuscation to BCSC value
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientObfuscate.java
Labels: source, backend, java

no message
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
Labels: none

chore: Made code reviews
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientObfuscate.java
Labels: source, backend, java

fix(FSADT1-1593): fixing doing business as loading (#1384)
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

fix(FSADT1-1694): change obfuscation to BCSC value (#1387)
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientObfuscate.java
Labels: source, backend, java

feat(FSADT1-1641): adding partial edit/add of a client
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPartialController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDetailsDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientInformationDto.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotApplyPatchException.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPartialClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPartialService.java
Labels: none

feat(FSADT1-1641): updating partial edit/add of a client
  legacy/src/main/java/ca/bc/gov/app/controller/ClientPatchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPartialService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchService.java
  legacy/src/main/java/ca/bc/gov/app/utils/PatchUtils.java
Labels: none

doc(FSADT1-1641): added documentation for PatchUtils
  legacy/src/main/java/ca/bc/gov/app/utils/PatchUtils.java
Labels: none

chore(FSADT1-1641): fixing some CVE and dependency conversion issues
  legacy/pom.xml
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@d0e01ceb5b8271c428aa827dc956d920def1966b 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

chore(ci): actions moved to bcgov org
  .github/workflows/.tools-deploy.yml
  .github/workflows/issue-gherkin.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
Labels: none

chore(ci): use GH runner ubuntu-24.04 (#280)
  api/.github/workflows/pr-open.yml
Labels: none

chore(ci): actions moved to bcgov org (#279)
  api/.github/workflows/merge.yml
  api/.github/workflows/pr-open.yml
  api/.github/workflows/reusable-tests-be.yml
Labels: none

no message
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ActivityLogPage.vue
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: source, frontend, javascript

chore(ci): actions moved to bcgov org (#1392)
  .github/workflows/.tools-deploy.yml
  .github/workflows/issue-gherkin.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
Labels: none

chore(fe): upgraded @types libraries
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded @types libraries (#1393)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(FSADT1-1641): updating patch code
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientContactDto.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotApplyPatchException.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientContactRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationClientService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationContactLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationLocationService.java
  legacy/src/main/java/ca/bc/gov/app/utils/PatchUtils.java
Labels: none

test(FSADT1-1641): Fixing test
  legacy/src/main/java/ca/bc/gov/app/dto/ClientDoingBusinessAsDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationDbaService.java
  legacy/src/main/java/ca/bc/gov/app/utils/PatchUtils.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientContactControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientDoingBusinessAsControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapperTest.java
Labels: none

chore(fe): upgraded vue libraries
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore(fe): upgraded vue libraries (#1394)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

test(FSADT1-1641): Fixing test
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapperTest.java
Labels: none

test(FSADT1-1641): adding tests
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationDbaService.java
  legacy/src/main/java/ca/bc/gov/app/service/partial/ClientPatchOperationLocationService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientPatchControllerIntegrationTest.java
Labels: none

feat(be:FSADT1-1642): Get reason codes
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientCodesController.java
  legacy/src/main/java/ca/bc/gov/app/dto/CodeNameDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientUpdateReasonCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientUpdateReasonCodeRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientCodeService.java
Labels: source, backend, java

chore: Fixing SonarCloud checks
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientCodesController.java
Labels: source, backend, java

chore: Adding tests - Part #1
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Change to @MockBean
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Reverted code
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Fixing tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

Added another test
  backend/src/test/java/ca/bc/gov/app/service/client/ClientCountryProvinceServiceIntegrationTest.java
Labels: tests, backend, java

chore: added more tests
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

chore: improved tests
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, source, backend, java

no message
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

no message
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
Labels: tests, backend, java

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
