Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'

Deploying to gh-pages from @ bcgov/nr-forest-client@6fd552da1cc9ea9d8f2a6d0e3e63ca3a2ca634bf 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/tables/submission_location.html
Labels: none

fix: turn automplete attribute off
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

fix(fe): turn autocomplete attribute off (#1135)
  frontend/src/pages/staffform/FirstNationClientInformationWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@d588227143411aaca4418f1d695238d5a75f1659 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
  schema/nrfc/tables/submission_location.html
Labels: none

chore: Upgraded carbon styles
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

chore: Upgraded carbon styles (#1136)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@94a47aab4f1f13e9c62763d9683aaa923f98ad6a 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

chore: updating code
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionProcessKindEnum.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
Labels: none

fix(FSADT1-1483): updated filter of hot/cold requests
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
Labels: none

chore: updating migration info
  .github/workflows/pr-open.yml
Labels: none

chore: renamed job
  .github/workflows/pr-open.yml
Labels: none

chore: updating configurations
  legacy/src/test/java/ca/bc/gov/app/extensions/CustomOracleContainer.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@eaf15cbd1957fcd536de086a64bdd879c527afae 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

fix(FSADT1-1483): updated filter of hot/cold requests (#1137)
  .github/workflows/pr-open.yml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionProcessKindEnum.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
Labels: none

Deploying to gh-pages from @ bcgov/nr-forest-client@985c27c115174c17637af5996f0287c949c2e573 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/default.nrfc.xml
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
  schema/nrfc/tables/submission_location.html
Labels: none

feat: adding some cypress code
  cypress/cypress.config.ts
  cypress/cypress/e2e/landing.feature
  cypress/cypress/e2e/landing.ts
  cypress/cypress/e2e/sample.feature
  cypress/cypress/support/commands.ts
  cypress/cypress/support/cypress.d.ts
  cypress/cypress/support/step_definitions/commons.ts
Labels: none

fix(fe:FSADT1-1490): Issue when trying to save an unregistered client with BCeID
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

fix(fe:FSADT1-1490): Issue when trying to save an unregistered client with BCeID (#1138)
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@9a78d56133557cfaf297328e2b2255809ed0a14c 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

feat: adding gherking issue template
  .github/ISSUE_TEMPLATE/cypress.yml
Labels: none

feat: updated commands and feature files
  cypress/README.md
  cypress/cypress/e2e/landing.feature
  cypress/cypress/e2e/sample.feature
  cypress/cypress/e2e/staffCreate.ts
  cypress/cypress/support/commands.ts
  cypress/cypress/support/cypress.d.ts
  cypress/cypress/support/step_definitions/commons.ts
Labels: none

chore: Cleaned up code
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/LocationStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/opendata/OpenDataService.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationIdentificationDocumentValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/business/BusinessInformationWorkSafeValidator.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/ContactStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/utils/JwtPrincipalUtilTest.java
Labels: tests, source, backend, java

feat: adding core cypress instructions for user flow
  cypress/README.md
  cypress/cypress/support/commands.ts
  cypress/cypress/support/cypress.d.ts
  cypress/cypress/support/step_definitions/commons.ts
  cypress/cypress/support/step_definitions/loginsHooks.ts
Labels: none

Cleaned up code
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
Labels: source, backend, java

feat(FSADT1-1279): Set submission limits for users
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionLimitController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/validator/SubmissionValidatorService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/java/ca/bc/gov/app/validator/business/BusinessInformationBusinessRegisteredNumberValidatorTest.java
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormStaffPage.vue
Labels: tests, source, configuration, frontend, backend, java, javascript

fix: skip validation when review statement is checked
  frontend/src/pages/FormStaffPage.vue
Labels: frontend, javascript

test: proceed to next step on fuzzy matching
  frontend/cypress/e2e/pages/FormStaffPageFuzzy.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
Labels: tests, frontend, javascript

feat(FSADT1-1279): Set submission limits for users
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionLimitController.java
Labels: source, backend, java

Attempt to fix test
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

Reverted change
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java

Attempt to fix test
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientStaffSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Attempt to fix test
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: tests, backend, java

Reverted change
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientStaffSubmissionControllerIntegrationTest.java
Labels: tests, backend, java

Deploying to gh-pages from @ bcgov/nr-forest-client@9a78d56133557cfaf297328e2b2255809ed0a14c 🚀
  schema/index.html
  schema/nrfc/columns.html
  schema/nrfc/constraints.html
  schema/nrfc/diagrams/summary/relationships.implied.compact.dot
  schema/nrfc/diagrams/summary/relationships.implied.large.dot
  schema/nrfc/diagrams/summary/relationships.real.compact.dot
  schema/nrfc/diagrams/summary/relationships.real.large.dot
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
  schema/nrfc/relationships.html
Labels: none

fix(fe: FSADT1-1491): Fuzzy matching scenario does not allow user to proceed to next step (#1141)
  frontend/cypress/e2e/pages/FormStaffPageFuzzy.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/cypress.d.ts
  frontend/src/pages/FormStaffPage.vue
Labels: tests, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@456ea7b043846aca0076f06cb5c30cf970228c53 🚀
  schema/index.html
  schema/nrfc/index.html
  schema/nrfc/info-html.txt
Labels: none

chore: testing env var
  .github/workflows/pr-open.yml
  cypress/cypress/e2e/sample.feature
  cypress/cypress/e2e/sample.ts
Labels: none

chore: testing artifact grab
  .github/workflows/pr-open.yml
  cypress/cypress/e2e/sample.ts
Labels: none

Added logs
  backend/src/main/java/ca/bc/gov/app/validator/SubmissionValidatorService.java
Labels: source, backend, java

Changes after code review
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
Labels: source, backend, java
