Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

DC extensions for shared vars
  docker-compose.yml
Labels: none

Restore finer grained health checks
  docker-compose.yml
Labels: none

Volume for node_modules
  docker-compose.yml
Labels: none

feat: docker compose updates (#520)
  backend/mvnw
  docker-compose.yml
Labels: backend, java

fix: Added more styles in common repo (#524)
  cypress/cypress/e2e/display-steps.ts
  frontend/src/assets/styles/global.scss
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
  frontend/src/styles.ts
  frontend/tests/unittests/components/wizard/WizardProgressIndicatorComponent.spec.ts
Labels: source, frontend, javascript

Added missing line after merging
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

feat(fe): FSA theme implementation (#529)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/main.ts
  frontend/src/styles.ts
Labels: source, configuration, frontend, javascript

Test new library
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: configuration, frontend, javascript

Added missing library
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: configuration, frontend, javascript

Testing new library
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

fix(fe): Test new library (#530)
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: configuration, frontend, javascript

Attempt to solve assertion error
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

Fix typo
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

fix(fe): Attempt to solve assertion error (#531)
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

fix: - Last attempt to solve the issue
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

fix: (#532)
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: frontend, javascript

fix: fixing merge main issues
  .github/workflows/merge-main.yml
Labels: none

fix: fixing merge main issues (#533)
  .github/workflows/merge-main.yml
Labels: none

fix(fe): - Fixing validations issues
  frontend/src/components/grouping/AddressGroupComponent.vue
Labels: frontend, javascript

- Fixed issues when passing a message to a modal - Made code reviews - Fixed spelling mistake
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
Labels: frontend, javascript

fix(deps): update dependency org.dhatim:fastexcel to v0.15.6
  legacy/pom.xml
Labels: none

chore(deps): update node.js to v20
  docker-compose.yml
Labels: none

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.2
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

fix(fe): Fixing validations (#534)
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
Labels: frontend, javascript

fix: fixing cypress test due to login
  frontend/README.md
  frontend/cypress.config.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/fixtures/business.json
  frontend/cypress/fixtures/emptyArray.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/component.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/CoreConstants.ts
  frontend/src/helpers/AmplifyUserSession.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/stub/mappings/backend.json
  frontend/tests/e2e/FormGeneral.cy.ts
Labels: tests, source, configuration, frontend, javascript

fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.2 (#537)
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: backend, java

chore(deps): update node.js to v20 (#536)
  docker-compose.yml
Labels: none

fix(fe): - Moved styles back to our app as this is affecting other teams
  frontend/src/assets/styles/global.scss
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/tests/unittests/components/wizard/WizardProgressIndicatorComponent.spec.ts
Labels: frontend, javascript

fix(test): - Fixed to proper name
  cypress/cypress/e2e/display-steps.ts
Labels: none

fix(fe): - Moved styles back to our app as this is affecting other teams
  frontend/package-lock.json
  frontend/src/assets/styles/global.scss
Labels: configuration, frontend, javascript

Upgraded to new version of the FSA theme
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

fix(deps): update dependency org.dhatim:fastexcel to v0.15.6 (#535)
  legacy/pom.xml
Labels: none

chore: fixing package lock
  frontend/package-lock.json
Labels: configuration, frontend, javascript

fix: fixing header
  frontend/src/components/MainHeaderComponent.vue
Labels: frontend, javascript

chore: adding cypress workspace
  cypress/.devcontainer/devcontainer.json
  cypress/.vscode/extensions.json
  cypress/.vscode/settings.json
  cypress/cypress.code-workspace
Labels: none

chore: moving test to frontend
  cypress/cypress/e2e/display-steps.feature
  frontend/tests/components/components/wizard/WizardProgressIndicatorComponent.cy.ts
Labels: frontend, javascript

fix: fixing sample cypress test
  cypress/cypress/e2e/sample.ts
Labels: none

feat: adding cypress commands
  cypress/cypress/support/commands.ts
  cypress/cypress/support/cypress.d.ts
  cypress/cypress/support/e2e.ts
Labels: none

chore: updating cypress dependencies
  cypress/package-lock.json
  cypress/package.json
Labels: none

feat: adding constants cache and feature flags
  frontend/src/CoreConstants.ts
Labels: source, frontend, javascript

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
