Repository bcgov/nr-forest-client, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, frontend, backend, database, dependencies, documentation, java, javascript, openshift

test: fix missing router
  frontend/tests/unittests/pages/ClientDetailsPage.spec.ts
Labels: frontend, javascript

test: fix stub mappings
  frontend/stub/mappings/client_details.json
Labels: frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@eeb04d4fc1f86db74dd6806f448054c13cd87cd6 🚀
  index.html
  users/index.html
  users/info-html.txt
Labels: none

chore: fixing dockerfile
  frontend/Dockerfile
Labels: frontend, javascript

chore: downgrade typescript to hopefully fix build (vue-tsc)
  frontend/package-lock.json
  frontend/package.json
Labels: configuration, frontend, javascript

feat(fe:FSADT1-1574): CLIENT_VIEWER Client Summary Section - Front-End (#1335)
  frontend/Dockerfile
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/cypress/e2e/pages/SearchPage.cy.ts
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/cypress/e2e/pages/staffform/BcRegisteredClientInformationWizardStep.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/ReadOnlyComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/SearchPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/client-details/SummaryView.vue
  frontend/src/routes.ts
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/stub/__files/response-submissions-details-approved.json
  frontend/stub/__files/response-submissions-details-dupped.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-details-unregistered.json
  frontend/stub/mappings/client_details.json
  frontend/tests/components/pages/client-details/SummaryView.cy.ts
  frontend/tests/unittests/components/forms/ReadOnlyComponent.spec.ts
  frontend/tests/unittests/pages/ClientDetailsPage.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: tests, source, configuration, frontend, javascript

feat(FSADT1-1631): removing unused code
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: tests, source, backend, java

chore: updating legacy api
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
Labels: none

add location interface
  frontend/src/dto/CommonTypesDto.ts
Labels: source, frontend, javascript

add locations details
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/StaffLocationGroupComponent.vue
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView/LocationDetails.vue
  frontend/src/pages/staffform/BcRegisteredClientInformationWizardStep.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/src/pages/staffform/ReviewWizardStep.vue
  frontend/stub/__files/response-clients-details-G.json
Labels: frontend, javascript

display locations count
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

add tag deactivated
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

add location subtitle
  frontend/src/assets/styles/global.scss
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

province code/desc
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/stub/__files/response-clients-details-G.json
Labels: source, frontend, javascript

add tertiary phone
  frontend/src/pages/client-details/LocationView.vue
  frontend/stub/__files/response-clients-details-G.json
Labels: frontend, javascript

update html IDs
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

update stubs locations
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
Labels: frontend, javascript

pluralize word based on count number
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

test: display locations information
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/stub/__files/response-clients-details-G.json
Labels: tests, frontend, javascript

test: display location details
  frontend/src/pages/client-details/LocationView.vue
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: frontend, javascript

test: switch tabs
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

fix test to check attribute open
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

test: apply non-isolated tests approach to some tests
  frontend/cypress/e2e/pages/ClientDetailsPage.cy.ts
Labels: tests, frontend, javascript

move Delivery information to the top
  frontend/src/pages/client-details/LocationView.vue
Labels: frontend, javascript

fix: display birthdate when clientType is RSP
  frontend/cypress/e2e/pages/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: tests, frontend, javascript

test: add scenario fixture
  frontend/cypress/fixtures/test-case-review-rsp.json
Labels: tests, frontend, javascript

Deploying to gh-pages from @ bcgov/nr-forest-client@aed89178cf13ecc3bf4d6646e51ae18f59baa899 🚀
  index.html
  users/columns.html
  users/index.html
  users/info-html.txt
Labels: none

rename Tertiary phone number to Other
  frontend/src/pages/client-details/LocationView.vue
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: frontend, javascript

rename Note to Notes
  frontend/src/pages/client-details/LocationView.vue
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: frontend, javascript

add links to email address and phone numbers
  frontend/src/pages/client-details/LocationView.vue
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: frontend, javascript

add css style
  frontend/src/assets/styles/global.scss
Labels: frontend, javascript

fix css style for email and phone numbers
  frontend/src/pages/SubmissionReviewPage.vue
Labels: frontend, javascript

no message
  backend/src/main/java/ca/bc/gov/app/controller/client/AuditLogController.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/AuditLogDto.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  legacy/src/main/java/ca/bc/gov/app/controller/AuditLogController.java
Labels: source, backend, java

country code/desc
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/ClientDetailsPage.vue
  frontend/src/pages/client-details/LocationView.vue
  frontend/stub/__files/response-clients-details-G.json
  frontend/stub/__files/response-clients-details-GD.json
  frontend/stub/__files/response-clients-details-I.json
  frontend/stub/__files/response-clients-details-IV.json
  frontend/stub/__files/response-clients-details-S.json
  frontend/stub/__files/response-clients-details-SE.json
  frontend/tests/components/pages/client-details/LocationView.cy.ts
Labels: source, frontend, javascript

sort locations
  frontend/src/pages/ClientDetailsPage.vue
Labels: frontend, javascript

feat(FSADT1-1631): added context propagator for roles
  backend/src/main/java/ca/bc/gov/app/controller/filters/ContextPropagatorWebFilter.java
  backend/src/main/java/ca/bc/gov/app/controller/filters/UserIdWebFilter.java
  backend/src/main/java/ca/bc/gov/app/controller/filters/UserRolesWebFilter.java
Labels: source, backend, java

chore: small update on the DTO
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDetailsDto.java
Labels: source, backend, java

chore: added the role mdc constant
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
Labels: source, backend, java

feat(FSADT1-1631): updated principal util roles to set
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/app/utils/JwtPrincipalUtilTest.java
Labels: tests, source, backend, java

feat(FSADT1-1631): added client details obfuscator
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientDetailsSerializerModifier.java
  backend/src/main/java/ca/bc/gov/app/converters/ForestClientObfuscate.java
Labels: source, configuration, backend, java

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - backend/src/test/**/*.java
  - frontend/cypress/**/*
  - frontend/src/tests/**/*.spec.ts

source:
  - backend/src/main/**/*.java
  - frontend/src/**/*.ts

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - backend/src/main/**/controller/*.java

dto:
  - backend/src/main/**/dto/*.java

entity:
  - backend/src/main/**/entity/*.java

repository:
  - backend/src/main/**/repository/*.java

configuration:
  - backend/src/main/**/configuration/*.java
  - backend/src/main/resources/**/*
  - backend/config/**/*
  - frontend/tsconfig*
  - frontend/vite*
  - frontend/*.json

service:
  - backend/src/main/**/service/*.java

frontend:
  - frontend/**/*

backend:
  - backend/**/*

database:
  - database/**/*

dependencies:
  - any: ['backend/pom.xml','frontend/package.json','package-lock.json']

documentation:
  - backend/docs/**/*
  - frontend/docs/**/*
  - docs/**/*

java:
  - backend/**/*

javascript:
  - frontend/**/*

openshift:
  - '**/openshift.*.yml'
