Repository bcgov/nr-forest-client, pull requests merged in 2023-01, with the labels that each got.

#233 fix: fixing deploy to main
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: fix

#235 Fix/Doc/Frontend: add documentation for frontend, add missing types
  .github/workflows/unit-tests.yml
  README.md
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/docs/vscode-extension-prettier.png
  frontend/public/docs/vscode-extension-volar.png
  frontend/public/img/bc_for_logo.png
  frontend/public/img/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/global.css
  frontend/src/common/ConfirmModal.vue
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/FormUpload.vue
  frontend/src/common/MainHeader.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExamples.vue
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/pages/HomePage.vue
  frontend/src/pages/MyApplicationPage.vue
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCheckboxGroup.spec.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormRadioGroup.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
Labels: javascript, tests, source, configuration, frontend

#244 Feat/frontend/validation placeholder
  frontend/README.md
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/core/AppType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
Labels: javascript, tests, source, frontend

#245 refactor/frontend: renamed variable
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
Labels: javascript, frontend

#250 PR open and close cancel each other
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: bug, enhancement

#256 Frontend: Renamed some names and files
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: javascript, frontend

#262 Merge #255: Refactor frontend and add validation placeholder, support in depth form change
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/common/CollapseCard.vue
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/common/FormFieldTemplate.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
  frontend/src/core/FormType.ts
  frontend/src/helpers/AppState.ts
  frontend/src/helpers/formvalidation/MissingFieldCheck.ts
  frontend/src/pages/MyApplicationPage.vue
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/NewClient.ts
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/BeginSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormDisable.ts
  frontend/src/store/newclientform/FormValidation.ts
  frontend/src/tests/unittests/FormCheckbox.spec.ts
  frontend/src/tests/unittests/FormCheckboxGroup.spec.ts
  frontend/src/tests/unittests/FormCoponentOptions.spec.ts
  frontend/src/tests/unittests/FormFieldTemplate.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormRadioGroup.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
  frontend/src/tests/unittests/TestConstant.ts
Labels: java, javascript, tests, source, configuration, backend, openshift, frontend

#269 fix(fe): frontend fix
  frontend/src/common/examples/SingleFormComponentExample.vue
Labels: javascript, fix, frontend

#289 Frontend improvements
  .gitignore
  frontend/README.md
  frontend/src/common/FormCheckbox.vue
  frontend/src/common/FormCheckboxGroup.vue
  frontend/src/common/FormGroup.vue
  frontend/src/common/FormInput.vue
  frontend/src/common/FormRadioGroup.vue
  frontend/src/common/FormSelect.vue
  frontend/src/common/FormTable.vue
  frontend/src/common/examples/FormJsonSchemaExample.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
  frontend/src/core/FormType.ts
  frontend/src/helpers/formvalidation/MissingFieldCheck.ts
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSectionTemplate.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/BeginSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/tests/unittests/FormComponentOptions.spec.ts
  frontend/src/tests/unittests/FormInput.spec.ts
  frontend/src/tests/unittests/FormSelect.spec.ts
  frontend/src/tests/unittests/TestConstant.ts
Labels: javascript, tests, source, frontend
