Repository bcgov/nr-forest-client, pull requests merged in 2023-07, with the labels that each got.

#515 feat(FE:FSADT1-814): Vertical wizard (breadcrumb)
  cypress/README.md
  cypress/cypress/e2e/display-steps.feature
  cypress/cypress/e2e/display-steps.ts
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
Labels: javascript, feature, frontend

#518 chore(deps): update ghcr.io/bcgov/nr-forest-client/backend docker tag to v517
  docker-compose.yml
Labels: ignore-for-release

#521 Test bcgov-nr/action-pr-description-add rc
  .github/workflows/pr-open.yml
Labels: feature

#522 feat(FE:FSADT1-826): Landing page
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/images/bc-gov-logo.png
  frontend/src/assets/images/seeding.png
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/pages/LandingPage.vue
  frontend/src/routes.ts
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: javascript, source, configuration, feature, frontend

#525 chore(deps): update vitest monorepo to ^0.33.0
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#528 deps: update action-pr-description-add, linters, bcsans
  .github/workflows/pr-open.yml
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend

#520 feat: docker compose updates
  backend/mvnw
  docker-compose.yml
Labels: enhancement, java, backend, feature

#524 fix: Added more styles in common repo
  cypress/cypress/e2e/display-steps.ts
  frontend/src/assets/styles/global.scss
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
  frontend/src/styles.ts
  frontend/tests/unittests/components/wizard/WizardProgressIndicatorComponent.spec.ts
Labels: javascript, source, fix, frontend

#529 feat(fe): FSA theme implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/assets/theme/components-overrides.scss
  frontend/src/main.ts
  frontend/src/styles.ts
Labels: javascript, source, configuration, feature, frontend

#530 fix(fe): Test new library
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: javascript, configuration, fix, frontend

#531 fix(fe): Attempt to solve assertion error
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: javascript, fix, frontend

#532 fix: Solving FE unit testing issues
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: javascript, fix, frontend

#533 fix: fixing merge main issues
  .github/workflows/merge-main.yml
Labels: fix

#537 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.2
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix

#535 fix(deps): update dependency org.dhatim:fastexcel to v0.15.6
  legacy/pom.xml
Labels: fix

#538 feat(fe/test): FSA theme implementation
  cypress/cypress/e2e/display-steps.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/design-tokens/colors.scss
  frontend/src/assets/design-tokens/variables.scss
  frontend/src/assets/styles/global.scss
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/tests/unittests/components/wizard/WizardProgressIndicatorComponent.spec.ts
Labels: javascript, configuration, feature, frontend

#539 feat(fe): FSADT1-840: Add environment and built version
  .github/workflows/pr-open.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/CoreConstants.ts
  frontend/src/components/MainHeaderComponent.vue
Labels: javascript, source, configuration, feature, frontend

#541 chore(deps): update eclipse-temurin docker tag to v17.0.8_7-jdk-alpine
  common/Dockerfile
Labels: ignore-for-release

#543 chore(deps): update dependency @vue/eslint-config-prettier to v8
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#545 chore(deps): update dependency vite-plugin-istanbul to v5
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#542 fix(deps): update dependency org.apache.commons:commons-lang3 to v3.13.0
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix
