Repository bcgov/nr-forest-client, pull requests merged in 2023-11, with the labels that each got.

#593 FSADT1-861: BC Service Card form
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/DataConversors.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: java, javascript, source, configuration, backend, frontend

#595 [Snyk] Security upgrade axios from 1.5.0 to 1.6.0
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend

#596 fix: Fixes for BCSC and global error
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/composables/useFetch.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: javascript, source, fix, frontend

#597 FSADT1-972: Submission (Blue Interface) Client Types
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
  frontend/.devcontainer/frontend.code-workspace
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/DataConversors.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/unittests/helpers/DataConversors.spec.ts
Labels: java, javascript, tests, source, configuration, backend, frontend

#598 FSADT1-975: Global message for validation issues not being displayed
  frontend/src/composables/useFetch.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: javascript, source, frontend

#594 fix: fixing small details on internal page
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
  backend/src/main/java/ca/bc/gov/app/predicates/QueryPredicates.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/service/cognito/CognitoService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/predicates/SubmissionPredicatesTest.java
  backend/src/test/resources/application-default.yml
  backend/src/test/resources/db/migration/R__Test_Data.sql
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/routes.ts
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
  frontend/stub/__files/response-submissions-page0.json
  frontend/stub/mappings/backend.json
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
  legacy/config/application-local.yml
  legacy/openshift.deploy.yml
  processor/openshift.deploy.yml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionTypeCodeEnum.java
  processor/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  processor/src/main/java/ca/bc/gov/app/repository/client/SubmissionMatchDetailRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyPersistenceServiceTest.java
  processor/src/test/resources/init_pg.sql
Labels: java, javascript, tests, source, backend, fix, openshift, frontend

#599 fix(FSADT1-981): fixing contact type association
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
Labels: java, tests, source, backend, fix

#600 FSADT1-982: Discrepancy in email validation
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
Labels: java, source, backend

#609 ci: update renovate config
  renovate.json
Labels: ci

#604 chore(deps): update dependency @badeball/cypress-cucumber-preprocessor to v19
  cypress/package-lock.json
  cypress/package.json
Labels: ignore-for-release

#602 chore(deps): update dependency sass-loader to v13
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#612 fix: fixing contact type issue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/stub/mappings/fam.json
Labels: javascript, fix, frontend

#611 FSADT1-983: Added DOB in the DB and code
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormBCSCPage.vue
Labels: java, javascript, tests, source, configuration, backend, frontend

#614 FSADT1-995: Changes for BCSC and some general ones
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
Labels: javascript, frontend

#601 chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, ignore-for-release

#603 chore(deps): update all non-major dependencies
  backend/.mvn/wrapper/maven-wrapper.properties
  common/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.vite-config.json
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
Labels: javascript, configuration, frontend, ignore-for-release

#605 chore(deps): update dependency @types/node to v20
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#617 [FSADT1-970] Page content at the top is covered by the header
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: javascript, frontend

#615 [FSADT1-930] Some UI/UX adjustments that were missing in the first PR
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: javascript, frontend

#618 FSADT1-1000: Move Add Contact button at the bottom when clicking it
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
Labels: javascript, configuration, frontend

#619 FSADT1-1001
  frontend/src/pages/FormBCSCPage.vue
Labels: javascript, frontend

#623 [FSADT1-970] Move the page content after the header
  frontend/src/assets/styles/global.scss
Labels: javascript, frontend

#622 fix: adjust menu icon style in the Submissions page
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: javascript, fix, frontend

#620 FSADT1-999: DOB for BCeID for USP and RSP
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
  frontend/src/pages/FormBCeIDPage.vue
Labels: java, javascript, tests, source, backend, frontend

#621 feat: add condition to show the logout modal
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/routes.ts
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: javascript, source, feature, frontend

#625 FSADT1-1002
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ClientTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  frontend/components.d.ts
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: java, javascript, tests, source, configuration, backend, frontend

#627 FSADT1-1003: Changes in modal for BCSC
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCSCPage.vue
Labels: javascript, frontend

#626 feat(FSADT1-1012): updating DoB and data insertion
  backend/pom.xml
  legacy/pom.xml
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/resources/db/migration/V1__init.sql
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V3__pre_packages.sql
  legacy/src/test/resources/db/migration/V4__manual_data.sql
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/legacy/ForestClientEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/DoingBusinessAsProcessorMatcher.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/processor/LegalNameProcessorMatcherTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/db/migration/V1__init_oracle.sql
  processor/src/test/resources/init_pg.sql
Labels: java, backend, feature

#636 FSADT1-999: Changed min age
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: java, source, backend

#637 chore: updating coverage report for frontend
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: javascript, frontend, ignore-for-release
