Repository bcgov/nr-forest-client, pull requests merged in 2023-05, with the labels that each got.

#453 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.6
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, fix

#452 chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, ignore-for-release

#454 [FSADT1-761] Update SubmissionDto userId field is now nested in submitterInformation
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: java, tests, source, backend

#455 FSADT1-762
  frontend/src/App.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: javascript, source, frontend

#457 fix: removing cron from legacy
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
Labels: fix

#456 DB changes for matching details
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#459 chore: removing report code
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/SheetWriter.java
  legacy/src/main/resources/application.yml
  legacy/src/test/java/ca/bc/gov/app/TestConstants.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/WiremockLogNotifier.java
  legacy/src/test/resources/application-default.yml
Labels: openshift, ignore-for-release

#461 feat(BE:FSADT1-765): adding new state data
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
Labels: java, tests, source, configuration, backend, feature

#467 FSADT1-772
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactIdEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmitterEntity.java
  backend/src/main/java/ca/bc/gov/app/exception/NoAssociationException.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmitterRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
  frontend/src/App.vue
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/FetchService.ts
  frontend/src/services/ForestClientService.ts
Labels: java, javascript, tests, source, configuration, backend, frontend

#473 fix(deps): update vitest monorepo to ^0.31.0
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, fix, frontend

#471 chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, ignore-for-release

#472 chore(deps): update testcontainers-java monorepo to v1.18.1
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
  processor/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
Labels: java, backend, ignore-for-release

#458 feat(FSADT1-713): adding base cypress code
  .github/workflows/pr-open.yml
  README.md
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  common/Dockerfile
  cypress/.gitignore
  cypress/README.md
  cypress/cypress.config.ts
  cypress/cypress/e2e/sample.feature
  cypress/cypress/e2e/sample.ts
  cypress/cypress/support/commands.ts
  cypress/cypress/support/e2e.ts
  cypress/package-lock.json
  cypress/package.json
  cypress/tsconfig.json
  docker-compose.yml
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
  processor/README.md
  processor/mvnw
  processor/mvnw.cmd
Labels: java, backend, feature

#477 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.0
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix

#481 feat(FSADT1-777): Implement address look-up API
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteFindDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteFindListDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteRetrieveDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressCompleteRetrieveListDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/AddressError.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientCodeTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/exception/AddressLookupException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/AddressTestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
  backend/src/test/resources/application-default.yml
Labels: java, tests, source, configuration, backend, feature

#475 chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, ignore-for-release

#485 PR description add only for opened or reopened PRs
  .github/workflows/pr-open.yml
Labels: feature
