Repository bcgov/nr-forest-client, pull requests merged in 2023-12, with the labels that each got.

#648 [FSADT1-1019] Display birthdate in the review step
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
Labels: javascript, frontend

#649 feat: improve validation messages on the Date input component
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/tests/unittests/components/forms/DateInputComponent.spec.ts
Labels: javascript, feature, frontend

#650 FSADT1-961: Email Logs
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvert.java
  backend/src/main/java/ca/bc/gov/app/dto/client/EmailLogDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/EmailLogEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/repository/client/EmailLogRepository.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvertTest.java
Labels: java, tests, source, configuration, backend

#652 [FSADT1-971] Confirmation message for deleting a contact
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: javascript, source, frontend

#653 [FSADT1-1013] Some field labels are not using the primary color
  frontend/src/assets/styles/global.scss
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: javascript, frontend

#658 fix: skip birthdate validation when business is not found
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: fix

#663 fix(FSADT1-1049): fixing a loop condition on contact creation
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: fix

#664 fix(FSADT1-1023|FSADT1-1024): updating ui style
  frontend/src/App.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: fix

#682 fix(FSADT1-1080): Cookie with Insecure or Improper or Missing SameSit…
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
Labels: fix

#684 fix: [FSADT1-1058] BCSC form breakpoints
  frontend/src/assets/styles/global.scss
Labels: fix

#683 fix(FSADT1-936): fixing CHES on non-dev env
  .github/workflows/merge-main.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientValueTextDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/CodeNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/approval.html
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/ClientPublicViewDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookNameDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookResultListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicDto.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicListResponse.java
  legacy/src/main/java/ca/bc/gov/app/dto/OrgBookTopicNameDto.java
  legacy/src/main/resources/application.yml
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
Labels: fix

#685 fix(FSADT1-1081): Missing "Content-Security-Policy" header
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: fix

#686 fix: [FSADT1-1025] Update content and fields in step3
  frontend/src/components/grouping/ContactGroupComponent.vue
Labels: fix

#688 fix(FSADT1-1082): Missing or insecure "X-Content-Type-Options" header
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: fix

#689 fix(FSADT1-1083): Missing or insecure HTTP Strict-Transport-Security …
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: fix

#690 fix(FSADT1-1084): Unnecessary Http Response Headers found in the Appl…
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
Labels: fix

#699 fix: restrict form steps max-width
  frontend/src/assets/styles/global.scss
Labels: fix

#702 chore: upload cypress screenshots on ci
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
Labels: ignore-for-release
