Repository bcgov/nr-forest-client, pull requests merged in 2023-08, with the labels that each got.

#546 FSADT1-839: Modal fixes
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
Labels: javascript, frontend

#547 fix(fe): Removed css from internal app and moved it to the FSA team repo
  backend/pom.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
Labels: java, javascript, configuration, backend, fix, frontend

#548 ci: updating ci
  .github/workflows/pr-open.yml
  backend/pom.xml
  frontend/nyc.config.json
  frontend/package.json
  legacy/pom.xml
  processor/pom.xml
Labels: java, javascript, configuration, backend, frontend, ci

#549 fix: ci and tests
  .github/workflows/pr-open.yml
  .github/workflows/unit-tests.yml
  backend/Dockerfile
  backend/pom.xml
  legacy/Dockerfile
  legacy/pom.xml
  processor/Dockerfile
  processor/pom.xml
Labels: java, backend, fix

#550 fix: small changes
  .github/workflows/merge-main.yml
  frontend/src/pages/ErrorPage.vue
  frontend/src/pages/UserLoadingPage.vue
Labels: javascript, fix, frontend

#551 chore(deps): update dependency istanbul-lib-instrument to v6
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#553 chore(deps): update caddy docker tag to v2.7.2
  frontend/Dockerfile
Labels: javascript, frontend, ignore-for-release

#555 chore(deps): update vitest monorepo to ^0.34.0
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#559 fix: fixing route not found
  frontend/src/pages/ErrorPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/NotFoundPage.vue
  frontend/src/pages/ReviewApplicationPage.vue
  frontend/src/routes.ts
  frontend/tests/components/pages/HomePage.cy.ts
Labels: javascript, source, fix, frontend

#557 fix(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix

#563 fix(be): Updated backend port
  .gitignore
  legacy/src/main/resources/application.yml
Labels: fix

#564 fix(be): encoding
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/emailHead.html
Labels: java, source, configuration, backend, fix

#561 fix(FSADT1-848): fixing style for form
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  .gitignore
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/contact.json
  frontend/cypress/fixtures/countries.json
  frontend/cypress/fixtures/progress.1.json
  frontend/cypress/fixtures/progress.2.json
  frontend/cypress/fixtures/provinces.json
  frontend/cypress/fixtures/roles.json
  frontend/cypress/fixtures/states.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/img/logo1.svg
  frontend/sonar-report.xml
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/NoteComponent.vue
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/components/visuals/DisplayBlockComponent.vue
  frontend/src/components/wizard/WizardProgressIndicatorComponent.vue
  frontend/src/components/wizard/WizardTabComponent.vue
  frontend/src/components/wizard/WizardWrapperComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/SubmissionValidators.ts
  frontend/src/pages/ApplyClientNumberPage.vue
  frontend/src/pages/applyform/AddressWizardStep.vue
  frontend/src/pages/applyform/BusinessInformationWizardStep.vue
  frontend/src/pages/applyform/ContactWizardStep.vue
  frontend/src/pages/applyform/ReviewWizardStep.vue
  frontend/src/routes.ts
  frontend/stub/__files/response-address-detail.json
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/mappings/backend.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/components/components/visuals/DisplayBlockComponent.cy.ts
  frontend/tests/components/components/wizard/WizardProgressIndicatorComponent.cy.ts
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
  frontend/tests/unittests/components/NoteComponent.spec.ts
  frontend/tests/unittests/components/forms/TextInputComponent.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
  frontend/tsconfig.cypress.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: java, javascript, tests, source, configuration, backend, fix, frontend

#569 chore(deps): update linters (major)
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#567 chore(deps): update dependency vite-plugin-istanbul to v5
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#566 chore(deps): update dependency typescript to v5
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release
