Repository bcgov/nr-forest-client, pull requests merged in 2023-10, with the labels that each got.

#580 [FSADT1-931] Deleting contact with null as firstName
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: javascript, frontend

#581 chore(deps): update testcontainers-java monorepo to v1.19.1
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, ignore-for-release

#582 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.5
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix

#583 chore(deps): update dependency @vue/eslint-config-typescript to v12
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#584 chore(deps): update dependency com.github.tomakehurst:wiremock-jre8-standalone to v3
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, ignore-for-release

#588 FSADT1-931
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
Labels: javascript, source, configuration, frontend

#585 chore(deps): update dependency wiremock to v3
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#587 [FSADT1-884] Make progress step not look like a link
  frontend/src/assets/styles/global.scss
Labels: javascript, frontend

#589 FSADT1-861: BC Service Card form to Apply for a Client Number
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: javascript, source, frontend

#592 fix: fixing deployment for FE
  .github/workflows/pr-open.yml
  frontend/openshift.deploy.yml
Labels: javascript, fix, openshift, frontend

#590 [FSADT1-915] Implement tests defined for the Address Group component
  frontend/cypress/fixtures/addressKelownaBC.json
  frontend/cypress/fixtures/addressMB.json
  frontend/cypress/fixtures/addressSearchMB.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
Labels: javascript, tests, frontend
