Repository bcgov/nr-forest-client, pull requests merged in 2023-06, with the labels that each got.

#490 fix: removing vault due to inconsistency
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: fix

#488 chore(deps): update maven all non-major dependencies
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/pom.xml
  frontend/package-lock.json
  legacy/pom.xml
  processor/pom.xml
Labels: java, javascript, configuration, backend, frontend, ignore-for-release

#484 chore: clip digests
  .gitignore
  common/Dockerfile
  database/Dockerfile
  docker-compose.yml
  frontend/.gitignore
  frontend/Dockerfile
  frontend/sonar-report.xml
Labels: javascript, database, frontend, ignore-for-release

#482 FSADT1-749
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/CommonExposureJwtDto.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientLocationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientValidationUtilsTest.java
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: java, javascript, tests, source, configuration, backend, frontend

#492 chore: updating codeowners
  .github/CODEOWNERS
Labels: github_actions, ignore-for-release

#491 feat(BE:FSADT-745): updating mail template
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/emailHead.html
  backend/src/main/resources/templates/emailLogo.html
  backend/src/main/resources/templates/matched.html
  backend/src/main/resources/templates/registration.html
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  frontend/src/App.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: java, javascript, tests, source, configuration, backend, feature, frontend

#493 FSADT1-796 - DB improvements
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#494 feat(BE:FSADT1-794): updating content
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/matched.html
  backend/src/main/resources/templates/registration.html
Labels: java, source, configuration, backend, feature

#496 (FSADT1-796) Changes in the DB
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#499 chore(deps): update dependency c8 to v8
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#497 Frontend fix
  frontend/src/App.vue
Labels: javascript, frontend

#500 chore(deps): update dependency jsdom to v22
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#502 chore(deps): update ghcr.io/bcgov/nr-forest-client/frontend docker tag to v500
  docker-compose.yml
Labels: ignore-for-release

#501 chore(deps): update ghcr.io/bcgov/nr-forest-client/backend docker tag to v500
  docker-compose.yml
Labels: ignore-for-release

#498 chore(deps): update dependency @badeball/cypress-cucumber-preprocessor to v18
  cypress/package-lock.json
  cypress/package.json
Labels: ignore-for-release

#504 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.1
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix

#505 feat: update caddy to 2.6.4
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/openshift.deploy.yml
Labels: enhancement, javascript, feature, openshift, frontend

#506 chore(deps): update dependency maven to v3.9.3
  backend/.mvn/wrapper/maven-wrapper.properties
  legacy/.mvn/wrapper/maven-wrapper.properties
  processor/.mvn/wrapper/maven-wrapper.properties
Labels: ignore-for-release

#512 chore: fixing backend sonar parameters
  .github/workflows/merge-main.yml
  .github/workflows/unit-tests.yml
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, ignore-for-release
