Repository bcgov/nr-forest-client, pull requests merged in 2023-09, with the labels that each got.

#570 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.1.3
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: java, backend, fix

#573 [Snyk] Security upgrade cypress from 12.17.4 to 13.0.0
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend

#575 chore(deps): update dependency com.github.tomakehurst:wiremock-jre8-standalone to v2.35.1 [security]
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, ignore-for-release

#574 chore(deps): update dependency @cypress/webpack-preprocessor to v6
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#572 chore(deps): update dependency cypress to v13
  cypress/package-lock.json
  cypress/package.json
  frontend/package-lock.json
Labels: javascript, configuration, frontend, ignore-for-release
