Repository bcgov/nr-forest-client, pull requests merged in 2023-04, with the labels that each got.

#427 Validation fixes
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/common/CommonValidator.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  frontend/components.d.ts
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Labels: java, javascript, tests, source, backend, frontend

#430 fix(deps): update dependency org.springframework.boot:spring-boot-starter-parent to v3.0.5
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, fix

#429 chore(deps): update maven all non-major dependencies
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, ignore-for-release

#428 feat: validation improvements
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessRequestDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentAccessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestBodyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestDocumentDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryDocumentRequestResponseDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryExceptionMessageDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficerDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryRoleDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientControllerIntegrationTest.java
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Labels: java, javascript, tests, source, backend, feature, frontend

#432 fix(be): Fixed pom file
  backend/pom.xml
Labels: java, backend, fix

#431 chore: dependency updates
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  common/Dockerfile
  common/InstallCert.java
  common/startup.sh
  database/Dockerfile
  docker-compose.yml
  frontend/Caddyfile
  frontend/Dockerfile
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/openshift.deploy.yml
  legacy/pom.xml
Labels: java, javascript, source, configuration, backend, openshift, database, frontend, ignore-for-release

#435 FSADT1-722
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  frontend/components.d.ts
  frontend/src/App.vue
  frontend/src/common/LabelComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/FetchService.ts
  frontend/tsconfig.vitest.json
Labels: java, javascript, tests, source, configuration, backend, frontend

#433 feat: adding proxy timeout config to legacy
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/.vscode/extensions.json
  legacy/openshift.deploy.yml
  legacy/src/main/java/ca/bc/gov/app/controller/ReportingClientController.java
  legacy/src/main/java/ca/bc/gov/app/exception/MissingReportFileException.java
  legacy/src/main/java/ca/bc/gov/app/service/ReportingClientService.java
  legacy/src/main/java/ca/bc/gov/app/util/HandlerUtil.java
  legacy/src/test/java/ca/bc/gov/app/endpoints/ForestClientReportingIntegrationTest.java
Labels: java, tests, backend, feature, openshift

#442 chore(deps): update testcontainers-java monorepo to v1.18.0
  backend/pom.xml
  legacy/pom.xml
Labels: java, backend, ignore-for-release

#444 feat(BE:FSADT1-742): updating data and validators
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/BusinessTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/dto/client/LegalTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionDetailPredicates.java
  backend/src/main/java/ca/bc/gov/app/predicates/SubmissionPredicates.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientBusinessInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitterInformationDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: java, tests, source, configuration, backend

#445 FSADT1-749
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Labels: javascript, frontend

#443 chore(deps): update dependency typescript to v5
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend, ignore-for-release

#446 Update validations, ClientSubmissionDto and fix new submission status
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: java, tests, source, backend

#448 Fix Unregistered Business validation scenario
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: java, tests, source, backend

#449 Frontend Improvements
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
Labels: java, javascript, source, configuration, backend, frontend

#451 [FSADT1-760] Change address validations so province and posta code are now mandatory
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
Labels: java, source, backend
