Repository bcgov/nr-forest-client, pull requests merged in 2023-03, with the labels that each got.

#400 Frontend improvements
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
Labels: java, javascript, tests, source, configuration, backend, frontend

#405 Chore/combine deps
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend

#406 Update README.md
  frontend/README.md
Labels: javascript, frontend

#399 feat(FSADT1-639): bc registry address data
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/openshift.deploy.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryIdentificationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmitterInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientValueTextDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmitterEntity.java
  backend/src/main/java/ca/bc/gov/app/exception/NoClientDataFound.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmitterRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/resources/application-default.yml
  common/Dockerfile
  common/openshift.init.yml
  database/Dockerfile
  database/openshift.deploy.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/mvnw
  legacy/mvnw.cmd
  legacy/openshift.deploy.yml
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ForestClientController.java
Labels: java, javascript, tests, source, configuration, backend, feature, openshift, database, frontend

#412 feat(FSADT1-711): adding contact and client type from bc registry
  backend/README.md
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientAddressDataDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailAttachment.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailBodyType.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailEncoding.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailPriority.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailRequest.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesMailResponseMessage.java
  backend/src/main/java/ca/bc/gov/app/dto/ches/ChesRequest.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientNameCodeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookResultListResponse.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ProvinceCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/openmaps/OpenMapsService.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/CoreUtil.java
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/ForestClientService.ts
Labels: java, javascript, source, configuration, backend, feature, frontend

#414 fix: fixing database release
  .github/workflows/pr-close.yml
  database/Dockerfile
Labels: fix, database

#415 fix(ci): fixing image promotion to prod
  .github/workflows/merge-main.yml
Labels: fix

#416 fix: fixing backend address acquisition
  frontend/src/services/ForestClientService.ts
Labels: javascript, source, fix, frontend

#417 feat(FSADT1-355): removing orgbook code and replacing with bcregistry
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/orgbook/OrgBookNameController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetResponseDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetSearchResultEntryDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetSearchResultsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLookUpDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookCredentialSetDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookCredentialTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookNameDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookResultListResponse.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookTopicAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookTopicAttributeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookTopicDto.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookTopicListResponse.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookTopicNameDto.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/main/java/ca/bc/gov/app/util/CoreUtil.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/endpoints/orgbook/OrgBookHandlerIntegrationTest.java
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/FetchService.ts
Labels: java, javascript, tests, source, configuration, backend, feature, frontend

#418 fix(fe): fixing config.js mapping
  .github/workflows/merge-main.yml
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  frontend/index.html
  frontend/openshift.deploy.yml
  frontend/public/data/config.js
Labels: java, javascript, source, backend, fix, openshift, frontend

#419 fix: fixing resource utilization
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
  backend/src/main/resources/application.yml
  frontend/.dockerignore
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/openshift.deploy.yml
  frontend/public/data/config.js
  frontend/src/core/CoreConstants.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/services/ForestClientService.ts
  legacy/openshift.deploy.yml
Labels: java, javascript, source, configuration, backend, fix, openshift, frontend

#420 FSADT1-724 - Notified that a business is not in good standing
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
Labels: javascript, source, frontend

#421 chore: rearranging resources for openshift
  .github/workflows/merge-main.yml
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  legacy/openshift.deploy.yml
Labels: java, javascript, backend, openshift, frontend, ignore-for-release

#425 fix(FE): validation message and form submission
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientAddressDataDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/filter/CorsWebFilter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/common/ValidationMessagesComponent.vue
  frontend/src/pages/applyclientnumber/AddressComponent.vue
  frontend/src/pages/applyclientnumber/AddressSectionComponent.vue
  frontend/src/pages/applyclientnumber/ApplyClientNumberPage.vue
  frontend/src/pages/applyclientnumber/ContactComponent.vue
  frontend/src/pages/applyclientnumber/ContactSectionComponent.vue
  frontend/src/services/ForestClientService.ts
Labels: java, javascript, tests, source, configuration, backend, fix, frontend
