Repository bcgov/nr-forest-client, pull requests merged in 2023-02, with the labels that each got.

#296 Backend Improvements
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: java, tests, source, backend

#307 Data model
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#313 Data model
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#314 feat(cors): adding cors support for webflux
  backend/src/main/java/ca/bc/gov/app/configuration/WebfluxConfiguration.java
  backend/src/main/resources/application.yml
Labels: java, source, configuration, backend, feature

#315 Data model
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#318 Frontend v0.1
  frontend/src/pages/applynewclient/ApplyNewClientPage.vue
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/BusinessTypeSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
  frontend/src/store/newclientform/FormData.ts
  frontend/src/store/newclientform/FormDisable.ts
  frontend/src/store/newclientform/FormValidation.ts
Labels: javascript, source, frontend

#319 Data model v.0.1
  backend/src/main/resources/db/migration/V1__initializing_data.sql
Labels: java, configuration, backend

#320 chore: fixing cors issue
  .github/workflows/merge-main.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ChesConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/OpenMapsConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/OrgBookConfiguration.java
  backend/src/main/java/ca/bc/gov/app/configuration/WebfluxConfiguration.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesCommonServicesService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/endpoints/orgbook/OrgBookHandlerIntegrationTest.java
  backend/src/test/resources/application-default.yml
Labels: java, tests, source, configuration, backend, ignore-for-release

#322 feat(be:FSADT1-657): adding country list api
  backend/src/main/java/ca/bc/gov/app/dto/client/CountryCodeDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientCountryCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: java, tests, source, backend, feature

#324 Frontend v0.1
  frontend/src/common/FormSelect.vue
  frontend/src/common/examples/SingleFormComponentExample.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/BusinessTypeSectionSchema.ts
Labels: javascript, source, frontend

#331 feat(fe:autocomplete): adding useFetch function
  backend/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  backend/src/main/java/ca/bc/gov/app/handlers/ches/ChesHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientCountryCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientProvinceCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/openmaps/OpenMapsHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/orgbook/OrgBookIncorporationHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/orgbook/OrgBookNameHandler.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/endpoints/orgbook/OrgBookHandlerIntegrationTest.java
  backend/src/test/resources/application-default.yml
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormComponentOptions.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/services/forestClient.service.ts
Labels: java, javascript, tests, source, configuration, backend, feature, frontend

#330 feat: list contact type codes
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientNameCodeDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ContactTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/ches/ChesHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ContactTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: java, tests, source, backend, feature

#338 feat(fe): Added countries from BE
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/pages/applynewclient/formvalidationrules/RequiredFields.ts
Labels: javascript, source, feature, frontend

#337 fix: fixing endpoint naming to plural
  .github/CODEOWNERS
  backend/src/main/java/ca/bc/gov/app/configuration/RouteConfiguration.java
  backend/src/main/java/ca/bc/gov/app/dto/orgbook/OrgBookNameDto.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: java, github_actions, tests, source, configuration, backend, fix

#343 feat: adding province load
  frontend/src/common/FormAutocomplete.vue
  frontend/src/common/FormSelect.vue
  frontend/src/core/FormType.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
  frontend/src/services/EventBus.ts
  frontend/src/services/FetchService.ts
Labels: javascript, source, feature, frontend

#348 Feat/be/data model
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/store/newclientform/FormData.ts
Labels: java, javascript, source, configuration, backend, frontend

#349 fix: fixing autocomplete min size
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsectionschemas/InformationSectionSchema.ts
Labels: javascript, source, fix, frontend

#350 feat(fe): Added contact types and recursive function
  frontend/components.d.ts
  frontend/src/pages/applynewclient/formsections/FormSections.vue
Labels: javascript, feature, frontend

#351 feat: adding autocomplete code to model
  backend/src/main/java/ca/bc/gov/app/service/orgbook/OrgBookApiService.java
  frontend/src/pages/applynewclient/formsections/FormSections.vue
  frontend/src/services/FetchService.ts
Labels: java, javascript, source, backend, feature, frontend

#361 fix: reduce Dependabot frequency
  .github/dependabot.yml
Labels: bug, enhancement

#363 deps: dependabot batched updates
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend

#368 Deps/more dependabot
  frontend/package-lock.json
  frontend/package.json
Labels: javascript, configuration, frontend

#369 feat(fe): Label text changes
  frontend/src/pages/applynewclient/formsectionschemas/BusinessTypeSectionSchema.ts
  frontend/src/pages/applynewclient/formsectionschemas/LocationSectionSchema.ts
Labels: javascript, source, feature, frontend

#352 feat: Persist client information in postgres
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ProvinceCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientSubmissionHandler.java
  backend/src/main/java/ca/bc/gov/app/handlers/client/ClientTypeCodeHandler.java
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionStatusEnum.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionDetailRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionRepository.java
  backend/src/main/java/ca/bc/gov/app/routes/client/ClientRouter.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/test/java/ca/bc/gov/app/endpoints/client/ClientHandlerIntegrationTest.java
Labels: java, tests, source, configuration, backend, feature

#378 fix(deps): update dependency org.springframework.cloud:spring-cloud-dependencies to v2022.0.1
  legacy/pom.xml
Labels: fix

#395 chore: replace dependabot with renovate
  .github/dependabot.yml
Labels: github_actions, ignore-for-release

#394 chore: renovate - spring boot
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  backend/pom.xml
  database/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  legacy/.mvn/wrapper/maven-wrapper.properties
  legacy/Dockerfile
  legacy/pom.xml
Labels: java, javascript, configuration, backend, database, frontend, ignore-for-release
