Repository bcgov/nr-forest-client, pull requests merged in 2024-01, with the labels that each got.

#691 fix(FSADT1-1086): Email Address Pattern Found
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
  frontend/tests/unittests/components/forms/RadioInputComponent.spec.ts
Labels: fix

#716 feat(FSADT1-992): adding monitoring and events
  .github/workflows/unit-tests.yml
  backend/openshift.deploy.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientMetricConfiguration.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  ches/ChesControllerIntegrationTest.java
  legacy/openshift.deploy.yml
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/configuration/ForestClientMetricConfiguration.java
  legacy/src/main/resources/application.properties
  legacy/src/main/resources/application.yml
  processor/openshift.deploy.yml
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/configuration/ForestClientMetricConfiguration.java
  processor/src/main/resources/application.properties
  processor/src/main/resources/application.yml
Labels: feature

#719 fix: downgrade @carbon/web-components back to 2.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#718 fix: fixing some pending issues
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/repository/client/ContactTypeCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V3__email_log_size.sql
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/resources/application-default.yml
  common/openshift.init.yml
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
Labels: fix

#721 fix: Fixed null pointer exception
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: fix

#724 fix: fixing client types
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: fix

#726 fix(FSADT1-1101): updating mail configuration on test
  .github/workflows/merge-main.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/resources/templates/rejection.html
  backend/src/main/resources/templates/revision.html
  backend/src/test/resources/application-default.yml
  common/openshift.init.yml
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/ProcessorApplication.java
  processor/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  processor/src/main/java/ca/bc/gov/app/configuration/ProcessorIntegrationConfiguration.java
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: fix

#730 chore: renaming script v4
  backend/src/main/resources/db/migration/V4__submission_matching_detail_size.sql
Labels: ignore-for-release

#731 fix: fixing client type reading issue
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyPersistenceService.java
Labels: fix

#732 fix(FSADT1-1121): fixing persistence
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/resources/templates/revision.html
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientContactMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientDoingBusinessAsMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  processor/openshift.deploy.yml
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientContactDto.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceServiceTest.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: fix

#735 fix(FSADT1-1037): fixing case
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: fix

#736 fix(FSADT1-1142): fixing contact not being created
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientControllerIntegrationTest.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyClientPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyIndividualPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyUnregisteredSPPersistenceService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceTest.java
Labels: fix

#738 fix(FSADT1:1145): updating bc registry loading
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryFacetSearchResultEntryDto.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
Labels: fix

#745 fix: merge all test coverage results
  frontend/package.json
Labels: fix

#744 fix(FSADT1-1141|FSADT1-1144): fixing usernames and updating matches
  .github/CODEOWNERS
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/exception/ClientAlreadyExistException.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/src/composables/useFetch.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/mappings/backend.json
  frontend/stub/mappings/fam.json
  frontend/tests/unittests/composables/useFetch.spec.ts
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/resources/db/migration/V4__manual_data.sql
Labels: fix

#748 fix(FSADT1-1149): fixing email sent by user
  frontend/src/pages/FormBCeIDPage.vue
Labels: fix

#755 chore: adjust FOM mod 50 vars
  .github/workflows/pr-open.yml
Labels: ignore-for-release

#751 feat(FSADT1-992): adding observability
  .github/workflows/pr-open.yml
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/BootApplication.java
  backend/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/controller/cognito/CognitoController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/service/cognito/CognitoService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  frontend/Caddyfile
  frontend/openshift.deploy.yml
  legacy/Dockerfile
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/LegacyApplication.java
  legacy/src/main/java/ca/bc/gov/app/configuration/TracingConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientContactController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientDoingBusinessAsController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientLocationController.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/main/resources/application.yml
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: feature

#756 fix: small fixes
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/configuration/ForestClientMetricConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/exception/CannotWriteReportException.java
  legacy/src/main/java/ca/bc/gov/app/exception/NoValueFoundException.java
  legacy/src/main/java/ca/bc/gov/app/mappers/AbstractForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientLocationMapper.java
  legacy/src/main/java/ca/bc/gov/app/mappers/ForestClientMapper.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientLocationMapperTest.java
Labels: fix

#758 fix: fixing processor blocking code
  processor/Dockerfile
  processor/src/main/java/ca/bc/gov/app/dto/SubmissionInformationDto.java
  processor/src/main/java/ca/bc/gov/app/matchers/LocationMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/resources/application.yml
  processor/src/test/java/ca/bc/gov/app/TestConstants.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IncorporationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
Labels: fix

#757 fix: validate contact's role and location onblur
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
Labels: fix

#762 fix: Hotspot fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: fix

#763 fix: prevent multiple clicks on the approve/reject buttons
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: fix

#767 fix(FSADT1-985): fixing security issues
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/pom.xml
  legacy/openshift.deploy.yml
  legacy/pom.xml
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/configuration/LegacyConfiguration.java
  legacy/src/main/resources/application.yml
  legacy/src/test/resources/application-default.yml
  processor/openshift.deploy.yml
  processor/pom.xml
Labels: fix

#768 fix(FSADT1-1167): Fixed issue with pagination
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/application.yml
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/src/pages/SubmissionListPage.vue
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-autocomplete.json
  frontend/stub/mappings/backend.json
  frontend/stub/mappings/fam.json
Labels: fix

#773 fix: fixing pagination
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: fix
