Repository bcgov/nr-forest-client, pull requests merged in 2024-05, with the labels that each got.

#954 fix(FSADT1-1228): Optimize Fuzzy Matching Results to Display Unique Client Numbers
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionServiceTest.java
  backend/src/test/resources/db/migration/R__Test_Data.sql
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/stub/__files/response-submissions-details-dupped.json
  processor/src/main/java/ca/bc/gov/app/dto/MatcherResult.java
  processor/src/main/java/ca/bc/gov/app/matchers/ContactMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/IndividualProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/LocationMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/ProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/RegistrationNumberProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcher.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/test/java/ca/bc/gov/app/matchers/ContactMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/DoingBusinessAsProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/GoodStandingProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/IndividualProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/LocationMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/RegistrationNumberProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/matchers/SoleProprietorProcessorMatcherTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingServiceIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyLoadingServiceTest.java
Labels: fix

#938 chore(deps:Snyk): Upgrade @carbon/web-components from 2.3.0 to 2.6.0
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: ignore-for-release

#958 fix(FSADT1-1321): Applicant should not be copied in the Review email
  processor/src/main/java/ca/bc/gov/app/ProcessorApplication.java
  processor/src/main/java/ca/bc/gov/app/configuration/SchedulerConfiguration.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceIntegrationTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/db/migration/R__test._data.sql
Labels: fix

#957 feat(fe:FSADT1-1107): Add text and obfuscated emails
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: feature

#955 chore: Upgrade org.apache.commons:commons-text from 1.10.0 to 1.12.0
  backend/pom.xml
Labels: ignore-for-release

#959 chore: removing noise from logs
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
Labels: ignore-for-release

#960 fix(sec:CVE-2024-29025): Allocation of Resources Without Limits or Throttling
  backend/pom.xml
  backend/src/test/java/ca/bc/gov/app/util/PkceUtilTest.java
  legacy/pom.xml
  processor/pom.xml
Labels: fix

#961 fix(sec:CVE-2023-52428): DoS in Connect2id Nimbus JOSE+JWT
  backend/docs/cve-ignore.xml
  backend/pom.xml
  legacy/docs/cve-ignore.xml
  legacy/pom.xml
  processor/docs/cve-ignore.xml
  processor/pom.xml
Labels: fix

#963 chore: Upgrade @carbon/icons-vue from 10.83.1 to 10.88.0
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#966 feat(fe:FSADT1-1227): Matching links goes straight to the tab
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/tsconfig.json
Labels: feature

#964 fix(FSADT1-1323): multiple emails being sent
  .gitignore
  backend/docs/cve-ignore.xml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V3__matching_control_time.sql
  docker-compose.yml
  frontend/package-lock.json
  legacy/docs/cve-ignore.xml
  legacy/pom.xml
  processor/docs/cve-ignore.xml
  processor/pom.xml
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/repository/SubmissionRepository.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
Labels: fix

#967 fix(FSADT1-1332): fixing matcher for processor
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyLoadingService.java
Labels: fix

#965 fix(fe:FSADT1-1297): Prevent logout button cut out of the page
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
Labels: fix

#968 fix(FSADT1-1338): updated district dkm email
  backend/src/main/resources/db/migration/V4__district_email_update.sql
Labels: fix

#970 chore: Upgrade @carbon/icons-vue from 10.88.0 to 10.89.0
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#971 fix(FSADT1-1341): updated district dos email
  backend/src/main/resources/db/migration/V5__district_email_update.sql
Labels: fix

#976 chore: updating deps
  processor/pom.xml
Labels: ignore-for-release

#983 fix: Correct start-server-and-test Command in preview Script
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#981 chore: Upgrade vite from 5.2.10 to 5.2.11
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#980 chore: Upgrade @types/node from 20.12.7 to 20.12.8
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#979 chore: Upgrade unplugin-icons from 0.18.5 to 0.19.0
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#978 chore: Upgrade unplugin-vue-components from 0.26.0 to 0.27.0
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#986 feat(fe:FSADT1-1355): Update mandatory fields marker
  frontend/src/assets/styles/global.scss
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: feature
