Repository bcgov/nr-forest-client, pull requests merged in 2024-04, with the labels that each got.

#903 feat(FSADT1-1280): rate-limit for backend
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: feature

#908 fix(be): Reverted commit 0bf884c and fixed subject when the email fai…
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: fix

#911 chore: adjusting the ches configuration
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
Labels: ignore-for-release

#907 fix(fe:FSADT1-1283): keep the button Next enabled on step 1
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: fix

#912 chore(be): updating annotations
  backend/openshift.deploy.yml
Labels: ignore-for-release

#913 fix(fe): Fixed bug related to DOB
  frontend/src/pages/FormBCSCPage.vue
Labels: fix

#916 docs: changing readme
  README.md
  backend/README.md
  legacy/README.md
  processor/README.md
Labels: documentation

#918 fix(fe): prevent multiple clicks
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/stub/mappings/backend.json
Labels: fix

#917 fix: mail sent and mail status
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/app/health/BcRegistryApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/CanadaPostApiHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/health/ChesHealthIndicator.java
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
Labels: fix

#919 fix(FSADT1-1290): increasing rate limiter
  backend/openshift.deploy.yml
Labels: fix

#910 feat(be:FSADT1-1277): Strict Input validation on backend
  backend/src/main/java/ca/bc/gov/app/converters/GrantedAuthoritiesConverter.java
  backend/src/main/java/ca/bc/gov/app/entity/client/BaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ClientTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ContactTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/CountryCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/EmailLogEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/ExpirableBaseEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationContactIdEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionLocationEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionMatchDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionTypeCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/SubmissionLocationContactRepository.java
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientAddressDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/RegisteredBusinessInformationValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/UnregisteredBusinessInformationValidator.java
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/composables/useFetch.ts
  legacy/src/main/java/ca/bc/gov/app/configuration/GlobalServiceConfiguration.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientLocationDto.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientDoingBusinessAsEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientPublicViewEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ClientStatusCodeEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientContactEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntity.java
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientLocationEntityId.java
  legacy/src/main/java/ca/bc/gov/app/repository/ClientDoingBusinessAsRepository.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientLocationRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientContactService.java
  legacy/src/test/java/ca/bc/gov/app/mappers/ForestClientContactMapperTest.java
  processor/src/main/java/ca/bc/gov/app/entity/BaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/CountryCodeEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/ExpirableBaseEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationContactEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationContactIdEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionLocationEntity.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionMatchDetailEntity.java
Labels: feature

#920 fix(fe:FSADT1-1278): validate text fields
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/helpers/validators/BCeIDFormValidations.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
Labels: fix

#922 fix(fe:FSADT1-1292): validate individual
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: fix

#921 feat(fe): Changed btn title for consistency
  frontend/src/components/MainHeaderComponent.vue
Labels: feature

#924 fix(fe): validate autocomplete's selected value immediately
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/stub/__files/response-address-G1V2W5.json
  frontend/stub/__files/response-address-search-CA.json
Labels: fix

#925 chore(ci): update js tester action
  .github/workflows/reusable-tests-fe.yml
Labels: dependencies, ignore-for-release

#923 fix(fe): fetch default error handling
  frontend/package.json
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/composables/useFetch.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/unittests/composables/useFetch.spec.ts
Labels: fix

#926 feat(be:FSADT1-1277): BE validations
  backend/src/main/java/ca/bc/gov/app/util/ClientValidationUtils.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientContactDtoValidator.java
Labels: feature

#928 feat(fe): Small improvements
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/LogoutPage.vue
Labels: feature

#929 feat(fe): add validations to reject submission fields
  frontend/src/helpers/validators/SubmissionReviewValidations.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: feature

#930 feat: Update workflow to use read-write account for the oracle DB in Prod
  .github/workflows/merge.yml
Labels: feature

#934 fix(FSADT1-1312): making fuzzy works for all types
  processor/src/main/java/ca/bc/gov/app/matchers/LegalNameProcessorMatcher.java
Labels: fix

#935 chore(deps:Snyk): Upgrade org.apache.commons:commons-text from 1.10.0 to 1.11.0
  backend/pom.xml
Labels: ignore-for-release

#937 feat(fe:FSADT1-1295): announce dialogs properly
  frontend/src/App.vue
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: feature

#932 fix(fe:FSADT1-1299): disable data-fetcher when url is not complete
  frontend/src/components/DataFetcher.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/mappings/backend.json
  frontend/tests/unittests/components/DataFetcher.spec.ts
Labels: fix

#940 chore(deps:Snyk): Upgrade aws-amplify from 6.0.17 to 6.0.27
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#939 chore(deps:Snyk): Upgrade typescript from 5.3.3 to 5.4.4
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#943 fix(FSADT1-1313): adding fm to i association
  legacy/src/test/resources/db/migration/V6__adding_fm_to_i.sql
Labels: fix, production

#941 feat(FSADT1-1285): adding business name to the RSP message
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/app/util/JwtPrincipalUtilTest.java
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceService.java
  processor/src/main/java/ca/bc/gov/app/service/processor/ProcessorService.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyRegisteredSPPersistenceServiceTest.java
Labels: feature

#936 chore(deps:Snyk): Upgrade org.dhatim:fastexcel from 0.16.4 to 0.17.0
  legacy/pom.xml
Labels: ignore-for-release

#942 feat(be:FSADT1-1298): Added missing validations
  backend/src/main/java/ca/bc/gov/app/controller/AbstractController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/main/java/ca/bc/gov/app/util/ValidationUtil.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ReactiveValidator.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
Labels: feature
