Repository bcgov/nr-forest-client, pull requests merged in 2024-03, with the labels that each got.

#825 fix: metrics
  backend/src/main/resources/application.yml
  legacy/src/main/resources/application.yml
  processor/src/main/resources/application.yml
Labels: fix

#824 feat(fe:FSADT1-1006): announce inline errors
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
Labels: feature

#826 fix(FSADT1-1233): fixing address issue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
Labels: fix

#827 fix(fe:FSADT1-1006): skip progress steps from tab navigation
  frontend/src/pages/FormBCeIDPage.vue
Labels: fix

#834 feat(fe:FSADT1-1006): read application submitted message
  frontend/src/App.vue
Labels: feature

#835 feat(fe:FSADT1-1232): Fixed distance between buttons
  frontend/src/assets/styles/global.scss
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/LandingPage.vue
Labels: feature

#838 feat(fe:FSADT1-1006): follow the expected heading order
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: feature

#839 fix: fixing deploy config
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: fix

#841 ci: fixing logout url
  .github/workflows/merge-main.yml
Labels: ci

#843 fix(fe:FSADT1-1006): Display numeric keyboard without classifying the field as a telephone
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/stub/mappings/backend.json
Labels: fix

#845 fix(fe:FSADT1-1006): fix reactivity on a11y attributes
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
Labels: fix

#847 doc: adding idempotent script
  legacy/src/test/resources/db/migration/V2__full_client.sql
  legacy/src/test/resources/db/migration/V4__new_client_id_type_code.sql
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: documentation

#852 ci: exclude district code table
  database/openshift.backup.yml
Labels: ci

#857 chore(ci): simplify
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/reusable-tests-repo.yml
Labels: github_actions, ignore-for-release

#860 fix(fe:FSADT1-1006): improve keyboard navigation
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
Labels: fix

#829 fix(FSADT1-1234): adding zap on the CI for verification
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ForestHeadersCustomizer.java
  backend/src/main/resources/application.yml
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/index.html
  frontend/openshift.deploy.yml
  frontend/robots.txt
  frontend/setenv.sh
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/routes.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
Labels: fix

#861 fix(fe:FSADT1-1006): maximize visible text region on combo-box and autocomplete fields
  frontend/src/assets/styles/global.scss
Labels: fix

#865 fix(ci): pr-validate version
  .github/workflows/pr-validate.yml
Labels: fix

#862 chore(ci): prep routes and templates for vanity urls
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  frontend/openshift.deploy.yml
  legacy/openshift.deploy.yml
  processor/openshift.deploy.yml
Labels: enhancement, github_actions, ignore-for-release

#868 feat(fe): Changed name of the application
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: feature

#864 fix(FSADT1-1241): adding csrf support
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/security/CookieCsrfRequestAttributeHandler.java
  backend/src/main/java/ca/bc/gov/app/security/CsrfCustomizer.java
  backend/src/main/java/ca/bc/gov/app/security/HeadersCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  common/openshift.init.yml
  frontend/.devcontainer/frontend.code-workspace
  frontend/.vscode/extensions.json
  frontend/Caddyfile
  frontend/openshift.deploy.yml
  frontend/src/CoreConstants.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/LogoutPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/routes.ts
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionMailService.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionMailServiceTest.java
Labels: fix

#870 feat(fe): Changed name of the application
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/pages/LandingPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/tests/unittests/components/MainHeaderComponent.spec.ts
Labels: feature

#872 chore: code cleaning
  backend/src/main/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvert.java
  backend/src/main/java/ca/bc/gov/app/converters/GrantedAuthoritiesConverter.java
  backend/src/main/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvert.java
  backend/src/main/java/ca/bc/gov/app/security/ForestHeadersCustomizer.java
Labels: ignore-for-release

#871 feat(fe:FSADT1-1257): add required input purpose information
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: feature

#874 chore(ci): load new routes
  .github/workflows/merge.yml
Labels: ignore-for-release

#875 chore(deps): override follow-directs subdep for vulerability
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#873 feat(be): Changed app name
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/matched.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
  backend/src/main/resources/templates/revision.html
Labels: feature

#876 feat(fe:FSADT1-1006): prevent horizontal scroll due to date field inputs
  frontend/src/components/forms/DateInputComponent/index.vue
Labels: feature

#879 feat(fe:FSADT1-1006): set roles form and main
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
Labels: feature

#878 fix(FSADT1-1212): fixing stubs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/CoreConstants.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/stub/mappings/fam.json
Labels: fix

#877 fix(FSADT1-1224): fixing missing individual check on bceid
  frontend/Caddyfile
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: fix

#881 feat(fe:FSADT1-1006): set main role on the form pages
  frontend/src/App.vue
  frontend/src/pages/FormSubmittedPage.vue
Labels: feature

#882 feat(fe): Changed app name in title
  frontend/index.html
  frontend/package.json
Labels: feature

#880 feat(FSADT1-1238): updating code to read FAM roles
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/converters/GrantedAuthoritiesConverter.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
Labels: feature

#883 fix(FSADT1-1224): fixing individual check on bceid
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/stub/mappings/backend.json
Labels: fix

#884 fix(CVE-2024-22259|CVE-2023-52428): CVE fixes
  .github/workflows/merge.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/scheduled.yml
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: fix

#887 fix(rollback CVE): reverting versions due to framework issues
  backend/pom.xml
  legacy/pom.xml
  processor/pom.xml
Labels: fix

#886 fix(be:FSADT1-1260): Updated wording in email templates
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/revision.html
Labels: fix

#890 fix(FSADT1-1268): fix access to details api
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: fix

#891 fix(FSADT1-1267): prevented warning rbac in case of error rbac
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCountryControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientDistrictControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: fix

#892 fix: submission list
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
Labels: fix

#894 fix(be:FSADT1-1194): Fix sorting issue
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  frontend/src/pages/SubmissionListPage.vue
Labels: fix

#893 feat(fe:FSADT1-1006): add progress status message
  frontend/src/App.vue
  frontend/src/assets/styles/global.scss
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/composables/useFocus.ts
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/FormSubmittedPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
Labels: feature

#895 feat: Update GitHub Actions workflow to use read only account for the…
  .github/workflows/merge.yml
Labels: feature

#896 feat: Update GitHub Actions workflow to use read only account for the oracle DB.
  .github/workflows/merge.yml
Labels: feature

#897 fix: Removed wrong parameters
  .github/workflows/merge.yml
Labels: fix

#898 fix: fixing prod deployment config
  .github/workflows/merge.yml
Labels: fix

#900 docs(FSADT1-1274): updating the authorization doc
  .github/pull_request_template.md
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: documentation

#901 fix(FSADT1-1275): filtering access by http method
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
Labels: fix

#902 fix(FSADT1-1276): token refresh time is 90% of exp
  frontend/src/helpers/ForestClientUserSession.ts
Labels: fix
