Repository bcgov/nr-forest-client, pull requests merged in 2024-06, with the labels that each got.

#984 feat(FSADT1-1346): add create client button to staff dashboard
  frontend/.devcontainer/devcontainer.json
  frontend/.vscode/extensions.json
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/package.json
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/routes.ts
Labels: feature

#995 fix(FSADT1-1333): fixing client name on mail
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/stub/mappings/fam.json
Labels: fix

#993 fix(deps:Snyk): Upgrade @cypress/code-coverage from 3.12.38 to 3.12.39
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#992 fix(deps:Snyk): Upgrade sass from 1.76.0 to 1.77.1
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#989 fix(deps:Snyk): Upgrade @carbon/styles from 1.56.0 to 1.57.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#990 fix(deps:Snyk): Upgrade @carbon/icons-vue from 10.89.0 to 10.90.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#994 feat(FSADT1-1344): database changes to support new version of the FCMS - Postgres
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
Labels: feature

#1002 fix(deps:Snyk): Upgrade axios from 1.6.8 to 1.7.2
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1000 fix(deps:Snyk): Upgrade @typescript-eslint/parser from 7.8.0 to 7.10.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1003 fix(FSADT1-1372): increasing memory due to OOM
  backend/openshift.deploy.yml
  legacy/openshift.deploy.yml
Labels: fix

#998 fix(deps:Snyk): Upgrade @carbon/web-components from 2.8.0 to 2.9.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#997 feat(be:FSADT1-1344): database changes to support new version of the FCMS - Postgres
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/service/bcregistry/BcRegistryService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/db/migration/V6__fcms_v2_changes.sql
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  legacy/src/main/java/ca/bc/gov/app/dto/ForestClientDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientDoingBusinessAsService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
  processor/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionAutoProcessingService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionProcessingService.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/legacy/LegacyAbstractPersistenceServiceIntegrationTest.java
  processor/src/test/resources/application-default.yml
  processor/src/test/resources/junit-platform.properties
Labels: feature

#1007 feat(FSADT1-1362): staff created entries
  backend/src/main/java/ca/bc/gov/app/models/client/SubmissionTypeCodeEnum.java
  backend/src/main/resources/db/migration/V7__staff_submitted_data.sql
  backend/src/main/resources/db/migration/V8__fcms_v2_changes.sql
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/resources/db/migration/R__Test_Data.sql
Labels: feature

#1006 feat(fe:FSADT1-1344): Creating classes required to support new version of the FCMS
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientContactDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/IdentificationTypeEnum.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  backend/src/test/resources/failValidationTest.csv
Labels: feature

#996 feat(FSADT1-1363): backend fuzzy match for individuals
  backend/src/main/java/ca/bc/gov/app/configuration/flags/FeatureFlagsConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientMatchController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientLocationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/MatchResult.java
  backend/src/main/java/ca/bc/gov/app/dto/client/StepMatchEnum.java
  backend/src/main/java/ca/bc/gov/app/exception/DataMatchException.java
  backend/src/main/java/ca/bc/gov/app/security/ApiAuthorizationCustomizer.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcher.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/StepMatcher.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  backend/src/main/java/ca/bc/gov/app/util/JwtPrincipalUtil.java
  backend/src/test/java/ca/bc/gov/app/configuration/TestConfiguration.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/util/ClientSubmissionAggregator.java
  backend/src/test/resources/application-default.yml
  frontend/src/pages/FormStaffPage.vue
  frontend/stub/mappings/matches.json
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/repository/ForestClientRepository.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/extensions/CustomOracleContainer.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
Labels: feature

#1009 fix(deps:Snyk): Upgrade @typescript-eslint/eslint-plugin from 7.10.0 to 7.11.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1010 fix(deps:Snyk): Upgrade @typescript-eslint/parser from 7.10.0 to 7.11.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#999 fix(deps:Snyk): Upgrade aws-amplify from 6.2.0 to 6.3.3
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1008 feat(FSADT1-1349): Create client for staff Step 1 - Individuals
  frontend/cypress/e2e/FormStaffPage.cy.ts
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/helpers/CustomDirectives.ts
  frontend/src/helpers/validators/GlobalValidators.ts
  frontend/src/helpers/validators/StaffFormValidations.ts
  frontend/src/pages/FormStaffPage.vue
  frontend/src/pages/staffform/IndividualClientInformationWizardStep.vue
  frontend/tests/pages/staff/IndividualClientInformationWizardStep.cy.ts
  frontend/tests/unittests/components/forms/DropdownInputComponent.spec.ts
  frontend/tests/unittests/helpers/validators/GlobalValidators.spec.ts
  frontend/tests/unittests/helpers/validators/StaffFormValidations.spec.ts
Labels: feature

#1015 fix: deleted unneeded code
  legacy/src/main/java/ca/bc/gov/app/service/ClientService.java
Labels: fix

#1005 fix(FSADT1-1379): fixing country name resolution
  backend/src/main/resources/db/migration/V8__fcms_v2_changes.sql
  legacy/src/main/java/ca/bc/gov/app/entity/ForestClientMailingCountryEntity.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientLocationService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientLocationControllerIntegrationTest.java
  processor/src/main/java/ca/bc/gov/app/service/legacy/LegacyService.java
Labels: fix

#1019 feat(be:FSADT1-1393): Updated DCS district email
  backend/src/main/resources/db/migration/V9__district_email_update.sql
Labels: feature

#1018 fix(deps:Snyk): Upgrade @types/node from 20.12.11 to 20.14.1
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1017 fix(deps:Snyk): Upgrade @typescript-eslint/parser from 7.11.0 to 7.12.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1016 fix(deps:Snyk): Upgrade @typescript-eslint/eslint-plugin from 7.11.0 to 7.12.0
  frontend/package-lock.json
  frontend/package.json
Labels: fix

#1020 chore(deps:Snyk): Upgrade aws-amplify from 6.3.3 to 6.3.5
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#1024 chore(deps:Snyk): Upgrade sass from 1.77.1 to 1.77.4
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#1023 chore(deps:Snyk): Upgrade cypress from 13.8.1 to 13.11.0
  frontend/package-lock.json
  frontend/package.json
Labels: ignore-for-release

#1025 feat(be:FSADT1-1324): Changes in email templates
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
  backend/src/test/resources/db/migration/R__Test_Data.sql
  frontend/components.d.ts
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: feature

#1026 feat(be:FSADT1-1324): Changes in email templates
  backend/src/main/resources/templates/approval.html
  backend/src/main/resources/templates/registration.html
  backend/src/main/resources/templates/rejection.html
Labels: feature

#1013 feat(FSADT1-1365): backend fuzzy match for locations
  .github/workflows/pr-validate.yml
  backend/src/main/java/ca/bc/gov/app/configuration/ForestClientConfiguration.java
  backend/src/main/java/ca/bc/gov/app/controller/GlobalErrorController.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryBusinessAdressesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryOfficesDto.java
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/BcRegistryPartyDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientAddressDto.java
  backend/src/main/java/ca/bc/gov/app/dto/legacy/AddressSearchDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientAddressService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientLegacyService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientMatchService.java
  backend/src/main/java/ca/bc/gov/app/service/client/matches/LocationStepMatcher.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchIndividualControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientMatchLocationControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientSubmissionControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/converters/EmailLogEntityJsonConvertTest.java
  backend/src/test/java/ca/bc/gov/app/converters/SubmissionMatchDetailEntityBeforeConvertTest.java
  backend/src/test/java/ca/bc/gov/app/extensions/ClientMatchDataGenerator.java
  backend/src/test/java/ca/bc/gov/app/service/ches/ChesServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientLegacyServiceTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientMatchServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/IndividualStepMatcherTest.java
  backend/src/test/java/ca/bc/gov/app/service/client/matches/LocationStepMatcherTest.java
  legacy/src/main/java/ca/bc/gov/app/ApplicationConstants.java
  legacy/src/main/java/ca/bc/gov/app/controller/ClientSearchController.java
  legacy/src/main/java/ca/bc/gov/app/dto/AddressSearchDto.java
  legacy/src/main/java/ca/bc/gov/app/service/ClientSearchService.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchCompanyControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/controller/ClientSearchIndividualControllerIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchCompanyServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchIndividualServiceIntegrationTest.java
  legacy/src/test/java/ca/bc/gov/app/service/ClientSearchServiceIntegrationTest.java
  legacy/src/test/resources/db/migration/V5__manual_data.sql
  legacy/src/test/resources/db/migration/V7__client_id_values.sql
  legacy/src/test/resources/db/migration/V8__test_case_data.sql
  processor/src/main/java/ca/bc/gov/app/dto/MessagingWrapper.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionMatchDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/util/ProcessorUtil.java
  processor/src/test/java/ca/bc/gov/app/util/ProcessorUtilTest.java
Labels: feature
