Repository bcgov/nr-forest-client, pull requests merged in 2024-02, with the labels that each got.

#777 fix(FSADT1-1143): Display description of the client code in the error messages
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
Labels: fix

#780 fix(FSADT1-1179): fixing off ramp cases
  backend/src/main/java/ca/bc/gov/app/dto/bcregistry/ClientDetailsDto.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
Labels: fix

#782 feat(FSADT1-823): adding database backup config
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  database/openshift.backup.yml
  database/openshift.deploy.yml
  docker-compose.yml
Labels: feature

#779 feat(FSADT1-1173): Changes related to the Natural Resource Districts
  backend/src/main/java/ca/bc/gov/app/ApplicationConstant.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientSubmissionController.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientListSubmissionDto.java
  backend/src/main/java/ca/bc/gov/app/dto/client/DistrictDto.java
  backend/src/main/java/ca/bc/gov/app/dto/submissions/SubmissionBusinessDto.java
  backend/src/main/java/ca/bc/gov/app/entity/client/DistrictCodeEntity.java
  backend/src/main/java/ca/bc/gov/app/entity/client/SubmissionDetailEntity.java
  backend/src/main/java/ca/bc/gov/app/repository/client/CountryCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/repository/client/DistrictCodeRepository.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientService.java
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  backend/src/main/java/ca/bc/gov/app/validator/client/ClientSubmitRequestValidator.java
  backend/src/main/resources/db/migration/V5__district_code.sql
  backend/src/test/java/ca/bc/gov/app/TestConstants.java
  backend/src/test/java/ca/bc/gov/app/service/client/ClientServiceIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/utils/ClientSubmissionAggregator.java
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
Labels: feature

#784 feat: Renamed REST API names
  backend/src/main/java/ca/bc/gov/app/controller/ches/ChesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientCodesController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/CountryController.java
  backend/src/main/java/ca/bc/gov/app/controller/client/DistrictController.java
  backend/src/main/resources/db/migration/V5__district_code.sql
  backend/src/test/java/ca/bc/gov/app/controller/ches/ChesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientAddressControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCodesControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientCountryControllerIntegrationTest.java
  backend/src/test/java/ca/bc/gov/app/controller/client/ClientDistrictControllerIntegrationTest.java
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/src/pages/bceidform/ContactWizardStep.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/stub/__files/response-districts.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-page0.json
  frontend/stub/__files/response-submissions-page1.json
  frontend/stub/__files/response-submissions-page2.json
  frontend/stub/mappings/backend.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/pages/bceid/BusinessInformationWizardStep.cy.ts
Labels: feature

#778 feat(FSADT1-1177): adding district email to processor
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/db/migration/V2__data_initialization.sql
  backend/src/main/resources/db/migration/V3__email_log_size.sql
  backend/src/main/resources/db/migration/V4__submission_matching_detail_size.sql
  backend/src/main/resources/db/migration/V5__district_code.sql
  processor/src/main/java/ca/bc/gov/app/dto/DistrictDto.java
  processor/src/main/java/ca/bc/gov/app/entity/SubmissionDetailEntity.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
  processor/src/test/java/ca/bc/gov/app/extensions/AbstractTestContainer.java
  processor/src/test/java/ca/bc/gov/app/service/ProcessorIntegrationTest.java
  processor/src/test/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingServiceTest.java
  processor/src/test/resources/junit-platform.properties
Labels: feature

#786 ci: fixing merge main CI
  .github/workflows/merge-main.yml
Labels: ci

#793 fix: associate incoming contact to the default address
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
Labels: fix

#794 fix: Fixed small issue in global error msg
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
Labels: fix

#796 feat(fe:FSADT1-1182): update columns in the submissions table
  frontend/src/dto/CommonTypesDto.ts
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/stub/__files/response-submissions-page0.json
  frontend/stub/__files/response-submissions-page1.json
  frontend/stub/__files/response-submissions-page2.json
  frontend/stub/__files/response-submissions-page3.json
  frontend/stub/__files/response-submissions-page4.json
  frontend/stub/__files/response-submissions-page5.json
  frontend/stub/__files/response-submissions-search.json
Labels: feature

#797 fix(be:FSADT1-1172): Fixes related to the district code changes
  backend/src/main/java/ca/bc/gov/app/dto/client/ClientBusinessInformationDto.java
  backend/src/main/java/ca/bc/gov/app/util/ClientMapper.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: fix

#799 fix(FSADT1-1196): adding deployment to update division email
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  database/openshift.dev.yml
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: fix

#800 fix(FSADT1-1196): fixing ci zone on test
  .github/workflows/merge-main.yml
Labels: fix

#798 feat(fe:FSADT1-1172): display district name in the Review step
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/tests/unittests/pages/bceidform/ReviewWizardStep.spec.ts
Labels: feature

#802 feat(fe:FSADT1-1202): UI changes to review client screen
  frontend/src/pages/SubmissionReviewPage.vue
Labels: feature

#803 feat(fe:FSADT1-1191): Change label to "Mailing address" in BCSC form
  frontend/src/pages/FormBCSCPage.vue
Labels: feature

#806 feat(be:FSADT1-1197): Change to district name instead of Client Admin
  backend/src/main/resources/db/migration/V1__initializing_data.sql
  backend/src/main/resources/templates/revision.html
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: feature

#805 feat(fe:FSADT1-1193): fix heading styles and color
  frontend/src/assets/styles/global.scss
  frontend/src/components/MainHeaderComponent.vue
  frontend/src/components/UserProfileComponent.vue
  frontend/src/components/grouping/ErrorNotificationGroupingComponent.vue
  frontend/src/pages/FormBCeIDPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/AddressWizardStep.vue
Labels: feature

#804 feat(fe:FSADT1-1192): move "Submitted on" output field
  frontend/src/pages/SubmissionReviewPage.vue
Labels: feature

#807 fix(FSADT1-1199): fixing email for district
  backend/src/main/java/ca/bc/gov/app/job/ches/ChesEmailResendJob.java
  backend/src/main/java/ca/bc/gov/app/service/ches/ChesService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: fix

#808 feat(be:FSADT1-1198): Change in the email content
  backend/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionService.java
  processor/src/main/java/ca/bc/gov/app/service/client/ClientSubmissionLoadingService.java
Labels: feature

#809 feat(fe:FSADT1-1169): Adjust notification message
  frontend/src/pages/SubmissionReviewPage.vue
Labels: feature

#811 fix(fe:FSADT1-1169): Fix to deal with grammar when plural
  frontend/src/pages/SubmissionReviewPage.vue
Labels: fix

#810 fix(FSADT1-1165): fixing user redirect
  .github/workflows/unit-tests.yml
  frontend/src/routes.ts
Labels: fix

#813 fix(fe:FSADT1-1207): Link is not working properly (per client number)
  frontend/src/pages/SubmissionReviewPage.vue
Labels: fix

#812 ci: making test files reusable
  .github/workflows/merge-main.yml
  .github/workflows/reusable-tests-be.yml
  .github/workflows/reusable-tests-fe.yml
  .github/workflows/reusable-tests-repo.yml
  .github/workflows/unit-tests.yml
  backend/README.md
  backend/src/main/java/ca/bc/gov/app/controller/client/ClientAddressController.java
  frontend/README.md
Labels: ci

#815 feat(fe:FSADT1-1215): Changes in the accept/reject buttons
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/src/pages/SubmissionReviewPage.vue
Labels: feature

#814 fix(FSADT1-1006): fix contrast issues and label issues
  frontend/cypress/e2e/FormBCSCPage.cy.ts
  frontend/cypress/e2e/FormGeneral.cy.ts
  frontend/cypress/e2e/SubmissionReviewPage.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/styles/global.scss
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DateInputComponent/DateInputPart.vue
  frontend/src/components/forms/DateInputComponent/index.vue
  frontend/src/components/forms/DropdownInputComponent.vue
  frontend/src/components/forms/MultiselectInputComponent.vue
  frontend/src/components/forms/RadioInputComponent.vue
  frontend/src/components/forms/TextInputComponent.vue
  frontend/src/components/grouping/AddressGroupComponent.vue
  frontend/src/components/grouping/ContactGroupComponent.vue
  frontend/src/pages/FormBCSCPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/BusinessInformationWizardStep.vue
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
Labels: fix

#816 feat(fe:FSADT1-1213): Change uppercase text to mixed case
  frontend/cypress/fixtures/address.json
  frontend/cypress/fixtures/addresses.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/fixtures/test-case-review-all.json
  frontend/cypress/fixtures/test-case-review-auto-approved.json
  frontend/cypress/fixtures/test-case-review-contact.json
  frontend/cypress/fixtures/test-case-review-goodstanding.json
  frontend/cypress/fixtures/test-case-review-incorporationName.json
  frontend/cypress/fixtures/test-case-review-registrationNumber.json
  frontend/src/dto/ApplyClientNumberDto.ts
  frontend/src/helpers/DataConversors.ts
  frontend/src/pages/SubmissionListPage.vue
  frontend/src/pages/SubmissionReviewPage.vue
  frontend/src/pages/bceidform/ReviewWizardStep.vue
  frontend/src/services/ForestClientService.ts
  frontend/stub/__files/request-external.json
  frontend/stub/__files/response-details-FM.json
  frontend/stub/__files/response-details-JJ.json
  frontend/stub/__files/response-details-UU.json
  frontend/stub/__files/response-details-XX.json
  frontend/stub/__files/response-details-YY.json
  frontend/stub/__files/response-submissions-details-approved.json
  frontend/stub/__files/response-submissions-details-dupped.json
  frontend/stub/__files/response-submissions-details-review.json
  frontend/stub/__files/response-submissions-details-reviewedapproved.json
  frontend/stub/__files/response-submissions-details-unregistered.json
  frontend/tests/components/components/grouping/AddressGroupComponent.cy.ts
  frontend/tests/components/components/grouping/ContactGroupComponent.cy.ts
  frontend/tests/pages/bceid/AddressWizardStep.cy.ts
  frontend/tests/unittests/components/grouping/ErrorNotificationGroupingComponent.spec.ts
  frontend/tests/unittests/helpers/validators/BCeIDFormValidations.spec.ts
  frontend/tests/unittests/pages/bceidform/ContactWizardStep.spec.ts
  frontend/tests/unittests/services/ForestClientService.spec.ts
Labels: feature

#818 feat(fe:FSADT1-1006): skip decorative image for accessibility
  frontend/src/pages/FormSubmittedPage.vue
Labels: feature

#817 fix(FSADT1-1212|FSADT1-1206): fixing session related issues
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .github/workflows/reusable-tests-fe.yml
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
  frontend/openshift.deploy.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/CoreConstants.ts
  frontend/src/helpers/ForestClientUserSession.ts
  frontend/src/main.ts
  frontend/src/pages/LandingPage.vue
  frontend/src/routes.ts
Labels: fix

#819 fix(fe:FSADT1-1225): display error message on dropdown
  frontend/src/components/forms/AutoCompleteInputComponent.vue
  frontend/src/components/forms/DropdownInputComponent.vue
Labels: fix
